[2020-09-16 09:03] moshthepitt commented on #1068
@samkanga @ciremusyoka looks like there is a daily summary form here https://github.com/OpenSRP/opensrp-client-reveal/tree/master/opensrp-reveal/src/main/assets/json.form.  Next we need to get help from @githengi or @Rkareko to identify the event type and then from there it should be straight-forward to get the data

[2020-09-16 09:34] Rkareko commented on #1068
@moshthepitt @samkanga @ciremusyoka the event type for the daily summary form is `daily_summary` as seen [here](https://github.com/OpenSRP/opensrp-client-reveal/blob/master/opensrp-reveal/src/main/assets/json.form/zambia_daily_summary.json#L3)

[2020-09-16 10:14] moshthepitt commented on #1282
@Naima-Bashir this should be moved to the Canopy repo and assigned to @Wambere

[2020-09-16 10:23] moshthepitt opened #1283 "Error with MDA and IRS reports on Reveal stage"
See an example: https://sentry.onalabs.org/ona/reveal-web-stage/issues/83293/?query=is%3Aunresolved

To replicate: navigate to any individual IRS or MDA report and click to view it e.g. https://web.reveal-stage.smartregister.org/intervention/irs/report/6a30f19a-6dce-509d-a882-869c21949104

[2020-09-16 11:42] samkanga commented on #1067
@Rkareko please help with this. The data dictionary is accessible on [this](https://docs.google.com/spreadsheets/d/1UK83MInKzGplrhC_QWHd0kEFaZVrZBV9heuHdqvjMJc/edit#gid=886242395) link:

[2020-09-16 11:50] Rkareko commented on #1067
@moshthepitt @samkanga @ciremusyoka the event type for the daily summary form is `irs_sa_decision` as seen [here](https://github.com/OpenSRP/opensrp-client-reveal/blob/master/opensrp-reveal/src/main/assets/json.form/zambia_irs_sa_decision.json#L3)

[2020-09-16 13:00] #1281 closed

[2020-09-16 13:44] moshthepitt commented on #1270
@isabelcshaw I think that we need to look closer at how "registered children" is calculated.  If we use `smpn_13` as an example then we have:

#### mobile app

4/0.7143 ~= **6*

#### web app

4/0.1176 ~= **34*

So I think the web app figures are wrong.  To investigate this further, I did this query:

[code]

And got:

[code]

So it seems some of the confusion comes from situations where the same t

[2020-09-16 14:22] p-netm commented on #1278
@samkanga @Naima-Bashir [slack conversation thread](https://onaio.slack.com/archives/C01ASKAEZKL/p1600265305020900)
basically we have invalid plans that are missing a crucial field that we need to show the missing section in the issue.

[2020-09-16 14:41] #1280 closed

[2020-09-16 14:51] craigappl commented on #1279
@moshthepitt , Thailand has stated that it's too confusing for the users and adds too much information when they won't actually change it from the template. In the long run,  we would want to remove this logic so that it's abstracted from users. Right now, we make it available because users may need to tweak the logic until we get it right.

[2020-09-16 14:55] #1283 closed

[2020-09-16 15:07] #1273 closed

[2020-09-16 15:07] #1274 closed

[2020-09-16 15:40] moshthepitt commented on #1278
Looks like if we take these "invalid" plans into account then the solution for RVL-1164 is to do this:

1. Explain why these are invalid plans to concerned parties
2. Notify concerned parties that invalid plans will be filtered out of the web UI
3. Implement web UI filter for these

[2020-09-16 15:50] moshthepitt commented on #1279
@craigappl @samkanga Thanks,  some questions:

1. It seems okay to mark this issue as not "high priority" - do you agree?
2. Long term we need to be cognizant of the fact that adding too many of these configurations where things are hidden or work slightly differently makes our code increasingly complex and harder to maintain (every new piece of code is future technical debt and developer mental l

[2020-09-16 16:12] moshthepitt commented on #1270
@Wambere just to be extra sure, could we check that we don't have tasks/events/clients that have been deleted?

[2020-09-16 16:13] moshthepitt commented on #1270
@isabelcshaw @rkodev it would be super helpful to get more information on how the mobile app handles the above?  I am wary about modifying the query too much without this understanding because it would affect other metrics e.g. the PZQ distributed number

[2020-09-16 16:16] moshthepitt commented on #1120
In addition to the PRs lined above, this was fixed by https://github.com/onaio/reveal-frontend/pull/1271

[2020-09-16 16:16] #1120 closed

[2020-09-17 03:19] craigappl commented on #1279
@moshthepitt how about a compromise. Can we add all of these items in a collapsible menu with the default to be collapsed? The collapsed label could be "Triggers and Conditions"

[2020-09-17 03:24] craigappl commented on #1278
Shifting over my findings from slack:

1. There are 23 plans in reveal-th-preview that don't have an fiReason useContext.
2. All of these seem to be modified in the web UI.
3. I checked the Nifi flows and plan creation creates an fiReason for case triggered plans.
4. The FI Reason dropdown in the plan form is not a required field.
5. When a user edits a plan with an fiReason of "Case Triggered" it

[2020-09-17 03:49] craigappl commented on #1278
More comments on the fiReason before and after on 5.

Steps:
1. Find a plan on Reveal thailand preview that has an fiReason such as plan Id https://web.reveal-th-preview.smartregister.org/plans/update/654233df-cd53-4be2-b0fb-b29b6740a65e
Here's the plan json downloaded from the browser (goals and actions removed for brevity. Notice there's an useContext fiReason of "Case Triggered"
[code]
2. In th

[2020-09-17 07:21] moshthepitt commented on #1279
@craigappl that sounds good to me, thank you.

[2020-09-17 11:34] samkanga opened #1287 "RVL-1179 - Intervention Reason drop-down on Create Plan should be mandatory"
- [ ] Presently the dynamic FI template is allowing a user to save a form when the action type (Routine) is not selected. This field should be made mandatory.

- [ ] In addition, the routine plan should be selected by default on the template

[2020-09-17 13:45] moshthepitt opened #1289 "Investigate why Zambia IRS reports performance is bad"
Noticed that the Zambia reports have problems:

- zambia_irs_structures takes hours to refresh
- zambia_irs_export takes a day to refresh

^^ this is on Reveal stage.

Need to look into this and try to fix.

[2020-09-18 02:21] craigappl commented on #1278
I updated all of the plans on Thailand Preview to add an fiReason so we no longer get that error.

[2020-09-18 07:28] p-netm commented on #1173
@samkanga @moshthepitt what would be the technical definition of a `plan having data`?

[2020-09-18 08:25] moshthepitt commented on #1173
@p-netm the only way of knowing that is to check the Canopy DB.  For now let's not do that - because I don't think that we should have a Canopy dependency here.  Let's just ask the user to confirm if they want to retire or complete a plan.

[2020-09-18 08:35] #1287 closed

[2020-09-18 10:30] isabelcshaw opened #1291 "Plan not showing data for MDA reporting - Zambia production"
There are two plans that should have data coming through from testing and training yesterday:

**[NTD GW Training Plan 17.09.20](https://web.reveal-zm.smartregister.org/intervention/mda/report/224a2c06-02d5-5d86-8be9-1673f274665a)**
According to Akros, they trained against this plan all day yesterday and today. There is no data showing up in the reporting view, nor is it even loading the hierarchy

[2020-09-18 10:44] samkanga opened #1292 "RVL-1181 - Plan Monitor Page Indicators are not displaying"
- [ ] The indicators on the monitor page are not showing for some plans. See the screenshot below:
![image](https://user-images.githubusercontent.com/5908630/93589030-ec2ca600-f9b4-11ea-81d8-bc0a57bf4350.png)

[2020-09-18 12:09] moshthepitt commented on #1292
Looks okay please see https://web.reveal-th-preview.smartregister.org/focus-investigation/map/50a5e387-722c-5ade-a2cd-9bae070911a5

[2020-09-18 12:09] #1292 closed

[2020-09-18 14:45] samkanga commented on #1292
@moshthepitt check this out: https://web.reveal-th-preview.smartregister.org/focus-investigation/map/50a5e387-722c-5ade-a2cd-9bae070911a5

[2020-09-18 14:47] samkanga commented on #1292
@moshthepitt I erroneously deleted a comment you made regarding plan https://web.reveal-th-preview.smartregister.org/focus-investigation/map/50a5e387-722c-5ade-a2cd-9bae070911a5 Not sure if there is a way to restore.

[2020-09-18 16:23] rkodev commented on #1270
@moshthepitt The same task can have up to 3 events because of the current set up
1. Family Member Registration
2. Structure Eligibility
3. Family Registration

The user typically has to fill in 3 different forms that result in having multiple events. On the app, we simply read the `nsac` value from the `family` client. This is because we might also have events that update the nsac value.

[2020-09-18 16:24] rkodev commented on #1270
@moshthepitt if you can read the nsac value from the nsac client that would be enough

[2020-09-18 16:25] moshthepitt commented on #1270
@rkodev how do you identify the family client?

[2020-09-18 16:37] moshthepitt commented on #1270
Answered here: https://onaio.slack.com/archives/CBSU8L2SC/p1600446041051600

[2020-09-19 01:12] craigappl opened #1294 "Hide FI plan type in Thai Preview Manage Plans view and change translation"
Currently, we have two different FI plan types available in the plans/new page. Task generation was just switched to support dynamic plan types in Nifi and we need to hide the ability to create "FI" plans on Thailand Preview.

Please remove the FI plan option from the interventionType dropdown menu and change the translation so that the Dynamic-FI intervention type displays as the thai characters

[2020-09-19 13:58] githengi opened #1295 "For Plans that Task generation is done by OpenSRP server add useContext task generation status"
For Plans that Task generation is done by OpenSRP server add  task generation status with value internal

[code]

Currently task generation is only being done on OpenSRP server if the concept is provided

[2020-09-20 18:12] isabelcshaw commented on #1270
@moshthepitt I'm still a bit concerned checking the stats against the app today. Here is what I'm seeing:

### Web numbers:
<img width="1360" alt="Screen Shot 2020-09-20 at 11 10 40 AM" src="https://user-images.githubusercontent.com/12836913/93718537-f88a3d80-fb31-11ea-84a6-6e3d3c38dd56.png">

### App Numbers:
**ksh_**
![Screenshot_20200920-110756_Reveal](https://user-images.githubusercontent.com/

[2020-09-20 20:28] #1294 closed

[2020-09-20 21:28] moshthepitt commented on #1270
@isabelcshaw the situation regarding this is that I am still working on making the NTD queries refresh in a good time.  Right now I have accurate queries but it takes too long to refresh the reports in the database (it takes many hours).  So I spent a good chunk of the weekend trying to redo the queries so that their refreshing time is better.  I have not yet finished  but I had a couple of minor

[2020-09-21 00:17] mberg commented on #1270
Can you share the link to the queries that are slow?

Thank you

On Sun, Sep 20, 2020 at 5:28 PM Kelvin Jayanoris <notifications@github.com>
wrote:

[2020-09-21 06:49] p-netm commented on #1295
- [ ] for non-Th deployments.

[2020-09-21 08:14] samkanga opened #1297 "Dashboard Values not showing for Lower Levels on Zambia Production"
- [ ] When one is drilling down on the Zambia production dashboard, the figures do not show from the Zone level going downwards.

[2020-09-21 08:26] samkanga opened #1298 "RVL-1185 - No Case Triggered plans are showing in the WebUI"
- [ ] On Thailand preview WebUI Case triggered Plans are not showing up under the Monitor Page

[2020-09-21 08:30] samkanga opened #1299 "Plans created in "Thailand test site BVBD 3" area do not load in Monitor Tab"
- [x] The Thai team have created a new operational area named **Thailand test site BVBD 3**. An attempt to select a plans assigned into this area under the monitoring tab, is going into an endless spinner.

[2020-09-21 08:33] samkanga opened #1300 "SymmetricDS Replication between Data Warehouse and Biophics is not working"
- [ ] THe SymmetricDS sync appears broken - the maximum created_date in the replica_p.dbo.raw_plans is 2020-09-08 16:07:19.0000000
- There have been many many plans created since that date.
- Events seem up to date (max date created = 2020-09-17 05:28:18.0000000)
- Tasks are NOT up to date (max created date = 2020-09-08 08:44:16.0000000)

[2020-09-21 08:38] p-netm commented on #1295
@moshthepitt @ciremusyoka
seems like I'll have to introduce a new env for this:
`REACT_APP_TASK_GENERATION_STATUS`, any contraindication?

[2020-09-21 08:50] p-netm commented on #1278
closed in #1290

[2020-09-21 08:50] #1278 closed

[2020-09-21 09:16] moshthepitt commented on #1295
sadly no we need this

[2020-09-21 09:37] p-netm commented on #1173
places this would affect:
- monitor page Mark plan as complete
- planform(when updating a plan):
  - planning tool, from plan status field
  - manage plans page, from plan status field

*need to create a unified interface for:*
  - detecting if the status has changed to any of the status of interest i.e complete or retired. (need access to the plan before modification)
  - asking for confirmation

[2020-09-21 09:51] moshthepitt commented on #1297
The problem is that the number of levels in the jurisdiction tree/hierarchy has changed.  The existing reports need to be updated to cater to this.

[2020-09-21 09:57] moshthepitt commented on #1270
@mberg the queries are [here](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/rough-work/3-reveal/migrations/6-MDA/Zambia-2020/deploy/mda_jurisdictions.psql).  Thankfully, @gstuder-ona  is now helping with this and I work on other Zambia issues.

[2020-09-21 11:28] gstuder-ona commented on #1270
@moshthepitt

[code]

[2020-09-21 13:43] ukanga commented on #1300
@samkanga This required introducing a conflict resolution record in `sym_conflict` table.
[code]
@denniswambua is to update the atlassian wiki accordingly.

[2020-09-21 14:22] denniswambua commented on #1300
@samkanga Have you checked again? We fixed symmetricDS sync

[code]

[2020-09-21 14:29] craigappl opened #1302 "Handle OpenSRP server responses with status 400 in the login/oauth2 flow gracefully"
We are getting occasional 502 Bad Gateway errors on production environments after a user authenticates and the callback URL is being returned. This seems to be linked to a stopped pm2 service on the environments. Please add monitoring to identify when this happens so we can respond before a customer notices.

User's experience:
Reveal Namibia is getting 502 errors after authentication in Keycloak'

[2020-09-21 14:31] craigappl opened #1303 "Identify root cause of pm2 failures on Production environments"
Reveal Namibia is getting 502 errors after authentication in Keycloak's trying to hit the oauth/callback URL
Visit web.reveal-na.smartregister.org
- Click login button
- Enter superset-user credentials
- 502 Bad Gateway Error

URL: https://web.reveal-na.smartregister.org/oauth/callback/OpenSRP/?state=opensrp&session_state=2ae1408a-2dfa-4bd4-baa4-5588a59e85ce&code=0768a123-d321-4abe-b8df-66e1e5de07

[2020-09-21 14:34] Wambere commented on #1300
Looks like this matches what is in the warehouse. @HusnaHariz  can you please confirm that we have pulled any new tasks, events and structures created after the 19th?

[2020-09-21 15:08] samkanga opened #1304 "RVL-1197 - New families registered and data not displaying in Monitoring tab"
Plan: **Dynamic-FI 2020-09-21-VR Test II**
Monitoring tab: https://web.reveal-th-preview.smartregister.org/focus-investigation/map/8dd456a8-4725-5b3a-a025-cc5c10798d2a

1. Search for Plan in monitoring tab
2. Map does not display any data that was added on Android app

**Expected behaviour:**
Structures from Android app is displayed: 4 residential structures, 1 larvae breeding site, 1 POAT, 1 mosq

[2020-09-21 15:42] ukanga commented on #1302
The issue as we have identified had to do with the OpenSRP server responding with a 400 status code with the message "Cookie too large"
[code]
The resolution was to update the nginx configuration such that it could handle a larger sized header - we modified `large_client_header_buffers` to take `4 16k`.

We need the reveal-frontend to handle such cases and either report the error message to the us

[2020-09-21 15:47] ukanga commented on #1303
We have identified the issue as documented on the comment https://github.com/onaio/reveal-frontend/issues/1302#issuecomment-696199952. This will be closed by a PR on opensrp-inventories that sets the `large_client_header_buffers` accordingly.

[2020-09-21 16:10] HusnaHariz commented on #1300
The following have been synced between opensrp and the raw tables
[code]

max(date_created) for tasks `"max" : "2020-09-21 15:25:35.0"`
max(date_created) for plans `"max" : "2020-09-21 15:44:06.0"`

[2020-09-21 17:59] #1298 closed

[2020-09-21 18:28] pld commented on #1289
Is this the query for `zambia_irs_structures`?
- https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/2-Zambia-2019/verify/zambia_irs_structures.psql

And this for `zambia_irs_export`?
- https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/2-Zambia-2019/verify/zambia_irs_export.psql

[2020-09-21 18:31] pld commented on #1289
Uh nevermind, verify is obvi not the right place... let me find the correct ones

[2020-09-21 18:33] pld commented on #1289
structures: https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/2-Zambia-2019/deploy/zambia_irs_structures.psql

export: https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/2-Zambia-2019/deploy/zambia_irs_export.psql

[2020-09-21 18:33] moshthepitt commented on #1289
its in the deploy directory there

and thats one part, all the queries here are interconnected

[2020-09-21 18:51] pld commented on #1289
k, is just the structures query taking hours? or is it and all it's dependent queries taking hours?

Posting the query plan would help.

Some specific thoughts/questions below, and they're gonna be naive b/c I haven't looked at these yet so... bear w/me

on structures:
- why do we need a [UUID v5](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/2-Zambi

[2020-09-21 18:59] craigappl commented on #1299
This was an issue because the underlying datasource table was limiting the query results to 1k results which meant that the plan wasn't returned to the slice. I increased this limit to 5k and it started showing up again.

[2020-09-21 18:59] #1299 closed

[2020-09-21 19:22] pld commented on #1289
for export:

- Wonder about performance of [ST_AsGeoJSON](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/2-Zambia-2019/deploy/zambia_irs_export.psql), what's the format of the geometry w/o this?
- Same w/the [JSON queries](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/2-Zambia-2019/deploy/zambia_irs_expo

[2020-09-21 19:35] moshthepitt commented on #1289
The structure query `zambia_irs_structures.psql` would be the best one to attach as it is the foundation for the rest and also quite slow

We need to get a deterministic id based on structure id and task id.  Maybe we can do it differently?  Though I am not sure if this will move the needle very much

---

Will look into the rest

[2020-09-21 19:52] pld commented on #1289
Cool, that sounds good, these are brainstorming ideas and please approach as such, we'll have to approach analytically tweaking, re-running

[2020-09-21 20:59] #1279 closed

[2020-09-21 21:25] pld commented on #1289
More on `zambia_irs_structures`

The other angle of attack is how do we restrict these queries so the are only operating on potential new data? Or at least only active plans?

Do plans even have an active status? But we're not doing a join on plans here it looks like, could be restrictive on `tasks.plan_identifiers` to avoid a join, but would need to have a pre-existing list of plans, which we'd n

[2020-09-21 21:34] moshthepitt commented on #1289
I interpreted that two ways:

### A

So along these lines that I have been thinking of is to make it something of a hybrid table/view/something i.e. not a true materialized view.

We only need to update for plans that are receiving data, and it should be somehow possible to compute the information for the old plans once and merge that with information for plans that are receiving data.

I think th

[2020-09-21 23:13] craigappl commented on #1304
I reran all of the tasks and structures from serverVersion = 0. This seemed to have populated the geojson correctly in the tasks. Now, there's an issue with handling archived families in the targets. This portion of the ticket shows the updated items that need to be addressed.

We have 4 families registered, but the targets say 6.
![image](https://user-images.githubusercontent.com/6067053/93830228

[2020-09-21 23:14] mberg commented on #1304
Good sleuthing.

[2020-09-21 23:58] craigappl commented on #1304
We need to make the following changes.
1. (Done) Update this table to add WHERE task_status = 'Ready' OR task_status = 'Completed' on this slice https://superset.reveal-th-preview.smartregister.org/tablemodelview/edit/36
2. Update the targets_materialized_views to include a WHERE status = 'Ready' OR status = 'Completed' in https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-revea

[2020-09-22 03:43] pld commented on #1289
Cool, let's do B for now, that's what I was thinking of.

I agree A is a good idea, we need to discuss approach here more though and it'll take longer. A heuristic way to do A through B is to create a have a `last_used_at` (or something, there's a better way than this I'm sure) flag that we set to now whenever something related to the plan is touched, then we modify B's approach to only consider p

[2020-09-22 08:07] gstuder-ona commented on #1270
@isabelcshaw we think this is now largely addressed by https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/35 - you'll need to verify now that we've got the new data flowing.

We do notice an issue with > 100% completion in some jurisdictions, but this seems to be correctly reporting what the data says - here, for example: https://web.reveal-zm.smartregister.org/intervention/mda/report/c6

[2020-09-22 12:03] isabelcshaw opened #1307 "NTD Reporting: show expected values below 1%"
There are two "expected" statistics in NTD MDA reporting at the Gwembe level:
Expected Children Found (%)
Expected Children Treated (%)

These currently show as 0% until they hit the 1% mark.

The behavior we would like is to show the % below 0, so that the client can see that data is coming in, even if it's a very small percentage still.

So, for the current data, it would read:
expectedchildren_

[2020-09-22 12:05] #1307 closed

[2020-09-22 12:13] samkanga opened #1308 "RVL-1200 - Foci boundary update not displaying in Web UI monitoring tab (even though successfully synced from device to server)"
**Web: 0.7.6
Android: 5.2.10**
**Plan:** **Dynamic-FI 2020-09-21- VR Test II**

1. Refer to screenshots below for the foci boundary in the Android App vs Monitoring tab
2. The structure with the red roof at the bottom right of the operational area was included in the foci boundary in the mobile app (orange circle) but is not reflecting in the Web UI.
3. The foci boundary update has synced with the

[2020-09-22 13:36] p-netm commented on #1308
the structure is there on the webui, its just that the jurisdiction layer seems to be shifted to the left.
looking at the coordinates
superset response:
[code]
superset response:

[code]

looking at the co-ordinates: they are not equal.

cc @moshthepitt @githengi

[2020-09-22 13:54] moshthepitt commented on #1308
@p-netm can you track down where this happens in Canopy?

[2020-09-22 14:27] gstuder-ona commented on #1270
Fix added for the duplicate visit structure events.  That was the only db-level change required for the stats from the investigations today.

[2020-09-22 15:17] lincmba commented on #1304
Created a PR [here](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/36) to address this.

Both the targets_materialized_view and task_structures_materialized_view have been updated with these changes.
@craigappl @samkanga you may QA this.

[2020-09-22 16:07] p-netm commented on #1308
ok

[2020-09-22 16:40] mberg commented on #1173
Let's do this after 1023 and 1024

[2020-09-22 16:41] mberg commented on #1250
After 1023 and 1024

[2020-09-22 16:41] mberg commented on #1208
Let's tackle this next week

[2020-09-23 06:37] #1295 closed

[2020-09-23 06:57] moshthepitt commented on #1067
@samkanga

how do you determine these for a district:

- No. of Health Centers to Mop-Up
- No. of Spray Areas to Mop-up
- TLA days needed for areas needed to reach 90%

how do you get this for a spray area

- TLA days needed for areas needed to reach 90%

[2020-09-23 07:11] samkanga commented on #1067
@moshthepitt see the information below:

[2020-09-23 08:43] p-netm commented on #1308
@samkanga after refreshing the jurisdictions_geojson view;  the superset geometry now matches that which is in opensrp,
![Screenshot from 2020-09-23 11-41-36](https://user-images.githubusercontent.com/28119869/93988891-ed354d00-fd91-11ea-8009-31fa11a88fac.png)

[2020-09-23 09:00] moshthepitt commented on #1270
Closed by https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/35

[2020-09-23 09:00] #1270 closed

[2020-09-23 09:00] moshthepitt commented on #1291
Closed by https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/35

[2020-09-23 09:00] #1291 closed

[2020-09-23 09:01] moshthepitt commented on #1297
Was fixed

[2020-09-23 09:01] #1297 closed

[2020-09-23 09:02] moshthepitt commented on #1067
@samkanga How do you define a "Health Center"?

[2020-09-23 09:12] samkanga commented on #1067
On it @moshthepitt

[2020-09-23 09:25] gstuder-ona commented on #1067
Also @samkanga in the district view here there are spray areas listed directly - is this intentional?  For most IRS reporting you'd do aggregate metrics on the district health facilities and then drill into all the health facility spray areas

[2020-09-23 09:37] samkanga commented on #1067
@moshthepitt Health centre = health centre catchment area

[2020-09-23 09:48] moshthepitt commented on #1067
@samkanga that's not enough.  We need a deterministic way for the query to determine what that is.  What field on jurisdictions will tell us which jurisdictions are "health centre catchment area"?   I would have thought this would be a hierarchy level.  Lets get confirmation from the client.

Maybe point to the current IRS reports and show us the hierarchy level that represents "health centre catc

[2020-09-23 09:57] gstuder-ona commented on #1067
@samkanga in the https://github.com/OpenSRP/opensrp-client-reveal/blob/master/opensrp-reveal/src/main/assets/json.form/zambia_irs_sa_decision.json#L3 irs_sa_decision form, is that something a person fills out per-spray-area (jurisdiction)?  Or is it per-district?  at some other level?

[2020-09-23 10:04] moshthepitt commented on #1067
[code]

@samkanga the decision form includes some of the information like `structures_sprayed`, `spray_effectiveness`, etc.  Which are  different from the same computed metrics from the other IRS reports (the ones we already have).  What do we do here?  Do we use these values as they are in the decision form?

[2020-09-23 10:27] samkanga commented on #1067
@moshthepitt the health center catchment area is level 3 on the hierarchy. i.e. One level below the district. See screenshots below:

[2020-09-23 10:41] gstuder-ona commented on #1067
@moshthepitt @samkanga just fyi, we currently aren't ingesting the "locationTags" information for jurisdictions via NiFi, so we'll need to use position in the hierarchy to indicate a rural health center :-/

[2020-09-23 10:51] samkanga commented on #1067
@gstuder-ona the irs_sa_decision form is completed at the spray area level which is equivalent to operational area.

[2020-09-23 10:55] gstuder-ona commented on #1067
@samkanga date-of-last-visit - I still don't have access to the indicators spreadsheet, but can you tell me how this is computed or point me to where I've missed it?  Is this the last spray event timestamp in the area/zone/etc.

[2020-09-23 12:45] gstuder-ona commented on #1067
@samkanga there were a bunch of questions, just making sure this didn't get missed - in the District level view "Katete" there's a number of different spray areas listed.  Generally, there will be *hundreds* of spray areas for a district - is the intention to list all of them on the same form?

[2020-09-23 14:34] #1304 closed

[2020-09-23 14:35] #1282 closed

[2020-09-24 09:29] gstuder-ona commented on #1067
@samkanga ^^ ping on the above

[2020-09-24 09:33] gstuder-ona commented on #1067
@samkanga at this point we are relying on health centers being at geographic_level = 3 - we have no other way to distinguish them.  Just confirming as:
[code]

Note that the Kashikishi(2020) and Chadiza(2020) jurisdictions are both tagged in OpenSRP as "Rural Health Centers" *but* the names of the child zones (Yobe NHC, for example) makes me suspicious that these could actually be health centers a

[2020-09-24 10:11] samkanga opened #1310 "Error When Creating a New Plan on Namibia Production WebUI"
- [ ] When creating a new plan, I get the error on the screenshot below.
![image](https://user-images.githubusercontent.com/5908630/94131678-e4fb1180-fe66-11ea-8f0e-5175d9117781.png)

- A check on the developer tools on the browser shows an error when trying to GET the url: https://reveal-na.smartregister.org/opensrp/rest/user?page_size=1000&source=Keycloak&start_index=0

[2020-09-24 12:41] moshthepitt commented on #1068
[code]

@samkanga @richard we are noticing that spray events do not have the data collector field.  This is a problem with coming up with the data collector part of the report.

What gives?  How can we fix it?

[2020-09-24 13:30] isabelcshaw opened #1311 "Add children treated count to NTD MDA dashboards"
For the NTD dashboards, we want to add one new indicator / column: # of children treated.

This should just be a count of all the children with completed MDA dispense forms. I believe we already query this number for the numerator of % of registered children treated.

From a UI perspective, we'd want this column to be directly to the left of the # of PZQ column.

[2020-09-24 13:33] gstuder-ona commented on #1270
@isabelcshaw this is closed, but I added a patch to expose the total number of pzq distribute events (to distinct clients) here: https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/35/commits/0913299a8088129432296e26ce63d6ccc0720d92

It will require a deployment, but it's a pretty minimal change if you want to schedule it

[2020-09-24 13:47] gstuder-ona commented on #1311
Fix deployed from here: https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/35/commits/0913299a8088129432296e26ce63d6ccc0720d92

[2020-09-24 13:55] gstuder-ona commented on #1067
This work is being tested with the webui right now, when that completes we should be able to deploy : https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/39/files/b60045cf503dbc665f5ead5d050726e06ee2a0d5..b42d44a9fdac38bc987de7e64212ee06a7c365a7

[2020-09-24 14:40] moshthepitt commented on #1311
More context: https://onaio.slack.com/archives/CBSU8L2SC/p1600925464005500

[2020-09-24 14:41] moshthepitt commented on #1311
The new column is gotten from `n_events_where_pzqdistributed` and should be title `# of children treated`

[2020-09-24 17:34] isabelcshaw commented on #1270
@gstuder-ona what were we previously counting if not the total number of distribute events? this definitely seems like what we want.

@moshthepitt does this add any work / complications for this to be added to tomorrow's deployment?

[2020-09-24 17:41] kelvin-muchiri opened #1313 "Add tests for NTD table data"
Currently, no tests/fixtures exist for data rendered or given as props to the table

[2020-09-24 17:55] #1311 closed

[2020-09-24 18:35] moshthepitt commented on #1270
@isabelcshaw I think what @gstuder-ona implemented will be deployed tomorrow.  The [PR is already merged](https://github.com/onaio/reveal-frontend/pull/1312) so we can deploy at 8am or whenever.

[2020-09-25 06:19] lincmba commented on #1250
@moshthepitt
Only events of `'eventType': 'Case Details'` have the fields `case_classification`, `case_number` and `investigtion_date` in the `raw_events` table. However, these events, unlike other events don't have a `task_id` or any other foreign key that would link to a `plan`, `goal` or `goal_target`.

It's therefore a challenge to have the these fields in the `task_structures_materialized_vie

[2020-09-25 07:11] gstuder-ona commented on #1270
@isabelcshaw we were counting these events earlier, we just didn't expose them directly and only exposed the composite ratio (you can see in the query).  I think it was an oversight not to expose the count directly also in what we deployed earlier, we usually do that, but in this particular case it wasn't part of the UI requirements yet so didn't need to be.

[2020-09-25 14:06] moshthepitt commented on #1250
@lincmba there is a OpenSRPEventId field in the plan object that you can use to relate these to a plan.

cc @Wambere

[2020-09-25 19:03] lincmba commented on #1250
Found a way to link `Case Details` events to a plan.
Done this using the raw_plans and raw_events tables in the public schema. This work should be moved to `reveal_stage` schema once the `plans` table has the field `fi_opensrpeventid ` that @Wambere is working on.

[2020-09-28 14:59] #1067 closed

[2020-09-29 06:38] lincmba commented on #1250
@moshthepitt @Wambere
There are no events of event_type `Case Details` in any schema in reveal Thailand preview.
This is also the case in reveal stage except in raw_events table in public schema.

I created `plans_case_details` table on the  `reveal_stage` schema and populated it with plans from raw_plans table that had opensrpEventId with fi_opensrpeventid as a column, these were 262 records.
Als

[2020-09-29 08:04] moshthepitt commented on #1250
@lincmba please reach out to @Wambere on slack to work out how to get those events synced.

[2020-09-29 08:47] p-netm commented on #1300
@samkanga @moshthepitt should this be closed.

[2020-09-29 09:53] moshthepitt commented on #1300
@samkanga for future reference, SymeticDS issues are meant to go to the Canopy repo.

[2020-09-29 09:53] moshthepitt commented on #1300
Closing

[2020-09-29 09:53] #1300 closed

[2020-09-29 14:35] lincmba commented on #1250
@moshthepitt reached out. Syncing is underway.

Given the challenges outlined, will we still proceed with the original implementation to have these fields in `task_structures_materialized_view` or will we need to change the approach to may be to have a different materialized view for this?

[2020-09-29 14:54] moshthepitt commented on #1250
Sorry I missed this.  What are the challenges that may result in us using different materialized views?

[2020-09-29 14:55] lincmba commented on #1250
There are no challenges in using different materialized views, there are challenges in using the existing materialized views.

[2020-09-29 14:56] moshthepitt commented on #1250
Sorry, I am asking what are those challenges?

[2020-09-29 15:10] lincmba commented on #1250
The [task_structures_materialized_view](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/4-FI/1-Thailand-2019/deploy/task_structures_materialized_view.psql) primarily references the tasks table. Then from the tasks table, is joined to other tables (actions, jurisdictions ...) using the `tasks.plan_identifier` field.

Plans with opensrpEventId are not among th

[2020-09-29 15:45] moshthepitt commented on #1250
I don't mind you using a new view for this.  Just make it clear how to filter that new view by plan and jurisdiction and task code (or goal id)

[2020-09-30 08:40] samkanga opened #1316 "Team assignment can only take place at an OA level for Zambia"
Web UI v0.7.0

- Server Production
- Login to web ui
- Go to assign page
- Select a plan
- Drill down the locations

**Current behaviour:** As of 26/09 team assignment can only take place at an OA level. All other levels have no option for team assignment (See sample screenshots below):

![image](https://user-images.githubusercontent.com/5908630/94662948-c5a22f80-0311-11eb-9a8d-04b57b513445.png)

[2020-09-30 08:47] samkanga opened #1317 "Indicators on IRS Performance Reporting view are incorrect"
- [x] On the IRS Performance Reporting dashboard, there appears to be a disconnect between the average structures per day worked and the duration in the field. See sample screenshot below:

![image](https://user-images.githubusercontent.com/5908630/94663757-b66fb180-0312-11eb-814d-6187a8ec11c4.png)

[2020-09-30 08:50] moshthepitt commented on #1068
This was closed by https://github.com/onaio/reveal-frontend/pull/1241

Pending items are tracked in #1317

[2020-09-30 08:50] #1068 closed

[2020-09-30 09:02] p-netm commented on #1316
related to opensrp/opensrp-server-web#541

[2020-09-30 09:07] p-netm commented on #1249
@craigappl @moshthepitt @ciremusyoka closing this, since this looks like it was resolved

[2020-09-30 09:07] #1249 closed

[2020-09-30 09:23] moshthepitt opened #1318 "Show loading status in table"
[This page](https://web.reveal-zm.smartregister.org/intervention/irs/report/d40c1227-644b-55d6-b3f3-bed42380322f) takes a while to actually load.  But the entire time shows "No Data".  Lets fix this by adding a loading indicator.

[2020-09-30 09:28] ciremusyoka commented on #1196
@samkanga currently i can see teams assigned to different locations. Please confirm if [this pr](https://github.com/OpenSRP/opensrp-server-core/issues/307) fixed the bug.

[2020-09-30 09:59] samkanga commented on #1196
@ciremusyoka Yes. We are looking good on this one.

[2020-09-30 10:03] samkanga commented on #1316
@p-netm could we also allow assignment to happen at any level in addition to the work related to #541?

[2020-09-30 10:20] #1196 closed

[2020-09-30 11:38] #1173 closed

[2020-09-30 13:27] p-netm commented on #1316
@samkanga that is the plan, I will redeploy with the required configurations alongside the client's deployment, at the moment , I understand the 541 ticket is deployed to staging. assignments at higher levels than OA is already turned on in staging on the web.

[2020-10-01 07:24] samkanga opened #1320 "Remove partially sprayed from the web ui side menu - Zambia"
- Remove partially sprayed from the webUI side menu for Zambia. All structures that partially sprayed should be counted as sprayed. i.e appear green on the map.

[2020-10-01 07:53] samkanga opened #1321 "Remove "Spray Coverage (rooms)" from the spray area map view level indicators to the right of the map - Zambia"
- Login to Zambia production web ui
- go to monitor
- IRS reporting
- Drill donw to the operation area level
- click to open map view

**Request**: Remove Spray Coverage (room) from the indicators on the right side of the menu. See screenshot below:
![image](https://user-images.githubusercontent.com/5908630/94782686-4590ce00-03d4-11eb-846c-c959531e0d91.png)

[2020-10-01 08:26] moshthepitt commented on #1320
They are already counted as sprayed.

[2020-10-01 08:35] moshthepitt opened #1322 "Investigate API calls from FI map page"
Consider this: https://web.reveal-th-preview.smartregister.org/focus-investigation/map/e0544a13-2200-5298-a7a9-35e4588637a5

It makes a number of call to Superset.  We need to investigate if all the calls are made exactly once, and that they return properly filtered data.

For example [one of the calls is this](https://superset.reveal-th-preview.smartregister.org/superset/slice_json/239?form_data=

[2020-10-01 09:20] samkanga opened #1323 "All 43 data Collectors not viewable on IRS Performance Reporting"
- [ ] There are 43 data collectors syncing data against the plan named "VL Zambia 2020 Traning Plan". However, only 36 data collectors can be seen from both Chadiza and Nchelenge Districts.

[2020-10-01 09:23] samkanga opened #1324 "Number Days Worked for the Data Collectors is listed as 1"
- [x] For the IRS Performance Reporting, the # of days worked for the different data collectors is showing as 1 day. The expectation is that this number is expected to be higher as they have been collecting data since Thursday last week.

[2020-10-01 09:56] samkanga opened #1325 "Update the Column Header "Duration in Field""
- [ ] On the Zambia IRS Performance Reporting, change the column named "Duration in Field" to read " Average Duration in the Field per Day"

[2020-10-01 11:26] #1318 closed

[2020-10-01 11:44] samkanga opened #1326 "Family Member Registration events are not linked to a plan - Thailand"
The family member registration event json details does not capture the planIdentifier for non-Head of Household family member registrations.

{
            "type": "Event",
            "dateCreated": "2020-09-24T02:19:42.637+07:00",
            "serverVersion": 1600352708981,
            "clientApplicationVersion": 21,
            "clientDatabaseVersion": 8,
            "identifiers": {},

[2020-10-01 11:53] Wambere commented on #1326
@samkanga the plan would need to be added to the event object, then the flow will pull it in
cc @githengi @Rkareko

[2020-10-01 12:00] samkanga opened #1327 "Return the Planning tool to the Namibia WebUI under the planning tool and on the Home page"
- [ ] The client has changed the earlier request to remove the planning tool from the Namibia WebUI and now want it back on the planning tool and on the home page.

[2020-10-01 12:11] samkanga commented on #1326
@Wambere thank you. I will recreate this issue on the OpenSRP Repo and close the issue here.

[2020-10-01 12:12] moshthepitt commented on #1326
Closing this as it is meant to go here https://github.com/opensrp/opensrp-server-web/

[2020-10-01 12:12] #1326 closed

[2020-10-01 15:17] samkanga opened #1328 "Historical Index Cases Not showing up on Thailand WebUI"
On the Thailand preview environment the plan "A1 - Thailand test site BVBD 3 - 3.5FN 3.5LN - 2020-09-24 - Investigation Site" has a confirmed case on the android client. (see screenshot below)
![image](https://user-images.githubusercontent.com/5908630/94828409-1a2cd400-0412-11eb-9c88-22889cfd742a.png)

However no case shows up on the map view of the same plan on the WebUI. See sample screenshot be

[2020-10-01 15:38] samkanga commented on #1316
@p-netm confirming you are unblocked for this ticked following the closure and deployment of https://github.com/OpenSRP/opensrp-server-web/issues/541

[2020-10-01 16:16] moshthepitt opened #1329 "Weird map page"
![Oo](https://user-images.githubusercontent.com/372073/94835520-7ac00f00-041a-11eb-930d-73eeda4d1b2f.png)

This page: https://web.reveal-zm.smartregister.org/intervention/irs/report/d40c1227-644b-55d6-b3f3-bed42380322f/27bab9a7-942b-4a7d-a484-8127b9685e38

Questions:

1. Should Dulira_NHC_Other be clickable?
2. If yes, can we fix the broken page that results?

[2020-10-02 09:19] p-netm commented on #1329
the jurisdiction with `jurisdiction_id` `baf832c9-f15c-4e5e-bd74-37bad418fcdc` breaks the page.
apparently this should be a virtual jurisdiction but its `is_virtual_jurisdiction` is set to `false`.
the page breaks becuase the web app relies on getting the jurisdiction's id and geometry from superset, but when it requests for this data it gets no data reponse

[2020-10-02 10:58] ciremusyoka commented on #1323
@moshthepitt if i count the unique data collectors in this districts working under the above plan i get 39.
Two aren't displayed because they don't have matching location ids on the Spray and daily summary event types, and one doesn't totally exist on the Spray event type.

[2020-10-02 12:16] moshthepitt commented on #1316
@samkanga @craigappl what would be an acceptance criteria for fixing this?

[2020-10-02 12:22] #1325 closed

[2020-10-02 12:33] #1321 closed

[2020-10-02 12:54] craigappl commented on #1323
@ciremusyoka , which field in the event are you using to do those counts?

[2020-10-02 13:13] ciremusyoka commented on #1323
@craigappl Am using the `provider_id` and  district id(found by joining the `location_id` with jurisdictions).

[2020-10-02 13:21] craigappl commented on #1323
We did a review today and it appears that only 39 data collectors are returned. The data appears to be accurate.

[2020-10-02 13:26] craigappl commented on #1323
Here's a sample query for historical reasons:
[code]

[2020-10-02 13:26] moshthepitt commented on #1323
Closed via https://onaio.slack.com/archives/CBSU8L2SC/p1601638553211800

[2020-10-02 13:26] #1323 closed

[2020-10-05 09:57] Naima-Bashir opened #1332 "THAI- Structure has tasks associated for family members that are not listed as residents RVL-1238"
1. Select Test Family structure in BVBD Test Area 3, Test Village 2, Plan ...BVBD 3 - 3.5FN...
2. Observe the residents (Test T, 30)
3. Observe the tasks  (going to archive 1 round 1 and going to archive kid, round 1)

This state was achieved by clicking on the household in the list view - the task in the task list for that structure was 'Not Visited'
A new family was registered (going to archive

[2020-10-05 10:00] Naima-Bashir opened #1333 "THAI- Data missed in syncing between Plans and in holding tables RVL-691"
TESTING UPDATE 03/02/2020:

user: bvbd_test

area: Thailand test siste BVBD 1

app versions tested on: 2.7.5 and 3.1.2

Release 3.1.2:

Created a plan A1 Thailand test site BVBD 1 2020-01-22 RMK release 3.1.2 entered data while offline and synced the data after the plan expired.

Release 2.5.5

Created plan A1 Thailand test site BVBD 1 2020-01-30 RMK 2.7.5 entered data while offline and synced the

[2020-10-05 12:22] Naima-Bashir opened #1334 "NAMIBIA- Login issues"
.

[2020-10-05 12:24] #1334 closed

[2020-10-05 12:30] #1332 closed

[2020-10-05 14:27] Naima-Bashir commented on #1328
This is a tested issue. Alot of plans do not have the historical indeces eg: https://web.reveal-th-preview.smartregister.org/focus-investigation/map/b700c524-1599-502b-98a8-1c7858e2f62e

[2020-10-06 09:26] ciremusyoka commented on #1328
@moshthepitt to solve this have tried checking on the code and confirming the filters we are applying to superset data are okay.
Have also tried comparing the data with the data of plans which have historical index cases and everything seems okay.
The options was looking to explore is to check from the db if we may have some records which aren't present on the superset view which i doubt could be

[2020-10-06 12:23] moshthepitt commented on #1328
It seems that the issue is we can't find the structure for the tasks e.g.

[code]

[2020-10-06 12:23] moshthepitt commented on #1328
Looking deeper

[2020-10-06 13:34] moshthepitt commented on #1328
@samkanga it seems that these areas have not yet been visited and so while we do have the task, we do not know the location (structure) of the case and thus cannot plot it on a map.

[2020-10-06 14:06] moshthepitt commented on #1250
Unblocked by https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/40

[2020-10-06 14:24] moshthepitt commented on #1316
Closing.  Please re-open if still an issue.

[2020-10-06 18:23] craigappl commented on #1328
We have two different event types. The "Case_Details" type is created by Nifi at the operational area when a case is created from BIOPHICS. we then get a "case_confirmation" event that comes through when the user identifies which person is associated with that case. So, it looks like either the tasks aren't updating or the case_confirmation isn't coming through correctly to the data warehouse.

I

[2020-10-07 05:34] samkanga opened #1335 "Trying to assign a team to a plan previously assigned fails on Namibia Production"
- [ ] When a user assigns a team to a plan, then later removes the assignment of the the team to the plan, an attempt to assign the team to the plan  second time fails with an error 400 (see screenshot below) when trying to POST to the url https://reveal-na.smartregister.org/opensrp/rest/organization/assignLocationsAndPlans
![image](https://user-images.githubusercontent.com/5908630/95289268-013d7c

[2020-10-07 11:29] ciremusyoka commented on #1310
@samkanga please confirm if you are still getting this error.

[2020-10-07 12:14] samkanga commented on #1310
@ciremusyoka this was resolved.

[2020-10-07 12:15] #1310 closed

[2020-10-07 14:16] samkanga opened #1337 "Duplicates when Downloading Jurisdiction Metadata on Namibia Production"
- [ ] We previously had an issue where we got duplicates when downloading jurisdiction meta data on targets on Namibia Production. This was resolved and had been working OK. However, the issue appears to have recurred as shown on the screenshot below of a document that I downloaded.

![image](https://user-images.githubusercontent.com/5908630/95343012-b5192880-08c0-11eb-8ae4-b2877c4183ae.png)

[2020-10-07 14:19] moshthepitt commented on #1337
@samkanga this is an issue with the server API.  Does it have the changes that fixed these issues deployed?

Maybe we need to clear the settings in the server database and then reupload and see if all is ok?

[2020-10-07 16:11] Naima-Bashir opened #1338 "THAI- The plans list shows 2 out of "0" instead of the total number of oages"
Login to thai preview: https://web.reveal-th-preview.smartregister.org/plans/list
Click on plans list.
Scroll to the bottom and observe the number of pages shown in the total(image below)

![image](https://user-images.githubusercontent.com/61143692/95357486-9589fc00-08d0-11eb-8e25-53e1d7697ae0.png)
![image](https://user-images.githubusercontent.com/61143692/95357531-a20e5480-08d0-11eb-9aa0-ed95d11

[2020-10-08 07:23] samkanga commented on #1308
@Wambere the issue on this ticket is still unresolved. For example, looking at the plan on this [link](https://web.reveal-th-preview.smartregister.org/focus-investigation/map/473054f7-03f0-5b3c-8a44-395d4ad106d1) The boundaries do not match what is on the synced android client. Find below  a screenshot on what is on the android client vs what is on the webUI. cc; @Naima-Bashir

![image](https://us

[2020-10-08 11:10] samkanga opened #1340 "Web UI monitoring map not updating for structures (venipuncture, mosquito net activity)"
Plan: Dynamic-FI 2020-10-07 VR Test VII

1. On the Web UI, expected to see 2 venipuncture, 1 mosquito net, 1 larvae, 1 mosquito catching, 1 health education
2. Instead, seeing 0 venipuncture, 0 mosquito nets, 1 larvae, 1 mosquito catching, 0 health education

A sample check on the android client for the plan shows that a BCC task was completed (see screenshot below)
![image](https://user-images.gi

[2020-10-08 13:53] samkanga commented on #1250
@moshthepitt what is the block on this ticket?

[2020-10-08 13:57] moshthepitt commented on #1250
Resourcing constraints

[2020-10-08 14:10] moshthepitt commented on #1337
Let's modify the jurisdiction metadata payload as follows:

[code]

#### Where

- THE DOCUMENT ID:  lets generate a UUID deterministically (uuid v5) using the identifier (in this case "jurisdiction_metadata-target")
- THE SPECIFIC SETTINGS ID: lets put the same value as key (the jurisdiction id) (this is for each setting)

[2020-10-08 14:40] #1322 closed

[2020-10-09 05:11] samkanga opened #1341 "RVL-1248 - Coverage targets not updating in assign jurisdictions - Namibia"
On Namibia Production:
Once you have input the coverage targets in the jurisdiction metadata section of the Web UI, it does not update the structure counts for that OA in the assign jurisdiction section.

**Steps to reproduce:**
1. In jurisdiction metadata, upload a csv. with targets for Onguta - 600 and Omatunda - 600
2. Download the target data from jurisdiction metadata to check the target was

[2020-10-09 07:28] moshthepitt commented on #1324
Closed in https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/20

[2020-10-09 07:28] #1324 closed

[2020-10-09 07:43] moshthepitt commented on #1341
@samkanga this works as expected.  The structure count does not come from "jurisdiction metadata".  It comes from a count of structures associated to the jurisdiction in the OpenSRP Database.

Not sure we are going to change this any time soon so marking this as "wontfix".

[2020-10-09 07:43] #1341 closed

[2020-10-09 07:48] samkanga commented on #1341
@moshthepitt thanks for the information.

[2020-10-09 08:29] moshthepitt commented on #1337
@ciremusyoka small update:

THE SPECIFIC SETTINGS ID -  lets generate a UUID deterministically (uuid v5) using the identifier and key

[2020-10-09 08:51] samkanga commented on #1317
@ciremusyoka I will go ahead and close this ticket as we await QA feedback from the client.

[2020-10-09 08:51] #1317 closed

[2020-10-09 11:51] #1337 closed

[2020-10-09 12:16] moshthepitt commented on #1328
Closing, seems done https://onaio.slack.com/archives/C01ASKAEZKL/p1602245338036600?thread_ts=1602227802.032700&cid=C01ASKAEZKL

[2020-10-09 12:16] #1328 closed

[2020-10-09 13:53] samkanga opened #1343 "Error 400 When trying to upload a csv to Namibia Production"
- [ ] There was a fix deployed to Namibia sometime back that resolved a limitation in the size of the csv that can be uploaded. The problem seems to be back. Could you help check if you can determine how we can get the fix onto Namibia production? At the moment the browser is throwing an error 400 when trying to POST to the url https://reveal-na.smartregister.org/opensrp/rest/settings/sync

[2020-10-09 19:07] Naima-Bashir opened #1344 "THAI LOCAL- The filter section says 1 out 10"
![image](https://user-images.githubusercontent.com/61143692/95622108-82675f80-0a7b-11eb-9041-65220924710b.png)
Login to superset user
https://mhealth.ddc.moph.go.th/plans/list

[2020-10-09 19:11] Naima-Bashir opened #1345 "THAI LOCAL There are no other users shown when one clicks on the user filter"
There are no other users shown when one clicks on the user filter

![image](https://user-images.githubusercontent.com/61143692/95622300-dc682500-0a7b-11eb-8856-af119621dfdb.png)
superset user

[2020-10-09 19:14] Naima-Bashir opened #1346 "THAI LOCAL Clicking the OAs in the focus investigation"
I get an internal server error(500) when i still try to access some FI OAs (superset user )
https://mhealth.ddc.moph.go.th/focus-investigation/view/88684506-605d-41db-b904-efbaf9795d2a
![image](https://user-images.githubusercontent.com/61143692/95622720-b5f6b980-0a7c-11eb-84ee-6673715f8133.png)

[2020-10-09 19:19] Naima-Bashir opened #1347 "THAI LOCAL FI page for Thailand test site BVBD 1 takes forever to load :"
bvbd_test user
https://mhealth.ddc.moph.go.th/focus-investigation/view/ab7e1954-0ac8-475e-b70a-e896babdb649
![image](https://user-images.githubusercontent.com/61143692/95623082-5d73ec00-0a7d-11eb-9b8a-ad98f98020f2.png)

[2020-10-09 19:21] Naima-Bashir opened #1348 "THAI LOCAL After creating a new plan using bvbd_test, he gets an access denied"
![image](https://user-images.githubusercontent.com/61143692/95623259-a4fa7800-0a7d-11eb-8574-7db6cb78b055.png)
Create a new plan
Click save
Observe the error that is shown

[2020-10-09 19:22] Naima-Bashir opened #1349 "THAI LOCAL The user bvbd_test cannot access anything"
1. When he tries to click on the user filter he gets a 403
![image](https://user-images.githubusercontent.com/61143692/95622859-fbb38200-0a7c-11eb-8ba0-454faaa23578.png)
2. I created a new plan and after I clicked save, I get an error: ACCESS DENIED using bvbd_test user

![image](https://user-images.githubusercontent.com/61143692/95623411-e0954200-0a7d-11eb-9e8e-984abe0e8619.png)
3. Lots of access

[2020-10-09 20:18] moshthepitt commented on #1344
![not zero](https://user-images.githubusercontent.com/372073/95627908-b21b6500-0a85-11eb-834d-c74ccd10d5f9.png)

@Naima-Bashir this may be due to the user you're logging in with not having permissions to see all plans.  See above screenshot for the user named `superset-user`

[2020-10-09 20:21] moshthepitt commented on #1345
@Naima-Bashir this is because for some reason this URL https://servermhealth.ddc.moph.go.th/opensrp/rest/user?page_size=1000&source=Keycloak&start_index=0 does not return anything currently

[2020-10-09 20:21] moshthepitt commented on #1346
This is happening because reporting on this web app is not yet set up

[2020-10-10 13:06] samkanga commented on #1347
@Naima-Bashir I retested this and the access speed appeared OK apart from the permissions errors that are reported on isue #1344.

[2020-10-11 12:49] samkanga opened #1350 "Multiple Entries showing for Individual Users with the same date under IRS Performance Reporting"
- [ ] For some SOPs e.g. " Nch > tlanch1 > George Mwamba", the dashboard is showing multiple entries with the same day but with differing details. See sample screenshot below:

![image](https://user-images.githubusercontent.com/5908630/95679071-287cac00-0bd9-11eb-9502-b810e517ad3f.png)

[2020-10-11 12:59] samkanga opened #1351 "RVL-1252 Missing TLAs under the IRS Performance Reporting"
- [ ] There are spray operators whose entries are not showing up under the IRS Performance Reporting. We need to check if there is data from the following SOPs getting to the system: tlanch12, tlanch18, tlanch20, tlanch21 and tlanch25 under Nchelenge District.

This is item 3 on https://smartregister.atlassian.net/browse/RVL-1252

[2020-10-12 06:52] samkanga commented on #1343
Closing this ticket as the issue here has been resolved.

[2020-10-12 06:52] #1343 closed

[2020-10-12 07:01] samkanga commented on #1308
I will close this ticket as the issue here has been resolved.

[2020-10-12 07:01] #1308 closed

[2020-10-12 09:08] samkanga commented on #1344
@ciremusyoka I checked on this issue and there seems a problem with the denominator on the total number of pages. The plans are showing OK and just the section on "page x of y" has an issue, where x is the present page and y is the total number of paged.The total number of pages remains at zero.

[2020-10-12 13:23] samkanga commented on #1348
This has been resolved and I will go ahead and close the ticket.

[2020-10-12 13:23] #1348 closed

[2020-10-12 13:29] samkanga opened #1352 "Thai Local - Missing Case Triggered plans on Monitoring Page"
- [ ] The case triggered plans are not being displayed on the Thail Local Monitoring page. Sample case triggered plans can be accessed on [this](https://mhealth.ddc.moph.go.th/plans/update/b6d81401-fcd4-457d-8506-b491d081a6a3) link.

[2020-10-12 13:42] samkanga opened #1353 "Thai Local - Missing Indicators Panel on Monitoring Tab"
- [ ] Open any of the created dynamic plans from the monitoring page on Thailand Local Production WebUI. The page does not show the indicator panel. See a sample screenshot below

![image](https://user-images.githubusercontent.com/5908630/95752339-8a581700-0ca8-11eb-9a59-fc11f33f6fb9.png)

[2020-10-12 14:44] ciremusyoka commented on #1353
@samkanga we don't have data from the expected [slice](https://supersetmhealth.ddc.moph.go.th/superset/explore/?form_data=%7B%22queryFields%22%3A%7B%22groupby%22%3A%22groupby%22%2C%22metrics%22%3A%22metrics%22%7D%2C%22datasource%22%3A%224__table%22%2C%22viz_type%22%3A%22table%22%2C%22slice_id%22%3A3%2C%22url_params%22%3A%7B%7D%2C%22time_range_endpoints%22%3A%5B%22inclusive%22%2C%22exclusive%22%5D%

[2020-10-12 15:26] ciremusyoka commented on #1352
@samkanga the [slice](https://superset.reveal-th-preview.smartregister.org/superset/explore/?form_data=%7B%22datasource%22%3A%2235__table%22%2C%22viz_type%22%3A%22table%22%2C%22slice_id%22%3A239%2C%22url_params%22%3A%7B%7D%2C%22time_range_endpoints%22%3A%5B%22inclusive%22%2C%22exclusive%22%5D%2C%22granularity_sqla%22%3A%22plan_date%22%2C%22time_grain_sqla%22%3A%22P1D%22%2C%22time_range%22%3A%22No+

[2020-10-12 19:17] Naima-Bashir commented on #1347
An update on my end:
After about 10minutes or so, it gave me this error:
![image](https://user-images.githubusercontent.com/61143692/95782562-bbe8d680-0cd8-11eb-91eb-7cd465151585.png)

cc @moshthepitt @samkanga

[2020-10-13 10:57] samkanga opened #1354 "Thailand Local - Error When accessing Draft Plans"
- [ ] We have instances where the user bvbd_test is encountering an error when trying to open a draft plan from the manage plans page. An example of a plan is [here](https://mhealth.ddc.moph.go.th/plans/update/095fca86-a0ac-50d5-9ad2-9ea1f028d171). The error returned reads as per the screenshot below.
![image](https://user-images.githubusercontent.com/5908630/95852154-f8a9e180-0d5b-11eb-9ca1-c277b

[2020-10-13 13:38] samkanga opened #1355 "Namibia - Active plans are not appearing on Monitor view in Web UI"
- [ ] We have a scenario for Namibia production where new active plans are not showing up on the monitoring tab of the WebUI. An example is the plan ed4e7b94-7d44-533a-abae-0f6ee956f3db

[2020-10-13 15:07] #1354 closed

[2020-10-13 17:48] craigappl commented on #1355
Update 8PM EAT: The plan is showing, but no data is populated in it.

[2020-10-14 02:48] craigappl commented on #1355
It looks like a server version issue with the endpoints. The team needs to review.

[2020-10-14 10:07] ciremusyoka opened #1358 "Audit ducks directory"
Keep ducks based on entities of where they get data from

[2020-10-14 11:33] moshthepitt commented on #1355
Closing this as the underlying server version issue seems fixed.

[2020-10-14 11:33] #1355 closed

[2020-10-14 13:24] moshthepitt commented on #1345
@samkanga assigning this to you so that you can follow up with the API team.

[2020-10-14 14:04] samkanga commented on #1345
@Rkareko please help here.

[2020-10-14 14:12] samkanga commented on #1349
This has been resolved.

[2020-10-14 14:12] #1349 closed

[2020-10-14 14:18] Naima-Bashir opened #1359 "THAI LOCAL- The Submissions on app do not show up on web"
Login to the android client using bvbd_test
Register structures, create family members, fill in their tasks.
Check on web: https://mhealth.ddc.moph.go.th/focus-investigation
To see if the changes are made on android reflect on web.

RESULTS: The Submissions on app do not show up on web
BOTH Dynamic and Case Triggered Plans

[2020-10-14 14:32] samkanga opened #1360 "Thai Local - Structures Not Showing Tasks on the WebUI"
Structures on the map appear in grey. An example is the plan on the following url: https://mhealth.ddc.moph.go.th/focus-investigation/map/c6c3ffb5-319b-5b6f-a2b1-0aa802e5f1c4

![image](https://user-images.githubusercontent.com/5908630/96003105-8cee7400-0e42-11eb-8f18-09e3b01117d4.png)

[2020-10-14 14:52] samkanga opened #1361 "Thai Local - Routine Plans Not Showing Tasks on the Map"
- [ ] I created the plan https://mhealth.ddc.moph.go.th/focus-investigation/map/c43b601b-c95c-5b73-ae5a-a692c8167ef1 and submitted data against it. However, data shows on the indicators to the left of the map but not on the map. See sample screenshot below

![image](https://user-images.githubusercontent.com/5908630/96006013-b65ccf00-0e45-11eb-9641-edce69919eb0.png)

[2020-10-14 14:56] ciremusyoka commented on #1351
@samkanga tlanch18, tlanch20, tlanch21 and tlanch25 don't have any generated daily summary reports and the reports available for tlanch12 are missing location id.
cc @moshthepitt

[2020-10-14 15:02] samkanga commented on #1351
@ciremusyoka I  will make follow-up on this.

[2020-10-14 22:28] craigappl opened #1362 "Add the ability to assign teams to IRS Lite Plans on Reveal Stage and Zambia Production"
We are creating a new plan type with `{"code": "interventionType","valueCodableConcept": "IRS-Lite" }`,Below is a sample plan. We need the ability to assign teams to these plans in the web UI. I believe the Assign Plans page filters by intervention type and we would like to allow users to select these plans.

The target is to have this available by Friday 16th Oct.

[code]

[2020-10-15 05:33] samkanga commented on #1353
The indicators Panel is now available. I will go ahead and close this ticket.

[2020-10-15 05:33] #1353 closed

[2020-10-15 05:36] samkanga commented on #1346
I will close this ticket as this is now resolved.

[2020-10-15 05:36] #1346 closed

[2020-10-15 05:39] samkanga commented on #1347
@Naima-Bashir I tested this morning and found this to be working. I have added a screenshot below. Please reopen this if the issues re-occurs.
![image](https://user-images.githubusercontent.com/5908630/96081419-e77ae500-0ec1-11eb-8fbb-86ac2bf120e8.png)

[2020-10-15 05:39] #1347 closed

[2020-10-15 05:42] samkanga commented on #1352
I will go ahead and close this tickets as the case triggered plans are now available on the reporting tab.

[2020-10-15 05:42] #1352 closed

[2020-10-15 06:52] samkanga opened #1363 "Thai Local - Edits to Foci Boundaries not Updating on WebUI"
- [ ] I edited the foci boundary to the location **Thailand test site BVBD 2** on the android device as per the screenshot below.

![image](https://user-images.githubusercontent.com/5908630/96086924-b4d5ea00-0ecb-11eb-8aa9-71dd0a53eb21.png)

However, after about 40 minutes the boundaries were not reflecting on the webUI as seen on [this](https://mhealth.ddc.moph.go.th/focus-investigation/map/aee46

[2020-10-15 07:00] samkanga commented on #1345
I will move this issue [here](https://github.com/OpenSRP/web/issues/81) and close this ticket.

[2020-10-15 07:00] #1345 closed

[2020-10-15 07:26] moshthepitt commented on #1362
@ciremusyoka please do not show these on the manage plans or planning tool page for now.

[2020-10-15 08:37] ciremusyoka commented on #1250
@lincmba the quotes on jurisdiction ids should be removed. See jurisdiction_id column on [this slice](https://superset.reveal-stage.smartregister.org/superset/explore/?form_data=%7B%22queryFields%22%3A%7B%22groupby%22%3A%22groupby%22%2C%22metrics%22%3A%22metrics%22%7D%2C%22datasource%22%3A%22169__table%22%2C%22viz_type%22%3A%22table%22%2C%22slice_id%22%3A611%2C%22url_params%22%3A%7B%7D%2C%22time_r

[2020-10-15 13:54] samkanga opened #1364 "Thai Local - When a Routine Plans Not Generating Tasks if Activation is Delayed"
- [ ] When a routine plans is created in a draft form and a user takes more than 10 minutes to activate it, it does not return tasks on the android client. An example is the plan [here](https://mhealth.ddc.moph.go.th/plans/update/e9edaa54-c06c-5df7-be48-f5cd302d32ca). It shows up on the android client without any tasks. See the screenshot below:
![image](https://user-images.githubusercontent.com/5

[2020-10-15 14:07] moshthepitt commented on #1360
Fixed this via https://github.com/onaio/opensrp-inventories/pull/197/commits/c334a41cfc983c3b1c8fb5e803fb572ff5ed27e5.  @samkanga please confirm and close this issue if all is ok.

![no grey](https://user-images.githubusercontent.com/372073/96140619-cc7f9380-0f08-11eb-9092-9283ce5fbce6.png)

[2020-10-15 14:18] moshthepitt commented on #1361
This was fixed by https://github.com/onaio/opensrp-inventories/pull/197/commits/c334a41cfc983c3b1c8fb5e803fb572ff5ed27e5. @samkanga please check and close the issue if all is ok.

![things on map](https://user-images.githubusercontent.com/372073/96142080-554aff00-0f0a-11eb-8478-3a5500021c81.png)

[2020-10-15 14:20] moshthepitt commented on #1359
@Naima-Bashir @samkanga I think that this should be fixed by https://github.com/onaio/opensrp-inventories/pull/197/commits/c334a41cfc983c3b1c8fb5e803fb572ff5ed27e5.  If you submit data and wait about 20 minutes you should see data. Please test and close this issue if all is ok.

[2020-10-15 14:24] moshthepitt commented on #1363
@samkanga could you please post a link to a plan on the web UI where this is happening?

[2020-10-15 14:29] samkanga commented on #1361
@moshthepitt this is now working. I will go ahead and close the ticket.

[2020-10-15 14:29] #1361 closed

[2020-10-15 14:31] samkanga commented on #1359
@moshthepitt I confirm this is now working and will go ahead and close it.

[2020-10-15 14:31] #1359 closed

[2020-10-15 14:32] samkanga commented on #1363
@moshthepitt See this: https://mhealth.ddc.moph.go.th/focus-investigation/map/aee468f5-0a51-5690-afe2-fbf068891308

[2020-10-15 14:34] samkanga commented on #1360
@moshthepitt this is now resolved. I will go ahead and close the ticket.

[2020-10-15 14:34] #1360 closed

[2020-10-15 15:04] moshthepitt commented on #1363
@samkanga please confirm that your changes in the app have been synced to the OpenSRP Thailand local server.  I am asking you to do this because I have compared the jurisdiction in OpenSRP and in Canopy and they seem to be exactly the same.

[2020-10-15 15:08] samkanga commented on #1363
@moshthepitt I did a sync when I did the edit. I will ask @Naima-Bashir to recheck the boundary for Thailand Test Site BVBD 1 just to be sure.

[2020-10-15 15:19] samkanga commented on #1363
@moshthepitt I confirm I was looking a plan in the wrong location. This is now resolved. I will go ahead and close it.

[2020-10-15 15:19] #1363 closed

[2020-10-15 19:56] Naima-Bashir commented on #1363
This is fixed!! @moshthepitt @samkanga

[2020-10-16 06:54] Naima-Bashir commented on #1359
@moshthepitt I will update my testcase to inform the user to wait 20min. This has passed QA
cc @samkanga

[2020-10-16 07:31] samkanga opened #1366 "Thailand Local - Error when Opening Manage Plans Menu"
- [ ]  When opening the Manage Plans on the Thailand Local WebUI, an error appears that seems related to the users filter menu as shown on the screen below.

![image](https://user-images.githubusercontent.com/5908630/96226021-a73b6580-0f9a-11eb-871c-2718e292913c.png)

[2020-10-16 07:32] ciremusyoka commented on #1344
![page-count](https://user-images.githubusercontent.com/26719807/96225961-912da500-0f9a-11eb-93e9-d7dad7e00ff7.png)
@samkanga am not able to reproduce this bug. The pagination looks okay on my side.

[2020-10-16 07:39] moshthepitt commented on #1344
@samkanga @Naima-Bashir going to close this.  Feel free to reopen with more details if still an issue.

[2020-10-16 07:39] #1344 closed

[2020-10-16 07:41] moshthepitt commented on #1366
We need more details please:

- which user is logging in?
- have we confirmed that the user has the right permissions?
- are we taking into account that the error will ALWAYS show if there are no plans for the user -  because there is a user filter applied by default?

[2020-10-16 07:56] ciremusyoka commented on #1344
@moshthepitt @samkanga have done more tests and this is only happening when the page is translated.

[2020-10-16 08:03] ciremusyoka commented on #1250
This was fixed.

[2020-10-16 08:03] #1250 closed

[2020-10-16 09:54] Naima-Bashir opened #1367 "THAI LOCAL - 502 gateway error"
![image](https://user-images.githubusercontent.com/61143692/96244404-b3312280-0fae-11eb-8a16-4fbee74b1816.png)
https://mhealth.ddc.moph.go.th/

[2020-10-16 10:40] moshthepitt opened #1368 "Fix IRS mopup url"
The current URL for IRS mopup reports is /mopup

It should match the other IRS reports and be `intervention/irs/mopup`

[2020-10-16 10:57] samkanga commented on #1366
@moshthepitt @ciremusyoka this is for the user `vbdu_2.3.6-1` I checked with @Rkareko and confirmed that the user  has plans assigned to them on the OpenSRP Side.

[2020-10-16 11:01] moshthepitt commented on #1366
@samkanga then the next course  of action is to work with @Rkareko to figure out why the API calls made by the web app return nothing for the user

[2020-10-16 11:44] Rkareko commented on #1366
@moshthepitt @samkanga the api is truncating anything after the first dot eg vbdu_2.3.6-1 gets shortened to vbdu_2.3 that's why the api call is failling for this particular user.

[2020-10-16 11:54] ciremusyoka commented on #1350
@samkanga we have reports for same day but of different operational locations. My thinking is that SOP on that particular day worked on two different location. Should i sum the data for day with this cases?
cc @moshthepitt

[2020-10-19 09:27] samkanga commented on #1350
@ciremusyoka I am making follow-up with the client on this and will share an update within the day on thi.

[2020-10-19 10:41] samkanga opened #1370 "Thai Local - Status Code: 500 INTERNAL SERVER ERROR"
- [ ] When selecting a plan fro the Monitor page, whether routine or case triggered plans the system throws an error Internal Server Error with code 500 when trying to GET from https://supersetmhealth.ddc.moph.go.th/superset/slice_json/0?form_data={%22adhoc_filters%22:[{%22clause%22:%22WHERE%22,%22expressionType%22:%22SIMPLE%22,%22comparator%22:%22bc581beb-1048-4ed2-a2e9-1d66d03fd293%22,%22operato

[2020-10-19 12:32] samkanga opened #1371 "RVL-1276 - Namibia - Indicators in the WebUI and in-app are not showing the same values"
- [ ] The number of structures sprayed on the WebUI (350) are less than those recorded in the android client (371) See below a case for the Operational Area named **OMUKANDU (UUKWIYU)** that can be accessed on the WebUI with the link [here](https://web.reveal-na.smartregister.org/intervention/irs/report/ed4e7b94-7d44-533a-abae-0f6ee956f3db/0edba8cf-437a-4104-a2fe-8143116e2139/map).
Android Client

[2020-10-19 14:57] moshthepitt commented on #1370
@samkanga this is fixed.

[2020-10-19 15:04] moshthepitt commented on #1370
Closed, see https://onaio.slack.com/archives/C01ASKAEZKL/p1603119812011300?thread_ts=1603104720.004200&cid=C01ASKAEZKL

[2020-10-19 15:04] #1370 closed

[2020-10-19 15:10] moshthepitt commented on #1225
This is happening because of the translation.  We can't really fix it (not possible)

[2020-10-19 15:10] #1225 closed

[2020-10-19 15:23] moshthepitt commented on #1366
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:23] #1366 closed

[2020-10-19 15:23] moshthepitt commented on #1338
Seems this is fixed or only happens when the page is translated using Google translate.  Please re-open if not.

[2020-10-19 15:23] #1338 closed

[2020-10-19 15:23] moshthepitt commented on #1333
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:23] #1333 closed

[2020-10-19 15:24] #1253 closed

[2020-10-19 15:25] moshthepitt commented on #969
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:25] #969 closed

[2020-10-19 15:25] moshthepitt commented on #966
We aren't really building it to be mobile friendly

[2020-10-19 15:25] #966 closed

[2020-10-19 15:25] moshthepitt commented on #847
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:25] #847 closed

[2020-10-19 15:26] moshthepitt commented on #833
Not relevant any more

[2020-10-19 15:26] #833 closed

[2020-10-19 15:26] moshthepitt commented on #812
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:26] #812 closed

[2020-10-19 15:28] #600 closed

[2020-10-19 15:29] moshthepitt commented on #442
Looks like we are not going to do this one

[2020-10-19 15:29] #442 closed

[2020-10-19 15:29] moshthepitt commented on #350
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:29] #350 closed

[2020-10-19 15:29] moshthepitt commented on #336
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:29] #336 closed

[2020-10-19 15:30] moshthepitt commented on #204
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:30] #204 closed

[2020-10-19 15:30] #118 closed

[2020-10-19 15:30] moshthepitt commented on #824
Seems this is fixed.  Please re-open if not.

[2020-10-19 15:30] #824 closed

[2020-10-19 15:31] moshthepitt commented on #1199
If you scroll up to the country field there is an error show.

[2020-10-19 15:31] #1199 closed

[2020-10-21 14:58] #1368 closed

[2020-10-21 15:02] moshthepitt commented on #1217
Going to close this based on @craigappl's comment

[2020-10-21 15:02] #1217 closed

[2020-10-21 15:03] moshthepitt commented on #1335
Blocked by API work

[2020-10-21 15:05] moshthepitt commented on #627
After going live in Thailand, it seems that the client is happy with how things work now.  Will close this.

[2020-10-21 15:05] #627 closed

[2020-10-21 15:23] moshthepitt commented on #1371
@samkanga @hmakandi can we please clarify exactly how the mobile app is calculating this?  Canopy tries to remove duplicates and this is how it calculates: first it does this https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/3-Namibia-2019/deploy/namibia_irs_structures.psql then aggregates by jurisdiction here https://github.com/OpenSRP/opensrp-reveal-da

[2020-10-21 15:24] moshthepitt commented on #1371
Just to be clear.  There are no "bugs" in Canopy or the web app.  So the thing that needs to be done is compare the calculations with the app and go from there.

[2020-10-21 17:38] craigappl commented on #1371
@moshthepitt , I am picking this up and will do that comparison.

[2020-10-21 17:43] craigappl commented on #1351
@moshthepitt and @ciremusyoka , I followed up and am closing this issue. I have requested that Akros ask these users to submit data.

[2020-10-21 17:43] #1351 closed

[2020-10-22 06:42] githengi commented on #1335
@moshthepitt I have tested this now it works.  This issue was created on October 7th 8.34 am GMT. However the version with fix on assignment bugs was deployed later in the same day  at 1.pm.

[2020-10-22 07:13] moshthepitt commented on #1335
Thanks @githengi - I think @Naima-Bashir and I were also noticing that it works while testing yesterday.  Going to close this issue.

[2020-10-22 07:13] #1335 closed

[2020-10-22 07:54] hmakandi opened #1374 "Session expiration gives red 401 errors in the WebUI (should log the user out)"
Error messages are shown when the token expired, but the user is not logged out, and has to explicitly logout and back in again

[2020-10-22 09:31] hmakandi opened #1375 "Insecticide usage rate tracking on dashboards"
Description: Insecticide Usage Rate (IUR) is a key component to understanding whether spray operators are likely applying the right quantity of insecticide on the walls and therefore doing a quality job. IUR is currently not an indicator on the dashboards. // Use case impacted: IRS // Desired outcome: Create an indicator showing number of rooms or structures sprayed per bottle used and break this

[2020-10-22 09:37] hmakandi opened #1376 "Add the date field in the daily summary form for both Macepa lite and full implementation"
**Description**

1. login to reveal
2. select plan and operation area
3. then tap on other forms
4. then tap enter daily summary

Request:
Include the field "What is the date that this data collection happened?"
User should not be able to pick date in the future.

[2020-10-22 12:18] Rkareko commented on #1371
@craigappl the mobile app processes the spray events and populates the data in the `sprayed_structures` table. Then uses the following query to retrieve the `found structures`, `sprayed structures` and `not sprayed structures` https://github.com/OpenSRP/opensrp-client-reveal/blob/master/opensrp-reveal/src/main/java/org/smartregister/reveal/util/IndicatorUtils.java#L170-L176 .
The query filters by

[2020-10-22 12:30] craigappl opened #1377 "Thailand Local and Preview Web Ui Two Table header rows"
The view that shows all plans per operational area in thailand has two header rows on each of the tables. This just seems to be an alignment issue and we expect to see only 1 table header row. The affects all of the tables on this view and doesn't appear to be an issue on any of the other pages.

![image](https://user-images.githubusercontent.com/6067053/96871703-7e4a2300-1427-11eb-8deb-e99fa2f17d

[2020-10-22 12:33] #1320 closed

[2020-10-22 12:42] craigappl opened #1378 "RVL-1293 Thailand Preview and Local - Can't edit actions when plan saved as draft"
On the manage Plans>Edit plan view
All fields should be editable on draft plans until the plans are activated, including being able to remove plan actions. Currently, if a plan is in draft, users can not edit specific fields and users can not remove actions.

[2020-10-22 13:11] moshthepitt commented on #1320
Also fixed in https://github.com/onaio/opensrp-inventories/commit/84a06d62ee1c1adc20fdc711e6a020ec2870bd96

[2020-10-22 13:28] #1150 closed

[2020-10-22 20:56] craigappl commented on #1371
Notes on mismatch from screenshots:
![image](https://user-images.githubusercontent.com/6067053/96905258-14447480-144d-11eb-90eb-1b7f5256bc17.png)
The colors should match across the two systems.
1. Targeted structures are the same on both, which derives from the imported room count. (370 rooms targeted on both systems) No change required on that field.
2. Web Ui value of Target Coverage Progress an

[2020-10-23 06:42] Rkareko commented on #1371
@craigappl
Android Questions
1. The Android client does not have duplicate entries, when data is edited the same record is updated in the `sprayed_strutures` table
2. The `id` and `base_entitiy_id` columns in the `sprayed_strutures` table contain the same values
3. The query only fetches data for this year's plan
4. Only the `structure_table` has a `parent_id` colum

[2020-10-23 07:59] moshthepitt commented on #1371
@Rkareko I made the change where we select the latest based on form end date, but numbers still are not matching the app.  So I decided to list all the structures and the values we have in this jurisdiction.  Could you do the same so that we can pick out the differences?

[code]

[2020-10-23 08:10] Rkareko commented on #1371
@moshthepitt

structure_id                        |foundStruct|sprayedStruct|notSprayedStruct|
------------------------------------|-----------|-------------|----------------|
04f9a006-a39e-4479-9b9a-475f241222bc|          3|            3|               0|
06526931-28d5-4605-b103-391c1e540fb1|         18|           13|               5|
1452979a-1439-489c-96d9-a28daf83449b|         28|           16

[2020-10-23 08:43] Rkareko commented on #1371
@moshthepitt here is data for one of the structures which has different values

structure_id                        |nSprayableTotal|nSprayedTotalFirst|nSprayedTotalMop|foundStruct|sprayedStruct|notSprayedStruct|
------------------------------------|---------------|------------------|----------------|-----------|-------------|----------------|
bc47f68e-b125-43f4-b8a0-041a544a01f8|18             |9

[2020-10-23 08:50] moshthepitt commented on #1371
@Rkareko for that one we only have one record:

[code]

[2020-10-23 08:51] moshthepitt commented on #1371
@Rkareko is it possible to have negatives in `notSprayedStruct`?  What would a negative logically mean?

[2020-10-23 08:53] moshthepitt commented on #1371
@Rkareko I also found these three structures:

[code]

Where we have no data for in Canopy.  I am investigating.

[2020-10-23 09:16] moshthepitt commented on #1371
@Rkareko for these three ^^ we don't have any data i.e.

[code]

Could you confirm where the app gets the values?  I can't seem to find any missing events (looks like we have everything) so these are confusing

[2020-10-26 10:51] moshthepitt commented on #1378
@craigappl this is an example of a draft plan https://mhealth.ddc.moph.go.th/plans/update/fedb7bee-1def-49b2-9b27-e453fcdd6b97 - I think you can edit it similarly to draft plans on stage https://web.reveal-stage.smartregister.org/plans/update/c685c417-733e-5302-b0b3-fc201282b8ef

I think that this is a new requirement.  We don't (yet) support editing draft plans to this extent

[2020-10-26 10:53] moshthepitt commented on #1377
@craigappl I think this happens when you translate to English and then revert to Thai.  It doesn't happen on initial load.  Could you confirm?

[2020-10-26 13:01] craigappl opened #1380 "Reveal Thailand Preview and Local Production - Autocreate new superset users and assign correct role"
When users are automatically created in Superset, they need to be assigned a role that provides them permission to view the monitor tab in the Reveal web Ui. This has historically been done by assigning them the Gamma and Reveal Data Source roles.

- [x] Users in Thailand Local need to be able to be created in Superset the first time they login to the web Ui if they aren't created in Superset. (Th

[2020-10-26 17:39] craigappl commented on #535
This is dependent on https://github.com/OpenSRP/opensrp-server-web/issues/591

[2020-10-26 17:42] craigappl opened #1381 "RVL-1301 Update Add practitioner list to account for practitioner pagination"
It looks like the dropdown list that allows a user to add a practitioner does a comparison between the OpenSRP server and the list of users that are returned from Keycloak. We need to update this to account for pagination that will be added to the practitioner endpoint in https://github.com/OpenSRP/opensrp-server-web/issues/591. We also need to make sure we don't get into pagination issues from th

[2020-10-27 07:42] ciremusyoka commented on #1210
@moshthepitt is the intention here to display non API related errors such as structures not being available or map zoom being invalid eg. https://github.com/onaio/reveal-frontend/blob/1966dc746bf4cdae0651d243e1e90a0d6f4db2c3/src/containers/pages/AssigmentMapWrapper/index.tsx#L188-L190

[2020-10-27 09:44] moshthepitt commented on #1210
@ciremusyoka yes that's it

[2020-10-27 12:07] moshthepitt commented on #1380
@craigappl @manutarus I have done the following for both Thailand preview and local:

- created a role named `Reveal Web Ui Reporting Access`
- Added the `access all datasources` permissions to this role
- Made it such that this role is added to any user that logs in via OAuth2
- [Modified deployment scripts](https://github.com/onaio/opensrp-inventories/pull/209) to reflect the above

Please test

[2020-10-29 07:59] #1371 closed

[2020-10-30 08:04] moshthepitt opened #1383 "Increase coverage of IRS Lite components"
This PR drops the coverage by 0.6% https://github.com/onaio/reveal-frontend/pull/1379

We need to improve the coverage of these components to counter this drop.

[2020-10-30 08:26] #1380 closed

[2020-10-30 08:47] #1210 closed

[2020-11-02 14:53] moshthepitt opened #1384 "Removing dynamic activities from PlanForm corrupts the Formik state"
It seems that when a dynamic activity from a dynamic plan is removed, it will result in the PlanForm state and Formik's state for "values" being mismatched.

This manifests as:

- having some of the activity triggers/conditions having no values
- not being able to type in new values for triggers/conditions

Seems that this is related to: https://github.com/formium/formik/issues/1504

[2020-11-02 14:54] moshthepitt commented on #1384
More discussion: https://onaio.slack.com/archives/C0FTTFHB2/p1604305833059400

[2020-11-03 10:34] samkanga opened #1385 "RVL-1306 - IRS Performance Monitoring Reporting view Missing on Zambia production"
**Current Behaviour:**
- Login to Web ui with User: Superset-user
- Go to monitor to get the drop down menu
![image](https://user-images.githubusercontent.com/5908630/97974733-14dbf400-1dd9-11eb-9726-22f5a8520637.png)
**Expected Behaviour:**
- Have  IRS performance monitoring report  on the dropdown list under monitor

[2020-11-03 10:46] samkanga opened #1386 "RVL-1308 - Some records are returning "invalid date " on the IRS mock up reporting dashboards"
**Current Behaviour**
- Login to web ui
- Go to monitor  then IRS Mop-up reporting
- Click  on the plan, then drill down to locations. Some of the entries under "Date of Last Visit" and "Date of Last Decision Form" are reading "Invalid date". See screenshot below.
![image](https://user-images.githubusercontent.com/5908630/97975928-ed862680-1dda-11eb-9b88-8c146675a514.png)

[2020-11-03 11:52] samkanga commented on #1316
@moshthepitt I would like to reopen this ticket since the production instance is yet to be updated with the fixes made on reveal-stage for team assignment at higher levels:

[2020-11-03 12:17] moshthepitt opened #1387 "Fix PlanForm state error"
This occurs when you try and create a new plan:

[code]

[2020-11-03 12:36] moshthepitt opened #1389 "Fix PlanForm issue on controlled input"
[code]

If you run PlanForm tests you will get the above.  We need to fix things such that it does not show up.

[2020-11-03 12:51] moshthepitt opened #1390 "IRS report maps: polygons should be rendered correctly"
When we moved to using GisidaLite for IRS reports, we introduced a bug where polygons/multipolygons were rendered on the map as points.  Resulting in something like:

<img width="1507" alt="Screen Shot 2020-11-01 at 10 46 36 AM" src="https://user-images.githubusercontent.com/372073/97987475-6cd02600-1dec-11eb-8799-2e1e1527f267.png">

[2020-11-03 12:53] #1384 closed

[2020-11-03 15:02] samkanga opened #1391 "RVL-1305 - Routine plan names are created with the wrong name"
Routine plan names on Thailand Production are created as "Dynamic + Date" instead of "Area Type + Foci  Name + Date".

Here is a screenshot on how the plans are presently named:
![image](https://user-images.githubusercontent.com/5908630/98001280-85493c00-1dfe-11eb-8e2e-796d4c4b585c.png)

Here is a screenshot on how they should appear.
![image](https://user-images.githubusercontent.com/5908630/9800

[2020-11-03 15:17] samkanga opened #1392 "Namibia: RVL-1311 - Found and target coverage sorting does not work in Web dashboard"
Plan: IRS Oshana 2020-2021 Plan
Link: https://web.reveal-na.smartregister.org/intervention/irs/report/ed4e7b94-7d44-533a-abae-0f6ee956f3db/634e07d1-16dc-4207-802e-108f9008214a

Sorting in descending order for target coverage and found coverage does not work.

1. Drill down dashboard to villages (Namibia --> Oshana --> Oshakati)
2. Sort (in descending order) target coverage or found coverage
3. Aft

[2020-11-04 11:06] samkanga commented on #1316
@moshthepitt @p-netm marking this as blocked as the client mentioned of a pending conversation with @craigappl before deploying this on production.

[2020-11-04 14:02] #1391 closed

[2020-11-05 09:12] Naima-Bashir commented on #1391
@samkanga @moshthepitt just tested this:
This is how the title appears
![image](https://user-images.githubusercontent.com/61143692/98220912-0b30c880-1f60-11eb-97c4-a50026ff0db3.png)

[2020-11-05 12:16] #1385 closed

[2020-11-05 12:22] samkanga opened #1395 "Zambia Production IRS Plan Not Showing Data"
- [ ] [This](https://web.reveal-zm.smartregister.org/intervention/irs/report/a05f0cd3-6f81-565c-a166-c89d1a9cc4df) plan on Zambia production is being used for the Macepa training. The users have submitted data but the dashboard does not display any data. See sample screenshot below.

![image](https://user-images.githubusercontent.com/5908630/98240553-a0d95180-1f7a-11eb-981e-8e74fbf1df57.png)

[2020-11-05 13:04] moshthepitt commented on #1395
One weird thing I noticed is that all the jurisdictions are "virtual".  See [this](https://superset.reveal-zm-green.smartregister.org/superset/slice_json/5?form_data={%22order_by_cols%22:[%22[\%22jurisdiction_depth\%22,+true]%22,%22[\%22jurisdiction_name\%22,+true]%22],%22adhoc_filters%22:[{%22clause%22:%22WHERE%22,%22expressionType%22:%22SIMPLE%22,%22comparator%22:%22a05f0cd3-6f81-565c-a166-c89d1

[2020-11-05 13:08] moshthepitt commented on #1395
I think I found the problem:

[code]

The current reports assume that you have 5 levels

[2020-11-05 13:34] moshthepitt commented on #1395
Created a data warehouse issue to track this [here](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/issues/84)

[2020-11-06 05:20] samkanga opened #1396 "RVL-1315 - Total structures on VL 2020 plan has dropped hence making the coverage values incorrect"
Zambia Production
Version 1.0.0
User: Superset-user
Login to web ui
Go to monitor
Select plan i.e VL Zambia 2020 IRS Plan

**Issue:**
The total structure values have dropped  down, this is affecting coverage values. There seem to be ~3,000 fewer structures in Chadiza in the denominator and ~12,000 fewer in Nchelenge than expected (i.e. throughout the campaign these were consistently ~29,000 and ~4

[2020-11-06 08:54] samkanga opened #1397 "Thailand Production Map View Not Showing data on some plans"
- [x] A number of plans on the Thailand Local instance are not showing data on the map and in the indicators panel. See a sample screenshot below: Affected plans are:
1. https://mhealth.ddc.moph.go.th/focus-investigation/map/093399fc-602a-566a-b300-fce0d96496c1
2. https://mhealth.ddc.moph.go.th/focus-investigation/map/91429684-a83e-537b-b21b-ec0ebd17e126

![image](https://user-images.githubusercon

[2020-11-06 08:56] samkanga commented on #1350
This ticket is blocked by feedback from the client.

[2020-11-06 14:14] samkanga opened #1398 "Missing Plan for User on Thailand Local Production"
The user **vbdu_12.1.4-1** on Thailand Local Production cannot find [this](https://mhealth.ddc.moph.go.th/plans/update/3dd52eae-2d16-5d92-ac16-b35b5d90b503) plan in monitor tab.

[2020-11-06 14:23] moshthepitt commented on #1376
@hmakandi @samkanga lets move this to the client repo please

[2020-11-06 14:23] #1376 closed

[2020-11-06 14:25] moshthepitt commented on #792
We now use GisidaLite so this is not required.

[2020-11-06 14:25] #792 closed

[2020-11-06 14:28] moshthepitt commented on #691
We have since moved away from Gisida and now use [GisidaLite](https://github.com/onaio/reveal-frontend/blob/f1a31218e5b225ca450cd64b65021a3f165a1966/src/components/GisidaLite/index.tsx)

[2020-11-06 14:28] #691 closed

[2020-11-06 14:36] moshthepitt commented on #976
We now have a loaders component: https://github.com/onaio/js-tools/tree/master/packages/Loaders

[2020-11-06 14:38] moshthepitt commented on #976
The idea would be to make it somehow possible to show some text e.g. "Loading plans" when the Loading Component is being displayed - might mean adding a prop to the Loader components, idk.

[2020-11-08 06:31] moshthepitt commented on #1396
This is caused [by a bug here](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/master/3-reveal/migrations/5-IRS/2-Zambia-2019/deploy/zambia_irs_structures.psql#L99).  Basically we need to apply a filter for plans to the tasks and events in the query coz right now it can match any plan in the entire world.

[2020-11-09 09:07] Naima-Bashir commented on #1391
this has also passed qa on thai production
cc @samkanga @moshthepitt

[2020-11-09 10:16] samkanga opened #1399 "RVL-1330 - Remove Kilwa and Chisenga island structure from the denominator count"
In Zambia production, Kilwa and Chisenga are islands in Nchelenge district where Reveal is not being used. However these areas have structures on the dashboard which are adding up to the denominator count. The client desires that thestructures in those areas should be removed from the denominator count.  See screeshot below.

![image](https://user-images.githubusercontent.com/5908630/98528552-83af

[2020-11-09 10:38] samkanga opened #1401 "User not able to view plans on Monitor page on Thailand Local Production"
The user pho_tak-1 under Thailand Local Production cannot access plans under the monitor page. This appears related to the the superset permissions.

[2020-11-09 10:41] moshthepitt commented on #1401
@samkanga if this is related to Superset permissions then please move the issue to the Canopy repo.

[2020-11-09 10:44] samkanga opened #1402 "Add Messaging to Thailand Preview Stating its under Maintenance"
Thailand preview has a database issue which makes it unusable. As this is being worked on the client has requested that we setup a banner stating that the system is under maintenance. The reading in Thai should be `อยู่ระหว่างการปรับปรุงระบบ ขออภัยในความไม่สะดวก`

[2020-11-09 15:14] samkanga commented on #1401
@moshthepitt I wasn't sure of the cause hence the reason for logging the ticket here.

[2020-11-09 15:23] craigappl commented on #1398
The root cause seems to be that the plan_jurisdiction table doesn't have this plan in it.

This returns no data:
[code]
Then it shows up as follows in the superset slice as:
[code]
There are 3 plans in Thailand Local Production that are active and do not have a jurisdiction.

[2020-11-09 15:57] craigappl commented on #1401
The core issue here appears to be that the "Reveal Web Ui Reporting Access" role doesn't have enough permissions. I was able to successfully create a user in Superset by logging in to the Reveal Web Ui, but am getting an "Unauthorized" error when trying to access the slice information.

Here's a screenshot of the role:
![image](https://user-images.githubusercontent.com/6067053/98563759-69132800-22

[2020-11-09 16:47] moshthepitt commented on #1401
Thanks @craigappl - I will do the same for Thailand preview and look into codifying it in the Ansible inventories.

@samkanga could you confirm that this fixes the issue?

[2020-11-09 23:47] craigappl commented on #1399
I cancelled all tasks, removed the areas from the plan, and ensured no teams were assigned to those areas. The line item is still showing up in the tables, but the counts are gone.
![image](https://user-images.githubusercontent.com/6067053/98609723-cd56db80-22a2-11eb-86c2-aa33b3208b1b.png)

[2020-11-09 23:47] #1399 closed

[2020-11-10 07:28] samkanga commented on #1401
@moshthepitt the Thailand team reverted indicating that the users are not being created automatically when they log in with the user, then use it to access the monitoring tab and do a refresh. They are having to create the users manually in superset. Should there be an expected delay between the login to the WebUI and the creation of the user in superset?

[2020-11-10 07:43] moshthepitt commented on #1401
@samkanga I don't understand what you mean.   Let me try and describe what I think then you can point out if anything seems off.

1.  Users are not created automatically on Superset.  When you create a User in Keycloak, the user WILL NOT automatically appear in Superset.  This is how it works.
2.  However, when you create a user in Keycloak, that same user should be able to use his/her credentials

[2020-11-10 08:05] moshthepitt commented on #1401
can download on SliceModelView
can list on SliceAsync
can slice on Superset
can slice json on Superset
all datasource access on all_datasource_access

Made the above changes manually in Thailand preview

[2020-11-10 08:20] samkanga commented on #1401
@moshthepitt thanks for this. We missed the step of logging into Superset. I will follow that through and revert.

[2020-11-10 08:26] moshthepitt commented on #1401
@samkanga also note that when you navigate to any of the reports in the monitor section, it will log you in to Superset.  And at that point your Superset account will be created if it does not exist.  Maybe this is one area to test.

[2020-11-10 10:51] samkanga commented on #1401
@moshthepitt I just tested this on the Namibia instance. The attempt to access the monitor view returns an error `401 UNAUTHORIZED` when trying to `GET` the url: https://superset.reveal-na.smartregister.org/superset/slice_json/320

[2020-11-10 11:22] moshthepitt commented on #1401
@samkanga this is only set up in Thailand.  Try one of those instances

[2020-11-10 11:22] #1390 closed

[2020-11-10 11:44] samkanga commented on #1401
Cool. Looking into that.

[2020-11-10 12:42] #1396 closed

[2020-11-10 12:58] samkanga commented on #1401
@moshthepitt I have tested this on Thailand Preview but the user account creation on superset did not happen. Below are the steps I took:
1. The user was able to log in to the WebUI but was not able to get any plans even when I cleared the filter.
2. I also did a refresh on the WebUI from the Monitor page but and tried to access superset but it failed with an `Invalid Message` error.
3. I later ch

[2020-11-10 13:35] moshthepitt commented on #1401
Cool, it means that for some reason logging in to Superset via the web app does not result in the user created.  I think that we can create an issue dedicated to that.  It might be a potentially tricky issue to fix with a large LoE @samkanga .

[2020-11-11 05:17] samkanga commented on #1401
@moshthepitt I created an issue [here](https://github.com/onaio/canopy/issues/1629).

[2020-11-11 07:33] moshthepitt commented on #1402
This should would be a component that turns the entire web app into "maintenance mode" where it is the only component rendered.  This would be configurable, and would be made as a package.

[2020-11-11 08:22] Naima-Bashir commented on #1397
I cant test this at the moment cc @samkanga @moshthepitt
![image](https://user-images.githubusercontent.com/61143692/98787183-39a31d80-2410-11eb-84cb-3e4360e3c90a.png)

[2020-11-11 11:59] Wambere commented on #1398
The issue was that some records were trying to save data into the `plan_jurisdiction` table before the plan itself was saved in the `plans` table. I have updated the above 4 plans and moved the PG that saves the plan_jurisdiction to after the plan has been saved [here](https://nifimhealth.ddc.moph.go.th/nifi/?processGroupId=240b9c36-b60c-38b3-3e69-15c3341ef94d&componentIds=5d1c1c59-778e-34d1-46e1-

[2020-11-11 11:59] #1398 closed

[2020-11-12 10:28] moshthepitt commented on #1395
Now that the DB has been upgraded, it seems that we also need an upgrade of the web app

[2020-11-13 05:41] samkanga commented on #1397
@moshthepitt the fix for this ticket is not working on Thailand preview. @Naima-Bashir has shared some feedback on the QA channel and I did another test with the plan [here](https://web.reveal-th-preview.smartregister.org/focus-investigation/map/8c251f3b-c607-5d15-a17c-b10506071727) and the data still does not show on the map nor on the indicators panel. The page is throwing a 500 errror when tryi

[2020-11-13 08:24] Naima-Bashir commented on #1397
I've tested this https://github.com/onaio/reveal-frontend/pull/1400
I created a plan with only one goal, residential structures and I created new family members on android. I synched it and it's still hasn't shown the families I created
https://web.reveal-th-preview.smartregister.org/focus-investigation/map/b48b0c46-6184-5656-97cb-a345ff57f8eb

[2020-11-13 08:40] Naima-Bashir commented on #1397
My findings:
I registered families and completed their tasks on android.
I synched the device and it did not reflect on web
![image](https://user-images.githubusercontent.com/61143692/99047215-f0d09d80-25a4-11eb-8dc6-ee1ad262ce17.png)
![image](https://user-images.githubusercontent.com/61143692/99047238-f9c16f00-25a4-11eb-890e-2a5b0176bdc8.png)
cc @samkanga @moshthepitt

[2020-11-13 08:44] moshthepitt commented on #1390
@Naima-Bashir to test this: when you view an IRS report map, you should see structures that are both circles and polygons instead of just circles as in the image above.

[2020-11-16 07:49] samkanga opened #1404 "Add ability to Edit the Activities on Draft Case Triggered Plans"
Presently, a user cannot edit (remove) the activities on draft a case triggered plan. The client would want this feature developed.

[2020-11-16 07:52] samkanga commented on #1402
This ticket was marked as a won't fix. I will go ahead and close it.

[2020-11-16 07:52] #1402 closed

[2020-11-16 08:23] moshthepitt commented on #1404
We should make this in a way that is configurable.

[2020-11-16 09:47] armageddon commented on #1404
Adding activities also in scop e please

[2020-11-16 15:35] #1395 closed

[2020-11-17 08:03] ciremusyoka commented on #1397
Have confirmed that:
- The data displayed on the web is exactly as the data obtained from `targets_materialized_view` view on Thailand preview,
- The `targets_materialized_view` view is being refreshed,
- The tasks displayed on web match the tasks on the `tasks` table.

Though we tried syncing the data again on the mobile app successfully, the changes aren't reflected on the `tasks` table.
`e3c608

[2020-11-17 08:31] moshthepitt commented on #1208
This has been unblocked by https://github.com/OpenSRP/opensrp-server-web/pull/615 which has since been deployed to stage.

[2020-11-17 08:58] moshthepitt opened #1406 "Prevent endless loading on FI reports when plan does not exis"
Prevent endless loading on FI reports when plan does not exist.

e.g. https://web.reveal-th-preview.smartregister.org/focus-investigation/map/this%20is%20false

[2020-11-17 08:59] moshthepitt commented on #1397
@Naima-Bashir could you please post a link to a plan that this is happening for?  I cannot find one.

[2020-11-17 09:24] moshthepitt commented on #1397
@Naima-Bashir for https://web.reveal-th-preview.smartregister.org/focus-investigation/map/b48b0c46-6184-5656-97cb-a345ff57f8eb/RACD_register_families the web app currently show:

![whatis](https://user-images.githubusercontent.com/372073/99371257-b9792e00-28cf-11eb-952c-46606a932acd.png)

Looks to me like the web app is indeed showing points when you have only one activity (which is the bug report

[2020-11-17 09:47] Naima-Bashir commented on #1397
The numerator/denominator count should change for every new family registered, no?

[2020-11-17 11:42] moshthepitt opened #1407 "Audit FI map API calls"
![x](https://user-images.githubusercontent.com/372073/99386100-fdc1f980-28e2-11eb-86b3-cfbe6f35f4b8.png)

1. We are making a call to slice id = 0 --> do we need to do so?
2. We are calling the structures slice --> do we need to do so?
3. We are making more than one call to the same slice.  Is it possible to combine the calls?

[2020-11-17 12:33] moshthepitt commented on #1397
Closing this based on discussions [here](https://onaio.slack.com/archives/C01ASKAEZKL/p1605603602004000) and the fact that structures now show up on the map even if there is just one activity:

![กิจกรรมสอบสวน](https://user-images.githubusercontent.com/372073/99390733-33b6ac00-28ea-11eb-930c-a17e5f2498fb.png)

[2020-11-17 12:33] #1397 closed

[2020-11-17 12:57] moshthepitt commented on #1208
API docs https://reveal-stage.smartregister.org/opensrp/swagger-ui.html#/

[2020-11-18 15:07] #1392 closed

[2020-11-19 07:53] #1406 closed

[2020-11-19 11:14] samkanga opened #1410 "Internal Server Error 500 when opening plan on Monitor Tab"
On Thailand Preview, when a user selects a plan from the monitor page, the WebUI returns an error 500 when trying to GET the url `https://superset.reveal-th-preview.smartregister.org/superset/slice_json/0?form_data={%22adhoc_filters%22:[{%22clause%22:%22WHERE%22,%22expressionType%22:%22SIMPLE%22,%22comparator%22:%2265d516b0-3a5c-425d-bcc0-8780f0e433f0%22,%22operator%22:%22==%22,%22subject%22:%22ju

[2020-11-19 11:48] moshthepitt commented on #1410
This is a duplicate of #1407

[2020-11-19 13:57] moshthepitt opened #1412 "New plan is not immediately accessible on the planning tool"
When you create a new plan it is not immediately accessible on the planning tool unless you refresh the page.

Need to fix this.  Perhaps look into optimistically making the plan available in the UI.

[2020-11-19 14:02] githengi opened #1413 "Correct Plan template for FI Dynamic plans"
Correct Plan template for FI Dynamic plans Bednet Distribution action

For Blood Screening action Change the trigger to look like this
[code]

remove this condition for Bednet Distribution action
[code]

[2020-11-20 09:21] #1413 closed

[2020-11-20 11:22] #1386 closed

[2020-11-20 14:18] githengi opened #1415 "Archive of Family create Register family task for residential structures"
On Archive of Family  we to create Register family task for residential structures as is happening manully

Update the action for Family Registration

set the trigger to
[code]

[2020-11-23 11:17] samkanga opened #1418 "Thailand Production Usr unable to View Plan details on Monitor page"
The user `vbdu_11.5.5-1` cannot find the plan details on the map and on the indicator panel for [this](https://mhealth.ddc.moph.go.th/focus-investigation/map/6f9bb79c-226c-5ac1-8f81-6c89d503420b) plan.

[2020-11-23 12:08] samkanga opened #1419 "Keycloak 502 Error when logging into Reveal WebUI"
When logging into the webUI the user is often presented with a 502 error that can only be resolved by clearing cookies or using incognito mode. Below is a screenshot:
![image](https://user-images.githubusercontent.com/5908630/99960709-3e67ba00-2d9e-11eb-96ce-7a177ce8416b.png)

[2020-11-23 12:29] moshthepitt commented on #1418
@samkanga it would be very helpful to articulate what is expected.  Can you do that please?

[2020-11-23 12:39] samkanga commented on #1418
@moshthepitt the client expected to see the completed family registration and blood screening activities on the indicator panel and on the map view. These are however missing from both of these locations.

[2020-11-23 14:22] moshthepitt commented on #1418
@samkanga it seems that the problem is that plans are not syncing correctly which means we end up in a place where the plan actions and goals are not in the Canopy DB, which in turn means the web app displays the wrong thing.

[2020-11-23 14:32] moshthepitt opened #1420 "Add limit to Superset FI API call for jurisdictions"
It seems that its [possible the database may return more than one row](https://supersetmhealth.ddc.moph.go.th/superset/slice_json/2?form_data={%22adhoc_filters%22:[{%22clause%22:%22WHERE%22,%22expressionType%22:%22SIMPLE%22,%22comparator%22:%224a7453c7-48b6-40b6-8f85-f8d64cf02baf%22,%22operator%22:%22==%22,%22subject%22:%22jurisdiction_id%22}],%22row_limit%22:15000}).  We can avoid the extra data

[2020-11-23 14:33] moshthepitt commented on #1367
Duplicate of https://github.com/onaio/reveal-frontend/issues/1419

[2020-11-23 14:33] #1367 closed

[2020-11-23 15:34] moshthepitt commented on #1407
Closed by https://github.com/onaio/reveal-frontend/issues/1407

[2020-11-23 15:34] #1407 closed

[2020-11-24 07:11] samkanga commented on #1407
@moshthepitt could you confirm that the issue here was as a result of making unnecessary API calls, and that the solution was to remove those (#1 and #2) and making a combination on #3?

[2020-11-24 07:12] moshthepitt commented on #1407
@samkanga the error 500 was caused by item 1 in the list above.  We were making a call to a slice with id = 0 with does not exist on Superset.

2 and 3 are optimizations.

[2020-11-24 07:32] samkanga opened #1421 "Re-Order the day numbers to Match the event dates on IRS Performance Reporting"
The day number and the dates to the events recorded on the IRS performance reporting dashboard are need to be reordered so that for example day one has an older date than day 10. At the moment the higher day numbers have the older dates. See sample screenshot below.

![image](https://user-images.githubusercontent.com/5908630/100062065-0e70f300-2e40-11eb-84c3-5b7dd388b7ff.png)

[2020-11-24 08:25] moshthepitt commented on #1418
@samkanga this is now fixed https://mhealth.ddc.moph.go.th/focus-investigation/map/6f9bb79c-226c-5ac1-8f81-6c89d503420b

The fix was to trigger plan reprocessing in NiFi ([more details](https://onaio.slack.com/archives/C01BGMUCS3G/p1606142419429300?thread_ts=1606142161.427900&cid=C01BGMUCS3G)).

cc: @Wambere

[2020-11-24 08:25] #1418 closed

[2020-11-24 09:21] moshthepitt opened #1422 "Fix FI Map text"
There seems to be an unwanted apostrophe.

![unwanted](https://user-images.githubusercontent.com/372073/100074268-98748800-2e4f-11eb-98c4-07b79608c95d.png)

[2020-11-24 16:19] samkanga opened #1424 "User raitest has no plans listed under the Manage Plans option"
- [ ] On Thailand preview environment, the user raitest is unable to see any plans while under the `Manage plans` option. The user however has plans available under the monitor tab.

[2020-11-25 08:48] ciremusyoka commented on #1424
@moshthepitt  the problem here is,  we are using the ids of the plans assigned to users to filter displayed plans from the list of all fetched plans, and currently we are fetching 2000 plans hence plans past the 2000 mark are not displayed.

**quick fix**
Increase the limit of plans we are fetching to lets say 3000 records (have tested this and it works).
**solution**
Instead of getting Ids of use

[2020-11-25 09:27] moshthepitt commented on #1424
@ciremusyoka not sure I understand this clearly.  What do you mean by "use the results directly as they are from the server"?

[2020-11-25 09:34] ciremusyoka commented on #1424
@moshthepitt when we do a fetch to get the plans assigned to a particular user, we only push the plan ids to the store and ignore the rest of the plans details. I meant instead of storing the ids only we store the whole of the plan to avoid the filtering

[2020-11-25 09:40] moshthepitt commented on #1424
@ciremusyoka

Does that mean that:

- we will have a separate store that keeps records of a user's plans
- we would then have a selector that filters the plans store using these plan ids (from the user-plan-id store)?

[2020-11-25 09:55] ciremusyoka commented on #1424
@moshthepitt

- Yes will will have a separate store for storing user's plans. Not just the plan ids (like we are doing) but the plans.
- The selector will filter using user name

[2020-11-26 14:59] #1415 closed

[2020-11-27 06:39] #1381 closed

[2020-11-27 06:39] #1422 closed

[2020-11-27 06:43] samkanga opened #1425 "RVL-1295 - Nigeria - Build Performance Indicators dashboard for SMC Nigeria"
Create a performance dashboard that drills down to the CDD Team level as per below drill down. Note that ‘CDD Team’ is the lowest level as their is only one CDD per team. The navigation to be followed is: **Plan > Nigeria > State> LGA > HFCA > Supervisor > CDD Team**

This dashboard will get data from the forms developed [here](https://github.com/OpenSRP/opensrp-client-reveal/issues/1175).

The fi

[2020-11-27 07:23] samkanga opened #1426 "RVL-1175 - Build a dashboard on Earliest Task Start Time and Latest Task End Time"
- [ ] Build a dashboard on Earliest Task Start Time and Latest Task End Time based on the activities recorded on the dashboard in this ticket.

At level one to appear as follows:
![image](https://user-images.githubusercontent.com/5908630/100421900-568b5200-309a-11eb-9dd7-2971c2d89ed8.png)

At level 2 to appear as follows:
![image](https://user-images.githubusercontent.com/5908630/100421968-74f14d8

[2020-11-27 09:07] samkanga opened #1427 "RVL-1296 -Nigeria - Build Operation Dashboards"
The Operational Dashboard will have the following levels.

At level 1 - State level
![image](https://user-images.githubusercontent.com/5908630/100426640-47100700-30a2-11eb-9f5b-c1f9dc58cd86.png)

At level 2 - LGA Level

Additional details to be given

[2020-11-27 10:31] samkanga opened #1428 "RVL-1292a - Nigeria - Add Planning Tool in Nigeria WebUI"
- [ ] Add the planning tool on the Nigeria WebUI.

[2020-11-27 10:36] samkanga opened #1429 "RVL-1292b - Nigeria - Add Dynamic MDA plan Template"
- [ ] Add the Dynamic MDA plan template on the NIgeria WebUI

[2020-11-27 12:45] samkanga opened #1430 "RVL-1359 - Remove Total Spray Areas, Targeted Spray Areas, Spray areas visited from the IRS reporting dashboard at Operation area level."
Zambia prod
Version 1.0.1
User: Superset user.

1. Login to reveal
2. Go to monitoring
3. Select IRS planning
4. Select a Plan. e.g MACEPA: Full Reveal 2020 IRS Plan
5. Drill down the hierarchy to the operation area level.

**Current behavior:**
The table includes Total Spray Areas, Targeted Spray Areas, Spray areas visited. These indicators are not useful at this level. See screenshot below:
![im

[2020-11-30 14:35] moshthepitt opened #1432 "Clean up Nigeria SMC PR"
Clean up and merge this PR: https://github.com/onaio/reveal-frontend/pull/1234

[2020-11-30 14:37] #1410 closed

[2020-11-30 14:43] moshthepitt commented on #1430
Seems like a configuration issue.

This [Macepa report](https://web.reveal-zm.smartregister.org/intervention/irs/report/4cbe10b9-231e-5084-9646-0a923dcfa0da/eeec69eb-8f96-4a6e-8946-b9bd2aad1747) should be similar to this [VL report](https://web.reveal-zm.smartregister.org/intervention/irs/report/d40c1227-644b-55d6-b3f3-bed42380322f/ca8d62fd-acec-4498-a041-03414c67efc8).

[2020-12-02 08:45] samkanga opened #1433 "New Plan on Zambia Production not showing data"
- [x] The client has created a new plan on the WebUI attached to the Senegal Hierarchy. The plan is available on the monitoring tab but has no data. The Plan is named Senegal Nov Plan and is accessible [here](https://web.reveal-zm.smartregister.org/intervention/irs/report/4ddbd420-a330-5a27-8b58-2a498a80b4ef). The client needs this for a demo later today.

[2020-12-02 08:50] samkanga opened #1434 "User Unable to Retire Plan on Thailand Production"
The user `vbdc_6.5.1-1` on Thai production is unable to retire the plan named  `A2 เขาช่องลม (2208040405) 2020-11-27`. The client has reported the save button seems to hang on the "Saving plan status" and does not seem to complete the saving process.

[2020-12-02 09:00] samkanga opened #1435 "Data submitted not showing on the dashboard for MACEPA: Full Reveal 2020 IRS Plan"
Server: Zambia prod
version 1.0.1
Plan: MACEPA: Full Reveal 2020 IRS Plan
user: superset-user

From the android client, for the location Luna_5 the following screenshot has been captured and shows its fully synced.
![image](https://user-images.githubusercontent.com/5908630/100850831-70130c00-3495-11eb-8f2c-b3ec2e584eb3.png)

However, accessing the same location on the Monitor page (Western - Kaoma

[2020-12-02 09:38] moshthepitt commented on #1433
@samkanga this looks like its fixed https://web.reveal-zm.smartregister.org/intervention/irs/report/4ddbd420-a330-5a27-8b58-2a498a80b4ef

[2020-12-02 09:40] moshthepitt commented on #1435
@samkanga this also looks like it now has data https://web.reveal-zm.smartregister.org/intervention/irs/report/4cbe10b9-231e-5084-9646-0a923dcfa0da/17e209c1-6b78-4c4a-b5f5-eb32b4db8d65

[2020-12-02 11:08] samkanga opened #1436 "Map view not loading for Plan"
- [x] The plan created on the new Senegal Hierarchy does not load the map view on the operational area. It return an error `Map failed to load. Jurisdiction not found`. Is there additional work that is needed to get the map view reflect on the monitor tab? The map view can be accessed on the link [here](https://web.reveal-zm.smartregister.org/intervention/irs/report/4ddbd420-a330-5a27-8b58-2a498a8

[2020-12-02 12:41] moshthepitt commented on #1436
Looks like it is fixed https://web.reveal-zm.smartregister.org/intervention/irs/report/4ddbd420-a330-5a27-8b58-2a498a80b4ef/9ccdd2b8-97ba-4ad4-893c-06602c5d6275/map

[2020-12-02 12:52] ciremusyoka commented on #1434
@moshthepitt @samkanga the changes we made on dynamic plan template [on this issue](https://github.com/onaio/reveal-frontend/issues/1413#issue-746612410)  are affecting how the plans are being processed before they are saved. The removed condition on bed net distribution is being expected since On the web our code assumes the conditions from the OpenSrp API and the ones on the template are equal i

[2020-12-02 12:54] moshthepitt commented on #1434
@ciremusyoka could give a practical example of this?  What exactly is failing and how?

[2020-12-02 12:55] #1433 closed

[2020-12-02 12:55] #1435 closed

[2020-12-02 12:55] #1436 closed

[2020-12-02 13:05] ciremusyoka commented on #1434
@moshthepitt The plans failing were created before the templates were updated. And since when editing we are getting some data from the templates we end up trying the get data of non existing condition (in this case the condition we deleted) when processing the data to post to the API.

[2020-12-02 13:08] moshthepitt commented on #1434
@ciremusyoka  What's the best fix for this?

Could you point out the relevant code that needs looking at?

[2020-12-02 13:15] ciremusyoka commented on #1434
Instead of getting `subjectCodableConcept` [here](https://github.com/onaio/reveal-frontend/blob/81aa49f1972f90c1dabe2cec3f354d5c1c53597d/src/components/forms/PlanForm/helpers.ts#L359-L363) from the template we should push it to the form but as a hidden field.

[2020-12-02 13:18] moshthepitt commented on #1434
@ciremusyoka ok go ahead with that.

[2020-12-02 13:19] moshthepitt commented on #1434
@p-netm take note of an example of changes that we'll need to reconcile into what you are working on at some point.  Would be cool to work on one shared codebase.

[2020-12-03 07:39] moshthepitt opened #1437 "Display correct "other" jursidcitions"
Please view [this example](https://web.reveal-zm.smartregister.org/intervention/irs/report/7e4aba56-d5cc-5b3c-9e01-966e757c389e/94ff1372-a69d-4397-b3fb-45ab6525f89a).

We need to add the appropriate focus area level virtual jurisdiction to this page i.e. the ones that have the correct data columns for focus-area-level reports.

Related: https://github.com/OpenSRP/opensrp-reveal-datawarehouse/pull/

[2020-12-03 10:12] moshthepitt commented on #1430
@samkanga this will probably be fixed by deploying [v1.0.3](https://github.com/onaio/reveal-frontend/releases/tag/v1.0.3) or greater.

[2020-12-03 10:14] moshthepitt commented on #1428
@samkanga this will be fixed by a deployment that turns the planning tool feature "on".

[2020-12-03 10:15] moshthepitt commented on #1429
@samkanga this will be fixed by a deployment that turns Dynamic MDA plan template "on".

[2020-12-03 10:34] moshthepitt opened #1439 "Handle expired sessions"
Currently, when a user logs in, she receives a token that expires at some point.  When this token expires, the web application does not handle it gracefully at all.  A user often needs to refresh or logout and then log back in, with no warning.

We need to fix this.

# Proposed solution

- Modify the functionality to get the access token - either modify [getAccessToken](https://github.com/onaio/js

[2020-12-03 10:34] moshthepitt commented on #1374
Will be fixed in https://github.com/onaio/reveal-frontend/issues/1439

[2020-12-03 10:34] #1374 closed

[2020-12-03 10:36] moshthepitt commented on #1439
@ciremusyoka we need to do this in a way that is immediately usable by https://github.com/opensrp/web

[2020-12-03 11:19] samkanga opened #1440 "User Unable to view Structures on Thailand Production Dashboard"
- [ ] User `vbdu_12.1.1-1` has submitted data against a plan as per the screenshot1 below(taken from the MSSQL based dashboard). However, the data submitted does not show any structures on the monitor view of the WebUI. See the [plan](https://mhealth.ddc.moph.go.th/plans/update/3145b528-9005-5bdf-8445-3e0307d78230) here and the second screenshot below.

![image](https://user-images.githubuserconte

[2020-12-03 11:56] #1434 closed

[2020-12-03 14:23] craigappl commented on #1419
How often does this happen? It seems to happen when a session expires on Thailand local.

[2020-12-04 08:14] samkanga commented on #1108
@moshthepitt this issue is still being experienced on Zambia Production. [Here](https://web.reveal-zm.smartregister.org/intervention/irs/report/4cbe10b9-231e-5084-9646-0a923dcfa0da/761a068b-7286-43dc-8bf2-51cb50647762) is a quick link to one of the locations with the issue.

[2020-12-04 08:18] moshthepitt commented on #1108
@samkanga that is not the issue being fixed in this ticket.  This ticket is about virtual jurisdictions i.e. the ones that say "other".  We have this issue that tracks [ongoing work](https://github.com/onaio/reveal-frontend/issues/1437) on this front.

The issue that you are describing is fortunately also already addressed, pending a deployment.  [See this](https://github.com/onaio/reveal-frontend

[2020-12-04 08:18] #1108 closed

[2020-12-04 09:04] moshthepitt commented on #1440
@samkanga this plan has no tasks at all.  The web app report accurately reflects this.  If we believe that the plan does indeed have tasks, we should ask @Rkareko or @Wambere to help investigate that.

[2020-12-04 10:16] Wambere commented on #1440
@samkanga  the plan `A2 มาลาหน้าโรงเรียน (9502030301) 2020-11-26` with id `3145b528-9005-5bdf-8445-3e0307d78230` is for the jurisdiction `680d2d72-0424-444e-830e-6c58d98c2c31` which has no structures according to `https://servermhealth.ddc.moph.go.th/opensrp/rest/location/sync?parent_id=680d2d72-0424-444e-830e-6c58d98c2c31&serverVersion=0` and therefore no tasks were generated

Could the structure

[2020-12-04 11:56] samkanga opened #1441 "Uploaded Risk and Structures Data not available When Creating plans through Planning Tool"
Akros are doing tests on reveal stage on the upload of risk files and structures from a csv. The file is downloading and uploding successfully with the values entered into the risk and target columns of the the csv. However, when they create a plan through the planning tool, the following are the observations:

1. There structures count on the risk slider view remain at zero when the slider is mov

[2020-12-04 12:05] moshthepitt commented on #1441
@samkanga is it possible to get an example of a plan for which this happens?  That is crucial missing information

[2020-12-04 12:34] Rkareko commented on #1440
@samkanga  @moshthepitt @Wambere  confirmed that the operational area with id `680d2d72-0424-444e-830e-6c58d98c2c31` does not have any structures in the opensrp db.

[2020-12-04 15:38] samkanga commented on #1441
@moshthepitt you can use the plan [here](https://web.reveal-stage.smartregister.org/auoSelectJurisdictions/d36e06b3-c556-5f86-801b-d0a686114bcb/ecfbf048-fb7a-47d8-a12b-61bf5d2a6e7b).

[2020-12-04 16:23] craigappl commented on #1440
Thanks everyone, I notified Pedro.

[2020-12-07 08:58] moshthepitt opened #1442 "Don't show `NaN` on planning tool"
![nonan](https://user-images.githubusercontent.com/372073/101330215-6584b800-3883-11eb-86e7-1b674ba9748a.png)

This happens [here](https://web.reveal-stage.smartregister.org/auoSelectJurisdictions/d36e06b3-c556-5f86-801b-d0a686114bcb/ecfbf048-fb7a-47d8-a12b-61bf5d2a6e7b) - it should always show an integer

[2020-12-08 09:05] moshthepitt opened #1444 "Fix z-index issue on planning tool"
![zindex](https://user-images.githubusercontent.com/372073/101462797-aa752100-394d-11eb-9ba4-44cbbc535e92.png)

[2020-12-08 10:44] samkanga opened #1445 "Case Triggered Plan on Thailand Preview Not Showing data on WebUI Monitor Page"
- [ ] The client has reported having dropped structures while working with the plan [here](https://web.reveal-th-preview.smartregister.org/focus-investigation/map/aba909a5-1776-5c20-a071-fb4b6390c28a/RACD_register_families). They went ahead to sync the data but the captured data is yet to reflect on the WebUI monitor page.

[2020-12-08 11:16] #1424 closed

[2020-12-08 11:26] moshthepitt commented on #1440
Closing this as we don't need to (and can't) do anything to fix it in this repo.

[2020-12-08 11:26] #1440 closed

[2020-12-08 14:08] #1442 closed

[2020-12-08 14:15] moshthepitt commented on #1429
@ciremusyoka  We need to turn on the old MDA plan intervention type and update the template to match this structure (ensure action codes do not change):

[code]

[2020-12-08 14:36] moshthepitt commented on #1441
Blocked by https://github.com/OpenSRP/opensrp-server-web/issues/655

[2020-12-08 17:22] Wambere commented on #1445
@samkanga tasks had not synced. These should be visible now

[2020-12-09 05:59] samkanga commented on #1445
@Wambere I confirm the data is now visible on the map. Thank you. Did you mean the tasks had not synced from the OpenSRP server to the Canopy DB or is this from the materialised views to the dashboard ? Do we know what caused the tasks not to sync?

[2020-12-09 07:17] Wambere commented on #1445
@samkanga the data had not synced from OpenSRP into the warehouse. Not sure what caused this, but according to the logs, the first report of this was on Dec 7th at 7.45am

[2020-12-09 07:20] moshthepitt commented on #1445
Seems this is done.  Closing.

[2020-12-09 07:20] #1445 closed

[2020-12-09 22:03] craigappl opened #1448 "RVL-1358 Senegal Demo Plan displaying NaN on Zambia Prod"
The Zambia Production system is displaying NaN for the Senegal Demo plan. It looks like it's displaying this because React can't find a value for the calculated columns. **This is only showing a problem at the lowest level before the user clicks to enter the map view.**

Link: https://web.reveal-zm.smartregister.org/intervention/irs/report/73b6805f-c6a9-5194-9af7-f8a2ac9c7d7c/b0d8c52e-1d0b-4107-80

[2020-12-10 06:43] #1430 closed

[2020-12-10 07:19] moshthepitt commented on #1448
@craigappl this was fixed by https://github.com/onaio/reveal-frontend/pull/1447

[2020-12-10 07:33] samkanga opened #1449 "Macepa Full Reveal data not showing on dashboard after syncing for Gwembe district"
**Zambia prod
version 1.1.0
Superset-user
Reveal version 5.3.10
user: dcgw9**

1. login to web ui
2. go to monitor
3. select IRS Reporting
4. then select plan. MACEPA: Full Reveal 2020 IRS Plan

**Current behavior:**
No data is showing on the dashboard for the visited areas in Gwembe district.
![image](https://user-images.githubusercontent.com/5908630/101735378-dd94ed00-3ad2-11eb-8cc1-e33d3e8c6372

[2020-12-10 07:36] #1448 closed

[2020-12-10 07:37] samkanga opened #1450 "Macepa Full Reveal dashboard not showing number of structures for some areas and wrong number for Gwembe district"
**Zambia prod
version 1.1.0
Superset-user**

1. login to web ui
2. go to monitor
3. select IRS Reporting
4. then select plan. MACEPA: Full Reveal 2020 IRS Plan

**Current behavior:**
1. The dashboard is not returning and showing the number of structures on different levels.
2. Wrong/low total of structures for Gwembe district. See sample screen shot below
![image](https://user-images.githubusercon

[2020-12-10 09:24] moshthepitt opened #1451 "IRS map loads forever when Superset error is encountered"
e.g. https://web.reveal-zm.smartregister.org/intervention/irs/report/4cbe10b9-231e-5084-9646-0a923dcfa0da/04f4a5b9-31a5-48e9-bcd0-c389be95c35d/map

[2020-12-10 09:53] moshthepitt commented on #1450
@samkanga please consider the below:

1. For Zambia IRS reports the structure count is based on geo-queries so you cannot easily directly compare it to the structure count on the planning tool (this count is gotten from the API and it **does not** do geo-queries).  For instance, the structures from the jurisdiction named `chip_10` was moved by geo-queries to a jurisdiction with the id `04f4a5b9-31

[2020-12-10 13:33] samkanga commented on #1450
@moshthepitt is the issue above cause by users dropping points in the wrong locations on the android device?

[2020-12-10 13:50] moshthepitt commented on #1450
@samkanga this issues appears to be about missing structures.  We already know the enumerated structures.  What I am pointing out is that not all the enumerated structures show up in the plan report for the reasons I list above.

Now [this other issue](https://github.com/onaio/reveal-frontend/issues/1449) is interesting: it could be that the users are collecting data against structures which will

[2020-12-11 13:09] moshthepitt commented on #1450
An extreme example:

[code]

[2020-12-14 13:50] #1451 closed

[2020-12-15 07:36] #1444 closed

[2020-12-15 14:07] ciremusyoka commented on #1432
Closed by #1234

[2020-12-15 14:07] #1432 closed

[2020-12-15 23:12] craigappl commented on #1450
@moshthepitt , I took it a step further and looked for the geo_jurisdiction_id in the structure_geo_hierarchy.
[code]
The returned results was a single geo_jurisdiction_id `9757e312-37f3-4916-8b6f-18ee4ec244dz`
When I query the Zambia production OpenSRP server, https://reveal-zm.smartregister.org/opensrp/rest/location/9757e312-37f3-4916-8b6f-18ee4ec244dz?is_jurisdiction=true&return_geometry=false

[2020-12-16 03:22] craigappl commented on #1429
It didn't fully pass QA today.

Tested:
1. Creation of a plan on stage - Passed
2. Editing a plan on stage - Passed
3. Plan content that was created - Failed
4.  Planning Tool - Passed

The content of the Plan that is generated needs to be modified in the following way:
- [ ] Remove fiReason, which is embedded in the value
- [ ] The family registration action has the subjectCodableConcept of Locat

[2020-12-16 03:24] craigappl commented on #1429
Below is the plan that was generated
[code]

Below is the sample plan that I sent over on Slack
[code]

[2020-12-17 08:13] #1429 closed

[2020-12-17 15:47] craigappl commented on #1450
Here's the NTD Hierarchy
![image](https://user-images.githubusercontent.com/6067053/102510035-0f123900-403c-11eb-85ba-8d78a8ca93aa.png)

Here's the Zambia Macepa hierarchy
![image](https://user-images.githubusercontent.com/6067053/102510108-1e918200-403c-11eb-8f49-86c0535691ee.png)

[2020-12-17 17:03] moshthepitt commented on #1450
Yikes.  Makes sense now why this is behaving weirdly.

[2020-12-17 17:55] craigappl commented on #1450
I have made the NTD operational areas inactive. Please rerun the geoqueries and see if it fixes the problem. If not, we will need to start on the long term solution.

[2020-12-18 10:16] moshthepitt commented on #1450
@craigappl @samkanga  It seems that the problem goes deeper.  The Gwembe in the VL hierarchy is also being selected.  I'm starting on the long term solution.

[2020-12-18 13:06] craigappl commented on #1450
Thanks Kelvin

On Fri, Dec 18, 2020 at 2:17 AM Kelvin Jayanoris <notifications@github.com>
wrote:

--

*Craig Appl*

Health Technical Lead

<http://bit.ly/2aeOueY>

<http://bit.ly/2ckhfuf> <http://bit.ly/2csSdWW> <http://bit.ly/2bYdtWl>

[2020-12-22 06:50] isabelcshaw opened #1456 "Client upload feature is throwing a 400 error"
CHAI did a test of the client upload feature on the "Clients" page and reporting that when they used the client template, the sync failed and showed a 400 error.

This is the client csv template: https://docs.google.com/spreadsheets/d/1uqX6BHxXb5M-3GHVTI2tbCKLMuNbF9hOC5iTHsSd41Y/edit#gid=0

I believe the only constraint is that you need to have the school_id in order for clients to be created. It

[2020-12-22 06:54] isabelcshaw opened #1457 "Client download feature only allows selection of OA"
The client download feature at the bottom of the "Clients" requires you to selection your location from a dynamic dropdown menu in order to download a csv of clients.

Right now, it requires you to click through all the way down to the operational level. CHAI/Akros would like to be able to export a csv at any level of the location hierarchy.

(Note: if there are real performance issues related to

[2020-12-22 07:51] samkanga opened #1458 "RVL-1396 - Structures not appearing in Web UI"
**Thailand Preview Environment**

1. Log-in on Android as bvbd_mhealth/Test123
2. Select operational area BVBD training site 3
3. Select plan: A1 Thailand test site BVBD 3 2020-12-21 vr2
4. Add a new structure and carry out family registration
5. Save form and sync
6. Check Web UI that structure appears

Screenshots below from mobile app and Web UI monitoring tab
Web UI monitoring tab:
![image](ht

[2020-12-22 08:03] moshthepitt commented on #1456
Seems that we need to do the following:

1. Figure out why the CSV template downloaded is blank
2. Test and ensure that a properly filled in CSV will work

[2020-12-22 08:05] moshthepitt commented on #1456
@isabelcshaw I am not sure about this.  We can probably liase with an OpeSRP API engineer to get some school ids so that you can continue to test.

[2020-12-22 08:08] moshthepitt commented on #1457
For this, we need to determine if the current APIs can actually support downloading students/clients for all operational areas at once.  There are likely performance implications but we should understand them some more and then make a decision.

[2020-12-22 08:33] githengi commented on #1457
@moshthepitt could you confirm the API that is used for the download

[2020-12-22 08:43] samkanga opened #1459 "Existing Team Assignment not Showing on Some Locations on the Zambia Production Instance"
There are instances where the existing team assignment is not being reflected on the Reveal WebUI for Zambia production. This is leading to an error 400 as shown on the screenshot below. The issue on the screenshot has however been resolved, but the occurence needs additional investigation

![image](https://user-images.githubusercontent.com/5908630/102867942-8be15080-444a-11eb-81ac-1f9c2bfc9509.pn

[2020-12-22 08:44] moshthepitt commented on #1457
@githengi this is what we are using https://reveal-stage.smartregister.org/opensrp/rest/upload/template?event_name=Child%20Registration&location_id=c9ab2dab-ad95-4bc9-a3e8-6d433940fd4z

Some notes:

- I think that for NTD each "school" is a structure.
- I don't know why that URL currently returns an empty CSV.

[2020-12-22 08:47] moshthepitt commented on #1459
@samkanga @githengi could you give details on the assignment that was being not detected by the web app.  Things like start date, end date, etc

[2020-12-22 09:17] moshthepitt commented on #1458
@samkanga I want to discourage issues without sufficient information in the future so permit me to say and ask the following (which should be included in future issues):

1. As one can see, the web app is accurately showing the data that it has. i.e. you can see that the web app claims there are zero structures for it to display.  For this issue, which of the following is correct:
    - Do we beli

[2020-12-22 09:34] samkanga commented on #1458
This is noted. Find the requested information below:
1.  Based on #4 above the web app is working OK, but did not receive the data.
2. [PlanID](2f148705-4f2d-57d7-b487-923f3d69dd4b)
3. [Here](https://web.reveal-th-preview.smartregister.org/focus-investigation/map/50a5d93c-576d-59c4-a695-1cbb7be8ab2b/RACD_register_families ) is the URL of the plan on the Web App:
4a. Yes. Do we know what causes the

[2020-12-22 09:37] moshthepitt commented on #1458
@samkanga is this a question for either @Rkareko @githengi ?

[2020-12-22 09:40] githengi commented on #1457
After checking. I have noticed the problem to be caused by missing upload configs on settings. @moshthepitt @isabelcshaw might you have an older file that was being downloaded, or it should look like https://docs.google.com/spreadsheets/d/1uqX6BHxXb5M-3GHVTI2tbCKLMuNbF9hOC5iTHsSd41Y/edit#gid=0

[2020-12-22 09:44] githengi commented on #1459
The assignment above on `Kakn-15` was not being detected despite it existing.

I had to manually update the fromDate to today for the assignment to reflect on webUI.

The fromDate that was there previously was  `2020-11-30` and toDate `2021-01-15`

[2020-12-22 09:47] githengi commented on #1458
@samkanga No sure if this is sync between device and OSRP server, or  OSRP server and canopy?

[2020-12-22 12:32] moshthepitt commented on #1458
@githengi I can't seem to find tasks for the above plan `2f148705-4f2d-57d7-b487-923f3d69dd4b` anywhere - in OpenSRP or Canopy.

[2020-12-22 12:41] samkanga commented on #1458
@githengi as a temporary fix, could we check if the data is available on the OpenRMS server and attempt to sync it with Canopy?

[2020-12-22 12:45] moshthepitt commented on #1458
That is what I am currently trying to determine @samkanga

[2020-12-22 13:04] githengi commented on #1458
@moshthepitt below are the task summary for the plan

    12 | RACD Register Family
     4 | Mosquito Collection
     1 | BCC
    38 | Bednet Distribution
    58 | Blood Screening
     6 | Larval Dipping

[2020-12-22 13:10] moshthepitt commented on #1458
@samkanga please check it now

[2020-12-22 14:09] samkanga commented on #1458
@moshthepitt @githengi I confirmed that the data is now showing up on the WebUI. Thanks.

[2020-12-22 14:11] moshthepitt commented on #1458
For future reference, this was a Canopy connector issue.  It should probably be created on the Canopy repo if it happens again.

[2020-12-22 14:11] #1458 closed

[2020-12-22 14:48] githengi commented on #1456
@isabelcshaw Missing settings are the cause of the blank CSV.

I have talked with Ronald to upload settings so that this is able to work.

[2020-12-22 14:53] moshthepitt commented on #1456
Thank you @githengi

[2020-12-22 15:12] samkanga commented on #1458
@moshthepitt what was the issue with the canopy connector and how was this resolved? Was this the source of the issue in the last occurrences?

[2020-12-22 15:14] moshthepitt commented on #1458
@samkanga for some reason the Canopy connector had not pulled in all the tasks.  Not sure why,  I fixed it be re-pulling.  @Wambere may know more (when she is back) on why this happen(s/ed)

[2020-12-23 11:18] samkanga commented on #1459
@moshthepitt have you had a chance to look at the issue above?

[2020-12-23 12:40] moshthepitt commented on #1459
@samkanga no I have not

[2021-01-04 09:50] samkanga commented on #1419
I will close this ticket in favor of https://github.com/onaio/reveal-frontend/issues/1302

[2021-01-04 09:50] #1419 closed

[2021-01-07 16:27] ciremusyoka commented on #1421
@samkanga should we re-order the date column (Option A below) or the day column (Option B below)?
Option A:
| Day  | Date |
| -------| --------|
| 1 | 2020-11-09 |
| 2 | 2020-11-10 |
| 3 | 2020-11-11 |

Option B:
| Day  | Date |
| -------| --------|
| 3 | 2020-11-11 |
| 2 | 2020-11-10 |
| 1 | 2020-11-09 |

[2021-01-08 06:21] samkanga commented on #1421
@ciremusyoka we should go by option 1. Note that for the example you have given the dates are correctly ordered, starting with the oldest to the newest. On the dashboard given, the newest date was being given as day 1. Let me know if this is clear.

[2021-01-08 09:20] #1421 closed

[2021-01-08 11:52] samkanga opened #1462 "TH - Update on Thai Strings on the WebUI"
The client has shared a number of strings on the Thai WebUI that need to be updated. These are provided on the document [here](https://docs.google.com/spreadsheets/d/1ONHpPpuPxNW9_-vP8gTTcrVHTbKTT3WaN-cfdySeMCs/edit?folder=1MN5J-PK6KUOHC6gw3KKmf12vV-GQFPkr#gid=218216998) under the sheet named WebUITrans.

[2021-01-11 12:39] ciremusyoka commented on #1428
@samkanga The planning tool is visible.

[2021-01-11 12:39] #1428 closed

[2021-01-11 12:58] ciremusyoka commented on #1459
The fix will be to implement pagination for the `/organization/assignedLocationsAndPlans` endpoint to ensure we fetch all assignments.

[2021-01-12 07:03] samkanga opened #1464 "Targets Set in Plan Does not Match Values on monitor page"
There concern raised by the CHAI team that the targets set in the plan creation do not match the targets on the monitoring page. For example for the plan on this link: https://web.reveal-th-preview.smartregister.org/focus-investigation/map/b58e84fc-0add-540b-8361-1407a3ae6265 the target at plan creation for `household registration` is 80. However, on the monitoring page, it reads 16. See the scree

[2021-01-12 10:56] #1459 closed

[2021-01-12 11:45] Naima-Bashir commented on #1464
I have tested this. Below are the steps i took and the findings.
1. I created a new FI plan on web(Thaiuser2)
2. I then logged in on android and selected the newly created plan.
3. I created new residential structures and such and completed the steps
4. I then synched the app and went to confirm on web that the changes are reflected.
5. I noticed that the targets values changed. See screenshots be

[2021-01-12 14:06] ciremusyoka commented on #1464
@samkanga  This is a calculation issue.
In cases were the goal unit is percentage there is a calculation being done
`(goal.goal_value * goal.task_count) / 100`
that is why we have values like 10 of 16  from
`(80 * 20)/100 = 16`

Which is right as we can't have 10 0f 80 .
That will be mixing up units. i.e percentage (80%) with count(10 tasks).
The calculation is getting the total number of tasks at

[2021-01-14 08:38] Naima-Bashir opened #1467 "Upload json form is throwing a 400 error RVL-339"
Login to web stage: https://web.reveal-stage.smartregister.org/manifest/file-upload
Go to admin- releases and click on upload form.
Upload a json form.
I uploaded a blodd screening json form.
Click upload.
Observe the error.
![image](https://user-images.githubusercontent.com/61143692/104565209-ff970780-565c-11eb-9e9b-dac658a43534.png)

[2021-01-14 10:18] samkanga opened #1468 "Data Synced on Android Device not Showing up on Indicator Count"
The planID for the affected plan is `d96f5c59-dea2-4612-8da7-2753bbbe8259`

The users went to the field and recorded 42 blood draw data and synced completely. However the web UI shows the blood screening result = 6. Its not clear what the issue is. Below are some screen shots from the synced device and of the dashboard.

Synced Device
![image](https://user-images.githubusercontent.com/5908630/1045

[2021-01-18 07:56] ciremusyoka commented on #1468
Closed by https://github.com/onaio/canopy/issues/1773

[2021-01-18 07:56] #1468 closed

[2021-01-20 07:19] #1439 closed

[2021-01-20 11:21] samkanga commented on #1462
@ciremusyoka the translation made on the google document [here](https://docs.google.com/spreadsheets/d/1ONHpPpuPxNW9_-vP8gTTcrVHTbKTT3WaN-cfdySeMCs/edit?folder=1MN5J-PK6KUOHC6gw3KKmf12vV-GQFPkr#gid=209283218) missed one character for the translation on row 3 (highlighted in green) of the WebUI trans sheet. This will need to be redeployed both to preview and production once fixed.

[2021-01-20 12:27] samkanga opened #1470 "RVL-1421 - BCC activity data not syncing to Web Dashboard"
BCC data was captured on the Thailand production android application and successfully synced. However, the data does not seem to show up on the WebUI page. [Here](https://mhealth.ddc.moph.go.th/focus-investigation/map/6bc867a9-bed1-50bf-9e5c-f263d283b8ba/BCC_Focus) is the link to the WebUI page for the activity.

The user who submitted the data is `vbdu_6.5.3-1`

Below is the android image showing

[2021-01-20 13:57] #1383 closed

[2021-01-20 13:57] #1389 closed

[2021-01-20 15:18] samkanga commented on #1467
I will transfer this issue to OpenSRP Web [here](https://github.com/OpenSRP/opensrp-server-web/issues/688), and close this ticket.

[2021-01-21 12:25] #1462 closed

[2021-01-25 07:27] ciremusyoka commented on #1467
Instead of throwing 400 we should  show the exact message of the error thrown by opensrp server

[2021-01-26 15:26] samkanga opened #1472 "Creation on Superset Option to Download Zambia Plans in CSV Exports"
Akros would like assistance in building charts on superset that will enable them make csv exports for the following plans:
1. MACEPA IRS-Lite Southern Live Plan
2. MACEPA IRS-Lite Western Live Plan
3. All records ever submitted for Zambia since inception

These are similar to the chart created [here](https://superset.reveal-zm.smartregister.org/superset/explore/?form_data=%7B%22slice_id%22%3A%2034

[2021-01-26 16:54] ciremusyoka commented on #1302
**Thailand local 502 error**
There is a JSON parse error cause by this [express line](https://github.com/onaio/express-server/blob/ae7f938d655b12ba90fb5195fd74a0b5537b3aa8/src/app/index.ts#L197). The line is expecting a string that can be serialized to JSON but receives the html document below when there is an invalid keycloak session on the browser.
`<!doctype html><html lang="en"><head><title>HT

[2021-01-26 16:56] moshthepitt commented on #1302
We can probably just redirect to the react url that handles logging out and then React will do its thing.

[2021-01-26 17:05] ciremusyoka commented on #1302
Have tried this but it is only clearing the express session and not the keaycloak. Then on hitting the 'login with opensrp` it keeps redirecting back to login.

[2021-01-27 09:00] samkanga opened #1473 "Update Thailand WebUI to Accommodate the Shift of Task Generation to OpenSRP"
- [x] The Thailand deployment will be shifting the task generation from NiFi to OpenSRP. As part of the process, the flags in the plans that tells NiFi to generate tasks for the respective plans will need to be turned off.

[2021-01-27 09:18] moshthepitt commented on #1472
@samkanga would the client agree to getting access to this via the database directly?  I fear that Superset is not the best tool for this.  For instance, we will likely not be able to achieve "All records ever submitted for Zambia since inception" unless we put in an uknown (as of right now) amount of effort to make it such that Superset can request all those records reliably without overloading t

[2021-01-27 09:32] samkanga commented on #1472
@moshthepitt thanks for the insights. Based in the explanation, I think we can drop #3 and I can check with the client if they are OK with a csv download. Would the impact of #1 and #2 on the system be similar to #3, or can these be achieved easily?

[2021-01-27 10:22] samkanga opened #1474 "Macepa IRS Lite Southern Live Plan not Showing some Values"
The Macepa IRS Lite Southern Plan is not displaying data on the` % Total Structures Sprayed` ,  `% Targeted Structures Sprayed` and `Found Coverage` columns as per the plan accessible [here](https://web.reveal-zm.smartregister.org/intervention/irs-lite/report/88d4f46e-5fd0-4a02-967f-57624584ab8b/52a8e221-1f3c-4d45-8130-36b0d1204017). Below is a sample screenshot:

![image](https://user-images.gith

[2021-01-27 11:13] moshthepitt commented on #1472
@samkanga the impact is similar.  Superset is not ideal for these CSV downloads.

Last time it was Craig who create that download dashboard.  So not sure of the LOE for 1 and 2, maybe half a day.

[2021-01-27 11:52] samkanga opened #1475 "Add plan comment field for use when retiring a plan"
The BVBD team in Thailand would like to ensure that users provide additional details when retiring plans. This should be through a mandatory field that contains a drop down of reasons. This should be available when creating a plan or when editing a plan. Below are the allowable options and only one option can be selected at a time.

- กำหนดรายละเอียดแผนผิด (assigned wrong plan details)
- สร้างแผนซ

[2021-01-27 13:03] Naima-Bashir opened #1476 "Unable to select OA - error processing location history-RVL 1436"
Version: 5.3.18
Server: TH_ preview
User: bvbd_mhealth

Problem: Unable to select operational area - error processing location hierarchy.

Steps to reproduce:
1. Download the latest Thailand preview build
2. Login as bvbd_health with the wrong password
3. An error message on OAuth login error is displayed
4. Go to settings and clear data
5. Try logging in again but with the correct password
6. Abl

[2021-01-27 13:05] #1476 closed

[2021-01-28 14:12] Naima-Bashir commented on #1439
This has passed QA.
When one logs in, it does not log the user out, it refreshes the token gracefully

[2021-01-29 09:13] ciremusyoka opened #1477 "Logout user after specified time"
Add a configurable functionality that will logout user gracefully after a specific amount of time.

[2021-01-29 09:17] moshthepitt commented on #1477
So right now @Naima-Bashir reported that the token is refreshed continually.

We want to change things such that:

1.  There is a config to turn on/off the auto-refreshing.  If it is off then you will be logged out when token expires
2.  There is a config to control how long a session stays active.  If it is set to 60 * 60 * 3 seconds, for example, then that is the length of time that the token wi

[2021-01-29 09:33] ciremusyoka commented on #1477
My thought is this config will be on express server. Right?

[2021-01-29 09:36] moshthepitt commented on #1477
Yeah on the express side.  Likely all the configs regarding this will be there.

[2021-02-01 04:58] samkanga opened #1478 "Could Not Load Points on Map Error on Thailand Monitoring Page"
Users cannot see the following 3 plan on the monitoring page for Thailand production.

- B2 ป่ามะกรูด (6508081101) 2021-01-26
- B1 ขยอง (3210110501) 2021-01-28
- A1 บ้านนา (1) (8203050304) 2021-02-01

A sample error can be accessed on the link [here](https://mhealth.ddc.moph.go.th/focus-investigation/view/ba93849d-9338-4f7d-a921-da25b36809df).

Below is a sample error that as it is being experienc

[2021-02-01 07:57] ciremusyoka commented on #1470
@samkanga this was fixed by updating the ware house and the error was attributed to the server version issue on opensrp reported [here](https://github.com/onaio/canopy/issues/1773).

[2021-02-01 07:57] #1470 closed

[2021-02-01 08:01] ciremusyoka opened #1479 "Milestone ending 12th Feb 2021"

[2021-02-01 08:01] #1479 closed

[2021-02-01 08:09] ciremusyoka commented on #1474
The targets for the jurisdictions should be uploaded

[2021-02-01 09:50] ciremusyoka commented on #1478
This is happening because the jurisdictions don't have parents
`plan name:    B2-ป่ามะกรูด (6508081101)-2021-01-26`
`plan id:      2a8ed57a-ab0d-58e0-84da-642a75b2de39`
`jur id:       ba93849d-9338-4f7d-a921-da25b36809df`
`jur parent id: 5b8496aa-96ed-44e4-91ab-2255a3d1019f`

`plan name:    B1 ขยอง (3210110501) 2021-01-28`
`plan id:      5fa37f7e-6dc2-5943-bce9-2d8c72757883`
`jur id:       ed58aec

[2021-02-01 13:14] ciremusyoka commented on #1478
The parents are not been loaded to the ware house because they don't have geometries.
parent ids `5b8496aa-96ed-44e4-91ab-2255a3d1019f,
2b8ef751-182f-4b7c-868f-18cb668bb3c7,
3672da62-13df-4329-82ae-ff59202f4c19`

[2021-02-02 09:06] ciremusyoka commented on #1478
Fixed by adding geometries with empty coordinates to the parent jurisdictions.
sample jurisdiction
[code]

[2021-02-02 11:59] #1477 closed

[2021-02-03 05:40] samkanga opened #1480 "Swap of Wording on Thailand Monitoring page"
Swap the the position of the following two words: ระยะท้องที่ and สถานะ as per the screenshot below on the Thailand Monitoring page:

On the RACD
![image](https://user-images.githubusercontent.com/5908630/106703474-5c059b00-65fb-11eb-825f-40f15c965be1.png)

On the Routine Plans
![image](https://user-images.githubusercontent.com/5908630/106703503-658f0300-65fb-11eb-9a48-b9f0279d78e2.png)

The struc

[2021-02-03 07:16] githengi commented on #1475
For this ticket we should add editor to track the user who last edited the plan

When retiring the plan the event should be created that will capture the details on why the plan was retired

- The baseEntityId of the event to be plan identifier
- The eventType should be retire_plan
- The entityType should be Plandefinition
- The reason the plan was retired should be saved on the obs section of the

[2021-02-03 07:32] moshthepitt commented on #1475
@githengi just for avoidance of doubt, could you post a sample JSON payload for this?

[2021-02-03 08:29] #1302 closed

[2021-02-04 05:20] samkanga opened #1481 "Missing Column Details for Case Classification on Monitoring Page"
The case classification column (RACD) on the monitoring page to the Thailand Preview and Production has no data. Below is a sample screenshot:

![image](https://user-images.githubusercontent.com/5908630/106848297-bb2de300-66c1-11eb-84e2-7c44ac9eea1a.png)

[2021-02-04 06:01] samkanga opened #1482 "Enforce Automated Selection of Subvillage Classification When Creating Routine Plans"
**Problem**
Users can sometimes get the subvillage classification (A1, A2, B1, B2)  for routine/reactive plans wrong.

**Requirements**
- The subvillage classifications is automatically selected from Biophics
- The subvillage classification field in the plan creation page is displayed but not-editable
- Subvillage classification still appears in the name of the plan, in the monitoring page and das

[2021-02-04 07:13] ciremusyoka commented on #1480
Additional translations [here](https://docs.google.com/spreadsheets/d/1ONHpPpuPxNW9_-vP8gTTcrVHTbKTT3WaN-cfdySeMCs/edit?folder=1MN5J-PK6KUOHC6gw3KKmf12vV-GQFPkr#gid=209283218) under webUI trans NOs 29,30 and 31.

[2021-02-04 09:55] samkanga opened #1484 "Splitting the Bednet Distribution Activity into Individual Tasks"
Presently the bed net activity on reveal web is bundled into Surveying / Dipping / giving out mosquito nets. CHAI would like to split these up into individual activities.

Considerations:
1. Short-term - update bed net distribution form with option to run a survey, unit count of ITN, and distribution.
2. Need to define the questions on each of the forms.
2. Would require Ona to enable form configu

[2021-02-04 10:18] githengi commented on #1475
@moshthepitt below is the event schema

[code]

This can be posted to `/rest/event` enpoint

[2021-02-04 10:57] samkanga commented on #1478
This has been resolved and I will go ahead and close it.

[2021-02-04 10:57] #1478 closed

[2021-02-04 11:03] ciremusyoka commented on #1441
Also depends on https://github.com/OpenSRP/opensrp-server-web/issues/705

[2021-02-04 11:10] moshthepitt commented on #1475
Nice.  Thank you Sam.  @samkanga this one is now ready to be scheduled.

[2021-02-04 12:16] samkanga commented on #1378
CHAI has revised this ticket to specify fields that should not be editable. Those fields should remain hidden from the user so that only the fields that should be editable are visible. The field below in reactive and routine plans should be hidden on the draft plans:

1. Activity type
2. Action plan types
3. Activities:
- The operation
- Reason
- Definition URI
- Start date
- End date
- Importance

[2021-02-04 12:27] moshthepitt commented on #1378
@samkanga this is incomplete in my view.  For us to start planning this work we need more information:

- What is the reasoning behind this change?  I mean that it seems that for draft plans one should be able to make edits, no?
- previously we did not hide these fields but made them not editable so that you can see the value.  If we completely hide them, where will the value be displayed?  Won't

[2021-02-05 04:58] samkanga opened #1485 "Create new activities in the Dynamic FI plan"
**Requirement**
Include an IRS activity in the Dynamic FI plan

**What needs to be Defined?**
- Structure of form template
- Color coding of structures

Level of effort to add a new activity template (options):
1. Use an IRS activity template from the Dynamic IRS plans
2. Create a new IRS activity template for the Dynamic FI plan

[2021-02-05 05:19] samkanga opened #1486 "Updating Layout of Thailand Manage Plans Page"
**Problem**
- Users are getting confused between reactive and routine FI plans in the manage plans section

**Requirements**
- Update the manage plans page to look similar to the monitor plans page (i.e. separate tables for Reactive and Routine plans)

Refer to proposed UI below
![image](https://user-images.githubusercontent.com/5908630/106992894-8d60a100-678a-11eb-9fc9-f9a0d5a299cc.png)

[2021-02-05 05:21] samkanga commented on #1486
@moshthepitt Can we use existing activity type (Dynamic FI/Be) to differentiate between routine and reactive plans. Advice if there are any alternative approaches.

[2021-02-05 07:04] moshthepitt commented on #1485
@samkanga could you provide more information please?

[2021-02-05 07:10] moshthepitt commented on #1486
@samkanga I'm very unlikely to be convinced that this is a good idea.  Especially when I also take into account all the other requests to change this same page to look or work differently.

- What is the Reveal product vision regarding this?
- From a technical point of view is the additional complexity worth it?
- Do we need input from our design department?

[2021-02-05 07:35] moshthepitt commented on #1484
This needs input from @githengi and possibly others as it means we are modifying the data model

[2021-02-05 07:36] moshthepitt commented on #1482
@samkanga I do not understand what specific changes are being requested for in this issue.

[2021-02-05 11:23] samkanga opened #1487 "Plans with only blood screening tasks are not appearing in the Web UI monitoring page"
**Description**
**Server**: Thai Preview
**User**: bvbd_mhealth
**Plan**: https://web.reveal-th-preview.smartregister.org/plans/update/03b381af-da01-542b-8ca3-adca7a72b3c0
**Expected behaviour**: Able to view the plan in the monitoring page.

**Operational area**: BVBD training site 3

**Steps to reproduce:**
1. Go to the monitoring tab
2. Filter the normal work table for `blood screening`
3. No r

[2021-02-05 11:27] samkanga commented on #1475
@moshthepitt @ciremusyoka What is the estimated LoE for this ticket?

[2021-02-05 13:06] ciremusyoka commented on #1487
The plan is not syncing in to into `plan_jurisdiction` table of the warehouse.

[2021-02-05 15:38] ciremusyoka commented on #1487
@samkanga no. 4 can't work because the last part is not supposed to be the plan id.

[2021-02-08 06:29] ciremusyoka commented on #1475
@samkanga @moshthepitt  this will take 2 days.

[2021-02-08 10:34] samkanga opened #1488 "Plans are showing different status on Action plan page and on the Monitor page for Thailand Production"
Thailand has reported instances where the same plan shows different status on the action plan page and on the monitoring page. A case in point is the plan with the details below:

- plan : A1 - โป่งลึก (7608060201) - โสน คำสอน - 2021-01-15 - Site
- plan id: b618ca2b-1469-4221-8ff3-a36e08ec8f8c
- status in 'manage plans' (web UI) = complete. [Here](https://mhealth.ddc.moph.go.th/focus-investigation

[2021-02-08 11:52] ciremusyoka commented on #1488
@samkanga The plans are not syncing into the warehouse.

[2021-02-08 13:30] samkanga commented on #1486
@moshthepitt the request here focused on creating uniformity between the two pages that lists the plans. The client says this is to improve the user experience. I can pass this by @rowo and hear his thoughts on the same.
Separately, if we were to go ahead with this, what would be the associated level of effort in days?

[2021-02-08 13:51] moshthepitt commented on #1486
Yeah, I certainly would be hesitant to take this on without Roger's input.

@ciremusyoka could you help come up with the ETA?

[2021-02-08 14:08] samkanga commented on #1482
@moshthepitt the request is to have the location classification made automatically based on data contained in biophics and not have this added manually by a user during the creation of a plan.

[2021-02-08 14:09] moshthepitt commented on #1482
@samkanga that would make this 100% a data engineering (Canopy) project, no?

[2021-02-08 14:14] samkanga commented on #1485
@moshthepitt there is additional information I am waiting on for this. I will update this ticket as soon as I have it.

[2021-02-08 14:15] rowo commented on #1486
I think we probably need to revise the entire UI at some point. For example n the OpenSRP Web work, there are more ways to create hierarchy with subnav and subsections.

For this, our approach should probably be to do the minimal amount of work to fix the problem (if the client is forcing us to fix it). Since there's an existing pattern with separate tables, maybe that's fine. I don't have enough

[2021-02-08 14:24] moshthepitt commented on #1485
@samkanga we probably should loop in someone like @githengi to scope that IRS activity and add it to our general data model.

[2021-02-08 15:15] samkanga commented on #1482
@moshthepitt I am not sure. Should I post the ticket [here](https://github.com/onaio/canopy/issues).

[2021-02-08 15:24] moshthepitt commented on #1482
@samkanga this probably needs more details first.  In this issue there are screen grabs of the web app

But this is a request made later:

So we need a more detailed description of what is required that includes detailed acceptance criteria.

Questions such as these should be answered:

- where is the data in Biophics that is being used for this?
- is it used during plan creation in Biophics (I th

[2021-02-09 03:50] samkanga commented on #1474
The targets are now showing. I will go ahead and close this ticket.

[2021-02-09 03:50] #1474 closed

[2021-02-09 03:53] samkanga commented on #1487
This issue has been resolved. Additional checks being made on the reason for the behaviour. I will go ahead and close it.

[2021-02-09 03:53] #1487 closed

[2021-02-09 03:58] samkanga commented on #1488
I will close this issue as the issue has been traced to serverVersion on OpenSRP and a ticket created [here](https://github.com/OpenSRP/opensrp-server-core/pull/408).

[2021-02-09 03:58] #1488 closed

[2021-02-09 05:20] samkanga opened #1489 "Check on the % Total Structures Sprayed Formula on IRS Lite Dashboard"
Akros has asked that we check the calculation on the column titled `% Total Structures Sprayed`. The desired formula is **(Sprayed Structures/Total Structure) * 100**. For some reason the column with the total structures is displaying zeros. See sample screenshot below to the [Macepa IRS Lite Southern Live Plan](https://web.reveal-zm.smartregister.org/intervention/irs-lite/report/88d4f46e-5fd0-4a0

[2021-02-09 13:52] isabelcshaw opened #1490 "Ensure MDA Point Reporting is updated"
We have updated the drug distribution eligibility age range for Eswatini. This that on the app side, drug distribution tasks will now be generated for a wider range of children. We need to make sure that our MDA Point reporting reflects that same rule. I believe that this should just be a change to our queries/filters - no UI changes are being requested on the reporting views.

Previous eligibilit

[2021-02-09 13:57] isabelcshaw opened #1491 "Allow user to export student list at any level of the location hierarchy"
The "Export Student List" feature is accessed by navigating to "admin" --> "clients."

Right now, when a user tries to download the student list, they are forced to click all the way through the location hierarchy in the dropdown to choose only the school level.

<img width="1077" alt="Screen Shot 2021-02-09 at 8 17 58 AM" src="https://user-images.githubusercontent.com/12836913/107393172-556d9c80-

[2021-02-09 16:34] isabelcshaw opened #1492 "Plan assignment failing for MDA Point Plans"
Right now, the assignment feature is broken for MDA Point plans. This was working fine when tested about two or so weeks ago. I am not sure if it is relevant, but a new hierarchy for Eswatini was uploaded by Akros last week.

Here is the workflow that was tested:

1. Created a MDA Point plan and assigned it to Eswatini  (MDA-Point IS 2021-02-09)
2. Activated the plan
3. Went to the Assign page and

[2021-02-09 19:59] githengi commented on #1485
@moshthepitt the request is here is to add IRS activity to FI plan. The IRS activity can be same as what is in IRS dynamic plans.

@samkanga please the color codes for IRS tasks in a FI plan. Also how these are treated on android where there maybe other tasks

[2021-02-09 20:04] githengi commented on #1482
@moshthepitt I think the flow here is

1. Nifi picks classification from Biophics and saved the classification in the location properties e.g a in a property `case_classificaction`
2. Nifi makes sure that updates on case classification table are synced back to OpenSRP locations
3. When one selects the jurisdiction in Web app, the webapp picks the classification from location properties for the sel

[2021-02-10 04:12] samkanga commented on #1482
@githengi @moshthepitt  I have created a separate ticket for tasks 1 and 2 [here](https://github.com/onaio/canopy/issues/1818).

[2021-02-10 05:45] moshthepitt commented on #1491
@ciremusyoka lets have a quick chat before you start

[2021-02-10 05:50] Wambere commented on #1482
@samkanga the subvillage classification in Biophics are also entered by a user when creating the index case, this is not information in some db anywhere. Which means there is just as much a chance of the user inputting the wrong thing as if done from the web. A better solution would probably be to get this info directly from the source

[2021-02-10 06:04] moshthepitt commented on #1485
@samkanga cool, we can schedule this work for the frontend.  Should take 1 - 2 days if done by an engineer with Reveal context.

[2021-02-10 06:07] moshthepitt commented on #1482
sorry @samkanga @githengi I have questions

- this means that the location properties will have the classification?  Could we get a sample payload of such a location with this property?
- could you describe the phrase "local term" some more?

[2021-02-10 06:35] samkanga commented on #1482
@Wambere that makes sense. I was under the impression that the classification information is already available and stored somewhere on the biophics system. I will do additional follow-up on this and revert.
@moshthepitt I can respond on the second bullet. The `Local term` refers to the filed right below the locations when creating a dynamic FI plan. The Local Term is what is returned by the google

[2021-02-10 06:46] githengi commented on #1482
@moshthepitt the location would look like
[code]

[2021-02-10 09:33] rkodev commented on #1491
@moshthepitt @ciremusyoka
The changes were made to the api **_/rest/upload/template_**  to support the parameter  **_location_id_**  as a comma-separated list if locations or as a higher-level location and it will download all the associated children

[2021-02-10 09:56] samkanga commented on #1482
@Wambere CHAI has confirmed the classification information exists on Biophics and will share details on how to access it.

[2021-02-10 10:07] samkanga commented on #1482
@Wambere here is where to get the classification information on biophics:

[2021-02-10 11:01] Wambere commented on #1482
Looks like there is a lot of nulls. Is there a plan on how to handle these?
I can just post what is there

[2021-02-10 11:32] samkanga commented on #1482
@Wambere let me follow-up with CHAI on the issue of the nulls and revert.

[2021-02-10 13:35] samkanga commented on #1482
@Wambere CHAI has advised we go ahead and fetch the values and replace nulls with N/A. They say the classification list will be updated regularly, so the null values (N/A) should have a classification soon.

[2021-02-10 13:38] Wambere commented on #1482
@samkanga noted. There was 5726 locations with matches. These have already been updated in openSRP

[2021-02-10 14:16] samkanga commented on #1482
@moshthepitt tasks 1 & 2 on the list [here](https://github.com/onaio/reveal-frontend/issues/1482#issuecomment-776206206) have been completed.

[2021-02-10 14:18] moshthepitt commented on #1482
@samkanga feel free to schedule this in the milestone that is most appropriate.

@ciremusyoka could you please provide an ETA?

[2021-02-10 14:25] samkanga commented on #1378
@moshthepitt I had additional discussion with CHAI and below are their responses:
1. The change is aimed at reducing users confusion where users try to open even the read-only fields.
2. The fields are to be hidden for draft, active and completed plans.
3. This is both for Dynamic-FI plans and Case Triggered Plans.
4. I am not sure about the impact this will have with the shift to OpeSRP Web but w

[2021-02-11 07:21] ciremusyoka commented on #1482
@moshthepitt @samkanga  one and half days will be enough.

[2021-02-11 12:37] samkanga opened #1494 "Create Kenya End Fund MDA Dashboards"
**National to Sub County Levels**
As a program manager I would like to see data in a table form showing the number of people treated, broken down by gender and age. The data for the first table will come from the "SCH health worker supervisor summary form" which is sheet 1 on the document [here](https://docs.google.com/spreadsheets/d/1J5IsHWSznKEdT82bxGY6Yzfwi43su34mkX0w8bkAeRU/edit#gid=1800425965

[2021-02-12 07:52] ciremusyoka opened #1496 "Display plan form error of hidden fields"
In cases were there is an error on a hidden field the plan form submit button remains disabled without any warning.
User should be able to see the error blocking them from submitting a plan.

[2021-02-12 09:04] #1473 closed

[2021-02-12 09:55] moshthepitt commented on #1494
Some context https://onaio.slack.com/archives/C8ZNYCRFV/p1613053767080700

[2021-02-12 10:19] #1475 closed

[2021-02-12 14:21] #1480 closed

[2021-02-15 06:44] ciremusyoka commented on #1441
The structure counts are changing when the slider is moved.

Will close this ticket in favour of the above OpenSRP ticket

[2021-02-15 06:44] #1441 closed

[2021-02-15 07:41] #1467 closed

[2021-02-15 08:13] vrajasekaran18 commented on #1378
@moshthepitt For us this is a short-term solution to a wider reveal roadmap item of user permissions. For Focus investigation, the person creating the plan is the actual field worker that will be collecting data on tablets (in the case of IRS you often have the project manager who will likely change most fields). As it's the field worker, they should not be changing the triggers/conditions and hav

[2021-02-15 08:23] ciremusyoka commented on #1492
@isabelcshaw Plans created from planning page should be assigning lower jurisdictions before activating them. The plan you mentioned above is only assigned top jurisdiction only i.e. Eswatini that is why you can't drill down the hierarchy.

[2021-02-15 11:16] Naima-Bashir opened #1497 "Discrepancy between CSV data export for western province and dashboard for MACEPA IRS-Lite Western Live Plan- RVL 1456"
There is no data for the user mcsik1  in the shared IRS lite data exports for the MACEPA IRS-Lite Western Live Plan,  the user was used by the team collecting data in Sikongo district in western province and data is populating on the dashboard.

There is data on the dashboard for the locations Sikongo.
![image](https://user-images.githubusercontent.com/61143692/107939815-54011000-6f98-11eb-8e35-d0

[2021-02-15 11:22] moshthepitt commented on #1497
@Naima-Bashir some thoughts:

1. This data is not generated by the web app or Canopy, but on OpenSRP.  We may need to investigate if this user `mcsik1` has data in OpenSRP.  The results of that investigation would be very useful in figuring out what happened here.
2. Have we checked which provider_id appears in the data that we have?  Once that provider id is identified then the client would be in

[2021-02-15 14:21] ciremusyoka commented on #1491
@isabelcshaw  can we get @rowo input on the best way to implement the selection of the hierarchy levels and be able to stop at any level and export the students list.
cc @moshthepitt

[2021-02-15 14:26] ciremusyoka commented on #1490
@isabelcshaw Thie reports looks Okay to me. Do we have any reports that are different from what is expected?
If we do please point them out.
cc @moshthepitt

[2021-02-16 07:47] ciremusyoka commented on #1491
@moshthepitt Can we have this as a simple drill down table e.g
|#       | Name |      |
|--------|---------|------|
| 1       | Eswatini| Download|
| 2       | Zambia| Download|
| 3     | Namibia| Download|

[2021-02-16 10:59] ciremusyoka opened #1498 "Make it possible to upload and download jurisdiction structure counts"
- [ ] Upload and download structure count jurisdiction metadata (`jurisdiction_metadata-structures`)

[2021-02-16 11:35] Naima-Bashir opened #1499 "Thai Translations"
Pedro added some new strings to be translated:

To retire this plan, select a reason and proceed
หากต้องการยกเลิกแผนนี้ โปรดระบุเหตุผลและดำเนินการต่อ
Proceed
ดำเนินการต่อ
Retire Plan Reason
เหตุผลที่ยกเลิกแผน
Other reason
เหตุผลอื่น
RACD Register Family
การลงทะเบียนครัวเรือนของงาน RACD

[2021-02-16 11:41] Naima-Bashir commented on #1498
is this a new feature  https://github.com/onaio/reveal-frontend/issues/1498 ? And what is the LoE so that I can communicate with the client. Their timeline was today  @ciremusyoka

[2021-02-16 12:57] ciremusyoka commented on #1498
@Naima-Bashir A day will be enough

[2021-02-17 07:04] isabelcshaw commented on #1491
@ciremusyoka after talking with Roger, we think the best way forward is to use a nested hierarchy with two components: carrots for drill down and selection just by clicking on the label. Here are a few examples of this, but the best (and simplest) model is this first mock: https://marvelapp.com/prototype/f3igd3h/screen/73173137

<img width="463" alt="Screen Shot 2021-02-16 at 2 27 57 PM" src="http

[2021-02-17 07:41] moshthepitt opened #1500 "IRS progress bar color should still be green if > 100%"
![MACEPA-IRS-Lite-Western-Live-Plan-Lubosi-UHC-Reveal](https://user-images.githubusercontent.com/372073/108171514-aa8f5b00-710c-11eb-8ded-aa8660598173.png)

[2021-02-19 09:04] Naima-Bashir opened #1501 "Support new plan type"
https://reveal-stage.smartregister.org/opensrp/rest/plans/6b485d4b-1043-40ed-ab8a-c64d24045ada
Here is a sample plan that was created by @Rkareko

cc @moshthepitt

[2021-02-19 11:12] Naima-Bashir opened #1503 "Plan not appearing in Monitoring Web UI"
RVL- https://smartregister.atlassian.net/browse/RVL-1463

This is currently blocking the sharing of the Android APK with BVBD. If we can determine this is a web issue we can release the APK for testing with BVBD.

Server Thailand Preview
Problem Some plans are not appearing in the Web UI
Plan https://web.reveal-th-preview.smartregister.org/plans/update/f3a8b614-9b79-5269-a45a-8b724a1eaa6e
Plan nam

[2021-02-22 07:12] Naima-Bashir opened #1504 "Upload event data to a IRS lite plan"
https://smartregister.atlassian.net/browse/RVL-1461

The client would like to have a template which they can populate with values in and then use that to post events data to an IRS lite plan in CSV format.

Does this fall under new features or? @moshthepitt

Some more updates:
The client wants to be able load a fully completed implementation dataset into a newly created plan and for this data to r

[2021-02-22 07:15] moshthepitt commented on #1504
I can't tell what is being asked for.  Can we get more details please?  let's try and answer these questions:  if this is done and delivered to the client, what would it look like?  How would they use it? From where would it be used?

[2021-02-22 07:48] Naima-Bashir opened #1505 "Plan not appearing in Monitoring Web UI"
https://smartregister.atlassian.net/browse/RVL-1463

This is currently blocking the sharing of the Android APK with BVBD. If we can determine this is a web issue we can release the APK for testing with BVBD.

Server Thailand Preview
Problem Some plans are not appearing in the Web UI
Plan https://web.reveal-th-preview.smartregister.org/plans/update/f3a8b614-9b79-5269-a45a-8b724a1eaa6e
Plan name: แก

[2021-02-22 07:54] Naima-Bashir commented on #1504
@moshthepitt

The client wants to be able load a fully completed implementation dataset into a newly created plan and for this data to reflect within the dashboard, this data can be data from a previous implementation plan downloaded as CSV and modified and then re uploaded to a new plan via the provided template, and this data should be viewable on dashboards when the new plan with the uploaded d

[2021-02-22 07:59] moshthepitt commented on #1504
Probably a good idea to involve @mberg and @ukanga as this seems like an entirely new feature that we have not had on the web app so far.  That is, we have not used the web app for data collection to this extent so far.

Basically it seems like the client wants to upload a CSV document, and have the web app then create OpenSRP events.  Certainly interesting, but I'm not sure how this will work.

L

[2021-02-22 08:00] Naima-Bashir opened #1506 "In monitoring tab, case classification column is empty"
Server: Thai production

User: vbdu_12.4.2-1

Monitoring tab shows case classification column empty

![image](https://user-images.githubusercontent.com/61143692/108679156-2ae30100-74fd-11eb-9ebe-fc5c5ff63b56.png)

[2021-02-22 08:05] Naima-Bashir opened #1507 "Enable form configuration for TH-Preview"
https://smartregister.atlassian.net/browse/RVL-339
Requirement

Enable form configurability for all Thailand Focus forms (in English and in Thai) in TH preview first
Once we’ve test form configuration in Preview we can enable form configurability for Thailand production
Dependency

Relevance files upload bug is fixed - https://github.com/OpenSRP/opensrp-server-web/issues/688

Also depends on this:

[2021-02-22 08:06] moshthepitt commented on #1506
@Naima-Bashir this by itself is not enough information.  For all we know it could be the legitimate case that all those plans do not have a case classification.  We (you/the client) needs to point out at least one plan that has case classification information and for which the column is blank.

[2021-02-22 08:48] Naima-Bashir commented on #1489
This is linked to:  https://smartregister.atlassian.net/browse/RVL-1437

[2021-02-22 08:58] ukanga commented on #1504
This seems like a new request that will also require detailed planning and resourcing. Let's push to bizdev for now.

[2021-02-22 09:00] ukanga commented on #1504
Adding any data, the best option is submitting data via OpenSRP data entry endpoints, from tasks to events. Any aspect of automation via using OpenSRP API should suffice for now. Perhaps, can we share the OpenSRP API documentation instead, which should cover this request in the meantime?

[2021-02-23 09:22] Naima-Bashir opened #1511 "Dashboards not populating on Zambia production for the VL and Macepa plans."
JIRA:  https://smartregister.atlassian.net/browse/RVL-1460
Zambia production
Superset-user

Plans tested:
 login to web ui
go to monitor
MDA reporting
![image](https://user-images.githubusercontent.com/61143692/108823544-a1513300-75d1-11eb-92ba-0bc7b91155c5.png)

Then select the plan below
Gwembe Pilot - Dynamic-MDA 2020-09-18

login to web ui
go to monitor
select IRS reporting
VL Zambia 2020 IRS

[2021-02-23 09:29] ciremusyoka commented on #1481
Duplicate of https://github.com/onaio/reveal-frontend/issues/1506

[2021-02-23 09:29] #1481 closed

[2021-02-23 11:02] #1201 closed

[2021-02-23 11:33] #1499 closed

[2021-02-23 11:40] ciremusyoka commented on #1489
Linked to #1498

[2021-02-23 11:50] ciremusyoka commented on #1489
Jurisdiction data with `jurisdiction_metadata-structures` identifier was not being loaded to the DWH.
[Here](https://onaio.slack.com/archives/C01ASKAEZKL/p1614078473013200?thread_ts=1613464821.008600&cid=C01ASKAEZKL) is slack conversation for the fix.

[2021-02-23 13:08] #1491 closed

[2021-02-23 13:33] #1498 closed

[2021-02-23 15:05] rowo commented on #1491
@ciremusyoka so is https://github.com/onaio/reveal-frontend/pull/1502#issuecomment-781987400 what ended up getting built here?

[2021-02-23 15:13] ciremusyoka commented on #1491
@rowo Yes

[2021-02-24 07:34] #1492 closed

[2021-02-24 12:57] Naima-Bashir opened #1513 "Not able to save a dynamic MDA plan on Nigeria Production"
https://smartregister.atlassian.net/browse/RVL-1472

Nigeria Production
Superset-user

login to web ui

go to plan

then planning tool

craete plan, select Dynamic MDA for intervention type

enter details and try to save.

Current Behavior:
I am an able to save the plan, draft or active.

![image](https://user-images.githubusercontent.com/61143692/109003365-6970eb00-76b8-11eb-9a4b-ee59a8f015f5.png

[2021-02-25 06:55] moshthepitt commented on #1494
@Naima-Bashir here are the next steps as of yesterday

1. @lincmba will reach out to you and/or Richard to get samples of the events that we will be dealing with
2. You (@Naima-Bashir ) will provide a sample of an MDALite plan
3. @lincmba will look at the dashboard description with respect to the event and plan samples above and write a document describing how to arrive at the metrics to power the

[2021-02-25 07:00] moshthepitt opened #1514 "Provide a way to delete jurisdiction metadata"
We can upload jurisdiction metadata.  But what if I want to delete a metadata entry for a particular jurisdiction?  Currently the web app does not support this, which represents a problem as [seen here](https://github.com/onaio/canopy/issues/1841#issuecomment-785073718).

We need to make it possible to delete jurisdiction metadata for individual jurisdictions.

[2021-02-25 07:13] #1490 closed

[2021-02-25 08:02] Naima-Bashir commented on #1378
The missing thing is that I don't think that we should do it unless we make a Thailand-only modification (maybe as a package).
So we (Ona) need to decide either to overrule me or communicate this to the client.

lets spec out what that looks like and then we can revisit it

[2021-02-25 08:09] Naima-Bashir opened #1515 "Extend stage plan and tasks expiry date"
The Akros team are currently doing QA on nigeria and have hit a blocker. It si related to this issue here https://github.com/onaio/reveal-frontend/issues/1513

They are requesting extend stage plan and tasks expiry date so that the Akros team can proceed with qa

https://smartregister.atlassian.net/browse/RVL-1472

Nigeria Production
Superset-user

login to web ui

go to plan

then planning tool

[2021-02-25 09:01] ciremusyoka commented on #1511
@Naima-Bashir The last 2 items looks resolved. Am not sure what the exact problem was but my guess is there were some syncing issues.

[2021-02-25 09:06] ciremusyoka commented on #1511
The first issue, Gwembe Pilot - Dynamic-MDA 2020-09-18 MDA plan (plan id `c6c4f7d2-9cc8-5b63-883f-ca1c436da0b8`), the jurisdictions assigned on the plan doesn't exist on OpenSrp server.

[2021-02-25 10:52] Naima-Bashir commented on #1515
Updates on this:
We've extended the plan Nigeria Demo Plan 9 Dec 2020 to expire 2021-12-12 . I assigned user onang to it and have tested on my android phone that one can login to the app and select the plan.
They requested production Dynamic plans as well and decided they will raise tickets for those to be picked up later.

[2021-02-25 12:25] Naima-Bashir commented on #1489
Frazer from akros has uploaded a new csv for targeted structure and total structures. They want advise on the next step
They want to know when will those updated totals will be reflected?

[2021-02-25 14:15] Rkareko commented on #1494
`cdd_supervisor_daily_summary`

`{
  "baseEntityId": "",
  "duration": 0,
  "entityType": "Structure",
  "eventDate": "2021-02-25T00:00:00.000+0300",
  "eventType": "tablet_accountability",
  "formSubmissionId": "86103288-1f97-4fb8-8510-21de84b8f045",
  "locationId": "17de7da3-217f-4e5d-b016-4be97dd49e77",
  "obs": [
    {
      "fieldCode": "location",
      "fieldDataType": "text",
      "fieldT

[2021-02-25 14:16] Rkareko commented on #1494
`cdd_supervisor_daily_summary`

`{
  "baseEntityId": "6cb96ec5-a89f-4eb6-bb5e-83692687095e",
  "duration": 0,
  "entityType": "Structure",
  "eventDate": "2021-02-25T00:00:00.000+0300",
  "eventType": "cdd_supervisor_daily_summary",
  "formSubmissionId": "18a79479-b72e-447c-8d81-26beb29a673a",
  "locationId": "17de7da3-217f-4e5d-b016-4be97dd49e77",
  "obs": [
    {
      "fieldCode": "date",

[2021-02-25 14:17] Rkareko commented on #1494
Sample MDA lite plan
[code]

[2021-02-25 14:26] Naima-Bashir commented on #1489
this needs to be done “Delete jurisdiction-metadata-structures settings entries where the key field is a higher level jurisdiction” otherwise it will still not be accurate for the higher level jurisdictions.
I have added it to the backlog to be picked up after the milestone is complete

[2021-02-25 15:57] ciremusyoka commented on #1506
We have this column set to null on the front-end [here](https://github.com/onaio/reveal-frontend/blob/e824bc5876ae6031ed84ca8143e10ec5464684ef/src/helpers/utils.tsx#L294). Am not sure which field on the plan we should be displayed. [Here](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/05ac6be53b1125ce4bc9aede178ae28dfbc0f29c/3-reveal/migrations/2-transaction_tables/deploy/plans.psql#

[2021-02-26 07:12] Naima-Bashir opened #1517 "RVL-1283 - TH - Task Generation Nifi vs Java"
Jira: https://smartregister.atlassian.net/browse/RVL-1283
Github: https://github.com/OpenSRP/opensrp-client-reveal/issues/1206

Thailand Production needs to be switched over to using Java for task generation (OpenSRP).

Description

This will first need to update task generation in TH-Preview to Java. This will likely require:

Review/modification of the task generation template in Ni-Fi so it map

[2021-02-26 07:12] Naima-Bashir commented on #1517
Nothing is changing from the web besides configuration from the website . A day plus deployment.
The changes to Nifi are done, once these updated on web are complete it should be ready to test

[2021-02-26 07:39] Naima-Bashir commented on #1504
@moshthepitt This has been picked up by the client engineers. FYI

[2021-02-26 07:49] Naima-Bashir commented on #1507
a meeting with the team from both Reveal and Opensrp to discuss the way forward on resolving a bug that was caused by some implementation on the OpenSRP side

[2021-02-26 07:55] Naima-Bashir commented on #1504
I have received feedback that the Akros engineers(Stephanus) has picked it up. Just fyi

[2021-02-26 07:55] moshthepitt commented on #1504
@Naima-Bashir cool, thanks.  Will they be submitting a PR to this repo?

[2021-02-26 08:42] Naima-Bashir commented on #1506
@ciremusyoka updates from CHAI

In the index case table, there’s the case classification field (already being used for the monitoring tab) that should be used. There are some instances where case classification field is blank (~12 out of 1,000).

Expected behaviour is where there is a case classification for that plan, show the case classification in the table. If the case classification field is

[2021-02-26 08:48] Naima-Bashir commented on #1378
we need to scope out a solution and then present and it to the client

[2021-02-26 09:02] #1515 closed

[2021-02-26 09:06] Naima-Bashir opened #1518 "Updating layout of manage plans page"
Problem  https://smartregister.atlassian.net/browse/RVL-1452
Users are getting confused between reactive and routine FI plans in the manage plans section

Requirements
Update the manage plans page to look similar to the monitor plans page (i.e. separate tables for Reactive and Routine plans)

Refer to proposed UI below
![image](https://user-images.githubusercontent.com/61143692/109279584-fc319700-

[2021-02-26 09:14] Naima-Bashir commented on #1507
Ask client if he published the draft.

[2021-02-26 09:17] Naima-Bashir commented on #1507
Updates on the JSON uri bug:

looks like the web Ui did not update the definition uri on the plan. The plan is still pointing to the default family_register.json

[2021-02-26 09:18] Naima-Bashir opened #1519 "JSON Uri bug"
https://smartregister.atlassian.net/browse/RVL-339

The updates so far are:
When a user creates a plan-changes the definition url for family registration task-saves and activates the plan- assigns his team-logs into android - registers a family- the changes he had made aren't shown.
From @githengi investigation it ​looks like the web Ui did not update the definition uri on the plan. The plan is st

[2021-02-26 09:21] moshthepitt commented on #1518
@Naima-Bashir where did we get the LoE of 1 - 2 days?

[2021-02-26 09:21] moshthepitt commented on #1518
Also, this is a duplicate of https://github.com/onaio/reveal-frontend/issues/1486.  @Naima-Bashir please close on of these issues.

[2021-02-26 09:26] kelvin-muchiri commented on #1507
It was agreed in order to resolve the bug, Reveal would cease to use its redux store and use the opensrp store. Since this is not the ideal solution, we'll research how to make changes on package `@opensrp/form-config` so that it does not require any other project that uses the package to use the opensrp store

[2021-02-26 10:21] #1518 closed

[2021-03-01 06:37] kelvin-muchiri commented on #1507
@Naima-Bashir We encountered another bug on Friday, things did not go as smoothly as planned...We are still trying to find a solution for it with @p-netm

[2021-03-01 07:41] Naima-Bashir commented on #1489
Linked issue: https://github.com/OpenSRP/opensrp-client-reveal/issues/1263

[2021-03-01 07:41] #1489 closed

[2021-03-01 08:25] ciremusyoka opened #1521 "Plans list pages not working on stage"
[Plans/Manage Plans](https://web.reveal-stage.smartregister.org/plans/list) and [Plans/Planning Tool](https://web.reveal-stage.smartregister.org/plans/planning) pages are not working on stage.
![plans-error](https://user-images.githubusercontent.com/26719807/109470645-c5ed5500-7a80-11eb-80b1-8d977e5e2d32.png)

[2021-03-01 09:11] kelvin-muchiri commented on #1507
@Naima-Bashir The bug was fixed and I have a PR open for review

[2021-03-01 09:22] kelvin-muchiri commented on #1507
I will be handling the second part which  has to do with translations

[2021-03-01 13:01] kelvin-muchiri commented on #1507
@Naima-Bashir I have added the strings to be  translated on the doc 41-72

[2021-03-01 13:22] samkanga commented on #1507
@kelvin-muchiri please share the link with the strings to be translated on this ticket.

[2021-03-01 13:28] kelvin-muchiri commented on #1507
@samkanga @Naima-Bashir https://docs.google.com/spreadsheets/u/2/d/1ONHpPpuPxNW9_-vP8gTTcrVHTbKTT3WaN-cfdySeMCs/edit?folder=1MN5J-PK6KUOHC6gw3KKmf12vV-GQFPkr#gid=209283218

[2021-03-02 09:00] kelvin-muchiri commented on #1507
@Naima-Bashir Does the 400 error fix wait for the translations in order to be deployed?

[2021-03-02 13:09] ciremusyoka commented on #1505
There is no record of the plan(f3a8b614-9b79-5269-a45a-8b724a1eaa6e) in the [plan_jurisdiction](https://github.com/OpenSRP/opensrp-reveal-datawarehouse/blob/685be9470015f702d42d31f342e2e0800a836552/3-reveal/migrations/2-transaction_tables/deploy/plan_jurisdiction.psql#L9) table.

[2021-03-02 15:08] ciremusyoka commented on #1505
@Naima-Bashir this is resolve. Some problem with data syncing into the data warehouse.
Note: this is the correct Monitoring tab link https://web.reveal-th-preview.smartregister.org/focus-investigation/map/e59affdc-1e67-5481-8855-df42e77b98fc

[2021-03-02 15:08] #1505 closed

[2021-03-03 05:57] ciremusyoka commented on #1521
Closing this, the issue was on API.

[2021-03-03 05:57] #1521 closed

[2021-03-03 07:01] samkanga commented on #1507
@kelvin-muchiri could you share the link of the issue on error 400?

Separately, the Thai team has asked us to add context to the terms shared for translations, similar to what had been done on the strings above the ones you posted. Please assist with that. Let me know once you are done.

[2021-03-03 09:33] Naima-Bashir commented on #1473
If this shos internal:
"code": "taskGenerationStatus",
      "valueCodableConcept": "internal"

      it is fine

[2021-03-03 09:35] Naima-Bashir commented on #1473
@Wambere is nifi task generation shut off?

[2021-03-03 09:39] Naima-Bashir commented on #1473
Created this plan: https://reveal-th-preview.smartregister.org/opensrp/rest/plans/d53fc448-bae1-56f6-9df7-b923ac79145c

Tested that this is internal:
{
"code": "taskGenerationStatus",
"valueCodableConcept": "internal"
}

[2021-03-03 09:51] Naima-Bashir opened #1523 "last modified date is incorrect"
I created this plan here today(3rd March)
https://web.reveal-th-preview.smartregister.org/plans/update/d53fc448-bae1-56f6-9df7-b923ac79145c
However on the manage plans page here https://web.reveal-th-preview.smartregister.org/plans/list,
 it shows that it was created on the 2020-01-27

![image](https://user-images.githubusercontent.com/61143692/109787098-ebb06080-7c1e-11eb-86b8-aeef70a447f0.png)

[2021-03-03 09:59] moshthepitt commented on #1523
@Naima-Bashir I think that you are comparing a different plan.  Please confirm the id of the plan in the screenshot matches `d53fc448-bae1-56f6-9df7-b923ac79145c` exactly (This is from [https://web.reveal-th-preview.smartregister.org/plans/update/d53fc448-bae1-56f6-9df7-b923ac79145c](https://web.reveal-th-preview.smartregister.org/plans/update/d53fc448-bae1-56f6-9df7-b923ac79145c))

![Oo](https://

[2021-03-03 10:04] #1523 closed

[2021-03-03 15:10] Rkareko commented on #1494
Here is a sample `cdd_supervisor_daily_summary` event with `treated_male_1-4`  and `treated_female_1-4` fields

[code]

[2021-03-03 15:40] Rkareko commented on #1494
The wards and CDD names are store on OpenSRP server and can be accessed via this API for [Reveal stage](https://reveal-stage.smartregister.org/opensrp/rest/settings/sync?serverVersion=0&identifier=global_configs)

The relevant values are

[code]

[code]

[2021-03-03 15:50] lincmba commented on #1494
Document describing how to arrive at the metrics to power the dashboard https://docs.google.com/document/d/1WrQYhkET5Ws-gg8d2hZtHM9hEVqkF8IdtCesq2Ni7lQ/edit#

[2021-03-04 13:25] samkanga commented on #1378
@moshthepitt Can we have an extra property that says `readonly` or `hidden` that can be used to dictate the hide logic.

[2021-03-04 13:29] samkanga commented on #1486
@moshthepitt would including a plan type under the filter option work better than having separate tables.

[2021-03-04 14:06] moshthepitt commented on #1486
Sounds like a better suggestion imho.  But would be cool to get a mockup

[2021-03-04 14:08] moshthepitt commented on #1378
@samkanga that is probably what we would do.  But we have a lot of such flags and I'm hesitant to continue going down that path.  But open to having more dicussions.

[2021-03-05 03:48] mberg commented on #1378
I don't think we have to over optimize here for the future as we may potentially rework how this works. I think if supporting an additional flag is the easiest way to do this without having to create a fork of the code my vote would be do do it.

[2021-03-05 03:48] mberg commented on #1486
The mockup is add a filter for plan type as an option where you the have filter for user / teams.

[2021-03-05 07:43] ciremusyoka commented on #1514
@Rkareko can we have a use case were to delete jurisdiction metadata entry we upload a CSV with the value of that jurisdiction as blank?
cc @samkanga

[2021-03-05 11:28] Rkareko commented on #1514
@ciremusyoka cc @samkanga  We can only add a new API endpoint for deleting the corresponding setting metadata record.

[2021-03-05 12:07] ciremusyoka commented on #1482
@samkanga in case we miss the classification when auto assigning on the web what value should we default to.

[2021-03-05 12:08] moshthepitt commented on #1514
@Rkareko what we are wondering is whether we can modify this existing CSV endpoint at all?  What happens right now for entries whose value is blank, and can we modify it for blank entries to mean "delete the settings for this key where identifier = whatever was uploaded"?

[2021-03-05 12:23] moshthepitt commented on #1486
@ciremusyoka let's get an LoE for this and pass it on to @samkanga so that we can schedule this

[2021-03-05 12:28] moshthepitt commented on #1378
@ciremusyoka let's have a quick call about this during the Monday standup.

@mberg @samkanga we'll get you an LoE some time Monday.

[2021-03-05 13:07] Rkareko commented on #1514
@moshthepitt @ciremusyoka after further consultation, yes we can support updating the current endpoint to delete entries whose value is blank

[2021-03-05 13:13] moshthepitt commented on #1514
Fantastic, thank you @Rkareko

[2021-03-05 13:20] Rkareko commented on #1514
@moshthepitt is this only limited to settings where the identifier is of type `jurisdiction_metadata-structures`

[2021-03-05 13:33] lincmba commented on #1494
MDA Lite sample json https://github.com/OpenSRP/opensrp-client-reveal/issues/1248

[2021-03-05 14:11] moshthepitt commented on #1514
@Rkareko it should also apply to the other jurisdiction metadata settings i.e. where the identifier starts with `jurisdiction_metadata`

[2021-03-05 14:25] samkanga commented on #1482
@ciremusyoka we should default to `N/A`.

[2021-03-08 05:53] samkanga opened #1524 "Missing Translations on WebUI Mapview"
There are some missing translations on the WebUI Map View, for the historical index case issue. See the screenshot below:

![image](https://user-images.githubusercontent.com/5908630/110280361-bb384000-7feb-11eb-8219-6cf5715f2257.png)

[2021-03-08 06:50] ciremusyoka commented on #1517
duplicate of  #1473

[2021-03-08 06:50] #1517 closed

[2021-03-10 08:18] samkanga commented on #1501
@ciremusyoka Akros have confirmed having the MDA-Lite plans available on the planning tool and being able to be created on the planning tool.

[2021-03-10 08:35] Naima-Bashir commented on #1507
This has passed QA

[2021-03-11 08:22] samkanga opened #1527 "End- Fund - Add Column for Uploading Unofficial Population Data"
The `Unofficial Population` Data is needed for the End Fund project dashboards. It should be added through the jurisdiction Metadata csv file upload. Please add functionality that will pick data from one of the column in the uploaded csv.

[2021-03-12 11:02] samkanga commented on #1482
@ciremusyoka just a follow-up on the use case of what happens to a plan where the classification was N/A at plan creation but the classification gets updated in OpenSRP. The plans shall maintain the classification adopted at the time if creation.