[2019-02-22 14:12] cKellyDesign opened #4 "Install / Import / Instantiate Gisida and Gisida-React"
This ticket tracks the work to install and import Gisida and Gisida-React libraries and instantiate the Map component and stores in the context of the Reveal Web UI.

- [x] clone both repos locally
- [ ] switch to `reveal` branches and `yarn install`
- [ ] run `yarn link` in both repos
- [ ] run `yarn link gisida && yarn link gisida-react` in the `reveal-frontend` repo
- [ ] import both libraries

[2019-02-22 14:23] cKellyDesign opened #5 "Create IRS Plan Module Map Sidebar Component"
This component should render Plan related information according to the mockups.

- [ ] Campaign / District Summary
- [ ] Risk layer and filter range-selector

<img width="422" alt="screen shot 2019-02-22 at 9 17 30 am" src="https://user-images.githubusercontent.com/4141527/53248165-14daa580-3683-11e9-99f4-032193fef486.png">

[2019-02-22 14:37] cKellyDesign opened #6 "Create Custom Map Event Handlers"
Gisida will be able to accept custom event handlers for various Mapbox Map mouse events.

- [ ] Clicking on a district zooms into that district
- [ ] Clicking on a operation area toggles its selection and inclusion in the campaign plan
- [ ] Mouse over default tooltip? Custom tooltip?

[2019-02-22 14:51] cKellyDesign opened #7 "Create site-config and layer configs for Gisida Map"
The Gisida Map will require some basic configurations to correctly render in the Plan module.

- [x] site-config.json
- [x] locations.json(?)
- [ ] Risk Layer - Fill layer with local CSV source; highlight-layer should be used to visualize selection

[2019-02-22 14:57] cKellyDesign opened #8 "Create Boundary Tilesets"
Gisida will use tilesets hosted on Mapbox Studio to render Administrative boundaries as line layers.

[2019-02-26 18:22] cKellyDesign opened #9 "Build mSpray Tables with Drill-Down Functionality"
The Web UI will need to display tabular mSpray data with the ability to drill down, with the flexibility to handle different contexts and data hierarchies (admin/OA boundaries, team structures, etc).

The table itself can be pretty straight forward, we can leverage [reactstrap's `Table` component](https://reactstrap.github.io/components/tables/) coupled with custom event handlers / controllers (to

[2019-03-14 08:05] moshthepitt opened #10 "Implement Focus Investigation Web UI Reporting For Historical Data (Tables)"
Create the basic static UI for Focus Investigation reporting as we wait for APIs to make it actually work.

- [x] Historical Investigation Home
- [x] Historical Investigation Drill Down
- [x] Historical Investigation Focus Area List
- [x] Historical Investigation Focus Area List

[2019-03-14 08:06] moshthepitt opened #11 "Implement Focus Investigation Web UI Reporting For Historical Data (Map)"
- [ ] Historical Investigation Map for focus area

[2019-03-14 08:08] moshthepitt opened #12 "Implement Focus Investigation Web UI Reporting For Active Investigation (Map)"
- [x] Active Investigation Map

[2019-03-14 08:08] moshthepitt opened #13 "Implement Focus Investigation Web UI Reporting For Active Investigation (Tables)"
- [x] Active Investigation Home
- [x] Active Investigation - Individual Investigation

[2019-03-21 08:44] moshthepitt opened #15 "Add support for Gisida"
Make it possible to embed Gisida as a component in any page.

[2019-03-21 08:44] moshthepitt opened #16 "Implement Focus Investigation CRUD"
Make it possible to:

- Create Focus Investigations
- Edit Focus Investigations
- View Focus Investigations
- Delete Focus Investigations

[2019-03-21 13:39] #10 closed, assigned to moshthepitt

[2019-03-25 14:49] moshthepitt opened #18 "Make active focus investigation table more generic"
We should be able to render the active focus investigation table with any kind of hierarchical structure i.e. the hierarchy should not be hard coded but configurable.

[2019-03-26 08:01] moshthepitt opened #19 "Allow any url in DrillDownTableLinkedCell"
Make it possible for `DrillDownTableLinkedCell` to work easily with any `urlPath`.  i.e. it be possible to work with any kind of url.

This issue depends on https://github.com/onaio/js-tools/issues/31

[2019-04-01 16:21] #13 closed, assigned to moshthepitt

[2019-04-01 16:21] #19 closed, assigned to moshthepitt

[2019-04-15 13:37] moshthepitt opened #22 "Add authentication"
- [x] Add login page
- [x] Require login for all pages
- [x] Add logout functionality

[2019-04-15 15:19] #9 closed, assigned to moshthepitt

[2019-04-15 15:39] #18 closed, assigned to nobody

[2019-05-02 09:13] moshthepitt opened #27 "Add Superset connector"
Make the superset connector package usable from within Reveal (aka Typescript)

[2019-05-02 13:53] #22 closed, assigned to moshthepitt

[2019-05-03 12:19] moshthepitt opened #29 "Add more tests for Superset connector usage"
Specifically need to test how the `doFetch` method works within Reveal.

[2019-05-03 12:23] moshthepitt opened #30 "Change to using OpenSRP oAuth2"
Currently using Ona Stage as an oAuth2 provider, we need to switch to OpenSRP.

[2019-05-03 13:09] #27 closed, assigned to moshthepitt

[2019-05-10 13:19] #30 closed, assigned to moshthepitt

[2019-05-15 15:18] moshthepitt opened #34 "Dynamic configurations for locationHierarchy"
The location hierarchy should be completely configurable i.e. it should be possible to load a completely different location hierarchy and have the web app still `just work`.

[2019-05-15 15:23] moshthepitt opened #35 "Cleanup Focus Investigation Components"
- [x] ActiveFocusInvestigation
- [x] SingleFI
- [x] SingleFI Map

The cleanup work includes:
- refactor if needed
- remove unnecessary comments
- add tests

---

This issue is part of pending work from #33

[2019-05-15 15:26] moshthepitt opened #36 "Fix types in plan and goal ducks"
There's some dirty hacks to be removed in the goal and plan reducer modules

- [x] plan
- [x] goal

---

This issue is part of pending work from #33

[2019-05-15 15:30] moshthepitt opened #37 "Rethink supersetFetch"
The way `supersetFetch` is used in the focus investigation components might not be the best approach, because of:

- there must be a way to make this very similar code more DRY
- it complicates detecting whether the call to superset has been made or not (so that you can stop showing the loading component)
- it makes it very hard to test the components

[2019-05-16 17:25] moshthepitt opened #39 "Add a way to persist oAuth access token"
Right now you need to log in again to the web app whenever you refresh your browser.

This is because the oAuth2 access token is not currently persisted anywhere, it is just in memory.

[This document](https://auth0.com/docs/security/store-tokens) recommends against storing the token anywhere in the browser.

This probably means that we may need some kind of backed just for storing the access toke

[2019-05-21 11:14] moshthepitt opened #40 "Add support for internationalization"
This web app needs to be translatable to other languages.

[2019-05-21 14:05] moshthepitt opened #41 "Add structures reducer"
- [x] We need to add support for fetching structures from a structure-tasks Superset slice JSON endpoint that returns a list of JSON objects that look like this:

[code]

- [x] These records should be stored in a new `structures` reducer.
- [x] It should be possible to get data from this reducer by `plan_id`
- [x] It should be possible to get data from this reducer by `goal_id`
- [x] It should be

[2019-05-21 14:26] moshthepitt opened #42 "Add structures to focus investigation map"
![Reveal Web   Round 2](https://user-images.githubusercontent.com/372073/58104107-d5bde100-7bec-11e9-9c27-d242c6b1cafc.png)

- [x] Add a sidebar component next to the map that lists the goals/targets from the plan object that represents the focus investigation
- [x] When a goal on this sidebar is clicked, load its structures from the `structures reducer` (#41).  Each goal may have one or more stru

[2019-05-21 15:09] kahama94 opened #43 "Map renders twice"
Map seems to render twice hence having a flash like view while loading

[2019-05-22 12:50] kahama94 opened #45 "Make layer building Dynamic"
Current way of building layers is static. It would be important to understand what needs to be taken into account so as to achieve the **goal side bar** functionality. Once there is clarity on how that will be implemented we can decide how to treat this issue.

[2019-05-22 12:53] kahama94 opened #46 "Add test for SingleActiveFIMap"
Add test for the above component

[2019-05-22 13:00] kahama94 opened #47 "Add test for Gisida Wrapper Component"
Add test for GisidaWrapper this includes testing helper functions we have used too. Currently we have one helper function i.e: ConfigStore. We may have more as we move along

[2019-05-22 13:16] kahama94 opened #48 "Map Id equal to undefined when you click on map"

[2019-05-22 14:01] #41 closed, assigned to moshthepitt

[2019-05-23 12:59] #4 closed, assigned to nobody

[2019-05-23 12:59] #7 closed, assigned to nobody

[2019-05-23 12:59] #12 closed, assigned to moshthepitt

[2019-05-23 12:59] #15 closed, assigned to nobody

[2019-05-23 15:31] #36 closed, assigned to peterMuriuki

[2019-05-25 07:38] moshthepitt opened #54 "Load tasks to the FI map when a goal is clicked on the sidebar"
On the FI Map, the structures that are shown on the map need to be loaded whenever a goal is clicked on the sidebar. i.e. fetch the relevant tasks that correspond to that clicked goal in that jurisdiction for that plan and then display its structures on the map.

[2019-05-25 07:41] moshthepitt opened #55 "Show contextual coloring for structures on the map"
The structures displayed on the map need to have contextual coloring based on the task status and the type of intervention.

Here is the business logic to guide that: https://docs.google.com/document/d/1lieNnvmB7o4-vQtLDmESYBa93OGL91Q4qxkXQcZKucw/edit#

[2019-05-27 06:42] moshthepitt opened #56 "FI Map does not load when there are no tasks"

[2019-05-27 06:47] kahama94 opened #57 "Cleanup Gisida Wrapper Component"
The code needs optimization and  cleaning. We also should leverage the power of typescript in some instances on this component.

- [x] moving strings/numbers/etc to the constants file

- [x] refactoring code that might be weird

- [x] use proper typing so that we can leverage Typescript

- [x] writing tests

- [x] removing unnecessary comments

[2019-05-27 09:42] moshthepitt opened #58 "Update jurisdictions reducer"
New jurisdiction objects from Superset look like this:

[code]

[2019-05-27 13:49] moshthepitt opened #60 "Update tasks reducer"
New task objects look like:

[code]

[2019-05-27 13:54] #58 closed, assigned to moshthepitt

[2019-05-27 14:51] #60 closed, assigned to moshthepitt

[2019-05-28 12:04] moshthepitt opened #63 "Update goals reducer"
According to https://github.com/onaio/canopy/issues/240, the task goals will be grouped by `plan_id`, `goal_id` and `jurisdiction_id` (this is new).

We need to update the tasks reducer to reflect this change.

[2019-05-28 16:47] moshthepitt opened #65 "Add tests for the map reducer"
The `map` reducer currently has 0 tests.

[2019-05-28 17:33] craigappl opened #66 "Add Reveal Style and baselayers to Web Map"
We uploaded some specific geotiffs to Thailand in Mapbox as you can see in the Android client in this commit: https://github.com/OpenSRP/opensrp-client-reveal/commit/d8641f83c770cadfe40732568b1cd34f5d6e63be

These tiffs aren't represented in the web UI. We would like to make the web UI use the same styling as we have in the Android client.

[2019-05-28 19:00] #63 closed, assigned to moshthepitt

[2019-05-29 09:55] moshthepitt opened #67 "Fix broken test"
This one is broken in the master branch: https://circleci.com/gh/onaio/reveal-frontend/171

[2019-05-29 13:57] #67 closed, assigned to peterMuriuki

[2019-05-31 10:05] moshthepitt opened #70 "Add support for task_business_status_map in goals reducer"
Goal objects now have a field called `task_business_status_map` which is an object that has the task business statuses for the goal and their counts. i.e.

[code]

We need to add support for this in goals reducer

[2019-05-31 13:26] #65 closed, assigned to peterMuriuki

[2019-05-31 13:37] #70 closed, assigned to moshthepitt

[2019-06-04 09:27] moshthepitt opened #75 "Use circle layer for points on Gisida maps"
We should use [circle layers](https://docs.mapbox.com/mapbox-gl-js/style-spec/#layers-circle) for showing points (i.e. not polygons on the Gisida powered maps)

[2019-06-10 09:13] moshthepitt opened #76 "Investigate IRS Planning needs"
It seems that later this year Reveal will replace mSpray for the new IRS seasons.

We need to do a gap analysis of sorts to figure out what the Reveal web app may be lacking that is required for IRS reporting.

One way of doing this may be setting up a Reveal frontend instance that is set up to use mSpray data from the last IRS season (this data may need to be manipulated a little to fit the curre

[2019-06-10 09:19] moshthepitt opened #77 "Filter plans by investigation type"
The FI pages need to only have FI plans.  Similarly, the IRS pages should have only IRS plans.

[2019-06-10 09:22] moshthepitt opened #78 "Re-scope what the web app needs to display"
Verify all variables displayed in the Web UI data dictionary are present in the web app and are populated appropriately by the ETL.

[2019-06-10 09:22] moshthepitt opened #79 "Display outlines of all structures on the map view"
Display outlines of all structures on the map view regardless of what’s clicked in the toggle on the right
Use the grey color style as Reveal Android Client that has opacity

[2019-06-10 09:25] moshthepitt opened #80 "Fix the grey square in the Focus Investigation profile view"
Fix the grey square in the Focus Investigation profile view. It is meant to display a little map of the focus area.

This is what we mean:

![grey box on profile view](https://user-images.githubusercontent.com/372073/59186129-c8a46a00-8b7a-11e9-950d-6935c19844ab.png)

[2019-06-10 09:26] moshthepitt opened #81 "Display bubbles when a user clicks on a structure"
Display bubbles when a user clicks on a structure as defined in the [data dictionary](https://docs.google.com/spreadsheets/d/1tK1cWvLrgHJ2TKEtlHwCXV6bv2ZH2ONVTgk28uooYpw/edit#gid=215121172).

[2019-06-10 09:29] moshthepitt opened #82 "Add IRS reporting"
Add IRS plans to a new section in the Web UI so that we can report on IRS activities.

[2019-06-10 09:30] moshthepitt opened #83 "Add ability to create IRS plans"
IRS Planning as scoped by @mberg

[2019-06-10 13:23] moshthepitt opened #85 "Add `color` field to task properties"
In order to work towards fully fixing #55, we need to add a `color` field to task properties in the tasks reducer, with the intention of later using this on the Gisida-powered maps.

[2019-06-10 13:24] kahama94 opened #86 "Load layers after map style is loaded"
Even after implementing ``` myMap.on('style.load')``` to ensure map style is fully loaded the map may not be fully ready to load layers i.e styles haven't fully loaded. This has been pointed out as shown below https://github.com/mapbox/mapbox-gl-js/issues/2268
The current work around is creating an arbitrary delay to ensure map has loaded styles before adding the layers which may fail with extreme

[2019-06-10 13:34] moshthepitt opened #87 "Add FeatureCollection selectors to task reducer"
Make it possible to return tasks as a GeoJSON FeatureCollection.

You should be able to get:

- [x] All tasks as a FeatureCollection
- [x] Tasks filtered by plan as a FeatureCollection
- [x] Tasks filtered by plan and jurisdiction as a FeatureCollection
- [x] Tasks filtered by plan and goal and jurisdiction as a FeatureCollection
- [x] Tasks filtered by goal as a FeatureCollection
- [x] Tasks filt

[2019-06-10 14:39] moshthepitt opened #90 "Clean up buildHandlers"
There is a method named `buildHandlers` in the `SingleActiveFIMap` component.

We need to investigate what this method does, and is supposed to do. Then possibly refactor it.

[2019-06-11 07:35] #42 closed, assigned to nobody

[2019-06-11 07:35] #43 closed, assigned to nobody

[2019-06-11 07:35] #45 closed, assigned to nobody

[2019-06-11 07:35] #48 closed, assigned to kahama94

[2019-06-11 07:35] #54 closed, assigned to nobody

[2019-06-11 07:35] #56 closed, assigned to kahama94

[2019-06-11 07:35] #75 closed, assigned to nobody

[2019-06-11 20:54] kahama94 opened #93 "implement better alerts to replace js popup boxes"
The following packages can be used to address this issue
react alert: https://www.npmjs.com/package/react-alert
or growl:  https://www.npmjs.com/package/react-growl

[2019-06-12 07:56] #85 closed, assigned to peterMuriuki

[2019-06-12 09:24] #55 closed, assigned to peterMuriuki

[2019-06-12 09:43] moshthepitt opened #95 "Better indicator calculations"
We need to ensure that goal indicators are calculated correctly based on the following fields

- task_count
- completed_task_count
- task_business_status_map
- goal_unit
- goal_value
- goal_comparator

[2019-06-12 13:06] moshthepitt opened #97 "Use GeoJSON feature collections in FI map"
Once #96 is done, we need to use the new feature collection selectors to get tasks for the FI map.

[2019-06-13 08:43] moshthepitt opened #100 "Improve GisidaWrapper"
We should re-look at the `GisidaWrapper` component.

To me, it feels more complex than it should be and we should investigate if it is possible to make it much simpler and easier to reason about.

[2019-06-14 13:20] moshthepitt opened #101 "Prevent null in plans fi_status and fi_reason"
![prevent nulls](https://user-images.githubusercontent.com/372073/59511899-2361fc80-8ec0-11e9-9be5-8a2a4ce854d8.png)

We need to ensure that the above does not happen.

[2019-06-14 15:56] #101 closed, assigned to peterMuriuki

[2019-06-14 16:08] #77 closed, assigned to nobody

[2019-06-14 17:41] craigappl opened #104 "Add a link for the map view in the Active Focus Plan View"
It would be nice to have a link in the Active Focus Plan View so that users can click from that view to the map view.
![image](https://user-images.githubusercontent.com/6067053/59527545-b97e2e80-8e90-11e9-8e3d-9dc4e098c949.png)

Currently, users have to back out of the plan view and click on the link to the map.
I recommend that we follow whatever mechanism was in mSpray.

[2019-06-17 07:06] moshthepitt opened #105 "When you login and select “Active Foci” you are taken to a blank screen"
[code]

It seems that the problem is there are plans that have no jurisdiction e.g.

[code]

We can fix this by:

- [x] Ensuring the active FI list page loads when such plans are present
- [x] Not showing the map icon for such plans
- [x] Not showing the small map box on the plan profile page

[2019-06-17 07:24] moshthepitt opened #106 "Use 0.7 opacity for fill layer mapbox style"

[2019-06-17 08:33] #87 closed, assigned to peterMuriuki

[2019-06-17 14:19] #105 closed, assigned to peterMuriuki

[2019-06-17 14:51] #80 closed, assigned to nobody

[2019-06-17 14:57] #106 closed, assigned to moshthepitt, peterMuriuki

[2019-06-18 08:59] moshthepitt opened #110 "FI Targets Display"
### Profile view

![profile](https://user-images.githubusercontent.com/372073/59667447-72a97500-91bf-11e9-809a-055f35c86327.png)

### Map view

![map](https://user-images.githubusercontent.com/372073/59667468-7b9a4680-91bf-11e9-8939-43ae35c0aee9.png)

---

Consider the above screenshots.  The item highlighted is a `goal` and the numbers shown are the goal's targets, which may be:
- raw numbers tha

[2019-06-18 16:01] #47 closed, assigned to kahama94

[2019-06-18 16:01] #57 closed, assigned to kahama94

[2019-06-18 16:26] moshthepitt opened #113 "Use Thailand contextual colors on map"
It seems that contextual task colors for Thailand will be different according to this doc: https://docs.google.com/document/d/1EDu7Ve8T2vuId0sMgvuZzMB0ER-iUsyKiiBYfW8XTrk/edit

We need to make it possible to somehow override the "default" colors for each deployment.

[2019-06-19 04:48] moshthepitt opened #114 "Add DigitalGlobe Imagery to maps"
- [ ] Add a setting to turn this on/off
- [x] Add a setting to get the API Key
- [x] Add to the maps

Possibly useful links:
- https://gcs-docs.s3.amazonaws.com/EarthWatch/en-us/Miscellaneous/DevGuides/MapsAPI/Examples/MapsAPI_mapboxgl.htm

[2019-06-19 05:35] moshthepitt opened #115 "Add breadcrumbs to Focus Investigation pages"
![breadcrumbs](https://user-images.githubusercontent.com/372073/59739331-26b50980-926d-11e9-9b4f-182c081af1a6.png)

[2019-06-19 05:37] moshthepitt opened #116 "Add link to map from focus investigation profile"
![link to map](https://user-images.githubusercontent.com/372073/59739397-6b40a500-926d-11e9-83fd-31adbd36f8e9.png)

[2019-06-19 06:09] moshthepitt opened #117 "Redirect user after login"
We should add a way to redirect users to the page they were trying to access before they logged in.

[2019-06-19 06:13] #82 closed, assigned to nobody

[2019-06-19 08:37] moshthepitt opened #118 "Add better tests for Gisida maps"
So far in our tests, we completely mock the map component because it has proven to be difficult to test.

We need to find a way to write better tests for the Gisida powered-maps.

This looks promising: https://github.com/mapbox/mapbox-gl-js-mock

[2019-06-19 12:06] kahama94 opened #120 "Import installed mapbox-gl instead of global window function"
Currently we are using the global window function to import mapbox-gl on SingleActiveFIMap which is not the cleanest way to handle the import. The reason this approach is used is  due to jest test failure. Link that sheds more light to this issue [here](https://github.com/mapbox/mapbox-gl-js/issues/5026)

[2019-06-19 12:10] kahama94 opened #121 "Create handlers file"
- [x] create map handlers file that holds all map handlers

- [x] test various methods in the handlers

[2019-06-19 15:12] moshthepitt opened #122 "How to handle reducing goal_comparator"
1. What is an example of a goal whose goal comparator value is `<` or `<=`?
2. How do you calculate progress towards its achievement?

[2019-06-19 15:13] moshthepitt opened #123 "How to handle goal_value = 0?"
1. What is an example of a goal whose goal value is `0`?
2. How do you calculate progress towards its achievement?

[2019-06-19 16:45] #95 closed, assigned to moshthepitt

[2019-06-19 16:45] #110 closed, assigned to mberg, rowo, craigappl, githengi

[2019-06-20 08:26] kahama94 opened #125 "IRS Planning - Create a Map Drilldown functionality"
We are currently not using the drilldown functionality in the map. The issue may require re-scoping when this functionality is needed. we are currently purging the drilldownhandler on SingleActiveFIMap.
here is the snippet of code on the same
[code]

[2019-06-20 11:25] kahama94 opened #127 "cleanup Handler helper"
The handler helper hasn't used typescript to it's full potential.

[2019-06-20 23:03] #6 closed, assigned to nobody

[2019-06-21 09:14] kahama94 opened #130 "Create Functionality to Handle Multiple Maps"
@cKellyDesign The current implementation assumes existence of one map instance.  Adding this functionality may be similar to what we have on somreports
[code]

[2019-06-21 09:44] #104 closed, assigned to moshthepitt

[2019-06-21 13:08] #66 closed, assigned to cKellyDesign, kahama94

[2019-06-21 13:08] #114 closed, assigned to moshthepitt, cKellyDesign

[2019-06-21 14:36] moshthepitt opened #132 "Jurisdictions not removed from map when you load another plan"
Here is an example of TLv1_02 still rendering on the TLv1_01 page.

![Reveal-Stage](https://user-images.githubusercontent.com/372073/59928865-4c4a3a80-9448-11e9-8360-89f702291ae6.png)

To reproduce, simple load one plan's map and then load another one.

[2019-06-24 07:49] #81 closed, assigned to kahama94

[2019-06-24 07:49] #121 closed, assigned to kahama94

[2019-06-24 07:51] #90 closed, assigned to cKellyDesign, kahama94

[2019-06-24 08:09] #115 closed, assigned to peterMuriuki

[2019-06-24 08:09] #116 closed, assigned to peterMuriuki

[2019-06-24 09:45] peterMuriuki opened #134 "Some plan Features show up and disappear on map first load."
#### Current Behaviour:
Upon loading the singleFIActiveMap , when i click on one of the goals for the first time, its features may appear and then disappear(this happens for some of the plans), subsequent clicks on any other goals however retains the features on the map as expected.

#### Expected Behaviour:
After loading the SingleFIActiveMap, if i click a goal of any plan(irregardless of whether

[2019-06-25 08:05] #35 closed, assigned to peterMuriuki

[2019-06-25 08:05] #46 closed, assigned to peterMuriuki

[2019-06-25 08:05] #97 closed, assigned to peterMuriuki

[2019-06-26 01:58] mlberg opened #135 "Focus investigation and general design feedback"
We need to draw things together a bit to make the web app feel a bit more finalized.  Right now while functional it feels beta as we're missing a few basic linkages.

<img width="1318" alt="Screen Shot 2019-06-25 at 9 11 58 PM" src="https://user-images.githubusercontent.com/42673455/60145331-b1c56080-9793-11e9-96df-e64679e7aaac.png">

First, can look at extending the top header but keeping the sid

[2019-06-26 10:08] #134 closed, assigned to cKellyDesign, kahama94

[2019-06-26 17:28] cKellyDesign opened #137 "View List of All Plans"
When navigating to `/irs` we need to render all existing Plans as rows in a table and a button to create a new Plan.

#### Table Columns
- [x] Name - Unique name of the Plan
- [x] Date created - Date_Time of last modified (depends on onaio/canopy#306)
- [x] Status - Draft | Finalized | In Progress | Complete
- ~~Summary* - `[x] houses, [y] resources` (* this depends on Resource Estimation)~~

####

[2019-06-26 17:38] cKellyDesign opened #138 "Generate and edit Plan name when creating new Plan"
The Plan name is one of the first steps in creating a new Plan.

#### Dependencies
- [x] A Plan page with Create view at `/irs/new`

#### Requirements
- [x] Webapp should generate a default unique name for the Plan

#### Interactions
- [x] Clicking the `Edit` button next to the Plan name:
    - [x] changes the Plan name title to an input field populated with the existing name
    - [x] changes the

[2019-06-26 18:07] cKellyDesign opened #139 "IRS Planning - Table Drilldown Functionality"
On initial load of the Plan page (create/draft/finalized) the table needs to render rows for `Admin1` with the option to drill down through the administrative hierarchy down to Operational Area.

#### Dependencies
- [x] Jurisdiction Hierarchy / Taxonomy

#### Requirements
- ~~Capture `back` button events, don't let the browser exit the page~~
- ~~Drilling down in Table updates the Map accordingly~

[2019-06-26 18:23] cKellyDesign opened #140 "IRS Planning - Select Plan Jurisdictions"
The Create Plan page needs to be able to determine Jurisdictions (OAs) to be included in the Plan through two components: Map and Table.

#### Dependencies
- [x] Admin Hierarchy / Taxonomy (to know which OAs are actually being de/selected)

#### Requirements
- [x] De/Selecting Jurisdictions can be accomplished via the Map and the Table
- [x] De/Selecting a non-OA Jurisdiction de/selects all child

[2019-06-26 18:41] cKellyDesign opened #141 "IRS Planning - Save Plan as a Draft"
While planning the user needs to be capable of Saving a Plan as a non-finalized draft.

#### Dependencies
- ~~Non-client Store for the Plan definition data - @moshthepitt @samwata @craigappl let's discuss this point asap~~

#### Requirements
- [x] On all Saves, render feedback indicating Save success/fail
- [ ] On first Save, the webapp waits for server confirmation before navigating to `draft`
-

[2019-06-26 18:57] cKellyDesign opened #142 "IRS Planning - Finalizing a Plan"
Finalizing a Plan updates the Plan status from draft to finalized and enables the next phase of the Planning module: Assigning.

#### Dependencies
- [x] OpenSRP endpoint to trigger New Plan Task generation

#### Requirements
- [ ] Check / Validate the Plan as Selected Jurisdictions
- [x] Webapp provides Plan information to OpenSRP new plan endpoint via payload

#### Interactions
- [ ] Clicking the

[2019-06-26 19:29] cKellyDesign opened #143 "IRS Planning - Assigning Teams to Plan Jurisdictions"
Once a Plan is Finalized, users can start Assigning Teams to Plan Jurisdictions on the Finalized Plan page via the Assignment Table and Popup

#### Dependencies
- [x] OpenSRP or Superset endpoint for Teams
- [x] OpenSRP or Superset endpoint for Plans
- [x] OpenSRP endpoint for assigning Teams to Tasks

#### Requirements
- [x] Map and Table drill down  as described in #125 and #139 respectively
- [

[2019-06-26 19:44] cKellyDesign opened #144 "IRS Planning - Finalized Plan View"
This was discussed as the basic Plan view for Finalized plans.

#### Questions
* Is there a difference between the Plan Assignment view and a basic Plan view?
* Where does Plan Finalization end and Plan Monitoring begin?
* Do we need to consider Syncing in the scenario that a Plan is loaded from a Store is out of date compared to what we get from OpenSRP tasks? Is this even a scenario?

#### Depen

[2019-06-27 15:52] cKellyDesign opened #146 "Render one polygon per Structure on the Map"
Currently we are adding geometries to the Map for every Task (and a Structure can have multiple Tasks). Ideally we should only be rendering a single geometry per unique Structure, which will use `fill-color` to represent the current Structure status.

- [ ] Include `lastModified` property in Superset [slice](https://superset.reveal-stage.smartregister.org/superset/explore/?form_data=%7B%22slice_id

[2019-06-27 16:08] #79 closed, assigned to moshthepitt, cKellyDesign

[2019-06-27 16:08] #86 closed, assigned to cKellyDesign

[2019-06-27 16:08] #113 closed, assigned to moshthepitt

[2019-06-28 13:18] moshthepitt opened #147 "Investigate accuracy of goal metrics"
![what the](https://user-images.githubusercontent.com/372073/60344882-46140b00-99c0-11e9-9a2d-4ec6b0957344.png)

[2019-06-28 13:36] kahama94 opened #148 "Implement loading animation Before structures load when toggling between goals"
There is a short lag when we toggle between various goals. Implementing a spinner animation would be ideal to inform a user features are loading

[2019-06-28 16:27] moshthepitt opened #150 "Disable click handling for structures"
- [x] We should not toggle off the grey structures when a goal is clicked.
- [ ] We should not allow the grey structures to be clicked.

![grey structures](https://user-images.githubusercontent.com/372073/60356832-bb8cd500-99da-11e9-90b7-e9c1175c4ccc.png)

[2019-06-28 16:30] moshthepitt opened #151 "Use feature collections for all tasks on map"
I think we would make our maps more performant if we loaded the tasks as a feature collection.

- Structures are already loaded as a feature collection
- We already have selectors that can achieve this

- [x] Load polygons and multi-polygons in one layer for each goal
- [x] Load points in one layer for each goal

[2019-06-28 17:48] moshthepitt opened #152 "Too many popups"
When you click on a structure, the number of popups that appear are more than expected.

![too many popups](https://user-images.githubusercontent.com/372073/60361099-03652980-99e6-11e9-8feb-0f300e2a487e.png)

[2019-06-29 09:28] moshthepitt opened #153 "Add filtering for superset resources"
After https://github.com/onaio/js-tools/issues/71 is done, we should ensure that when fetching resources from Superset we only get what we need via filtering.

[2019-06-29 09:30] moshthepitt opened #154 "Fetch structures from Superset"
After https://github.com/onaio/reveal-frontend/issues/153 and https://github.com/onaio/js-tools/issues/71 are implemented, we should be able to fetch structures for a particular jurisdiction directly from the structures slice in Superset instead of kind of getting structures through tasks.

- [x] Add structures reducer module
- [x] Get structures from the structures reducer module for use in the f

[2019-07-01 07:43] #132 closed, assigned to cKellyDesign, kahama94

[2019-07-01 14:29] moshthepitt opened #156 "Write a spec for more secure token store mechanism"
Following the discussion in https://github.com/onaio/reveal-frontend/issues/39, we now need to write a specification document that covers:

- The intermediary service that will handle oAuth2 access tokens aka "front end proxy"
- The reveal backend, if any

[2019-07-01 14:29] #39 closed, assigned to moshthepitt

[2019-07-02 07:58] kahama94 opened #157 "Map does not show structures when loading the first time"
The map does not show structures the first time it loads. When you unmount GisidaWrapper component and mount it again the structures load.

[2019-07-04 08:14] moshthepitt opened #162 "Improve visibility of structures/points on the map"
Let us try to achieve the look below:

<img width="124" alt="Screen Shot 2019-07-02 at 11 21 38 PM" src="https://user-images.githubusercontent.com/372073/60650357-b1d8f680-9e4c-11e9-9d0b-2d90f216e077.png">

- try doing a more wide width like 1, 1.5 or 2 for the outline, with opacity 1
- keep the layer opacity at 0.7

[2019-07-04 08:18] moshthepitt commented on #156
ORY Hydra looks really interesting: https://github.com/ory/hydra

Oathkeeper as well: https://github.com/ory/oathkeeper

[2019-07-04 09:20] #150 closed

[2019-07-05 13:56] mlberg opened #164 "Changes to active investigation page"
<img width="1193" alt="Screen Shot 2019-07-05 at 9 47 12 AM" src="https://user-images.githubusercontent.com/42673455/60726937-bc59c580-9f0a-11e9-9596-2f1f530e1284.png">

- [x] Please fix table so province, district etc  is only showed once.  Right now it's replicated.

- [x] Please add a column for focus investigation.  This should have the FI name and the link to the map page.  Please remove map

[2019-07-05 14:15] cKellyDesign commented on #164
@mberg @rowo How should we define the Focus Investigation name? Should it be a combination of the FA and a date?

[2019-07-05 14:38] moshthepitt commented on #164
@cKellyDesign there is a plan_title field on the Plan object.

[2019-07-05 14:53] #157 closed

[2019-07-05 15:40] #151 closed

[2019-07-05 16:34] craigappl commented on #122
We do not have a clear use case for this. We should limit the comparator options to be "equal", "greater than" or "greater than or equal to" in the web UI. We can control this now because we are creating plans in Nifi or manually.

If this does come through, we should not calculate a target and possibly display an error in that card in the UI. Something like "Invalid Target"

[2019-07-05 16:37] craigappl commented on #123
We do not have a clear use case for this. See #122

[2019-07-05 16:39] moshthepitt commented on #16
When creating plan goals/targets, the goal comparator should be limited to "=", ">=" or ">"

[2019-07-05 16:39] moshthepitt commented on #141
When creating plan goals/targets, the goal comparator should be limited to "=", ">=" or ">"

[2019-07-05 18:37] cKellyDesign opened #168 "Link Focus Area cell to FA Map"
Currently links to both the map view and single FI vew are in the same cell in the Dropdown table. Ideally the cell for the Focus Area will link to the Map view (which will load the FA with active FIs), while the Investigation Name cell will link to the Single FI view.

- [x] Link to Map from Focus Area column
- [x] Remove Map icon/link from Investigation Name column

[2019-07-05 19:29] mlberg opened #169 "Logic for Activity Targets"
Currently the targets for activities are potentially a bit confusing.

We use the following format for all activity targets:

<img width="260" alt="Screen Shot 2019-07-05 at 3 02 01 PM" src="https://user-images.githubusercontent.com/42673455/60741009-e8d70700-9f35-11e9-87d3-9444b94b3104.png">

We have two types of targets we need to support and they should be displayed differently.  We have **coun

[2019-07-05 19:47] craigappl commented on #169
The target unit for percent is always "Percent". The unit for others should be "form(s)"

[2019-07-05 20:45] rowo commented on #169
This is kind of what the above looks like:

![Progress Drawer - All Campaigns Copy](https://user-images.githubusercontent.com/1584163/60744270-2c843d80-9f43-11e9-8fbb-2df8593abf75.png)

What do you think about updating to this:
- Simplified progress and measure labels
- The "percent target" kind of bothers me. A percent towards the percent target seems a bit awkward. I think it's better just to sh

[2019-07-06 00:45] rowo commented on #169
I was also just thinking for something like that bednet distribution, why not just show the progress bar and not worry about confusing it with an exact percent.

Actually, the remaining structures/traps needed is probably more useful for both of those than an exact percent.

[2019-07-06 19:06] mlberg commented on #169
Hi @rowo have been thinking about this.  For the percent target we could have a chart but a line where the target is.  Eg the chart can still go to a hundred but we have a line at 90% for the target.

[2019-07-06 19:07] mlberg commented on #169
@craigappl I'd like to start introducing the idea of tasks as the nomenclature instead of forms

[2019-07-07 03:02] mlberg opened #170 "Create a new focus investigation"
For the focus investigation, we need the ability to generate a new focus investigation.

This should be initiate from an "Add Focus Investigation" button on the Active Focus page.

<img width="1144" alt="Screen Shot 2019-07-04 at 12 22 55 AM" src="https://user-images.githubusercontent.com/42673455/60639763-fedbaf00-9df1-11e9-8ef1-be4de65cb9d0.png">

The create focus investigation form should conta

[2019-07-07 03:09] mlberg opened #171 "Completing a Focus Investigation"
Support the ability to complete or close a focus investigation.

<img width="554" alt="Screen Shot 2019-07-03 at 11 54 13 PM" src="https://user-images.githubusercontent.com/42673455/60638867-13b64380-9dee-11e9-86e5-6e725158205e.png">

The form will provide the ability to suggest a reclassification for the focus and report driver of transmission.

Reclassification options include:
- A1
- A2
- B1
-

[2019-07-07 03:14] mlberg opened #172 "View Prior Investigations for a Focus"
On the focus page, we want the ability to view past focus investigations.

<img width="533" alt="Screen Shot 2019-07-03 at 11 46 22 PM" src="https://user-images.githubusercontent.com/42673455/60638606-0056a880-9ded-11e9-9350-2735dbe3fba4.png">

We need to see if there is a need to see other active investigations too.

[2019-07-07 03:17] mlberg opened #173 "View Prior FI Investigations from FI Map View"
Similar to issue #172 have the ability to toggle between prior focus investigations and the current active ones from the FI map view.

<img width="1034" alt="Screen Shot 2019-07-06 at 11 16 53 PM" src="https://user-images.githubusercontent.com/42673455/60763521-3477d680-a044-11e9-9985-4f5dae876019.png">

<img width="324" alt="Screen Shot 2019-07-06 at 11 16 59 PM" src="https://user-images.githubus

[2019-07-08 08:59] moshthepitt commented on #156
Setting up Express with Typescript: https://developer.okta.com/blog/2018/11/15/node-express-typescript

[2019-07-08 09:10] moshthepitt commented on #164
We agreed that we do not need to do anything regarding `Please fix table so province, district etc  is only showed once.  Right now it's replicated.` as it is a data issue

[2019-07-08 09:11] moshthepitt commented on #164
Closed by #167

[2019-07-08 09:11] #164 closed

[2019-07-08 09:13] moshthepitt commented on #141
Note that this is blocked by #156 because we do not have anywhere to store drafts

[2019-07-08 10:01] moshthepitt commented on #170
@mberg @craigappl @cKellyDesign  some questions:

1. Concerning the activities, is it possible that a focus investigation might have multiple activities of the same type (e.g. Blood Screening on something else) but with different goals/targets?
2.  Still on the activities, I do not think that it should be a simple select box.  It needs to be a form set that allows you to not only select the activi

[2019-07-08 10:08] moshthepitt commented on #171
@mberg what kind of information goes into `Report driver of transmission`?

[2019-07-08 10:08] moshthepitt commented on #171
@githengi what info do we need to POST to OpenSRP to mark a plan as completed?

[2019-07-08 10:15] githengi commented on #171
Update status to `retired` as per FHIR plan spec

[2019-07-08 10:36] moshthepitt commented on #171
Where would the rest of the things on the proposed form go?

[2019-07-08 12:37] moshthepitt commented on #156
Probably related in that we may use that structure: https://github.com/OpenSRP/opensrp-web/issues/7

[2019-07-08 13:16] githengi commented on #171
classification would go to useContext for the element with the "code": "fiStatus".

The other details should go to an openSRP event.

[2019-07-08 13:59] cKellyDesign commented on #170
@moshthepitt

1. From the discussions we had in Capetown, I thought that FIs could have multiple types of intervention activities.
2. This makes sense, I'm trying to remember if these types of settings were to be handled via implementation specific configs. It's unclear to me how much control the user should have here.
5. I think we definitely need mockups (cc @rowo)

[2019-07-08 14:03] moshthepitt commented on #170
Sorry @cKellyDesign I meant the plan's intervention type field.  Right now I believe it can be `FI` or `IRS` so for this form it should be `FI`

[2019-07-08 15:06] moshthepitt opened #174 "Update page titles"
When you navigate to a new page, the page title should be updated depending on what is on that page.

[2019-07-08 15:43] mlberg commented on #170
Hi @moshthepitt my understanding is the plan will be FI (@craigappl please confirm) but it will have multiple activities.  Each activity, if active, should be able to able a numeric count target or percent target.  These are listed out in the web ui dictionary.

[2019-07-08 18:26] cKellyDesign opened #176 "IRS Planning - Resourcing Estimates"
The table in the the IRS planning module pages should include a column for Resourcing Estimates based on: `Number of Structures` / (`Number of Teams` * `Number of Structures per Team per day`)

[2019-07-08 18:29] cKellyDesign opened #177 "IRS Planning Map - Risk Layer and Slider"
The Map in the IRS Planning modules should render a fill layer representing Risk per district and a slider in the map sidebar. The adjusting the slider is **not** to effect the map selection, and should only set the risk threshold applied to the risk fill layer.

This should be very similar to Gisida's quantitative filter.

[2019-07-08 18:30] cKellyDesign commented on #76
@moshthepitt - do you feel comfortable closing this issue?

[2019-07-08 19:58] moshthepitt opened #179 "Investigate IRS Reporting Needs"
We need to do a gap analysis of sorts to figure out what the Reveal web app may be lacking that is required for IRS reporting.

One way of doing this may be setting up a Reveal frontend instance that is set up to use mSpray data from the last IRS season (this data may need to be manipulated a little to fit the current data structures i.e, OpenSRP tasks, structures and jurisdictions).

[2019-07-08 19:58] moshthepitt commented on #76
I moved the reporting stuff here https://github.com/onaio/reveal-frontend/issues/179

[2019-07-08 19:58] #76 closed

[2019-07-09 10:30] moshthepitt opened #181 "Add more Superset filters"
- [x] Ensure queries to get jurisdictions from Superset are filtered
- [x] Ensure queries to get tasks from Superset are filtered
- [x] Ensure queries to get goals from Superset are filtered

[2019-07-09 15:33] moshthepitt commented on #140
@cKellyDesign what kind of data structure do you need for the jurisdictions?

[2019-07-09 15:39] moshthepitt commented on #170
We also need a way to select the focus area for the FI plan.  Not sure what kind of UI will work best here

[2019-07-09 16:35] cKellyDesign commented on #141
@moshthepitt Agreed. We need a lightweight storage solution we can implement asap.

Alternatively, for the initial planning release (july 30th) we could skip the Draft step since it was not originally scoped and the planning flow can be achieved without it. Then when we have the storage / persisting credentials working we could iterate and add that step of the process.

cc @mberg @craigappl

[2019-07-09 16:42] cKellyDesign opened #182 "Review Information Architecture and URL mapping"
Currently the structuring of our URLs is a little ad-hoc (which makes sense for the initial FI centric releases) and needs to be reviewed and tweaked. This should help around structuring our pages/code in a meaningful way for Planning modules **and** may help clear up some confusion around FA vs FI centric pages.

[2019-07-09 16:53] cKellyDesign commented on #182
Current
[code]

[2019-07-09 17:00] cKellyDesign commented on #182
Proposed (WIP)
[code]

[2019-07-09 17:07] mberg commented on #171
Need to increment the version of the plan.

[2019-07-09 17:34] mlberg commented on #170
https://smartregister.atlassian.net/wiki/spaces/REV/pages/1143242833/Automatic+Plan+and+Task+Generation#AutomaticPlanandTaskGeneration-NifiBusinessLogictobeDeveloped

Use Plan template 1 for the plan

[2019-07-09 18:07] cKellyDesign commented on #170
- [ ] @mberg to get clarity on number 3 and open a new ticket for that specifically

[2019-07-09 18:47] cKellyDesign commented on #170
@moshthepitt - @mberg suggested this could all be in a form, wherein a user selects the Focus Area from a dropdown / list of FAs, rather than via drilldown table/map.

- [ ] Either way, we'll definitely need some mockups for this user flow. (<~~~ @rowo)

[2019-07-10 04:14] rowo commented on #170
@mberg Do we have to differentiate (in the UI) a user-created focus investigation from an auto-generated one?

@moshthepitt @cKellyDesign I'll take a look at drawing this up. I see creating a new focus investigation being done from anywhere, so maybe in addition to the active investigation page it's in the top nav dropdown and on the focus area page. (I prefer the name "Focus Areas" to "Historical

[2019-07-10 07:43] moshthepitt commented on #170
The select box design will have to take into account that there are possibly thousands of focus areas.

We'll also probably use this to power it https://react-select.com

[2019-07-10 07:44] moshthepitt commented on #182
I like it!

[2019-07-10 07:45] moshthepitt commented on #141
Yes we most probably do need to skip the draft for now

[2019-07-10 07:47] #153 closed

[2019-07-10 11:40] moshthepitt opened #183 "Update plans reducer"
The new plans materialized view introduces some new fields to plans.  We need to take these fields into account.

example of a plan object from Superset:

[code]

[2019-07-10 11:46] kahama94 commented on #148
Triggering the spinner is dependent on a boolean showSpinner which is determined by  two boolean flags isLoading and loaded.The two are being added pretty fast causing the spinner not to be seen. To prove this adding a debugger on the Spinner component shows the spinner loading. Looking into the store we have showSpinner set on the following cases TOGGLE_LAYER, TRIGGER_SPINNER, REQUEST_DATA and RE

[2019-07-10 12:13] moshthepitt commented on #154
We need to fetch structures from this slice: https://superset.reveal-stage.smartregister.org/superset/slice_json/468

We also need to ensure that every query to that slice is filtered to prevent getting tens of thousands of results

[2019-07-10 12:20] moshthepitt commented on #154
Sample structure object from superset:

[code]

[2019-07-10 12:52] mlberg commented on #179
This is post July 31. We'll do this in August

[2019-07-10 20:17] rowo commented on #170
@mberg Few questions:
1. Can there be multiple investigations in one area at a time?
2. Do any of the create FI fields needs to be filled out in order? For example, would any fields appear different based on answers to other fields?
3. Can you create an FI to start at a future date? If yes, can you create multiple investigations for the future? Would this appear in the active investigation list or

[2019-07-10 21:08] cKellyDesign commented on #139
- [ ] Finalized plans will have a flattened table of Operational Area Jurisdictions

[2019-07-11 09:26] moshthepitt commented on #122
@craigappl @cKellyDesign right now the `goalPercentAchieved` function will always return a 0 for this.  Going to close this issue.  If it becomes a problem in the future we shall create new issues.

[2019-07-11 09:26] #122 closed

[2019-07-11 09:26] moshthepitt commented on #123
@craigappl @cKellyDesign right now the `goalPercentAchieved` function will always return a 0 for this.  Going to close this issue.  If it becomes a problem in the future we shall create new issues.

[2019-07-11 09:26] #123 closed

[2019-07-11 10:28] armageddon commented on #143
@cKellyDesign @rowo @mberg Does this issue apply to Focus Investigation assignment as well? The same functionality will be needed for FI as well, and the plans will have the same workflows I think?

[2019-07-11 10:29] armageddon commented on #143
Linking back to confluence scoping doc: https://smartregister.atlassian.net/wiki/spaces/REV/pages/1143472206/Reveal+3+-+IRS+Planning

[2019-07-11 12:50] cKellyDesign commented on #143
☝️ Great question!

cc - @moshthepitt

[2019-07-11 14:14] moshthepitt opened #186 "Ensure superset user is logged out after logging out"
When you click the log out button, we need to ensure that we log out of superset by calling the `deAuthZ` method in SupersetConnector

[2019-07-11 14:27] cKellyDesign commented on #154
**Structure.geojson.properties**
[code]

[2019-07-11 14:32] cKellyDesign commented on #141
@moshthepitt - @mberg mentioned that the client probably won't be too happy with this since the process of planning takes quite a bit of time. :-/

[2019-07-11 15:50] moshthepitt commented on #141
@cKellyDesign @mberg  We can commit to doing it, but not sure we shall make it by July 31, but we can certainly try.

[2019-07-11 18:22] craigappl commented on #170
I'm replying to comments in this thread:
----------
@moshthepitt

No, we need to restrict this. The list should remove any activities that have already been added.

Yes, that's correct.

We need the ability to create ad-hoc plans. The cases from BIOPHICS will come in through Nifi and be automatically created through that process. Those will create active plans.

Yes

Yes, Roger is working on that

[2019-07-11 18:52] #162 closed

[2019-07-11 19:21] mlberg opened #188 "Create an editing new focus investigation redux"
We need to add support to add focus investigations to Reveal.    These can be initiated by the user (adhoc creation) or created externally by a system by Biophics.

- A focus investigation can only be assigned to a single focus area
- A focus area can have multiple focus investigations (multiples of draft, active and complete)

We need to support the following status for FI creation in the workflo

[2019-07-11 19:22] mlberg commented on #170
Replaced with #188

[2019-07-11 19:22] #170 closed

[2019-07-11 19:56] mlberg commented on #169
Ok reviewed with @rowo let's go with his design as it makes a lot of sense

[2019-07-11 20:19] craigappl opened #189 "Make Plan Actions follow order defined in the plan"
The box on the right of the plan view:
![image](https://user-images.githubusercontent.com/6067053/61082359-2a582e00-a3de-11e9-9904-ebb804d6911e.png)
The box on the right of the map view:
![image](https://user-images.githubusercontent.com/6067053/61082388-3a700d80-a3de-11e9-92e2-466a6ecc0a71.png)

These boxes should follow the order the actions are defined in the plan. Each action has a prefix with

[2019-07-11 20:32] rowo commented on #169
Matt is talking about the updated, second one.

[2019-07-12 04:21] rowo commented on #188
Updated pages (will get individual issues):
- Active Focus Investigations (add "new FI" button and account for new draft status for case and user triggered investigations)
- Focus Area (add "new FI" button, account for possibility of multiple draft and active and previous investigations)
- Active Focus Investigation - potentially needing to put the mark as complete button there or having a NEW sta

[2019-07-12 04:26] rowo opened #190 "Updates to Active Focus Investigations [Discussion]"
![Active - Home](https://user-images.githubusercontent.com/1584163/61155759-a70f0900-a4bf-11e9-920a-ac0b3d9c23db.png)

1. Reordered the columns
2. Added a new "FI Status" column hat shows draft vs. active. Drafts are clickable to go to the draft investigation.
3. Added a "New" label on case-triggered investigations that shows up until a user clicks into the draft
4. Added a "Add Focus Investigatio

[2019-07-12 10:01] githengi commented on #188
@mberg the plan can be submitted to OpenSRP via NiFI so that NIFI can manage the task templates.

Task generation should also be scoped when a plan is activated.

[2019-07-12 13:37] armageddon commented on #188
@mberg I will add content from Confluence here so that it is visible to all:

**For FI Planning MVP, by end of July, CHAI is expecting the following:**

- User ability to view a list of FI plans (as shown in the mock-up, but will be cleaned up)
- User ability to fill out a FI form and create a new one if there is an ad hoc investigation (e.g., no index case)
- User ability to review past plans (bu

[2019-07-12 13:38] armageddon commented on #188
For MVP we restrict users from modifying already published plans

[2019-07-12 13:40] armageddon commented on #188
Completion date in reporting should be automatically set with the timestamp when the "Mark as Complete" button was pressed

[2019-07-12 13:41] armageddon commented on #188
When you create an ad hoc plan, is the idea to click create a plan and from there you can click on a number of activities (LLIN, RACD, etc) and input a target? What is the geographic unit for that plan?
Yes – idea is to click on a number of activities to create the plan. The geographic unit should be the focus, but targets may be a bit complicated. For LLIN targets are always 100%, but not certain

[2019-07-12 13:42] armageddon commented on #188
The set of interventions included in a plan does not need to be hardcoded for MVP as long as a user can pick and choose from interventions for the plan. Also, for MVP, the user does not need to be able to manually set targets for each intervention added to the plan, these can be hardcoded if easier.

[2019-07-12 13:42] armageddon commented on #188
Eventually IRS will need to be one of the options since Thailand does some focal IRS; not priority right now. The targets will matter less for IRS in this use case since it is focused IRS rather than a focus-wide campaign.

[2019-07-12 13:44] armageddon commented on #188
Confluence document is here: https://smartregister.atlassian.net/wiki/spaces/REV/pages/1145798679/Reveal+3+-+FI+Planning
@rowo @githengi unsure if you have seen the mockups and narratives in there

[2019-07-12 13:49] armageddon opened #192 "IRS Scoping"
For IRS Planning MVP, by end of July, CHAI is expecting the following:

- Ona will manually upload shapefiles (note that Akros has a copy for both Namibia and Botswana)
- CHAI to select operational areas (OAs) in Reveal interface (worst case scenario if CHAI provides OA IDs, Ona can do it)
- CHAI or MOH team create users and teams in OpenMRS interface (eventually this will be built into OpenSRP)
-

[2019-07-12 13:50] armageddon commented on #192
Notes on UI behavior
- By default all districts will be selected - user will have to deselect them to remove them from the plan, can also unselect OAs under the selected districts
- Once team assignment done - there would be a "Save Plan" or "Publish Plan" that would generate the tasks and assign to team members
- Teams are created in the OpenMRS interface - will need to provide clear documentatio

[2019-07-12 13:51] armageddon commented on #192
https://smartregister.atlassian.net/wiki/spaces/REV/pages/1143472206/Reveal+3+-+IRS+Planning

[2019-07-12 22:14] craigappl opened #193 "RVL-138 Draw Target around Index Case in Web UI"
Implement the target around the Index Case in the web UI as it is in the Android client. The specification can be found at https://smartregister.atlassian.net/wiki/spaces/REV/pages/1148289075/Indicate+Index+Case+Household+visually+in+Web+UI

[2019-07-15 07:24] moshthepitt commented on #188
@mberg @craigappl @armageddon @rowo  it is not clear to me how the proposed will result in a typical plan object e.g.

[code]

Specifically:

- How do we create case-triggered plans from the web UI?
- The way the activities are described in the text above does not make it clear that all goal/targets need:
  - id
  - description
  - priority
  - an array of one or more measures, of which each need:

[2019-07-15 07:25] moshthepitt commented on #188
@mberg @githengi @craigappl How does the work that @Wambere is doing for plan generation in NiFi affect this issue?

[2019-07-15 09:10] moshthepitt commented on #193
Something that could be used for this: https://turfjs.org/docs/#circle

[2019-07-15 09:15] moshthepitt commented on #190
@rowo regarding splitting the routine and case-triggered:

1. How does the search box work, does it search through both?
2. If we have 100 records on each table, how do we display that?  What is the max. number of rows per table, how should we place the pagination controls?

[2019-07-15 09:51] moshthepitt opened #194 "Use Symbol Layers"
To match the mobile client, we need to use symbol layers for:

- Case confirmation
- Mosquito Collection
- Larval Dipping

[2019-07-15 09:52] moshthepitt commented on #193
https://stackoverflow.com/questions/37599561/drawing-a-circle-with-the-radius-in-miles-meters-with-mapbox-gl-js/39006388#39006388

[2019-07-15 12:26] cKellyDesign commented on #193
Gisida as a function to draw a fixed radius circle like this as a layer, will find examples.

[2019-07-15 12:47] rowo commented on #190
1. Yes sorry I guess it should say "search current investigations" and at its simplest, both tables can just filter down to matching rows. If we want to do something more custom for search results we can try that..
2. I am assuming we don't need pagination since I can't see how there would be like 500+ investigations at once, but I'm okay with a long-list webpage if there's no problem to technical

[2019-07-15 13:20] moshthepitt commented on #193
@cKellyDesign it is set to 1 Kilometre, but this is configurable

[2019-07-16 01:12] mberg commented on #188
Hi @moshthepitt,

We aren't creating case triggered.  Those will done by Biophics and will show up in draft mode for review and then completion.  If we wanted we could potentially add the option to allow creation of a new FI and select case triggered and change the focus investigation reason.

For now the activities will be templated (similar to how they are hard coded now) in reveal.  More specif

[2019-07-16 03:25] rowo commented on #190
I chatted with @mberg about this. Updated:
- Removed links on the cell contents to a right action column (this matches the OpenSRP web approach and is arguable less confusing and more flexible). This means this last column needs to be fixed and appear even on narrow browsers.
- Moved the focus area column to after village to keep the location order. Added an icon link to this element to jump to th

[2019-07-16 04:33] rowo opened #196 "Updates to Focus Area "profile" [discussion]"
![Focus Area](https://user-images.githubusercontent.com/1584163/61327550-29147000-a7e7-11e9-8bdb-6e47c95a604a.png)

1. Added tables to represent investigations that are: current reactive, current routine, previous reactive, previous routine.
2. Used columns from current investigations (#190), but removed the location, status... (this is the rule for any columns with shared data — if FI status (i.e

[2019-07-16 06:40] moshthepitt commented on #188
Thanks for clarifying @mberg

@craigappl @githengi can you confirm this please?

[2019-07-16 07:00] moshthepitt commented on #190
@rowo how do you feel about icons on the actions column instead of words?

Also, I am assuming that we are waiting for a sign off from at least @mberg before we work on this in code?

[2019-07-16 07:34] githengi commented on #188
We are not generating the IDs for Plans, those should be generated externally. Its a UUID so any UUID generator can be used

[2019-07-16 07:36] moshthepitt commented on #188
@githengi it is not the plan id that is in question, but the goal id e.g. `Mosquito_Collection_Min_3_Traps` --> how do we get that?

[2019-07-16 07:52] githengi commented on #188
@moshthepitt thanks for clarifying.

That should be generated externally before saving the Plan. It can either  be a  UUID or generated by combining the action and goal measure.

The action needs this field its referenced in action's `goalId` field that should have `0..*` goal id(s) linked to the action

[2019-07-16 07:56] moshthepitt opened #197 "Move layer creation out of GisidaWrapper"
@cKellyDesign @kahama94 @KipSigei

I think the GisidaWrapper component is getting very complex and I have been thinking a lot about how to simplify it and make it easier to work with, think about, and test.

The way I see it, it should be a simple wrapper component around the Gisida Map component.  It should not be doing a lot of computation and/or manipulation of data if possible.  Do you agree?

[2019-07-16 07:59] moshthepitt commented on #188
Thanks @githengi -  I guess the web app needs to somehow generate this from the other inputs

cc: @mberg

[2019-07-16 08:09] moshthepitt commented on #141
@cKellyDesign so, after @mberg made this comment right here https://github.com/onaio/reveal-frontend/issues/188#issuecomment-511625319 it occurred to me that we can just simply save the draft plans by sending them to OpenSRP.  The caveat is, I guess, the plan will have to be complete "enough" for it to pass OpenSRP's validation(s).

If we choose to go this way, then we'll be unblocked.

What are y

[2019-07-16 08:14] githengi commented on #194
![breeding](https://user-images.githubusercontent.com/25123762/61277437-d624c380-a7ba-11e9-8caf-d3b7204674dd.png)
![mosquito](https://user-images.githubusercontent.com/25123762/61277455-df159500-a7ba-11e9-82be-39a905c0a000.png)
![icon-index-map](https://user-images.githubusercontent.com/25123762/61277469-e6d53980-a7ba-11e9-93d1-a60b03551ecd.png)

[2019-07-16 08:22] moshthepitt commented on #137
@cKellyDesign I think for uniformity we need to change the data source of the plan ([these ones](https://github.com/onaio/reveal-frontend/blob/master/src/store/ducks/plans.ts#L138)) from Superset to OpenSRP.  This is informed by [this conversation](https://onaio.slack.com/archives/CBSU8L2SC/p1562932654022100).

[2019-07-16 08:50] p-netm commented on #174
Should the test be a standalone test i.e. within its ```it()``` block or can I just bundle it up in the ```it('renders correctly without crashing', ()=>{})``` block

[2019-07-16 08:53] moshthepitt commented on #174
It should be one test in the existing test suite for the component i.e. your second option

[2019-07-16 08:54] moshthepitt commented on #174
Ideas on how to do this: https://stackoverflow.com/a/52448126

[2019-07-16 08:55] moshthepitt commented on #174
We should probably investigate using `react-helmet`

[2019-07-16 09:26] mberg commented on #141
That’s the idea. And we will need to be able to oldster to go from draft to
active

On Tue, Jul 16, 2019 at 4:09 AM Kelvin Jayanoris <notifications@github.com>
wrote:

[2019-07-16 11:53] cKellyDesign commented on #197
@moshthepitt - I agree with this concept, I think it makes a lot of sense to pull the layer creation out of the Gisida wrapper and into the container pages/components so that the wrapper is literally just handling the gisida map. The GisidaWrapper will still need to register / utilize the gisida redux reducers, but agree that the Reveal redux state can be largely left alone from within the gisida

[2019-07-16 13:14] rowo commented on #190
@moshthepitt
- I think words a clearer especially since the action changes in this case depending on investigation status. In OpenSRP Web, there is a word action and then another column of icon pulldown if there are more actions.
- Yes I think we need sign off from Matt since the requirements weren't super exact, so I think he needs to review it all to know if it matches up everyone's expectations

[2019-07-16 16:17] rowo opened #198 "Updates to Focus Investigation "profile" [discussion]"
![Focus Investigation](https://user-images.githubusercontent.com/1584163/61327513-113cec00-a7e7-11e9-89d7-aad40f9e3d76.png)

![Focus Investigation Complete](https://user-images.githubusercontent.com/1584163/61327524-15690980-a7e7-11e9-8846-bb44a77dbc53.png)

- Add a "mark as complete" button
- Update the progress to match activity target issue https://github.com/onaio/reveal-frontend/issues/169
-

[2019-07-16 20:25] rowo opened #199 "Create/Add and Edit FI page"
## Add new FI
![Add Focus Investigation](https://user-images.githubusercontent.com/1584163/61326732-71329300-a7e5-11e9-847c-770349c5eaa2.png)
- For user-created investigations
- Clicking on the checkbox will make visible a target as described in https://github.com/onaio/reveal-frontend/issues/188#issue-467064059 and https://github.com/onaio/reveal-frontend/issues/188#issuecomment-511298511
- The s

[2019-07-16 22:06] craigappl opened #200 "RVL-82 Change the title of the RACD Register Family Task"
I updated all of the plan Action Titles in Reveal, but the title that's being displayed in the web UI isn't updating for RACD Register Family tasks. Please make this dynamic based on what's in the plan value.

I changed the plan Action.title on number to to "Family Registration" and it displays "RACD Register Family" in the web UI.

Sample plan that's been updated:
[code]
Web UI: https://web.revea

[2019-07-17 10:14] moshthepitt commented on #198
@rowo I remember there was an involving discussion on the need to change how the indicators are displayed.  I think this was the chief complaint from the Thailand client.

On the mockups I see we have something like:

In this case, 19 is the number of completed tasks, right?

But what does 20 represent?  it could be one of two things:

- The number of total tasks
- The value of the goal's target f

[2019-07-17 11:30] moshthepitt commented on #198
Related: https://github.com/onaio/reveal-frontend/issues/169

[2019-07-17 11:39] moshthepitt commented on #169
Update for when we are implement this, based on https://onaio.slack.com/archives/CBSU8L2SC/p1563361427005300:

For `percent` targets, the denominator is calculated off of the goal's target.

For example, if the goal target was 80% and we have a total of 20 tasks, with 10 being complete:

We would calculate the denominator: 0.8 * 20 = **16**
We would calculate the "percentage achieved": (10 / 16) *

[2019-07-17 11:42] moshthepitt commented on #169
For `count` type goals i.e. not percent, we simply use the goal target as the denominator.

For example if the goal was 3 traps and we have 4 completed tasks, we would simply display:

`Progress: 4 of 3 traps (133%)`

[2019-07-17 11:47] moshthepitt commented on #147
This will be resolved via: https://github.com/onaio/reveal-frontend/issues/169

[2019-07-17 11:47] #147 closed

[2019-07-17 12:44] moshthepitt commented on #198
@rowo regarding the pull down, and sorry if this has been addressed elsewhere, what is shown there?  Is it other focus areas, or other investigations in the current focus area?

[2019-07-17 12:58] rowo commented on #198
It is other investigations in the current focus area that would have an investigation view (the active and completed). The investigations should be listed out in chronological order, most recent first, with the current selected investigation and active investigations labeled. As an upgrade, the list could be divided into the same sections as the focus area page i.e. Current reactive, Current routi

[2019-07-17 13:01] moshthepitt commented on #198
thanks @rowo

[2019-07-17 13:11] cKellyDesign commented on #138
@mberg @craigappl - is there a specific schema for how we auto-generate new plan names? Right now it's just doing `IRS_${hyphen-separated-date}`

[2019-07-17 14:43] moshthepitt commented on #169
This is the one to be implemented:

![Progress Drawer - All Campaigns Copy 2](https://user-images.githubusercontent.com/1584163/60744517-483c1380-9f44-11e9-8336-7c673dda0a2e.png)

[2019-07-17 15:30] p-netm opened #203 "Updating Page titles for Gatekeeper imported views"
Views without a custom titile:
- [ ] oath pages login, logout, outh pages
- [ ] Document.title for IRS/plan page is untested.

[2019-07-17 15:34] p-netm opened #204 "Fix IRS/plan page test"
This test ```renders IRS Plan page correctly``` in IRS/plan/tests/ is broken, the component does not actually get past the load component as seen [here](https://github.com/onaio/reveal-frontend/blob/60ca90ce3f61f63d70e2dccac2567f009eb2c187/src/containers/pages/InterventionPlan/IRS/plan/tests/__snapshots__/index.test.tsx.snap#L110)

[2019-07-17 20:34] cKellyDesign commented on #141
@moshthepitt - I'm not really sure what that means in terms of OpenSRP (like what is stored and where). If we are able to PUSH/PUT/GET into/from OpenSRP endpoints then this sounds ideal.

@githengi - Can you comment on the feasibility of this approach? Aka - can we save a Plan entity as a draft without generating all the Tasks? And can we distinguish drafts from finalized Plans?

[2019-07-18 10:04] moshthepitt commented on #168
I think this has been overtaken by events i.e. I think this one is now overidden by https://github.com/onaio/reveal-frontend/issues/190

[2019-07-18 10:04] #168 closed

[2019-07-18 14:20] githengi commented on #141
Yes @cKellyDesign @moshthepitt @mberg plans can be saved as draft on OpenSRP. These plans can be update progressively until they become activate and later tasks generated

 Plans don't have to have tasks that can be done later.

[2019-07-18 18:11] craigappl opened #205 "Change the web Login screen to show the Reveal Logo instead of the OpenSRP logo on reveal-stage"
URL: https://reveal-stage.smartregister.org/opensrp/login.jsp
![image](https://user-images.githubusercontent.com/6067053/61481234-91c92d00-a94c-11e9-9d9f-7deac5b43943.png)

- [ ] Change the logo to display the OpenSRP logo
- [ ] Change the word "OpenSRP" to "Powered by OpenSRP"

[2019-07-19 07:29] moshthepitt commented on #205
This issue does not belong in this repo.  It should go to this repo: https://github.com/OpenSRP/opensrp-server-web

[2019-07-19 07:31] moshthepitt commented on #205
Moved it here https://github.com/OpenSRP/opensrp-server-web/issues/78

[2019-07-19 08:06] moshthepitt commented on #200
@craigappl what did you update?

1. We are using the `action code`, and it seems to me that the action code for register family is still `RACD Register Family` in all cases.  Please see here for what I mean: https://reveal-stage.smartregister.org/opensrp/rest/plans
2. The web app is most certainly dynamic, at least for this, it gets everything [from this Superset chart](https://superset.reveal-sta

[2019-07-19 10:46] #174 closed

[2019-07-19 12:20] cKellyDesign commented on #141
@githengi Can Plans also be deleted via OpenSRP endpoints?

[2019-07-19 14:06] cKellyDesign commented on #141
In order to connect directly to the OpenSRP endpoints we will need to add an OpenSRP service module and possibly a connector module similar to [superset service](https://github.com/onaio/reveal-frontend/blob/master/src/services/superset/index.ts) and the [SupersetConnector](https://github.com/onaio/js-tools/tree/master/packages/SupersetConnector).

cc - @moshthepitt

[2019-07-19 14:17] #183 closed

[2019-07-19 14:27] cKellyDesign opened #208 "Add OpenSRP Service Module"
This service will allow us to connect directly to the OpenSRP server to GET, PUSH, and PUT entities, starting with Plans.

- [x] GET Plans
- [x] GET Plan by Unique ID
- [x] PUSH New Plan
- [x] PUT Updated Plan

Unblocks: #141, #142

[2019-07-19 14:49] #169 closed

[2019-07-19 15:33] #181 closed

[2019-07-19 15:33] moshthepitt commented on #154
Fixed by https://github.com/onaio/reveal-frontend/pull/195

[2019-07-19 15:33] #154 closed

[2019-07-19 15:34] moshthepitt commented on #146
Fixed by https://github.com/onaio/reveal-frontend/pull/195

[2019-07-19 15:34] #146 closed

[2019-07-19 15:52] craigappl commented on #200
@moshthepitt , the Action Title should be the thing that's referenced, not the action code.

[2019-07-19 17:00] kahama94 opened #210 "Ensure symbol layers are on top of circle layers"
The issue lies in gisida-react we need to ensure when toggling the various tasks we get into orderLayer method  to order our layers accordingly.

[2019-07-19 17:44] #194 closed

[2019-07-19 17:55] moshthepitt opened #212 "Improve tests of components that use SupersetConnector"
The components that fetch data from Superset need tests that ascertain the Superset service was called with the correct/expected parameters.

- [ ] FI map page component
- [ ] FI single page component
- [ ] FI active list component

[2019-07-19 17:56] #189 closed

[2019-07-19 17:56] #200 closed

[2019-07-19 18:35] moshthepitt opened #213 "Investigate 0/0 (0%) goal metrics"
What is going on here?

![AwesomeScreenshot-Focus-Investigation-A2-Tha-Luang-Village-1-Focus-02-Reveal-Stage-2019-07-19-21-07-48](https://user-images.githubusercontent.com/372073/61557538-232fc080-aa6d-11e9-9d8f-95320f053e2b.png)

[2019-07-19 18:42] moshthepitt opened #214 "Update page title of active focus investigations"
It should be `Active Focus Investigations` and not `Active Focus Investigation`

[2019-07-20 14:09] moshthepitt commented on #78
Fixed by https://github.com/onaio/reveal-frontend/issues/198 and https://github.com/onaio/reveal-frontend/issues/169

[2019-07-20 14:09] #78 closed

[2019-07-22 07:40] moshthepitt commented on #135
Going to be fixed via #190, #196, and #198

[2019-07-22 07:40] #135 closed

[2019-07-22 07:41] moshthepitt commented on #16
Related: #199

[2019-07-22 07:41] moshthepitt commented on #29
Going to be fixed in #212

[2019-07-22 07:41] #29 closed

[2019-07-23 08:54] moshthepitt commented on #196
@rowo for this page:

1. do you think that there is a chance that the completed investigations section might get too large/long given enough time?
2. unfortunately we don't have a way to delete right now (not supported by OpenSRP server at the moment)
3. does the search box on this page search all investigations, active and current?
4. the "new" indicator, how long is something considered new? 1 d

[2019-07-23 10:05] moshthepitt opened #218 "Get map icons from settings"
The map icons should not be hard coded, but should be loaded from settings. i.e. https://github.com/onaio/reveal-frontend/blob/master/src/helpers/utils.tsx#L206

[2019-07-23 10:19] p-netm commented on #213
[code]

So the math behind this will give us: ```0 completed tasks``` of a ```100% of 0 = 0``` as the target task count.

**should i drop goal entries whose target task count is 0?**
say we have a hypothetical goal with the following values :

[code]
the target count would still be ```0``` here.
What should i do about goals with the above values?

[2019-07-23 11:45] moshthepitt commented on #213
In this case let us use the `goal_value` - does that sound ok?

[2019-07-23 11:46] moshthepitt commented on #214
closed by #219

[2019-07-23 11:46] #214 closed

[2019-07-23 12:40] #208 closed

[2019-07-23 13:05] moshthepitt commented on #199
@craigappl @mberg @rowo some questions based on the latest mockups:

1. How do we determine the goal priority?
2. How do we determine the action prefix?
3. How do we determine the goal due date?
4. How do we determine if the goal unit is "percent" or "task/each/whatever"?
5. Are we going to hard code the goal comparator value to `>=`, for now?
6. How do we determine the action `subjectCodableConce

[2019-07-23 14:37] p-netm commented on #213
not sure i follow: so say for :
[code]
what should be the displayed values?

[2019-07-23 14:38] moshthepitt commented on #213
`0 of 100 (0%)`

[2019-07-23 14:43] p-netm commented on #213
is it possible that we could have the ```goal_unit !== "Percent"``` but with a ```goal_value``` of```` 0```

[2019-07-23 14:45] moshthepitt commented on #213
that case would be a bug and would hopefully be exceedingly rare, so we dont need to do anything special to deal with it i.e. it can remain `0 of 0 (0%)`

[2019-07-23 16:17] moshthepitt commented on #199
It seems that this is the minimum payload that you can send to the OpenSRP server to be able to create a plan object:

[code]

Therefore, the following fields are required:

1. **identifier** - needs to be a UUID - should be unique per plan
2. **version**
3. **name** (needs to be computer-friendly)
4. **title** (this is meant to be human readable)
5. **status** (active/draft/retired)
6. **date**
7

[2019-07-23 16:22] moshthepitt opened #220 "Scope Request: How to generate tasks?"
So once we have created a new plan (either IRS or FI) via the web app, how do we create/generate the tasks for it?

We need to scope how this works from the web app point of view.

[2019-07-23 16:39] kahama94 opened #221 "Add links to all bread crumbs on map view"
![AwesomeScreenshot-Focus-Investigation-A1-Tha-Sen-8-Focus-01-Reveal-2019-07-23-19-07-53](https://user-images.githubusercontent.com/50580477/61730206-95f8ae80-ad81-11e9-9280-c8dc61a22ace.png)

[2019-07-23 16:55] moshthepitt commented on #199
### Implementation plan notes

1. Create general purpose plan form (using [Formik](https://github.com/jaredpalmer/formik))
    - Write functionality to translate values in the form to valid Plan goal objects
    - Write functionality to translate values in the form to valid Plan action objects
    - Write functionality to translate values in the form to valid Plan jurisdictions (initially the fiel

[2019-07-23 18:21] craigappl commented on #193
@moshthepitt Note that we don't need the 1km circle, we need the target with crosshairs.

[2019-07-23 18:57] rowo commented on #196
@moshthepitt

Sure, after a long time. But even if you did 6 investigations a year in an area it would take 20 years to be too many for a page. And the answer to that wouldn't be general pagination, but categories/grouping like by year. The table could have a more dense view though (like gmail has a 3 view levels for emails)

So what does this mean for draft investigations @mberg ?

Yes, that'd be

[2019-07-23 19:25] mberg commented on #220
Agree we need to have this discussion with @craigappl it relates to the work janette is doing i believe

[2019-07-23 20:12] craigappl commented on #220
My thinking is that we have Nifi do this on a cron schedule by querying plans by the serverVersion date. We have the case triggered focus investigation plan and task generation process scoped, but not the routine interventions or IRS.

The task scoping is defined in this part of the doc: https://smartregister.atlassian.net/wiki/spaces/REV/pages/1143242833/1.+Automatic+Plan+and+Task+Generation+Orig

[2019-07-23 20:44] rowo commented on #196
@moshthepitt @cKellyDesign

Updates from call with Matt:
- We want to revert back to having the investigation name be the link and not the "View" column for both this and the [current investigations page](https://github.com/onaio/reveal-frontend/issues/190). This will save some space and he is okay with having two distinct approaches for table row actions vs. OpenSRP (name links vs. action column

[2019-07-23 21:35] rowo commented on #190
@moshthepitt After talking to Matt just now, we are reverting back to the name as link (removing the actions column). I will add a comment to the PR.

![Current Investigations](https://user-images.githubusercontent.com/1584163/61749254-4958a780-ad70-11e9-8ff9-bc22c17ee09c.png)

[2019-07-23 22:16] cKellyDesign commented on #199
Seems like all the bullets of number 1 are required regardless of implementation, no?

@moshthepitt - how does the LOE of building/validating the form with reactstrap form elements and custom event handlers compare to doing it with Formik and Yup? Can we accomplish this in phases (starting with the former and iterating to the later)?

[2019-07-23 23:43] craigappl commented on #199
@moshthepitt

The goal priority should be a field that's defined in the web form as part of the goal

The action prefix should be the order in which the user enters the actions (1 - N)

The goal due date should be defined by the user for the action.timingPeriod.end.

The user should enter this

Yes

That's hard coded based on the intervention type. So, if the code is "IRS", we know the subjectCoda

[2019-07-24 07:55] moshthepitt commented on #199
@craigappl thanks!  This is very very helpful.  Just a couple more questions:

What about when the intervention type is `FI`?  What are the rules for the various action/goals `subjectCodableConcept` values?

The allowed goal priority values are these - yes?

- high-priority
- medium-priority
- low-priority

[2019-07-24 07:57] moshthepitt commented on #199
@cKellyDesign

Yeah it feels that way

We'll still use reactstrap, Formik and Yup just make it a better/easier less manual experience.  I think for this part the LOE is one day, I'll attempt to do that today.

[2019-07-24 08:00] moshthepitt commented on #199
@rowo based on the responses from @craigappl above, I think the mockup should change slightly but due to the fast approaching deadline for this, I'll start work today.  When I have a working version (i.e. it can actually create valid plans) then I'll share with you and we can then hopefully iterate on the design of the form.  Does that sound like a good plan?

[2019-07-24 08:04] moshthepitt commented on #220
@craigappl that's a good plan.  But how does NiFi identify plans that have tasks, and plans that don't have tasks?

I guess one way is to check the OpenSRP API to see if tasks exist for the plan.  But I am not sure if this is robust enough - what do you think @githengi ?

[2019-07-24 08:04] moshthepitt commented on #193
@craigappl thank you for this clarification!

[2019-07-24 08:24] moshthepitt opened #223 "Create OpenSRP events to accompany plan CRUD processes"
Whenever we create/update a plan we should also create an OpenSRP event to serve as a log of the change.

[2019-07-24 08:24] moshthepitt commented on #223
@githengi do you have a rough idea of what the event object(s) in this case might look like?

[2019-07-24 08:27] moshthepitt commented on #203
@p-netm could you also create this issue on the `js-tools` repo?

[2019-07-24 08:34] moshthepitt commented on #199
Plan definition spec: https://www.hl7.org/fhir/plandefinition.html

[2019-07-24 08:53] githengi commented on #220
Currently the only want to know if a plan has tasks is to query for the tasks using the plan identifiers and jurisdiction(s).

We can also add an element on the plan to track if tasks has been generated on not.

[2019-07-24 09:16] githengi commented on #223
The below can be used when creating a Plan, when editing a plan the eventType can be changed to `Update Plan`

[code]

[2019-07-24 13:14] p-netm commented on #212
A __request for comment__: Is this what is needed ; say for the Active FI
the code :

[code]

The test:

[code]

[2019-07-24 13:31] moshthepitt commented on #212
@p-netm yes, more examples here https://github.com/onaio/js-tools/blob/master/packages/SupersetConnector/src/tests/supersetConnector.test.ts#L20

[2019-07-24 13:52] #213 closed

[2019-07-24 15:27] #190 closed

[2019-07-25 16:01] cKellyDesign commented on #141
@mberg @craigappl what are the hardcoded IRS plan goals? Do we need actions?

[2019-07-25 16:06] cKellyDesign commented on #139
- [ ] Finalized plans will also have drilldown tables

[2019-07-25 16:20] cKellyDesign commented on #223
@githengi - a few questions on the schema:

1. Does `duration` ever change? What should it be if not `0`?
2. What type of things go into `details`?
3. Are the times in the `obs` array the start and end times?

[2019-07-25 18:41] githengi commented on #223
@cKellyDesign below are my responses
1. Duration time in minutes that the user took in filling the form
2. Details would be used to save details about the event, This should e.g tag the plan being edited,  and other details
3. Yes items in the obs is the fields that were changes
4. That is usually would be mapped to a `name`  in a html form element. Its used to uniquely identify a field. It can be

[2019-07-26 08:27] moshthepitt commented on #141
@cKellyDesign I'll await @craigappl to provide more light on this but generally we want to always have both goals and actions for any activity.

The [web form spec](https://docs.google.com/spreadsheets/d/1kGPgyF0eJdag19FFL1Oog2gdphdPtKobY4EQ0gMgtgw/edit#gid=1805975071) seems to indicate that IRS plans have only one goal-action pair though

[2019-07-26 12:52] cKellyDesign commented on #193
[icon-index-case.svg.zip](https://github.com/onaio/reveal-frontend/files/3435793/icon-index-case.svg.zip)

This is the icon for the crosshairs, think we can just add this as a new layer would probably be easiest.

[2019-07-29 07:30] moshthepitt opened #233 "Investigate replacing moment.js"
We should check to see if we can replace moment.js with something that is smaller

[2019-07-29 07:38] moshthepitt commented on #233
Look into https://date-fns.org/

[2019-07-29 09:40] #210 closed

[2019-07-29 16:41] cKellyDesign opened #236 "Replace IRS Plan form with Form Page like FI"
We should be using the same PlanForm page to generate both FI and IRS plan definitions with minor differences:

- [ ] Allow a single top level Jurisdiction to be selected for the plan
- [ ] On form completion:
    - [ ] Save Plan to plans reducer
    - [ ] Redirect to IRS plan page for Jurisdiction selection

[2019-07-29 18:52] cKellyDesign opened #237 "Replace componentWillReceiveProps"
This is a ticket to track the work around replacing Reacts depricated `componentWillReceiveProps` lifecycle function.

[2019-07-29 19:25] cKellyDesign opened #238 "Move magic strings from IRS plans to Constants"
There are currently a number of display text elements which should ideally be set in the constants file for consistency and easier implementation.

[2019-07-29 21:45] cKellyDesign commented on #233
What's moment's size? Can we just install what we need? Looks like that's the first point for `date-fns`

[2019-07-30 08:05] p-netm commented on #218
__Proposed Approach__:
1. copy over the full `imgArr` to settings
2. create the literal string values in the constants file for keys: `id` and `imageUrl`.
3. replace the literal string values in the object which would now be in settings with the const defined in step 2

[2019-07-30 15:23] p-netm opened #240 "Typo"
i think `provice` should be `province` [here](https://github.com/onaio/reveal-frontend/blob/d3d76aa3a340df9b1a89d6234cf46baa4ad1a0fc/src/containers/pages/FocusInvestigation/single/index.tsx#L161)

[2019-07-30 17:09] #218 closed

[2019-07-31 12:24] cKellyDesign opened #243 "Move Gisida Event Handlers into Handlers file"
We should centralize our Gisida mouse event handlers, just need to make sure the handlers are set up in a way to receive all data, states, and props via params.

[2019-07-31 12:28] #193 closed

[2019-07-31 12:56] cKellyDesign opened #244 "Add more IRS Planning pages Tests"
Currently there is low test coverage in the IRS Planning pages which needs to be added.

[2019-07-31 13:30] kahama94 opened #245 "Symbol layer not captured in tests"
Symbol layers are dependent on currentGoal prop to be rendered. Currently all tests use ``` RACD_bednet_dist_1km_radius ``` goal which is not among the three goals that will invoke symbol layers i.e ```  'Mosquito_Collection_Min_3_Traps',
      'Larval_Dipping_Min_3_Sites',
      'Case_Confirmation', ```
Including this the tree above as current goals will ensure we capture the symbol layers in our

[2019-07-31 14:33] kahama94 opened #247 "Rename components with names than enable easier import"
rename names like nulldatatable.tsx to index.tsx to enable easy import

[2019-07-31 15:07] moshthepitt opened #248 "FI Plan: Jurisdiction select doesn't fire change event"
The result is that you are forced to select the focus area first so that you can get correct plan name

[2019-07-31 15:08] moshthepitt opened #249 "FI Plan: Date select select doesn't fire change event"
This means that changing the plan start date does not change the hidden plan date field value.

[2019-07-31 15:09] moshthepitt opened #250 "FI Plan: Yup validations don't work on conditional fields"
Yup validations dont yet work on conditional e.g. validate that caseNum is required when type is FI and not required when IRS

[2019-07-31 16:02] #245 closed

[2019-07-31 16:06] kahama94 opened #251 "Capture all tasks that should render symbol layers"
Current implementation only tests Mosquito collection symbol leaving larval dipping and case confirmation untested. Inclusion of this will ensure tests cover all symbol layer instances

[2019-07-31 16:22] cKellyDesign opened #252 "Move Planning getters and extractors into Ducks"
Certain getter / extractor functions may be better suited as methods included in the Ducks modules of their entity's redux store. This is for both FI and IRS plans.

[2019-07-31 16:31] moshthepitt opened #253 "Standardise PlanForm code"
[code]

These should be treated similarly, or a comment made as to why they cant.

[2019-07-31 16:47] moshthepitt opened #254 "FI Plan: Add button to remove focus area if more than one"
<img width="746" alt="Screen Shot 2019-07-31 at 9 40 30 AM" src="https://user-images.githubusercontent.com/372073/62231070-f1531e00-b3cb-11e9-9ddd-b4886d38c178.png">

[2019-07-31 17:05] moshthepitt opened #255 "UnhandledPromiseRejectionWarning in FocusInvestigation/single/tests/index.test.tsx"
UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 2)

[2019-07-31 17:06] moshthepitt opened #256 "UnhandledPromiseRejectionWarning: FocusInvestigation/single/tests/index.test.tsx"
UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 2)

[2019-07-31 17:07] moshthepitt opened #257 "UnhandledPromiseRejectionWarning: FocusInvestigation/map/tests/index.test.tsx"
UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 2)

[2019-07-31 17:08] #255 closed

[2019-07-31 17:21] moshthepitt opened #258 "Add docstrings"
These functions need docstrings:

- [ ] stopPropagation
- [ ] preventDefault
- [ ] stopPropagationAndPreventDefault

[2019-07-31 18:31] moshthepitt opened #259 "Deal with out of date packages"
[code]

[2019-07-31 18:36] moshthepitt opened #260 "FI Plan: Add tests"
- [x] Test PlanForm
- [x] Test PlanForm for new plans
- [x] Test PlanForm for existing plans
- [x] Test PlanForm validations
- [x] Test PlanForm submission
- [x] Test PlanForm helpers
- [x] Test NewPlan
- [x] Test UpdatePlan
- [ ] Test JurisdictionSelect
- [x] Test DatePickerWrapper

[2019-07-31 19:01] #196 closed

[2019-07-31 19:21] #198 closed

[2019-07-31 19:29] kahama94 opened #262 "Redo react select functionality"
When selecting an option on activefi component we are not able to load goals since the plan isn't done pushing to the server so by the time it mounts it isn't getting the data it needs from mounting.

- [ ] Add a pointer instead of cursor when selecting various plans

- [ ] Replace react  select with async select

[2019-07-31 19:39] moshthepitt opened #263 "Map should be equal height with sidebar"
![equal](https://user-images.githubusercontent.com/372073/62242502-fae88000-b3e3-11e9-9513-2d300a5b2b16.png)

[2019-07-31 19:45] moshthepitt opened #264 "Remove unused css"
[code]

[2019-07-31 19:59] moshthepitt opened #265 "Remove unused imports in RS/plan/tests"
`src/containers/pages/InterventionPlan/IRS/plan/tests/index.test.tsx`

[2019-07-31 20:01] moshthepitt opened #266 "Refactor link to new plans"
To make the code more DRY, we should move this component to one place where we can import it from when re-using:

[code]

[2019-07-31 20:05] #199 closed

[2019-07-31 20:05] #254 closed

[2019-07-31 21:21] moshthepitt commented on #83
Fixed by #226 and #227

[2019-07-31 21:21] #83 closed

[2019-07-31 21:21] moshthepitt commented on #173
Fixed by #222

[2019-07-31 21:21] #173 closed

[2019-07-31 21:22] moshthepitt commented on #172
Fixed by #228

[2019-07-31 21:22] #172 closed

[2019-07-31 21:32] moshthepitt commented on #263
Fixed by #268

[2019-07-31 21:32] #263 closed

[2019-08-01 12:20] cKellyDesign opened #271 "Fix repeating top level admin bread crumb on IRS plan"
<img width="799" alt="Screen Shot 2019-07-31 at 11 24 11 PM" src="https://user-images.githubusercontent.com/4141527/62292756-fb047200-b41b-11e9-9541-5c1fdf8bcb0b.png">

[2019-08-01 12:21] cKellyDesign opened #272 "Fix ever loading IRS Map"
<img width="1042" alt="Screen Shot 2019-08-01 at 5 11 24 AM" src="https://user-images.githubusercontent.com/4141527/62292840-26875c80-b41c-11e9-8f40-b49153bbbc4d.png">

[2019-08-01 13:46] moshthepitt commented on #243
@cKellyDesign @KipSigei I think that eventually these need to go back into Gisida.  Yes?

[2019-08-01 14:19] cKellyDesign opened #274 "Add styling to IRS map to show selection/deselection"
Currently the fill layers do not have highlight layers and are not changing when selected/deselected and they need to do something to visually cue the user they are changing the selection on shift+clicks.

[2019-08-01 14:57] cKellyDesign opened #276 "Allow IRS Map drilldown on non-tileset layers"
Currently when clicking on admin fill layers generated from OpenSRP the map does not drill down and focus on the clicked admin feature.

[2019-08-01 15:10] cKellyDesign opened #277 "Re-use jurisdiction geometries instead of Re-downloading them"
This ticket is primarily for IRS planning page but should be also be considered any time a page is pulling geojson from the server it should first check local state to see if they exist.

...UNLESS the geojson properties are different (like for goals) then we will still need to re-download the jurisdiction. Ideally we should have one set of geometry for each GIS entity which gets contextually spec

[2019-08-01 15:19] moshthepitt commented on #277
What are you ideas on how to achieve this?

[2019-08-01 15:32] cKellyDesign commented on #277
What I'm thinking is basically:
1. determine what Jurisdictions are involved
2. check the store to see which Jurisdictions have geojson
3. make API requests only for those that don't have them
4. then `fetchJurisdictions(Jurisdiction[])` (dispatch / save to store)
5. the page can then move on with the process of rendering them all from geojson in the store

The main barrier that I've run into so f

[2019-08-01 17:11] cKellyDesign commented on #243
@moshthepitt I as actually thinking it would be really cool to have a suite of utility event handlers for certain things. In this case we would have to really separate business logic from the core utility involving the map Even then I think the business piece would be hard to pull of this file and the utility would need to be imported from gisida/-react (if not another gisida-addon type of library

[2019-08-02 06:14] #265 closed

[2019-08-02 06:58] FrankApiyo commented on #266
I'll Create a new component call `LinkToNewPlans` that'll render Link and then import it to wherever it's used.

[2019-08-02 07:11] #272 closed

[2019-08-02 07:22] FrankApiyo commented on #264
The css is used here: https://github.com/onaio/reveal-frontend/blob/master/src/containers/pages/FocusInvestigation/active/index.tsx#L305 and here: https://github.com/onaio/reveal-frontend/blob/master/src/containers/pages/FocusInvestigation/active/index.tsx#L313

[2019-08-02 07:55] moshthepitt commented on #264
@FrankApiyo   Cool.  Lets close the issue and PR

[2019-08-02 07:58] #264 closed

[2019-08-02 11:28] #247 closed

[2019-08-02 11:30] #257 closed

[2019-08-02 11:57] FrankApiyo commented on #251
I'll change task6 here: https://github.com/onaio/reveal-frontend/blob/master/src/store/ducks/tests/fixtures.ts#L658 to be a larval_dipping task and then task7 here: https://github.com/onaio/reveal-frontend/blob/master/src/store/ducks/tests/fixtures.ts#L699 to be a case confirmation task. Both these tasks are at the moment bed net distribution tasks

[2019-08-02 12:10] kahama94 commented on #251
Fine by me since we have bednet distribution tested in other cases

[2019-08-02 14:09] #256 closed

[2019-08-02 15:47] #212 closed

[2019-08-02 15:47] #240 closed

[2019-08-02 15:50] moshthepitt commented on #37
I think we are at a good place now.

[2019-08-02 15:50] #37 closed

[2019-08-02 15:58] #266 closed

[2019-08-02 16:32] moshthepitt opened #286 "Can we load the IRS planning map progressively"
@cKellyDesign do you think it would be a good idea to load the IRS planning map progressively?

i.e.
- as soon as we have the first geometry, load the map and show something to the use
- continue to load the other geoms aynchronously
- show a less intrusive Loading indication while this happens

[2019-08-02 16:41] moshthepitt opened #287 "Adjust Look and feel of symbol layers"
Some of the symbol layers like Larval dipping look at least strange at the default zoom level

i.e.

![default](https://user-images.githubusercontent.com/372073/62385349-7de11600-b55d-11e9-9045-2a7bd0567600.png)

Vs zoomed in

![zoomed in](https://user-images.githubusercontent.com/372073/62385358-86395100-b55d-11e9-8162-db79f48ffcd0.png)

[2019-08-02 16:44] moshthepitt opened #288 "Show correct FI details on map"
![correct fi details](https://user-images.githubusercontent.com/372073/62385507-f47e1380-b55d-11e9-91e7-1a48ecebce04.png)

[2019-08-02 16:48] moshthepitt opened #289 "Investigate why Redux store is being reloaded"
When you first log in to the web app, and you navigate to the active FI page, the web app requests for all those plans from Superset.

When you go to an individual plan and then go back to the list page, you will notice that it re-loads the list from scratch instead of using what it should already have had in the Redux store.

[2019-08-02 16:49] cKellyDesign commented on #286
@moshthepitt I had thought of this and for simplicity's sake I did all the loading up front, but it would be nice if we could quickly fetch Jurisdictions with geoms only as they are needed. I think the tradeoff here is making the user wait while subsequent geoms load as the user interacts with the page vs if we do it all up front the user can navigate around at will.

[2019-08-02 16:53] mberg commented on #286
We should only be showing the map one level at a time and just for the
jurisdictions in the list.  I think right we may be loading a lot more
jurisdications then that.

On Fri, Aug 2, 2019 at 12:49 PM Conor Kelly <notifications@github.com>
wrote:

[2019-08-02 16:56] cKellyDesign commented on #286
So I think it depends on the actual use case around planning IRS campaigns:

* If the user never realistically needs to select individual spray areas via the map, then we don't actually have to get the geoms at all
* If the user occasionally selects individual spray areas via the map, then progressively loading on (parent) admin click
* If the user is jumping from district to district and wants to

[2019-08-02 16:59] cKellyDesign commented on #286
@mberg on staging this is the current functionality for Namibia since it is using tilesets, and I was able to extend this functionality to maps without tilesets as of 5c7e042 (in PR#281) just a few minutes ago.

[2019-08-02 20:47] cKellyDesign commented on #287
Yeah I can't even see the icon/circle when it's zoomed out. @kahama94 please make the circles a quite a bit bigger compared when zoomed out.

[2019-08-02 21:01] cKellyDesign opened #290 "IRS Drilldown toggle descendant bug"
Currently, when toggling the selection of a non-spray-area jurisdiction all child spray-area jurisdictions toggle from their individual selection status, whereas they need to inherit the selection status from their toggled parent.

[code]
vs
[code]

[2019-08-05 07:27] moshthepitt opened #291 "FI Plan: Add test for DatePickerWrapper"
This is part of the work to fix #260.

[2019-08-05 07:27] moshthepitt opened #292 "FI Plan: Add test for JurisdictionSelect"
This is part of the work to fix #260.

[2019-08-05 07:28] moshthepitt opened #293 "FI Plan: Test PlanForm helpers"
This is part of the work to fix #260.

[2019-08-05 07:35] moshthepitt commented on #258
Also work with @cKellyDesign to assess whether this code can be made better

[2019-08-05 11:44] p-netm commented on #289
now i could be wrong, but isn't this the currently coded in way of loading the plans. I.e. any time the component mounts make a request to retrieve the plans and then render them.

[2019-08-05 11:51] moshthepitt commented on #289
@p-netm that is true.  My concern is with the Redux store.  i.e. once you go to the list page, a number of plans are put into the redux store for plans.  When you then load the single FI page, these plans should still be maintained so that when you come back to that list page, the Redux store is not empty and the page can be rendered right away.

It should not matter that we are doing fetch reques

[2019-08-05 12:45] #274 closed

[2019-08-05 12:45] #276 closed

[2019-08-05 12:45] #290 closed

[2019-08-06 06:44] moshthepitt opened #296 "FI Plan Form Status Field"
Remove the disable attribute from status field.

[2019-08-06 06:45] moshthepitt opened #297 "Add page to update existing plan with PlanForm"
We need to add the ability to update existing plans.

[2019-08-06 06:47] moshthepitt opened #298 "PlanForm: Dynamic plan activities"
We need to make it possible to alter the activities in the PlanForm.

This means:

- ability to add new activities
- ability to remove existing activities

### Constraints

- IRS plans can only have the IRS activity
- FI plans cannot have the IRS activity

[2019-08-06 06:52] moshthepitt opened #299 "FI Planning: Add list page"
It seems to me that when creating new plans, we need a page that lists plans that come directly from the OpenSRP server and not the Superset tables - these have to go through an entire ETL process which may last too long for a person who is simply creating new plans.

Additionally, we should keep in mind that the Superset tables are meant more for analysis than for planning.

### Tasks

- [x] Crea

[2019-08-06 06:54] moshthepitt opened #300 "Add growl-like notifications"
We need to add [growl](http://ksylvest.github.io/jquery-growl/)-like notifications to the planning pages so that the user can be notified when an action is complete or an error has occurred etc.

[2019-08-06 13:29] moshthepitt opened #301 "PlanForm Goal comparator is url encoded"
It should not be url encoded

[2019-08-07 09:53] FrankApiyo commented on #293
- [ ] test extractActivityForForm

- [ ] test getFormActivities

- [ ] test extractActivitiesFromPlanForm

- [ ] test getNameTitle

- [ ] test doesFieldHaveErrors

- [ ] test generatePlanDefinition

[2019-08-07 17:21] moshthepitt commented on #289
While working on another reducer, I noticed that after [adding this kind of test](https://github.com/onaio/reveal-frontend/pull/305/commits/331e81a47d1783bfae194876bfd59619d97b968b), I had to make [this change to the dux module](https://github.com/onaio/reveal-frontend/pull/305/commits/c463757b8ffac0c965514a0d657754bf51de79ba) for things to work.

[2019-08-07 17:49] cKellyDesign opened #306 "Scope Request: How to assign teams to plans?"
This ticket requests / tracks additional scoping for assigning teams to plans generated in the Reveal Webapp.

### Related Issues
OpenMRS Integration: https://github.com/OpenSRP/playbooks/issues/95
UI / UX Requirements: https://github.com/onaio/reveal-frontend/issues/143
Client IRS Scoping (as of 12 July 2019): https://github.com/onaio/reveal-frontend/issues/192

### Wireframes
W1. [First Load](ht

[2019-08-07 18:11] moshthepitt commented on #306
We should note that scoping/mockups for FI plans team assignments are entirely not there.

[2019-08-07 18:13] cKellyDesign commented on #306
cc @rowo

[2019-08-07 18:28] cKellyDesign commented on #141
We need to add:
* visual confirmation of success (popup modal? alert banner?)
* visual warning of failure (popup modal? alert banner?)
* re-direct on confirmation of successful save from OpenSRP

[2019-08-07 18:30] #140 closed

[2019-08-07 18:37] cKellyDesign opened #307 "IRS Planning - Update Map position / zoom / layers on Drilldown Table click"
Currently the IRS planning map does not update when drilling down through the table. The map needs to:

- [x] Identify which Jurisdiction is being clicked
- [x] Identify child Jurisdictions of the clicked Jurisdiction
- [x] **Identify the center-point of the clicked Jurisdiction**
    - [x] [Query for Mapbox features](https://docs.mapbox.com/mapbox-gl-js/api/#map#querysourcefeatures) of the releva

[2019-08-07 18:41] #139 closed

[2019-08-07 18:41] #138 closed

[2019-08-07 18:41] #137 closed

[2019-08-07 18:43] cKellyDesign commented on #271
@mberg have you seen this bug since `v0.1.2`?

[2019-08-07 18:44] #125 closed

[2019-08-07 18:50] cKellyDesign commented on #144
We need to add:

* visual confirmation of success (popup modal? alert banner?)
* visual warning of failure (popup modal? alert banner?)
* re-direct on confirmation of successful save from OpenSRP

[2019-08-07 18:51] cKellyDesign commented on #142
We need to add:

* visual confirmation of success (popup modal? alert banner?)
* visual warning of failure (popup modal? alert banner?)
* re-direct on confirmation of successful save from OpenSRP

[2019-08-07 18:54] cKellyDesign opened #308 "IRS Planning Save Draft/Finalized Confirmation UI"
Currently there is no way to visually confirm when a Plan is saved as a Draft or as a Finalized Plan \. We need to add:

- [ ] Confirmation of success (popup modal? alert banner?)
- [ ] Warning of failure (popup modal? alert banner?)
- [ ] Re-direct on confirmation of successful save from OpenSRP

[2019-08-07 18:55] cKellyDesign commented on #142
Now tracking at https://github.com/onaio/reveal-frontend/issues/308

[2019-08-07 18:55] #142 closed

[2019-08-07 18:55] cKellyDesign commented on #144
Now tracking at https://github.com/onaio/reveal-frontend/issues/308

[2019-08-07 18:55] #144 closed

[2019-08-07 18:55] cKellyDesign commented on #141
Now tracking at https://github.com/onaio/reveal-frontend/issues/308

[2019-08-07 18:56] #141 closed

[2019-08-07 19:12] moshthepitt commented on #308
The notifications of success/failure will probably be fixed after https://github.com/onaio/reveal-frontend/issues/300

[2019-08-07 19:14] cKellyDesign commented on #237
Seems like this would go hand in hand with #286, especially if we are loading Jurisdiction geojson as the user Drills down through the Jurisdiction hierarchy.

[2019-08-07 19:37] cKellyDesign commented on #262
This sounds like there needs to be an asynchronous check confirming the PUSH (by subsequently GETing) the Plan before then re-directing and trying to fetch (similar to #308).

[2019-08-07 20:12] cKellyDesign commented on #8
We are using different combinations of Tilsets and Geojson for both Admin and non-Admin Jurisdictions in different contexts and which we need to clean up and define implementation documentation.

This issue has potential to provide substantial performance benefits if we can leverage tilesets as much as possible.

[2019-08-07 22:52] craigappl commented on #306
@cKellyDesign , these are tough questions because we haven't thought about it at this level of detail yet. I'll do my best to answer:

A1: I think we need to do this through the OpenSRP server as a passthrough so we don't have to deal with authenticating with OpenMRS from the web UI. My expectation is that the OpenSRP server would act as a proxy using some admin account to run all of the queries f

[2019-08-08 00:44] mberg opened #310 "Mark as complete for FI plan does not work"
Marking a plan as complete does not work.

This needs to update the plan and change the status to complete.

<img width="1165" alt="Screen Shot 2019-08-07 at 8 37 36 PM" src="https://user-images.githubusercontent.com/57921/62667068-0b54a980-b954-11e9-9b23-dd1090f5729c.png">

[2019-08-08 00:47] mberg opened #311 "Make pill on FI Plan smaller"
<img width="1183" alt="Screen Shot 2019-08-07 at 8 45 06 PM" src="https://user-images.githubusercontent.com/57921/62667163-756d4e80-b954-11e9-9201-9e3e7d964fd7.png">

Not high priority

[2019-08-08 00:55] mberg commented on #297
The intended behavior is clicking on draft on this page would take you back to the plan form page where you can edit it.

<img width="1207" alt="Screen Shot 2019-08-07 at 8 55 15 PM" src="https://user-images.githubusercontent.com/57921/62667455-b3b73d80-b955-11e9-8851-665e69a36193.png">

[2019-08-08 01:16] mberg commented on #297
Also on the focus page too

<img width="1213" alt="Screen Shot 2019-08-07 at 9 11 13 PM" src="https://user-images.githubusercontent.com/57921/62668102-95067600-b958-11e9-9ee9-138bc814618c.png">

[2019-08-08 01:49] mberg opened #312 "Saving IRS Draft and Save Finalized plan doesn't work"
Neither of these work

<img width="1170" alt="Screen Shot 2019-08-07 at 9 46 29 PM" src="https://user-images.githubusercontent.com/57921/62669305-1cee7f00-b95d-11e9-965f-b280c9f868d8.png">

[2019-08-08 01:52] mberg commented on #8
@cKellyDesign we should use our own layers for admin 1 and 2 from a site like humdata or it will be provided by the client.

Can we use tilesets for all layers to speed things up.  Right now the load times due to loading village layers is very slow.  Can we discuss if there is not a reason just to use tilesets now.  We can easily create these in mapbox.  Help me understand what I'm missing please.

[2019-08-08 01:59] mberg opened #313 "Allow ability to save FI plan as active (not just draft)"
<img width="704" alt="Screen Shot 2019-08-07 at 9 53 33 PM" src="https://user-images.githubusercontent.com/57921/62669581-1dd3e080-b95e-11e9-9555-2530a7889bdd.png">

We need the ability to save the status as active.

[2019-08-08 02:57] mberg commented on #306
Q5 - Since we can just have a single team per jurisdiction, we'll need to just use OpenMRS to move people between teams for now.  This is something we'll need to improve later.

Q7 - After team assignment I'd keep it on the assign page as you may want to make another change.

[2019-08-08 06:14] moshthepitt commented on #8
@mberg the thing that is not clear to me about using tilesets is:

- How do we configure these for the web app in a sane way?  Using geojson from OpenSRP is nice and easy because we just tell the web app where the API endpoint is and it can load everything nicely.  It is not clear to me how we would handle this for tilesets.  Will we have a giant config file that has every single layer mapped to a

[2019-08-08 06:16] moshthepitt commented on #306
I do not think we should do this, [for these reasons](https://github.com/OpenSRP/playbooks/issues/95#issuecomment-515892180).  Additionally I don't think the LOE to use an OpenSRP proxy is so big that we need to make a compromise here.

[2019-08-08 06:19] moshthepitt commented on #313
This issue is a duplicate of https://github.com/onaio/reveal-frontend/issues/296

[2019-08-08 06:19] #313 closed

[2019-08-08 07:35] p-netm commented on #289
This makes so much sense now

[2019-08-08 08:12] githengi commented on #306
Q5

This can easily be extended to support a list of teams. But I think its better this is implemented when team module is moved to OpenSRP

[2019-08-08 11:15] cKellyDesign commented on #312
@mberg investigating this now, did the test from this image get updated in the backend? When loading the IRS plans list page I'm seeing `Pierre3` as active.

[2019-08-08 11:30] cKellyDesign commented on #312
@mberg when testing locally both buttons are working to save the plan as a draft and then as finalized. Will test on staging now.

[2019-08-08 13:40] cKellyDesign commented on #312
As per conversation with @mberg updates to the plan are not being saved when clicking the buttons, am investigating this.

[2019-08-08 15:41] moshthepitt opened #315 "Add test for ConnectedPlanDefinitionList"
Context: https://github.com/testing-library/react-testing-library/issues/281

[2019-08-08 15:46] moshthepitt opened #316 "Add test for LinkToNewPlans"
This component is not tested

[2019-08-08 16:36] cKellyDesign commented on #312
As of version `v0.1.3` both buttons are working and correctly POST/PUTing to the OpenSRP server with updated Jurisdictions, version numbers, and status.

[2019-08-08 16:36] #312 closed

[2019-08-08 16:38] cKellyDesign opened #317 "IRS Tables only showing 20 rows"
For some reason the tables in IRS plan list page, IRS Plan Jurisdiction selection page, and IRS Finalized Plan page only render 20 rows of data.

[2019-08-08 17:40] moshthepitt commented on #301
This seems to be happening server-side.  Will be fixed here: https://github.com/OpenSRP/opensrp-server-web/issues/93

[2019-08-08 17:41] cKellyDesign opened #318 "IRS Planning - Jurisdiction Selection Map Styling"
A few more interactions need to be flushed out:

- [x] Loading an existing draft should have selection `fill-color` stops generated on load
- [x] Toggling the `Toggle All` checkbox in the drilldown table should update the selection `fill-color` stops
- [x] When drilled down, `Toggle All` checkbox should only descendant Jurisdiction selections

[2019-08-09 06:06] p-netm opened #320 "Circle Ci no output timeouts errors"
__Expected Behaviour__:
Tests should run to completion and pass/fail on circle ci as they do when running locally.

__Actual Behavious__:
Tests on circle ci fail with a no output timeout error regardless of whether the tests pass.

__Possoble Cause__:
Jest is really slow on resource-constrained environments such as docker and CI/CD environments. see [thread](https://github.com/facebook/jest/issues

[2019-08-09 07:20] moshthepitt commented on #297
###  To what extent can you edit active plans in the web UI?

1) You can not change jurisdictions
2) You can not add or remove activities
3) You can not change the status back to draft

The only things you can edit once in draft are the execution dates and the numbers in the goals.

The only available action is to complete.

Context: https://onaio.slack.com/archives/CBSU8L2SC/p1565287813015400

[2019-08-09 07:30] #320 closed

[2019-08-09 07:37] FrankApiyo opened #322 "Investigate why test slow down on CI"
Investigate why tests slow down drastically from commit: ec55906f, causing build and test jobs in circle-ci to timeout. We resorted to: `jest --runInBand` from here: https://jestjs.io/docs/en/troubleshooting.html#tests-are-extremely-slow-on-docker-and-or-continuous-integration-ci-server ; that improves speed by running tests sequencially

[2019-08-09 07:56] #291 closed

[2019-08-09 09:32] #299 closed

[2019-08-09 14:08] cKellyDesign commented on #298
@mberg @craigappl how soon is this feature required?

[2019-08-09 14:11] moshthepitt commented on #298
It's not a lot of work actually!  The biggest issue is the design but I'll implement by Thursday next week and then if we need to redesign we'll do so

[2019-08-09 17:17] cKellyDesign commented on #310
Requirements for this interaction:

1. Technically needs to create a plan
2. Technically needs to verify success of `1`
3. Visually needs to indicate status of `1` and `2`
4. Feature: include a note?

@mberg @craigappl @moshthepitt - am I missing anything?

[2019-08-09 17:28] cKellyDesign commented on #297
### Page Requirements:
- [ ] View existing draft/active FI plan definitions
- [ ] Edit existing FI draft plan definitions
- [ ] Edit existing FI active plan execution dates
- [ ] Edit existing FI active plan goal numbers (depends on #298)
- [ ] PUT updated draft/active plan definitions to the server (align interaction with https://github.com/onaio/reveal-frontend/issues/310#issuecomment-519996749)

[2019-08-09 17:34] cKellyDesign commented on #288
@moshthepitt what is the expected result here?

[2019-08-09 17:39] cKellyDesign commented on #262
@moshthepitt @p-netm @kahama94 should this be considered a part of #300 (aka - displaying error messages if/when API service requests fail?)

[2019-08-09 17:44] cKellyDesign commented on #258
- [ ] Re-audit the codebase for missing docstrings

[2019-08-09 17:48] cKellyDesign commented on #252
- [ ] Audit for getters in IRS Plans list page and IRS Plan Jurisdiction Selection page
- [ ] Migrate Jurisdiction getters / helpers out of IRS Plan Jurisdiction Selection

[2019-08-09 17:49] cKellyDesign commented on #251
@kahama94 @FrankApiyo what's the status of this ticket?

[2019-08-09 17:51] cKellyDesign commented on #249
@moshthepitt is this critical for any part of the FI planning definition lifecycle?

[2019-08-09 17:56] cKellyDesign commented on #297
@moshthepitt is this requirement effected by #249?

[2019-08-09 18:02] cKellyDesign commented on #238
- [ ] Audit for magical strings 🌈

[2019-08-09 18:03] cKellyDesign commented on #237
@moshthepitt are there any good resources you can share on why and how?

[2019-08-09 18:06] cKellyDesign commented on #223
@moshthepitt @githengi @craigappl - How essential is this for the upcoming release milestones?

[2019-08-09 18:07] cKellyDesign commented on #221
@mberg @craigappl @moshthepitt - where would these links go?

[2019-08-09 18:10] cKellyDesign commented on #203
Migrated to https://github.com/onaio/js-tools/issues/94

[2019-08-09 18:10] #203 closed

[2019-08-09 18:12] cKellyDesign commented on #188
@mberg @craigappl are the requirements in this ticket being met? Are there new requirements that aren't already captured via newer tickets?

[2019-08-09 18:15] cKellyDesign commented on #182
@moshthepitt @mberg @craigappl - let's review the URL structure of the webapp to make sure it is intuitive to how we are actually handling FI/IRS Plan definition and monitoring.

[2019-08-09 18:19] cKellyDesign commented on #179
Given the latest requirements this conversation won't happen until September.

[2019-08-09 18:24] cKellyDesign commented on #130
@kahama94 @moshthepitt is this a requirement? Is it done?

[2019-08-09 18:24] cKellyDesign commented on #127
@kahama94 what is the status of this?

[2019-08-09 18:27] cKellyDesign commented on #117
@moshthepitt do we have a proposed solution / level of effort for this?

[2019-08-09 18:27] cKellyDesign commented on #93
duplicate of #300

[2019-08-09 18:27] #93 closed

[2019-08-09 18:28] cKellyDesign commented on #40
@mberg @craigappl - do we have any client requirements for this issue?

[2019-08-09 18:30] cKellyDesign commented on #16
@moshthepitt will #199 close this issue?

[2019-08-09 18:33] cKellyDesign commented on #11
Seems like this needs more clarification.

@mberg @craigappl are there client requirements for [this page](https://web.reveal-stage.smartregister.org/focus-investigation/historical) for any of the upcoming milestones/deadlines?

[2019-08-09 18:50] cKellyDesign commented on #8
@mberg
Hard and requirements for this:
R1. the data of a tileset must match at least one attribute uniquely identifying the location and at least one attribute uniquely identifying the parent location
R2. the attributes values of `R1` must match that which is in OpenSRP (and OpenMRS)
R3. ideally the attributes described in `R1` match what is in OpenSRP, otherwise we need to specify configurations

[2019-08-09 18:50] cKellyDesign commented on #8
@moshthepitt - at the very least we need a config listing out source information for every tileset being used.

[2019-08-12 15:34] cKellyDesign commented on #253
This ticket no longer seems to be relevant as the PlanForm code has changed significantly.

[2019-08-12 15:34] #253 closed

[2019-08-12 16:03] cKellyDesign commented on #317
Moving this to w33 b/c it effects the Focus Investigation tables as well.

<img width="1084" alt="Screen Shot 2019-08-12 at 8 45 06 AM" src="https://user-images.githubusercontent.com/4141527/62879384-dc399180-bcdf-11e9-9f44-65f949b06299.png">

@moshthepitt - do you think this is was introduced when we bumped the drill-down-table version? https://github.com/onaio/reveal-frontend/commit/e8fbb4d89aa1

[2019-08-12 17:52] cKellyDesign commented on #317
@moshthepitt - rather than triaging the DrillDownTable package let's at least start by including it as a feature to these tables (FI Monitoring tables, IRS Plans List table, IRS Plan Jurisdiction Selection table).

@craigappl @mberg - if the clients start asking why there is pagination, this ticket is why but we can probably spin it as an effort to reduce the visual overload of pages with multiple

[2019-08-13 06:46] kahama94 commented on #262
@cKellyDesign  I agree The current implementation uses react select component. but we should be using async select. I think issue #300 handles notifications while this one handles  rethinking the select component. I think it is more contextually relevant to the PlanForm Async-Select component?

[2019-08-13 09:07] moshthepitt commented on #8
Really curious to see what kind of configs will be needed for this, to prevent clunkiness/ambiguity.

[2019-08-13 09:08] moshthepitt commented on #16
@cKellyDesign #297 will close this

[2019-08-13 09:10] moshthepitt commented on #117
This is very very low on my priority list.  It would be easiest to implement after #156

[2019-08-13 09:10] moshthepitt commented on #130
This is not done.  I am not sure if we need it in Reveal.

[2019-08-13 09:14] moshthepitt commented on #179
@craigappl can we get accurate dates for when IRS reporting needs to be in the web app?  Once we have those dates, we need a few weeks to tackle this issue.

[2019-08-13 09:15] moshthepitt commented on #221
@cKellyDesign they would be new pages that list focus investigations but filtered to the jurisdiction level of the breadcrumb

[2019-08-13 09:17] moshthepitt commented on #223
This is not essential right now.

[2019-08-13 09:23] moshthepitt commented on #237
### Why

[Update on Async Rendering (explains why this was deprecated)](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html)

### How

1.[You should move all the code from the componentWillMount to the constructor or componentDidMount](https://stackoverflow.com/a/49213753)
2. [Replacing ‘componentWillReceiveProps’ with ‘getDerivedStateFromProps’](https://hackernoon.com/replacing-com

[2019-08-13 09:29] moshthepitt commented on #297
@cKellyDesign no it is not

[2019-08-13 09:30] moshthepitt commented on #288
@cKellyDesign This was not scoped.  @craigappl @mberg can you provide guidance?

[2019-08-13 09:32] moshthepitt commented on #310
@cKellyDesign it does not need to create a plan.  It needs to edit an existing plan and change its status to "complete".  Moreover, it needs to include the note as per #171

[2019-08-13 12:03] kahama94 commented on #251
I think we can move the the list that holds goals to a settings file.  After that We can test the list by matching snapshots for the map layers
 ``` store.getState()['map-1'].layers ```. This will mean when someone adds or removes a new goal on the list the tests will fail requiring snapshot update

[2019-08-13 13:15] moshthepitt commented on #296
Fixed in #325

[2019-08-13 13:15] #296 closed

[2019-08-13 14:14] cKellyDesign commented on #171
De-scoping the Note for the upcoming release, will have to do it later because we don't know how the event payload needs to have the note included.

[2019-08-13 14:16] cKellyDesign commented on #300
This still needs scoping.

[2019-08-13 14:18] cKellyDesign commented on #188
This looks like the same as #297

[2019-08-13 14:18] #188 closed

[2019-08-13 14:20] moshthepitt commented on #188
Was partly fixed by #227, the next part will be fixed in #297

[2019-08-13 15:58] cKellyDesign commented on #152
@mberg are you able to find a structure with multiple tasks to confirm this is no longer an issue?

[2019-08-13 16:00] cKellyDesign commented on #287
- [ ] Look for good sample layers in the Routine FI Plans
- [ ] Adjust the styling

[2019-08-13 16:02] cKellyDesign commented on #310
Doh, of course!

[2019-08-13 16:07] cKellyDesign commented on #171
@craigappl @githengi - How do we include the note in the event payload when PUTing to the OpenSRP endpoint?

[2019-08-13 17:17] cKellyDesign commented on #8
@moshthepitt this is was my initial stab at configuration: https://github.com/onaio/reveal-frontend/blob/master/src/configs/settings.ts#L773-L806

[code]

This specification emerged from the process of developing the IRS Jurisdiction selection page under shifting contexts with various available resources and still doesn't cover everything it needs to. Also the naming is terrible, sorry about that.

[2019-08-13 17:44] moshthepitt opened #329 "Set content type for OpenSRP service"
The content type should be `application/json;charset=UTF-8` instead of just `application/json`

[2019-08-13 17:45] cKellyDesign commented on #8
The webapp needs to support a variety of contexts, but should have an optimal configuration and protocol, all contingencies should use a universal configuration alongside page-level business logic to generate layers for Gisida to render.

**Optimal Configuration**
* O1. Client provided Tilesets are used for all geometries
* O2. Location hierarchy is derived independent of the Map via Superset/Open

[2019-08-13 17:45] moshthepitt commented on #329
Context: https://flaviocopes.com/javascript-unicode/

[2019-08-13 17:59] cKellyDesign commented on #298
@moshthepitt is this adequately scoped?

[2019-08-13 20:00] mberg commented on #288
Sorry I think it’s just to show the right details about the Fi Eg The classification status isn’t right.  I think that’s all it is

[2019-08-13 20:11] moshthepitt commented on #298
Nope.  But I have enough to work with

[2019-08-13 20:15] moshthepitt commented on #288
@mberg but what details do we want to show?  Are we showing only the classification status?

[2019-08-14 10:02] #238 closed

[2019-08-14 10:06] #293 closed

[2019-08-14 12:07] #316 closed

[2019-08-14 12:08] #311 closed

[2019-08-14 12:22] moshthepitt opened #333 "Add more PlanForm tests"
- [x] Test field validation and error messages
- [x] Test jurisdiction selection
- [x] Test form submission

[2019-08-14 13:04] moshthepitt opened #334 "<h5> cannot appear as a child of <h2>"
This was mistakenly merged in https://github.com/onaio/reveal-frontend/pull/328

[2019-08-14 13:05] cKellyDesign commented on #288
Let's start by just showing the classification status. (Unless there is more required @mberg?)

[2019-08-14 13:26] moshthepitt opened #335 "Fix Deprecation warning in helpers.test.ts"
[code]

We should try very hard not to tolerate deprecation warnings

[2019-08-14 13:36] FrankApiyo commented on #221
I'm going write a new method that takes in two arguments:

1. locationHierarchy; a number indicating the hierarchy of the location like the `level` field here: https://github.com/onaio/reveal-frontend/blob/master/src/configs/settings.ts#L71

2. location; the name of the location extracted from the bread crumb

This new method called: `filterPlans` will remove, using the Array.prototype.filter meth

[2019-08-14 14:28] FrankApiyo opened #336 "Fix Warning: An update to PlanDefinitionList was not wrapped in act"
[code]

[2019-08-14 14:33] FrankApiyo opened #337 "Fix linting errors in Planform helpers test folder"
There are several linting errors in src/containers/forms/PlanForm/tests/helpers.test.ts

[2019-08-14 15:06] cKellyDesign opened #338 "Disable certain FI PlanForm Fields"
As per slack convo starting at https://onaio.slack.com/archives/CBSU8L2SC/p1565793929024800

Let's disable certain inputs to lock down their default values:
- [x] FI Reason
  - [x] case triggered = investigation
  - [x] routine = routine
- [x] priority - medium
- [x] activity start and end dates (for IRS activities)

[2019-08-14 16:11] cKellyDesign opened #339 "Number of structures in IRS Jurisdiction Plan Table"
The IRS Jurisdiction Selection drill-down-table needs an column for number of structures.

### Requirements
- [ ] 1. Create Superset slice for number of structures per jurisdiction (or add column to existing query, @moshthepitt thoughts on this?)
    - [ ] Administrative non-operational-area jurisidctions should `SUM` the structure counts of their descendant operational-areas
- [ ] 2. Join the Sup

[2019-08-14 16:46] cKellyDesign opened #340 "Add Number of Structures to Plan Definition"
According Slack convo in #reveal [starting here](https://onaio.slack.com/archives/CBSU8L2SC/p1565796619058600) the number of structures in Jurisdictions associated with a Plan needs to be saved to the Plan Definition as activity goals.

### Requirements
- [ ] 1. PlanForm should save IRS plan with `0` structures
- [ ] 2. IRS Jurisdiction Selection should save IRS plan with calculated number of stru

[2019-08-14 17:15] cKellyDesign commented on #152
Confirmed this is still occurring in instances where FI task layers have multiple gisida layers.

<img width="905" alt="Screen Shot 2019-08-14 at 10 12 07 AM" src="https://user-images.githubusercontent.com/4141527/63041327-72a2ba00-be7c-11e9-9ef8-0db6fd9bef8f.png">

[2019-08-14 17:23] cKellyDesign commented on #288
We're already showing start and end dates, so the task for this ticket should be:
- [ ] Add classification status above start and end dates

[2019-08-14 17:29] cKellyDesign commented on #288
closing this issue because non-routine plans are already dynamically displaying the plan's Classification Status from the plan definition.

[2019-08-14 19:15] rowo opened #343 "Reveal frontend styling update goals"
@mberg brought up a project to update the design for Reveal. Anyone and everyone, please comment here on anything that's been bothering you in terms of UI/UX.

The goals for the design refresh, in order of priority, are:

1.  Add visual polish
2. Update existing quirky functionality to be more user-friendly based on internal, partner and user feedback
3. Stylistically theme the UI for Reveal brand

[2019-08-14 19:56] cKellyDesign commented on #338
This still needs some work, it looks like the plan definition payload isn't save the correct timeStart/timeEnd on the actions (timingPeriod.end should be `2019-09-14` to match the plan end date):

<img width="472" alt="Screen Shot 2019-08-14 at 12 51 11 PM" src="https://user-images.githubusercontent.com/4141527/63051795-ba344080-be92-11e9-9a26-7c5d333997a1.png">

[2019-08-15 06:44] moshthepitt commented on #288
@cKellyDesign but currently saying Case classification === "FI" is not accurate.  We need to at least change that - no?

[2019-08-15 06:56] moshthepitt opened #345 "Debug Focus Area Profile Page"
This page seems to have a number of problems that we need to investigate:

- [x] The map sometimes loads, sometimes does not load and sometimes loads then starts reloading
- [x] The list of focus areas on this page should be filtered by the focus area (jurisdiction) id.  This is not the case
- Some of the queries sent to Superset result in weird 400 errors (see #350)

![focus area](https://user-im

[2019-08-15 07:01] moshthepitt commented on #345
This is an example of a "bad request": `https://superset.reveal-stage.smartregister.org/superset/slice_json/460?form_data={%22adhoc_filters%22:[{%22clause%22:%22WHERE%22,%22expressionType%22:%22SIMPLE%22,%22comparator%22:%22ce135203-681d-4e9a-92f0-b75919b88e08%22,%22operator%22:%22==%22,%22subject%22:%22plan_id%22}],%22row_limit%22:3000}` - in this case the plan id sent does not seem to exist

[2019-08-15 07:27] moshthepitt commented on #343
Thank you @rowo for setting this up.  These are what bother me the most:

- Could we look at making the site wider
- The plan form is a really long form, how can we make the UI/UX better here
- The FI map view - how can we:
    - make it better looking
    - make it more similar to how the mobile app map works
- The FI profile view
- The FI list views

[2019-08-15 07:41] #289 closed

[2019-08-15 07:55] p-netm commented on #310
__Proposal__:
- Add a click handler to the Mark as complete button
- write an action Handler that takes the plan prop:
    - Make an Patch/Post call with plan status as complete
    - Dispatch a clone of the plan with only change being plan_status set to complete

[2019-08-15 08:02] moshthepitt commented on #343
- mSpray reporting

[2019-08-15 08:27] moshthepitt commented on #339
Sorry, could we document why this is needed? @mberg @craigappl

[2019-08-15 08:36] OluwatobiMayowa commented on #343
@moshthepitt Please these credentials do not load up the site after several attempts. Can you please help look into this:

https://reveal-stage.smartregister.org/opensrp/login.jsp
superset-user
Va[(sQVU&#RNA376

[2019-08-15 11:56] OluwatobiMayowa commented on #343
https://docs.google.com/document/d/1UxzWLJOImxCqHg8gg4bDiTTEFXC9pPb13cakVhNgqgI/edit#

[2019-08-15 14:06] cKellyDesign commented on #345
@moshthepitt it looks like the [plan exists](https://reveal-stage.smartregister.org/opensrp/rest/plans/ce135203-681d-4e9a-92f0-b75919b88e08), it's the goals/tasks which don't exist for the plan Id. [In this case](https://superset.reveal-stage.smartregister.org/superset/slice_json/460?form_data={"adhoc_filters":[{"clause":"WHERE","expressionType":"SIMPLE","comparator":"ce135203-681d-4e9a-92f0-b7591

[2019-08-15 14:16] cKellyDesign opened #350 "Handle superset requests which return no records"
Currently if a query to a superset slice returns no data the request errors out with `400 - Bad Request` and should be handled correctly.

[2019-08-15 14:24] moshthepitt commented on #345
Makes sense!

[2019-08-15 14:25] #329 closed

[2019-08-15 15:37] cKellyDesign commented on #345
@moshthepitt @kahama94 - It appears the Focus Area profile view is re-requesting jurisdiction geojson on subsequent renderings of the same foucs area, which finishes after the component mounts, causing new props to be passed to the mounted/rendered GisidaWrapper with `null` for `geoData`, which then **passes** [this conditional](https://github.com/onaio/reveal-frontend/blob/master/src/components/G

[2019-08-15 15:38] moshthepitt commented on #345
@kahama94 any thoughts on this?

[2019-08-15 16:07] cKellyDesign commented on #345
@moshthepitt @kahama94 - It appears the Focus Area profile view is re-requesting jurisdiction geojson on subsequent renderings of the same foucs area, which finishes after the component mounts, causing new props to be passed to the mounted/rendered GisidaWrapper with `geoData`, which then **passes** [this conditional](https://github.com/onaio/reveal-frontend/blob/master/src/components/GisidaWrappe

[2019-08-15 16:15] cKellyDesign commented on #345
@moshthepitt was there a specific use-case or pattern you saw the Map not rendering at all? For me it is always rendering at least once before "un-rendering" (to show the spinner).

[2019-08-15 21:48] cKellyDesign opened #352 "Fix / Add tests to PlanCompletion Component"
Currently this components tests don't have good coverage and should test both the `<PlanCompletion />` and `<ConnectedPlanCompletion />` variations.

- [x] Test mock update call to OpenSRP using a mock plan definition
- [x] Ensure the mock store is getting updated with the new Plan (extracted from the plan definition)
- [x] Test the re-direction of `Go Back`
- [x] Test the re-direction of `Confirm

[2019-08-15 23:27] #317 closed

[2019-08-15 23:29] #287 closed

[2019-08-16 08:01] moshthepitt opened #355 "Add support for new PlanDefinition useContext object"
[code]

This one is used to track whether a plan has had tasks generated or not.

[2019-08-16 08:03] moshthepitt commented on #355
@craigappl could we please make this a true boolean type instead of a string?  JSON has support for bool values.

See: https://www.w3schools.com/js/js_json_datatypes.asp

[2019-08-16 13:06] moshthepitt opened #356 "Fix UpdatePlan bug"
[code]

[2019-08-16 13:16] moshthepitt opened #357 "Add updated/created plan to Redux store optimistically"
Add the plan definition object that was just created/updated to the redux store optimistically so that we dont have to wait for it to be pulled from the OpenSRP server.

[2019-08-16 13:30] moshthepitt opened #358 "Optimise useContext arrays"
context: https://github.com/onaio/reveal-frontend/pull/346#discussion_r314530822

[2019-08-16 13:34] moshthepitt commented on #357
Implementation plan:

1. Add `addPlanDefinition` action creator as a prop to PlanForm
2. Use it to update store with the plan definition object in the PlanForm payload once plan is created/updated successfully

[2019-08-16 13:47] cKellyDesign commented on #357
One thing is that pulling the Plan Definition from OpenSRP is a good way to determine that it, in fact, was successfully added to OpenSRP. Maybe that's less relevant for `PUT`ing (vs `POST`ing). Thoughts?

[2019-08-16 13:48] #297 closed

[2019-08-16 13:48] #335 closed

[2019-08-16 13:48] #337 closed

[2019-08-16 13:54] moshthepitt commented on #357
Yeah it is definitely a trade-off where we assume that if we get a 201/200 from OpenSRP then the plan was created/updated and we don't have to wait to pull it, and can show something to the user straight away.

[2019-08-16 13:58] moshthepitt opened #359 "Remove draft/retired plans from FI plan reporting list"
We don't need to show these plans on pages meant for reporting, and should filter them out.

[2019-08-16 14:15] moshthepitt opened #360 "Add test for ConnectedUpdatePlan"
Context: testing-library/react-testing-library#281

[2019-08-16 15:00] cKellyDesign opened #362 "Add tests for GisidaWrapper geoData"
We need to add better tests for the GisidaWrapper component, including (but not limited to) making sure the GisidaWrapper only updates its state when `nextProps.geoData` is actually different than `this.props.geoData`.

[2019-08-16 15:03] cKellyDesign commented on #288
What are the values to be displayed?

[2019-08-16 16:06] moshthepitt commented on #288
@cKellyDesign idk which of the values to display

[2019-08-16 16:22] cKellyDesign commented on #357
3. Navigate to FI Map Active view and load newly minted Plan(**!**)

(**!**) Most certainly the tasks for this Plan will not be available yet, so we should probably show a pending status of sorts if no tasks are found for a given Plan/Activity/Goal (needs ticket)

[2019-08-16 16:41] #359 closed

[2019-08-16 17:21] cKellyDesign commented on #355
Let's punt this to `w35` since it just came up a few days ago. @craigappl @mberg is this ok?

[2019-08-16 18:15] cKellyDesign commented on #357
@moshthepitt, how might we extract enough to add a `Plan` to the store?
[code]

[2019-08-16 18:17] cKellyDesign commented on #357
We have an `extractPlanRecordFromPlanPayload` function, but we either need a `extractPlanFromPlanPayload` or an `extractPlanFromPlanResponseAndPlanPayload`, either way I'm not sure how to define the required props here.

[2019-08-16 18:23] cKellyDesign commented on #357
Seems like we would have to fetch the Jurisdiction(s) first, then pass that in along with the Plan Definition (`payload`). Without this I don't think we can load the Map page right away.

[2019-08-16 19:26] #298 closed

[2019-08-16 19:31] moshthepitt opened #366 "Error on FI map page"
[code]

[2019-08-16 19:33] moshthepitt commented on #310
Fixed by https://github.com/onaio/reveal-frontend/pull/361

[2019-08-16 19:33] #310 closed

[2019-08-16 19:33] moshthepitt commented on #171
Fixed by https://github.com/onaio/reveal-frontend/pull/361

[2019-08-16 19:33] #171 closed

[2019-08-16 19:34] #338 closed

[2019-08-16 19:49] cKellyDesign commented on #16
Closed by #346

[2019-08-16 19:49] #16 closed

[2019-08-16 19:51] cKellyDesign commented on #345
Fixed by https://github.com/onaio/reveal-frontend/pull/349

[2019-08-16 19:51] #345 closed

[2019-08-17 20:01] cKellyDesign opened #369 "FI PlanForm Drop-down Filtering"
The drop-downs in the PlanForm need to filter by focus.

[2019-08-17 20:18] cKellyDesign opened #370 "PlanForm UI ordering"
The PlanForm currently needs some further scoping and design to optimize it's visual flow.

- [ ] Audit the FI Plan Definition form page
- [ ] Render Add Activity button above dynamic activities section
- [ ] Define activity defaults
- [ ] Configure the PlanForm to display defaults on initial render
- [ ] Define which activities are allowed under which contexts
- [ ] Configure the PlanForm to only

[2019-08-17 21:00] moshthepitt commented on #369
We are going to have to really tighten up our testing to prevent such regression bugs :-/

[2019-08-19 07:56] moshthepitt opened #372 "Show jurisdiction names in FI Edit page"
![show names](https://user-images.githubusercontent.com/372073/63248031-233efe00-c26f-11e9-9c60-ac852d5a957b.png)

Currently we are showing only jurisdiction identifiers when editting existing plans instead of jurisdiction names.

This is because the plan definition objects do not have a reference to the jurisdiction names.  However showing jurisdiction ids does not really convey usable informatio

[2019-08-19 08:04] moshthepitt commented on #372
### Considerations

- We don't want to hit the OpenSRP API too many times all at once
- We definitely do not want to get the geojson of any of these jurisdictions
- It would be nice to be able to get more than one jurisdiction object at a time

[2019-08-19 08:20] moshthepitt opened #373 "Add tests for NewPlan"
We need tests for the NewPlan component.

[2019-08-19 14:16] craigappl commented on #355
We can't do this because FHIR doesn't support using boolean types in the useContext field

[2019-08-19 14:22] cKellyDesign commented on #372
@moshthepitt Agreed it, we need to show names instead of IDs and we should fetch the data in a non-blocking way. How do you feel about using the superset Jurisdictions slice with a filter to get the info for all relevant jurisdictions at once?

[2019-08-19 14:38] moshthepitt commented on #355
@craigappl thanks

[2019-08-19 14:49] moshthepitt commented on #372
@cKellyDesign I was hoping we could use the OpenSRP API hence why I created this issue https://github.com/OpenSRP/opensrp-server-web/issues/97 - with my thought process being that this should not have a dependency on Superset (thinking that this is an OpenSRP thing that may be part of OpenSRP web some day and may be deployed when Superset is not).  Thoughts?

[2019-08-19 14:58] cKellyDesign commented on #372
Oooh sawa, yes with https://github.com/OpenSRP/opensrp-server-web/issues/97 this would work well with only OpenSRP.

[2019-08-19 15:06] #355 closed

[2019-08-19 17:25] cKellyDesign opened #377 "Fix IRS Plans List Page"
Currently the IRS page is not successfully loading lists of IRS plans because the it needs to dynamically find which `useContext` list item should be used for inferring `interventionType`.

[2019-08-20 00:09] cKellyDesign opened #380 "IRS Jurisdiction Selection Map Tooltip Interaction Hint"
The current interaction of Clicking to zoom in/out of the country's location hierarchy and Shift+Clicking to toggle jurisdiction selection is not intuitive.

**Proposed Solution**
- [ ] Add a hint to the maps tooltip when hovering over a Jurisdiction
- [ ] Hint should be dark gray and in italics

**Next Steps**
1. Get client feedback on the interaction itself
2. Iterate

[2019-08-20 04:03] moshthepitt opened #381 "IRS Indicators Scoping"
It seems that we need the following IRS indicators:

- structuresTargeted
- structuresFound
- structuresSprayed
- targetCoverage
- foundCoverage
- householdsNotAccessible
- refusalsFirst
- refusalsMopup
- lockedFirst
- lockedMopup

Each of these needs to be scoped i.e. in Reveal, where do you get the numbers for these indicators, and how do you calculate them?

Helpful doc: https://docs.google.com

[2019-08-20 04:06] moshthepitt opened #382 "IRS Reporting pages web UI"
There are some dashboard mockups here https://smartregister.atlassian.net/wiki/spaces/REV/pages/1152516110/IRS+Forms+and+Web+UI+Dashboards+Namibia

We need to scope how exactly to come up with these dashboards in Reveal.

[2019-08-20 04:07] moshthepitt commented on #382
This is part of #192

[2019-08-20 04:07] moshthepitt commented on #381
This is part of #192

[2019-08-20 06:20] FrankApiyo opened #383 "Add links to bread crumb items on single FI view"
![Screenshot from 2019-08-20 09-19-00](https://user-images.githubusercontent.com/25260439/63322672-aa9e7700-c32c-11e9-9ddd-a20515477874.png)

[2019-08-20 07:02] anniecmartin opened #384 "FI Planning tak1 user needs to have credentials to create plans in tak areas"
No users have access to create plans for two focus areas (Ban Khane Chu & Ban Huai Haeng) in Tak. User testing will be taking place in Tak tomorrow and we need to pre-prepare a couple of plans as well as have the ability to demonstrate ad-hoc/routine plan generation through the WebUI and down to the mobile client "on-the-fly"

Ideally only user tak1 needs to be able to do this.

These two areas ne

[2019-08-20 11:08] moshthepitt commented on #357
@cKellyDesign I think the work on your branch https://github.com/onaio/reveal-frontend/compare/357-optomistic-synchronisity seems like it would work, no?

I think the idea for me is to have the new/updated plan definition in the Redux store so that when you next attempt to view the list of plans on the manage page, this plan is already there, optimistically.  Of course that page will then make a c

[2019-08-20 11:14] moshthepitt commented on #236
@cKellyDesign so for this issue, we are:

- not going to send the plan to OpenSRP but only save it to the redux store
- allow only the top level jurisdiction to be selected

Yes?

[2019-08-20 13:24] #377 closed

[2019-08-20 13:25] moshthepitt commented on #384
Fixed this by changing the `geographicLevel` of `Tak` to `0`

[2019-08-20 13:25] #384 closed

[2019-08-20 13:40] p-netm commented on #356
__Update__:
This issue does not happen on the browser.
I think, the reason it happens in the tests is because the component is unmounted before the asynchronous `loadData` in `useEffect` are done running. Therefore since `setState` action is dependent on the resolution of the async code in `loadData`, it gets called on the unmounted wrapper component.

__Proposed Solution__:
use flush-promises to

[2019-08-20 16:45] #366 closed

[2019-08-20 17:36] mberg opened #386 "Nambia IRS Sprayed Room logic"
IRS for Namibia is different then the standard IRS to date where tasks are based on known structures per operational area.

With Namibia, IRS is measured in sprayed rooms not structures sprays.  Namibia will provide for each operational a value of estimated rooms (based on estimated number of structures).  The rooms won't be calculated against enumerated structures in the operational area.

So to

[2019-08-20 18:11] cKellyDesign commented on #386
This seems like a considerable departure from the current scope, what is our deadline for this?

[2019-08-20 18:12] cKellyDesign commented on #386
2. When will we be getting this data?
3. How will this data be structured? (so we can mock it up before they give us the real thing)

[2019-08-20 18:17] cKellyDesign commented on #382
It is not at all clear to me what we are supposed to build for IRS reporting based on the link in the description.

@mberg @craigappl - What is the timeline on this and please provide mockups before scoping.

cc @rowo @moshthepitt

[2019-08-20 18:23] cKellyDesign commented on #386
4. By this do you mean use this number as the value for `structuresTargeted`? (see #381)
5. Are we able to use `structuresTargeted`, `structuresFound`, `structuresSprayed ` for Namibia or do we need to define other indicators?

[2019-08-20 18:24] cKellyDesign commented on #386
5. Since we're already relying on a superset query to get all the hierarchy information, maybe we could add the number of buildings as a column to the existing slice. Then it's baked into the data right from the source and we can just add a simple column via the DrillDown Table Props.

[2019-08-20 18:28] cKellyDesign commented on #386
6. Is it a different type of IRS activity or is it a different configuration of the same type of IRS activity? The difference may seem subtle but it effects how much we hard-code into Reveal and how much we pull into configurations. Also, I don't know which would be more/less work at this point.

[2019-08-20 18:36] cKellyDesign commented on #386
7a. Don't the sprayers need to know where to go spray? Am I reading this correctly?

7b. When does `register a household` occur? Is it before teams are assigned to then go and spray at the household being registered?

7c. If `register a household` is happening at the same time as spraying, how do the sprayers know which households have not been registered?

7d. Is it correct here to assume that `h

[2019-08-20 18:41] mberg commented on #386
@cKellyDesign

2 - I've requested it.  We will get in a CSV.  We can mock it up with whatever values we want for now.  It will just be two items jurisdiction name + number.

1 - Deadline - yes I understand and I apologize for that.  It follows a similar pattern to other activities so I hope that helps make it easier to implement.

We need to plan creation and android part to work by Aug 29th when

[2019-08-20 18:43] mberg commented on #386
For 4 - yes it's the same instead of structures it will be rooms which are linked to structures.

5 - yes that's excactly my thought. We just upload the CSV data and do a join.

6 - It's IRS but structured in a way that is different then IRS.  So we should give it a different activity name (and logic - similar to mosquito traps)

[2019-08-20 18:59] cKellyDesign commented on #386
@mberg Not name, it needs to be the jurisdiction ID.

[2019-08-20 19:00] mberg commented on #386
I can manually update the file to match when we get it

[2019-08-20 19:14] cKellyDesign commented on #386
Proposed mockup method:
- [x] Download the CSV for the [Jurisdictions slice](https://superset.reveal-stage.smartregister.org/superset/explore/?form_data=%7B%22slice_id%22%3A%20471%7D)
- [ ] Add a column with arbitrary numbers for structure rooms per jurisdiction
- [ ] Upload the CSV as a static Table in superset, create static table slice
- [ ] Locally point to the new static table slice to mock l

[2019-08-20 19:27] cKellyDesign commented on #386
Since the entire Reveal WebApp is agnostic to client country, I don't see a way of automatically choosing the `IRS by Room` activity automatically (vs the existing `IRS by Structure`), the easiest way will be for the user to simply select the correct type of `IRS` activity for their context.

@craigappl @githengi - given the additional IRS activity type `IRS by Room` (or whatever we're calling it)

[2019-08-20 20:40] cKellyDesign commented on #236
@moshthepitt

If we save the plan to the redux store and navigate to `/interventionPlan/irs/draft/<id>` it will be able to load, however it may be nice to save it to OpenSRP as a draft always in case the user reloads or something. We could even capture the back button (from the Jurisdiction Selection page) and navigate to the EditPlan form page. Sorry, not trying to scope creep, either way (sendin

[2019-08-20 21:11] cKellyDesign commented on #386
10. What is the prioritization of this ticket compare to other items already scoped for https://github.com/onaio/reveal-frontend/milestone/6 ?

10a. Should this be prioritized over https://github.com/onaio/reveal-frontend/issues/236 ?
10.b Should this be prioritized over Jurisdiction Selection UI fixes ?

[2019-08-20 21:13] mberg commented on #386
We also need to figure out a way to view the IRS map ugh

I’ll try and prioritize these tonight

On Tue, Aug 20, 2019 at 5:11 PM Conor Kelly <notifications@github.com>
wrote:

[2019-08-20 21:14] cKellyDesign commented on #386
11. That will need scoping too

[2019-08-20 21:19] mberg commented on #386
Yes. Luckily it’s similar to fi view but we need to figure out navigation
to get to it. Probably can be handled in the irs reporting drill down
tables like we currently do with mspray

On Tue, Aug 20, 2019 at 5:14 PM Conor Kelly <notifications@github.com>
wrote:

[2019-08-20 21:23] cKellyDesign commented on #386
How does jurisdiction selection change?

[2019-08-20 22:08] cKellyDesign commented on #386
13. Didn't see this before, let's track this convo in https://github.com/onaio/reveal-frontend/issues/179

[2019-08-21 02:29] mberg opened #388 "Nambia IRS Sprayed Room logic v2"
IRS for Namibia is different then the standard IRS to date where tasks are based on known structures per operational area.

With Namibia, IRS is measured in sprayed rooms not structures sprays. Namibia will provide for each operational a value of estimated rooms (based on estimated number of structures). The rooms won't be calculated against enumerated structures in the operational area.  Rhis is

[2019-08-21 02:29] mberg commented on #386
Closing this.  Replacing it with #388

[2019-08-21 02:29] #386 closed

[2019-08-21 04:32] pld commented on #388
@moshthepitt @githengi what's the level of effort for this issue?

This reads like at least 3 issues combined into a single issue, can you break it down into those 3 issues and then estimate level of effort separately for those issues?

[2019-08-21 09:31] #373 closed

[2019-08-21 09:53] moshthepitt opened #390 "Add loading indicator to IRS planning location selection"
When you click on a checkbox to select/deselect an area, there is sometimes a lag as the map updates.  We should show some kind of loading indicator.

![IRS  ,Berg IRS 2 Namibia (draft) _ Reveal](https://user-images.githubusercontent.com/372073/63422169-8e750580-c412-11e9-88cd-8b06cdd9e160.png)

[2019-08-21 09:54] moshthepitt commented on #8
Fixed by #379

[2019-08-21 09:54] #8 closed

[2019-08-21 09:55] moshthepitt commented on #318
Fixed by #319

[2019-08-21 09:55] #318 closed

[2019-08-21 10:02] moshthepitt commented on #388
@githengi suggested a really nice way to put the jurisdiction id in the goal targets of the plan definition object (I'll let him explain this in a comment here as he is best placed to do so).

If we go this way, the work on the Canopy/web app side will probably be:

1. Modify the flows to account for the possibility of a goal having more than one target (LOE is 1 - 2 days)
2. Modify the PlanForm c

[2019-08-21 10:05] moshthepitt commented on #236
Will it be a problem if the plan has just the highest level jurisdiction when saved to the OpenSRP server?

[2019-08-21 10:50] mberg commented on #388
Ok please share that.  I like the approach i proposed as it allows some of the properties to be a bit more dynamic.  Note: we'll need to have this in place for the data collection part by Aug 29th when they will start field testing.

[2019-08-21 11:10] pld commented on #388
Is that timeline possible? Shouldn’t we wait until we know the size of the issues

[2019-08-21 11:14] githengi commented on #388
The suggestion is to track the jurisdiction in the goal targets.
The FHIR plan spec allows a  goal target to have ` detailCodeableConcept` as part of a target.
![image](https://user-images.githubusercontent.com/25123762/63427263-6b9c1e80-c41d-11e9-8e4c-bcc4a6fb122f.png)

My suggestion is to tag the jurisdiction in the `detailCodeableConcept` and thus have a target for each jurisdiction per goal fo

[2019-08-21 11:15] githengi commented on #388
The level of effort for making this change is 1 day on the OpenSRP server.

[2019-08-21 11:17] pld commented on #388
Are we OK with using that approach for now, and the more scoping and breaking down more the detailed approach so we can work it into the next milestone?

[2019-08-21 11:34] mberg commented on #388
I’m not clear how this works.

Right now we need to have a unique value per jurisdiction.

Sam can you share how the json

On Wed, Aug 21, 2019 at 7:17 AM Peter Lubell-Doughtie <
notifications@github.com> wrote:

[2019-08-21 11:58] githengi commented on #388
[code]

[2019-08-21 12:23] githengi commented on #388
@mberg does the above make sense

[2019-08-21 13:24] cKellyDesign commented on #236
Not sure that it would be an issue since it's just a draft, the Jurisdiction Selection Save as Draft/Active functionality determines all of the operational level Jurisdictions that are selected and saves those to the plan definition. So for example:

1. Save plan def with level-0 admin jurisdiction ID: v1 has one Jurisdiction ID code saved
2. Once opened in Jurisdiction Selection, without doing an

[2019-08-21 13:29] moshthepitt commented on #236
Thanks.  Will try get this done asap.

[2019-08-21 13:29] cKellyDesign commented on #271
Haven't seen this issue since `v0.1.1`, closing.

[2019-08-21 13:29] #271 closed

[2019-08-21 13:32] craigappl commented on #388
@githengi , the FHIR spec means that you can do one of those three under the detail, either a quantity, a range or a detailCodableConcept. It wouldn't allow both a quantity and detailCodableConcept in the same target.

[2019-08-21 16:01] moshthepitt commented on #356
I think, the reason it happens in the tests is because the component is unmounted before the asynchronous loadData in useEffect is done running. Therefore since the involved setState action is dependent on the resolution of the async code in loadData, it gets called on a unmounted wrapper component.

Actually I think that this happens in the browser.  To replicate:

1. Move from the plan list to e

[2019-08-21 16:13] cKellyDesign opened #392 "Document Deployment SOP"
This is a quick ticket to track the work involved with writing out the documentation regarding the Reveal web app deployment SOP. It's also a good place to preview markdown with spell-check (note - don't push documentation in this ticket!!)!

[2019-08-21 17:14] cKellyDesign commented on #392
Pinned to Reveal Slack channel at https://onaio.slack.com/archives/CBSU8L2SC/p1566406483105300

[2019-08-21 17:14] #392 closed

[2019-08-21 18:37] cKellyDesign opened #393 "Open IRS Planning Jurisdiction Selection with no Jurisdictions selected"
Currently a new IRS Plan will load in the Jurisdiction Selection page with all Jurisdictions selected. We need to flip this to have no Jurisdictions selected on initial new Plan page load to make it an additive process of selecting Jurisdictions.

[2019-08-21 18:44] cKellyDesign opened #394 "Display partially selected Jurisdictions with higher opacity"
Currently the Jurisdiction Selection map displays partially selected Administrative Jurisdictions (Jurisdictions with at least one descendant Operational Jurisdiction selected) the same as completely deselected Jurisdictions.

### Expected Fill-Opacities
- [x] `0.3` If no descendant Operational Jurisdictions are selected
- [x] `0.6` If any descendant Operational Jurisdictions are selected
- [x] `0

[2019-08-21 19:19] cKellyDesign opened #396 "Move IRS Jurisdiction Selection TableProps definition out of Render"
Currently the DrillDown Table Props are being *re*generated every time the render function runs, moving this functionality / data into component state will reduce some the number of times the props are defined.

Relates to #394 since the checkbox in `Header` will need to be calculated the same way as the selection styling.

[2019-08-21 20:06] cKellyDesign commented on #393
This will require some followup once the Jurisdiction Selection page is loaded with Plan Definitions directly from the PlanForm page: it will need to check if the only `jurisdiction_id` in the Plan is a level 0 Administrative Jurisdiction.

[2019-08-21 20:28] cKellyDesign opened #398 "FI Map Circle and Icon layers need to Scale with Zoom"
https://onaio.slack.com/archives/CBSU8L2SC/p1566418805143300

Currently the circle sizes are static and need to scale as the user zooms in and out.

**Requirements**
- [x] Determine zoom level / circle radius stops
- [x] Update layer styling
- [x] Circle layers with adjacent icon layers should scale the icons to match the radius

[2019-08-21 21:06] cKellyDesign opened #399 "Add Namibia Specific IRS Business logic to PlanForm"
from https://github.com/onaio/reveal-frontend/issues/388#issuecomment-523389554

- [ ] PlanForm component
- [ ] NewPlan
- [ ] UpdatePlan

[2019-08-21 21:19] cKellyDesign opened #400 "Add Number of Rooms Column to IRS Jurisdiction Selection"
- [ ] 1. Load provided CSV into OpenSRP new `locations` table column
- [ ] 2. Load Jurisdiction Hierarchy from OpenSRP
- [ ] 3. MOCKUP `2` and `3` via static CSV upload
- [ ] 4. Add optional `target_structures` to Jurisdiction typings
- [ ] 5. Add `Target Structures` column to the Jurisdiction Selection Drilldown Table

[2019-08-21 21:21] cKellyDesign commented on #388
Ticket created at https://github.com/onaio/reveal-frontend/issues/399

[2019-08-21 21:21] cKellyDesign commented on #388
Ticket created at #400

[2019-08-21 21:53] #396 closed

[2019-08-22 06:20] #358 closed

[2019-08-22 06:27] #352 closed

[2019-08-22 06:37] moshthepitt commented on #400
`Join new Table to Jurisdiction Table
`
Instead do this can we work with @githengi to make this into a property on the jurisdiction object in OpenSRP?

[2019-08-22 09:23] FrankApiyo commented on #336
I've attempted to wrap the rendering on PlanDefinitionList in this test in act from 'react-dom/test-utils'.  as the warning recommends. That didn't work. The second error says it can be fixed by cancelling all subscriptions and asynchronous tasks. The only asynchronous task I could find in the `PlanDefinitionList` component is this: https://github.com/onaio/reveal-frontend/blob/master/src/containe

[2019-08-22 09:55] FrankApiyo commented on #334
This was already fixed in  issue #366

[2019-08-22 09:55] p-netm commented on #334
@moshthepitt  Feels like this is a duplicate of #366

[2019-08-22 09:55] #334 closed

[2019-08-22 11:21] moshthepitt commented on #336
I would wait on this issue.  React 16.9 will be officially released soon and it will probably be easier to fix this there.

[2019-08-22 12:16] cKellyDesign commented on #400
I thought this data was being sourced from a CSV, is the plan to upload this into Superset? Eventually it will need to be added as a column to the Jurisdiction slice so we can get all that data in a single call, right?

[2019-08-22 12:21] moshthepitt commented on #236
### Implementation plan

- [ ] Make it possible to turn the cascading select effect off/on from JurisdictionSelect
- [ ] Create component for new IRS plan that uses PlanForm
- [ ] Cleanup

[2019-08-22 12:26] moshthepitt commented on #400
I think when we get the CSV we should just find a way to add the numbers as a new property in jurisdictions

[2019-08-22 12:31] cKellyDesign commented on #400
Was hoping to get this data all at once [from this request](https://github.com/onaio/reveal-frontend/blob/master/src/containers/pages/InterventionPlan/IRS/plan/index.tsx#L239-L250) when loading the Jurisdiction Selection page. Though I wouldn't mind switching from this superset slice call to an opensrp call, it's just that [the OpenSRP locations call](https://reveal-stage.smartregister.org/opensrp

[2019-08-22 12:34] cKellyDesign commented on #400
Though if we are progressively loading Jurisdictions then this would be less of a problem, we just need the whole location tree (or at least the whole location tree for Namibia) as we load the Jurisdiction Selection page.

[2019-08-22 12:57] cKellyDesign commented on #400
@githengi thought on this? ☝️

[2019-08-22 12:59] moshthepitt commented on #400
I'm thinking if we can avoid a Superset dependency here it would be very very cool.  But if not then that's fine.

@githengi how can we go around this?

[2019-08-22 13:07] cKellyDesign commented on #400
We could break it into cascading calls, though I don't know how performant that would be:

1. [Get all level-0 Jurisdictions](https://reveal-stage.smartregister.org/opensrp/rest/location/findByProperties?is_jurisdiction=true&properties_filter=geographicLevel:0&return_geometry=false)
2. Get all children of all level-0 jurisdictions (11 requests)
3. Repeat until we have all Jurisdictions (N requests

[2019-08-22 13:11] moshthepitt commented on #400
@cKellyDesign curious why do we need to get absolutely ALL jurisdictions on the server all at once?

[2019-08-22 13:16] cKellyDesign commented on #400
To map out the location tree hierarchy to populate the Jurisdiction Drilldown Table. If we could get all the descendant jurisdictions of a particular level-0 Jurisdiction I think that might be ideal.

[2019-08-22 13:59] githengi commented on #400
We add a param to limit the number of locations returned.

Also once this implemented https://github.com/OpenSRP/opensrp-server-web/issues/90 it shall be possible to return all the descendants of a location

[2019-08-22 18:35] mberg commented on #390
@cKellyDesign and i discussed a way to avoid this.  We'll start off the map with no areas selected which makes things a lot faster

[2019-08-22 19:14] cKellyDesign opened #404 "IRS Jurisdiction Selection replace superset with opensrp api call"
Inspired by https://github.com/onaio/reveal-frontend/issues/400#issuecomment-523894960

The initial call to Superset slice 471 to get all Jurisdictions in the location hierarchy with a call to OpenSRP to get all descendant Jurisdictions of a given (country) Jurisdiction.

[2019-08-22 19:50] cKellyDesign commented on #390
Yup, got it even faster in #403! Issue was b/c we this is determining jurisdiction descendants over and over again in a not very efficient way. Sorting the array of Jurisdictions returned from the API (by `geographic_level` high to low) helps the existing function by about 2x.

Sorting affords us a new approach of defining jurisdiction descendants (~10-100x faster after some initial perf'ing) and

[2019-08-23 07:28] moshthepitt commented on #400
@githengi can we also use that param or do something else to get more than 1000 items returned?

[2019-08-23 12:33] #236 closed

[2019-08-23 14:46] craigappl opened #407 "Improvements to Focus Area Profile View"
(I don't know the name of this view)
![image](https://user-images.githubusercontent.com/6067053/63601217-dbbfb700-c579-11e9-9c56-4cf6588bbc86.png)

Issues:
- [x] (Low) The search box doesn't work
~~- [ ] (High) We need to support pagination on all tables on this screen. It's currently limited to six~~
- [ ] (Medium) (Optional) Sort each table in reverse chronological order based on startDate

[2019-08-23 15:15] p-netm opened #408 "Teams Management - list Teams view."
__Overview__
 -  Add page to list teams

[2019-08-23 15:16] p-netm opened #409 "Teams Assignment - Add new Team view"
__overview__
- page with form to add new teams

[2019-08-23 15:17] p-netm opened #410 "Team Management - update Team view"
__Overview__
Add a view to modify Team data.

[2019-08-23 15:18] p-netm opened #411 "Team Management - Assigning teams to plan-jurisdictions"
__Overview__

[2019-08-23 15:45] #390 closed

[2019-08-23 15:45] #394 closed

[2019-08-23 16:24] craigappl opened #412 "Search box doesn't work on Active FI list"
The search box doesn't work on https://web.reveal-stage.smartregister.org/focus-investigation

[2019-08-26 06:32] p-netm opened #414 "Team Assignment - single Team view"
Page to view a single team details.

[2019-08-26 06:37] #120 closed

[2019-08-26 06:37] #130 closed

[2019-08-26 07:08] moshthepitt commented on #120
@kahama94 was this solved though?

[2019-08-26 09:46] moshthepitt opened #416 "Cleanup IrsPlan module"
After #402, the `IrsPlan` module and component needs to be audited for unused code and then cleaned.

[2019-08-26 16:35] cKellyDesign opened #417 "IRS Update Plan View"
<img width="919" alt="Screen Shot 2019-08-26 at 5 58 57 AM" src="https://user-images.githubusercontent.com/4141527/63706515-79b6ba00-c7e4-11e9-911d-eda3d066afaa.png">

Currently when opening an IRS plan in the `UpdatePlan` page all of the selected jurisdiction IDs are being rendered (by the thousands) and needs to be optimized (which needs scoping).

Example `Home => Manage Plans => Testaru NA 1`

[2019-08-27 08:57] moshthepitt commented on #417
Yeah this is a real nasty problem.  Maybe we should loop @rowo in to help think through this?

Also, note that it is closely related to https://github.com/onaio/reveal-frontend/issues/372

[2019-08-27 12:43] moshthepitt opened #418 "Replace Add Focus Investigation With Add Plan"
![Manage Plans _ Reveal Stage](https://user-images.githubusercontent.com/372073/63772175-39893180-c8e1-11e9-91ec-88887f75cbed.png)

Replace `Add Focus Investigation` with `Add Plan` on the Manage plans page.

[2019-08-27 18:48] moshthepitt commented on #417
I'd like to note that in the initial spec, we should **not** allow editing of jurisdictions for any plan (FI or otherwise) via the PlanForm.

[2019-08-27 18:50] moshthepitt commented on #417
@rowo This is the page that kind of morphed from your mockups here https://github.com/onaio/reveal-frontend/issues/199

[2019-08-28 19:59] moshthepitt commented on #333
Fixed by #419

[2019-08-28 19:59] #333 closed

[2019-08-28 21:45] cKellyDesign opened #424 "Big Fix - IRS Jurisdiction Selection fill opacity when all Jurisdictions are deselected"
Currently, if there are no stops being generated the getter function falls back to a magical number which doesn't match the constant (which is exactly why we don't use magical strings/numbers).

This:
<img width="986" alt="Screen Shot 2019-08-28 at 2 56 51 PM" src="https://user-images.githubusercontent.com/4141527/63895492-24290b80-c9a4-11e9-91f0-1e1dd34cf2b9.png">

Should be:
<img width="1006" al

[2019-08-29 00:02] #424 closed

[2019-08-29 00:04] cKellyDesign commented on #414
Oops, shouldn't have been closed by #425!

[2019-08-29 11:58] moshthepitt commented on #340
@cKellyDesign I think this one was taken off the table and can be closed?

[2019-08-29 11:58] moshthepitt commented on #339
@cKellyDesign I think this one was taken off the table and can be closed?

[2019-08-29 11:59] moshthepitt commented on #322
One reason is the existence of giant snapshots

[2019-08-29 13:08] cKellyDesign commented on #400
@githengi - what's the status of this one? if still pending that's fine, just checking in :)

[2019-08-29 13:10] cKellyDesign commented on #307
Closed by #413

[2019-08-29 13:10] #307 closed

[2019-08-29 13:13] cKellyDesign commented on #252
This should be a part of #416

[2019-08-29 13:17] cKellyDesign opened #428 "IRS Plans Table Improvements"
Currently the table containing the list of Plans needs some refinement:

- [ ] Make rows sortable by Headers
- [ ] Add Search Field to filter rows by name

[2019-08-29 13:18] githengi commented on #400
Its still pending, we have scheduled to work on it tomorrow

[2019-08-29 16:41] cKellyDesign commented on #244
relates to #416

[2019-08-29 16:49] cKellyDesign commented on #244
@moshthepitt @p-netm @kahama94 - I'm realizing now that I'm not really sure on how to mock some of the things necessary to test the actual page, particularly Mocking up the API calls in `ComponentWillMount` to [Superset](https://github.com/onaio/reveal-frontend/blob/master/src/containers/pages/InterventionPlan/IRS/plan/index.tsx#L249) and [OpenSRP](https://github.com/onaio/reveal-frontend/blob/mas

[2019-08-29 17:07] mberg commented on #399
We don't need to do these anymore as the plan definition will be the same.  We need to figure out a way to reference the structures property in the hierarchy table to calculate the denominator for Namibia.  We might want to see if that is something we define at the plan level.

[2019-08-29 17:25] mberg commented on #382
@rowo please see this issue

https://smartregister.atlassian.net/wiki/spaces/REV/pages/1152516110/IRS+Forms+and+Web+UI+Dashboards+Namibia

It has what the table should look like.  this is in reveal powered by superset.  It's supposed to work very similar to how mspray dashboards currently work (minus for now some of the higher level map aggregation views)

[2019-08-29 17:26] cKellyDesign commented on #399
The plan definition will be the same, this ticket is specifically for the work to `calculate the denominator` in the PlanForm pages.

I believe the Webapp is to get this data directly from the OpenSRP endpoint (WIP).

@mberg I was under the impression this should be calculated based on the number of structures in all the Jurisdictions selected in the plan, is that correct?

[2019-08-29 17:29] mberg commented on #399
Number of structures is not something included in the plan. The only thing in the plan is the percent of spray coverage.  eg. 85%

This is because the amount of structures will vary by jurisdiction.

As a result, the current thinking is to not define the denominator in the plan but have it reference something external for reporting.  We currently do this for IRS now in that we are getting the numb

[2019-08-29 17:49] cKellyDesign commented on #399
That `85%` is saved to the plan definition at `Plan.goal.target.detail.detailQuantity.value` ([example plan definition](https://reveal-stage.smartregister.org/opensrp/rest/plans/0e85c238-39c1-4cea-a926-3d89f0c98427)), which is what we're talking about calculating for each plan `because the amount of structures will vary by jurisdiction`.

So cool, not the number of structures being saved to the pl

[2019-08-29 18:22] rowo commented on #382
Navigation is a bit unrefined. Need new IRS reporting item. Maybe just use FI one and see what's different. Need to resolve conflict between old nav organized by FI and IRS vs. planning and reporting.

So new views similar to FI and apply to IRS. We only had planning before and that was pusehd to mSpray. Now it's going to live here in Reveal.

[2019-08-29 20:46] cKellyDesign opened #432 "Update Header Navigation"
The structuring of the navigation needs to be updates:

- [x] Turn off `Reporting > Historic FI` (nest it in a new `env` variable)
- [x] Add link `Reporting > IRS`
- [x] Rename `Planning > Manage Plans` to `All Plans`
- [x] Rename `Planning > IRS` to `IRS Plans`
- [x] Add link `Planning > Add New Plan`

cc @rowo @moshthepitt

[2019-08-29 20:48] cKellyDesign commented on #428
If we filter by `intervention_type` we can reuse the `manage plans` view for `FI Plans` and `IRS Plans` pages.

[2019-08-29 20:52] cKellyDesign commented on #417
This is no longer blocked, please:
- [ ] add `overflow-y: scroll` and `max-height: 200px` around this list

Once the page pulls data from OpenSRP and has Jurisdiction Names:
- [ ] replace id strings with names

[2019-08-29 20:53] cKellyDesign commented on #372
Closing this issue, continuing tracking in: https://github.com/onaio/reveal-frontend/issues/417

[2019-08-29 20:53] #372 closed

[2019-08-29 20:56] cKellyDesign commented on #382
Marking this as in progress b/c Roger is working on Mockups

[2019-08-29 21:00] cKellyDesign commented on #416
- [ ] Removes New Plan functionality
- [ ] Removes Edit Plan Name functionality
- [ ] Adds missing docstrings
- [ ] Removes isNewPlan state / functionality
- [ ] Removes unused imports and variables

[2019-08-29 21:10] cKellyDesign commented on #260
Closing this b/c or #292

[2019-08-29 21:10] #260 closed

[2019-08-29 21:12] cKellyDesign commented on #220
Closing: This seems scoped and done, reopen if you disagree :)

[2019-08-29 21:12] #220 closed

[2019-08-29 21:16] cKellyDesign commented on #143
@githengi Please follow up here when the `Team Assignment` module is ready, looking for endpoints/params and payload schemas for `POST`/`PUT`ing when assigning Teams to plan-locations.

[2019-08-29 21:17] cKellyDesign commented on #306
Closing: Followup to this https://github.com/onaio/reveal-frontend/issues/143#issuecomment-526365840 will answer what we need to know.

[2019-08-29 21:17] #306 closed

[2019-08-29 21:24] cKellyDesign commented on #409
@p-netm do you have sufficient scoping for this? What endpoint/payload are we using to create/update Teams?

[2019-08-29 21:24] cKellyDesign commented on #408
@p-netm do you have sufficient scoping for this? Are the teams coming from OpenSRP?

[2019-08-29 21:25] cKellyDesign commented on #410
@p-netm do you have sufficient scoping for this?

[2019-08-29 21:25] cKellyDesign commented on #411
@p-netm do you have sufficient scoping for this?

[2019-08-30 07:55] p-netm commented on #408
Not adequately, so i guess no. yes the teams will be coming from OpenSRP but what am not certain about is if the endpoints to be hit for retrieving the teams are ready.

[2019-08-30 08:06] moshthepitt commented on #399
@cKellyDesign  will do

[2019-08-30 08:12] moshthepitt commented on #244
@cKellyDesign maybe these help?

- OpenSRP service tests: https://github.com/onaio/reveal-frontend/blob/master/src/services/opensrp/tests/index.test.ts#L78
- Superset service tests: https://github.com/onaio/reveal-frontend/blob/master/src/services/superset/tests/index.test.ts#L35
- PlanForm tests: https://github.com/onaio/reveal-frontend/blob/master/src/containers/forms/PlanForm/tests/index.test.t

[2019-08-30 08:18] moshthepitt commented on #408
@cKellyDesign This work was just the UI.  When the API is ready, we'll probably have a different issue to connect that to the UI.

[2019-08-30 08:20] moshthepitt commented on #409
@cKellyDesign This work was just the UI.  When the API is ready, we'll probably have a different issue to connect that to the UI.

[2019-08-30 08:20] moshthepitt commented on #410
@cKellyDesign This work was just the UI.  When the API is ready, we'll probably have a different issue to connect that to the UI.

[2019-08-30 08:20] moshthepitt commented on #411
@cKellyDesign This work was just the UI.  When the API is ready, we'll probably have a different issue to connect that to the UI.

[2019-08-30 14:36] moshthepitt commented on #381
- **structuresTargeted** ='total structures targeted' as per shapefile or csv
- **structuresFound** =sum(nSprayableTotal)
- **structuresSprayed** =sum(ifnull(nSprayedTotalFirst,0)) + ifnull(nSprayedTotalMop,0))
- **targetCoverage** =structuresSprayed/structuresTargeted
- **foundCoverage** =structuresSprayed/structuresFound
- **householdsNotAccessible** =sum(case when householdAccessible = 'No' the

[2019-08-30 14:36] moshthepitt commented on #381
For comparison, this is how the indicators were calculated in mSpray: https://github.com/onaio/mspray/blob/docs/docs/irs.md

[2019-08-30 14:43] moshthepitt commented on #381
### Differences with mSpray

- **New Structures**: this was included in mSpray calculations.  Could we confirm that it is now not required?
- **Sprayed duplicate**: this was included in mSpray calculations.  Could we confirm that it is now not required?
- **structuresFound**: in mSpray this was calculated to include `Sprayed duplicates`.  Can we confirm that this has now changed?
- **structuresSpr

[2019-09-03 16:37] moshthepitt opened #434 "IRS Team/User Performance Scoping"
If we are going to truly replace mSpray with Reveal then we need to also scope and build team/user performance tables that look and work like: https://macepa.mspray.onalabs.org/performance/

[2019-09-03 20:05] cKellyDesign commented on #400
Mockup step blocked by errors when uploading (scrubbed) client CSV, [as per slack conversation](https://onaio.slack.com/archives/C8ZNYCRFV/p1567534092026600).

[2019-09-03 20:19] craigappl commented on #381
@moshthepitt , These indicators are for the Namibia project as the first customer of IRS. Zambia will likely have a different way of calculating these indicators, so we should be able to define these calculations separately for different countries. Note that Zambia indicators will likely come in Mid September. Also note that each country will have different spray forms.

1) New Structures are not

[2019-09-04 02:55] rowo commented on #432
@cKellyDesign Can you explain a bit on why the navigation changed from intervention focused to planning and reporting, or alternatively is there a log of the decision making I can look at?

[2019-09-04 04:31] rowo commented on #382
@mberg can you review?

Few questions:
- Are these all housed within a single IRS plan?
- Is the user supposed to be able to navigate to other IRS plans from previous years or see any of that information?
- Is there an individual village page or is that just the map since we're only looking at the current IRS plan and don't need to see past IRS in that area?

### All Districts i.e. National

![IRS

[2019-09-04 07:49] moshthepitt commented on #382
@rowo I can take this one:

Yes they are.

[2019-09-04 07:51] moshthepitt commented on #382
@rowo

Could you please explain what this one is showing?

![IRS - district map](https://user-images.githubusercontent.com/1584163/64225861-31b22a00-ceab-11e9-861c-fbcf48cb0a97.png)

[2019-09-04 07:56] moshthepitt commented on #432
@rowo this is where the change was introduced https://github.com/onaio/reveal-frontend/pull/305

Basically I felt that the previous pages (like the focus investigation list that we had and still have) are not suitable when you are doing plans because they get data from Superset - and this data goes through an ETL process before it arrives there.  So it was common for you to create a plan but only

[2019-09-04 08:00] moshthepitt commented on #381
### Notes to self

- **sprayEffectiveness** =structuresSprayed/(COUNT(locations that were added, but no spray form was submitted)+householdsNotAcessible+structuresFound)

[2019-09-04 08:01] moshthepitt commented on #381
@craigappl thanks.  Will ping you should I have further questions.

[2019-09-04 13:55] mberg commented on #382
Legend on this doesn't make sense.  The colors relate to spray status not a percentage of target coverage.  What's missing is some of the other spray indicators that are in the dashboard. They need to be listed on this page.

[2019-09-04 14:45] rowo commented on #382
@mberg @moshthepitt The district map is what they described in that atlassian issue:

![Untitled-1](https://user-images.githubusercontent.com/1584163/64265540-18d46380-cf01-11e9-9329-76cb1e1867f6.png)

[2019-09-04 14:54] moshthepitt commented on #382
@rowo so that is kind of like this page, https://macepa.mspray.onalabs.org/456/456 or this one https://macepa.mspray.onalabs.org/456/480 (basically a drill down of the previous link) right?  If so, we'll replace the squares in the mockup with actual shape of the villages/areas, yes?

[2019-09-04 16:15] cKellyDesign commented on #432
@rowo I don't recall this being explicitly scoped, however Planning vs Reporting seems like a natural delineation to me as they are different activities / work flows / stages of the Plan Lifecycle. I suppose it does work both ways if we structure the Planning/Reporting the same under each intervention type, ideally we should get feedback from the client/users on this.

@mberg @craigappl - any inpu

[2019-09-04 16:17] mberg commented on #382
We don't need maps at this point above the spray area.  For the data above summary tables suffice.  We had summary maps in mSpray but we don't need those right now.  We can tackle that in a second phase.

It's basically a two level drill down one of provinces. Then of spray areas or villages.  For each spray area or village, you can drill down to the map view.

So in summary, we have 2 summary lev

[2019-09-04 16:18] mberg commented on #382
To clarify again we don't need aggregate map views for now.  Just the data tables and map view for the final one.

@rowo each drill down will be by plan.  So we might want to be able to eventually allow you to view different plans (past seasons) for a specific location.  We don't need to worry about that for this phase of work though.

[2019-09-04 16:31] cKellyDesign commented on #382
@mberg - Cool I like this approach, I do think it should be a 3 level drill-down (`Province`, `District`, `Village`/`SprayArea`) because that is how the location tree is structured in OpenSRP.

@moshthepitt @rowo - some navigation implications (correct me if I miss something):
1. We have a page of active IRS Plans as a simple flat table (without indicators?)
2. User clicks a Plan, navigates to a p

[2019-09-04 16:36] moshthepitt commented on #382
In the mSpray implementation one was able to filter the structures by clicking on the sidebar e.g. view only sprayed structures etc

[2019-09-04 19:39] rowo commented on #382
@mberg Here's an update for you to review. @cKellyDesign I think for v1 based on what Matt wrote, I don't think we have 1 and 3 from your list.

![IRS - all provinces](https://user-images.githubusercontent.com/1584163/64285709-176b6100-cf2a-11e9-820c-0bfe6d880e6a.png)

![IRS - single province](https://user-images.githubusercontent.com/1584163/64285718-19352480-cf2a-11e9-9c48-4c2564330f56.png)

![I

[2019-09-04 20:19] cKellyDesign commented on #382
@rowo oh ok cool, sounds like the drilldown page will just open when an active plan is opened from the existing IRS Plans List page.

[2019-09-04 20:21] mberg commented on #382
@cKellyDesign this makes sense.  We can roll up to provinces too.

[2019-09-04 20:24] mberg commented on #382
Yes map is the bottom node of the drill downs

[2019-09-04 20:31] mberg commented on #382
@rowo overall this looks good.  Few comments.

I @cKellyDesign idea of having the plan list being the starting points for the drill downs.  That would also be somewhat analogous to how the focus investigations currently work.   The plan views needs some work but I like this approach.

On the map view, we need a way to distinguish the primary activity indicators that are defined in the plan.  For I

[2019-09-04 20:32] mberg commented on #382
@rowo is the location drilldown intended to be a way to jump to a location? If so, I like the idea but we can leave it for v2

[2019-09-04 20:32] mberg commented on #382
Filters would also be great but can be v2

[2019-09-04 21:26] cKellyDesign commented on #382
I just realized that this would take the user through `Planning > IRS Plans`
- [ ] `7` we should also route `Reporting > IRS Plans` through the same list view component, and
- [ ] `8` filter both by `draft` and `active` plan statuses (using the same functionality added by @p-netm to do this with FI)

[2019-09-04 22:34] cKellyDesign commented on #382
- [ ] `9` add columns to Finalized plan Drilldown Table

[2019-09-05 02:29] rowo commented on #382
@cKellyDesign @moshthepitt @mberg Here is another round of updates, including that initial "active plans" page.

![IRS - active plans](https://user-images.githubusercontent.com/1584163/64307096-05f27b00-cf63-11e9-9afd-e291d9b12a3b.png)
- @mberg I'm assuming there's no actual "training" or "testing" plan setting, so potentially three IRS plans would show up on mobile for something like the first sc

[2019-09-05 08:17] #418 closed

[2019-09-06 12:37] cKellyDesign commented on #237
@moshthepitt am going to incorporate this approach in the IRS Report List and IRS Report Map views :)

[2019-09-09 13:24] #258 closed

[2019-09-09 21:00] cKellyDesign opened #437 "Update Plan Form - check for goals"
Currently we are assuming all plans have goals/targets and are not protecting our code for scenarios when business logic breaks down and we need to load a plan with no goals/targets without crashing. This should be a pretty simple fix.

<img width="818" alt="Screen Shot 2019-09-09 at 1 55 51 PM" src="https://user-images.githubusercontent.com/4141527/64565971-c4b6ee00-d309-11e9-9a6e-1728a864d4f1.pn

[2019-09-11 09:53] #437 closed

[2019-09-11 12:47] #221 closed

[2019-09-11 12:47] #383 closed

[2019-09-11 12:55] moshthepitt commented on #381
@craigappl how do you determine this "locations that were added, but no spray form was submitted"?

[2019-09-11 12:57] craigappl commented on #381
@moshthepitt , Namibia doesn't want those to show up in the drilldown tables. They will display as yellow in the map view.

[2019-09-12 18:44] cKellyDesign opened #441 "Update Reveal UI Colors"
This ticket tracks work needed to update the color scheme to match the marvel mockups: https://marvelapp.com/cc83f0e/screen/61277177

[2019-09-12 18:50] cKellyDesign opened #442 "Update and Standardize Table Design"
Currently, we have two types of tables which look a bit different and should be styled to look the same as in the mocks: https://marvelapp.com/cc83f0e/screen/61278058

### ListView Table
<img width="1047" alt="Screen Shot 2019-09-12 at 11 47 40 AM" src="https://user-images.githubusercontent.com/4141527/64811998-33d35300-d553-11e9-9b22-a3310da67734.png">

### DrillDown Table
<img width="1161" alt="

[2019-09-13 13:35] OluwatobiMayowa opened #445 "Update header navigation to full width"
Approved mockup: https://marvelapp.com/cc83f0e/screen/61277177/handoff

[2019-09-17 09:03] p-netm opened #446 "Team Assignment - Search functionality on the teams listing page"
- The endpoints for search organizations are not currently ready

The idea is to have be able to search a team by name
![search team form input](https://user-images.githubusercontent.com/28119869/65026097-88564400-d940-11e9-9373-04985487c69a.png) here

__question__: should the search be fuzzy or exact

[2019-09-17 09:11] p-netm opened #447 "Team Assignment - scoping for the Organization listing page"
- This is about the area field in the reveal mockups for the teams list page
![area screenshot](https://user-images.githubusercontent.com/28119869/65027870-c43ed880-d943-11e9-9b39-6ad58155ddf4.png)

The concern is that we could have a lot of areas to display, one of the suggested approaches is to display the areas in a format such as `area_1 + 43`; however to ensure integrity of the count value wo

[2019-09-17 09:15] p-netm opened #448 "Team - Assignment - scoping for the single Organization view"
since reveal does not have this, ill be following the opensrp-web mockup.
![single organization](https://user-images.githubusercontent.com/28119869/65028379-a3c34e00-d944-11e9-9e18-6ecc645b4176.png)

The blocker here is that we don't have ready endpoints for retrieving Team members.

[2019-09-17 14:20] #441 closed

[2019-09-17 14:20] #445 closed

[2019-09-17 19:10] cKellyDesign opened #449 "Zambia Tilesets"
Currently we need to generate tilesets based on the OpenSRP locations for Zambia similar to how we set them up for Namibia.

- [ ] Create geojson file for all OpenSRP locations
- [ ] Generate tilesets with `tippecanoe`
- [ ] Upload new tilesets to mabpbox studio
- [ ] Update Zambia tilesets configurations in `settings.ts`

[2019-09-19 10:35] p-netm commented on #447
The mockup to use
![organizationslistingscoping](https://user-images.githubusercontent.com/28119869/65236793-fab25a00-dae1-11e9-8821-9147f34ea11f.png)

__have fields__:
- organization name
- organization identifier

__ have not's fields__:
- count of locations
- supervisor
- Team members count

[2019-09-19 11:39] p-netm commented on #447
- Current `organization` api endpoints only gives me a list of organizations with team name, identifier, and a few more meta data fields

- Need help with getting the locations count; i.e  the number of locations assigned to this organization, this is not returned in the response of the current `organization` endpoint
- Need help with getting the count of team Members who are part of a certain org

[2019-09-19 14:03] p-netm commented on #411
Proposed workflow:
Assuming that for a plans page we already have the plan_id for that plan and all jurisdiction_ids mapped to that plan.

1. create a multiJurisdictionSelect component .
2. Place that inside the teamform. - will use that to assign at least one jurisdiction to a team.
3. From the plan page clicking the assign team button; should show the user a dropdown with list of teams from whic

[2019-09-20 11:27] moshthepitt commented on #411
How will this one work?

[2019-09-20 12:09] p-netm commented on #411
not quite sure, but i was thinking of having something like the jurisdictionselect component but with the ability to pick more than a single jurisdiction. at a time, using the `isMulti` select prop

[2019-09-20 12:13] moshthepitt commented on #411
Since this is a drill down select, in case one needs to be able to select at any level of the hierarchy, the UX/flow for this becomes challenging.  We definitely need input from @rowo in that case.

[2019-09-20 12:35] p-netm commented on #411
ok, will leave this hanging and effectively blocked untill then.

[2019-09-23 04:34] mberg opened #455 "Show details of partially sprayed in mouse over on map"
On the mouse over show the number of sprayed vs eligible structures (rooms) for the household.

<img width="474" alt="Screen Shot 2019-09-23 at 12 31 36 AM" src="https://user-images.githubusercontent.com/57921/65401993-9a4d4200-dd99-11e9-9ba8-f44ecc3c6c43.png">

[2019-09-23 04:39] rowo commented on #411
@moshthepitt @cKellyDesign @p-netm Does a "checkable tree" work for what you are talking about here? See http://jonmiles.github.io/bootstrap-treeview/ (search "checkable tree")

<img width="752" alt="Screen Shot 2019-09-23 at 12 27 48 AM" src="https://user-images.githubusercontent.com/1584163/65401909-011e2b80-dd99-11e9-8a7a-a6e8a24e6495.png">

As a dialog, this checkbox set up would need buttons

[2019-09-23 04:44] mberg commented on #411
We aren't assigning teams to jurisdictions in the team UI.  We're
assigning it in the Plan assignment.

Idea is you click on a jurisdiction and select the teams assigned to that
jurisdiction.  This is the same as the mockups except the that you can
assign multiple teams not just one.

On Mon, Sep 23, 2019 at 12:39 AM Roger W. <notifications@github.com> wrote:

[2019-09-23 06:56] moshthepitt commented on #411
@mberg we've been stuck on this for a while hence the above discussion.  Regarding **teams assigned to that jurisdiction** - we need to do this in the web UI somewhere right?  Or else we'll still have to use OpenMRS and we will not support multi-jurisdiction assignment. Right?

[2019-09-23 07:08] p-netm commented on #448
And Not sure if I am required to work on assigning team Members to an organization. I  haven't thought about this workflow and thus not sure if the endpoints are available, will look into it once the work is confirmed.

[2019-09-23 12:44] mberg commented on #411
Need to confirm with Sam but the data model has changed.

We just need to assign teams to plan -> locations.  We don't need to assign teams to locations anymore.

[2019-09-23 14:23] kahama94 commented on #120
@moshthepitt Not yet haven't found a better solution than the one we have

[2019-09-23 15:33] mberg opened #456 "Update text description of found coverage on map RVL-524"
The text under the indicators in map view needs to be changed, see attached screenshot.

Target Coverage: "Percent of structures sprayed over targeted"
Found Coverage: "Percent of structures sprayed over found"

https://smartregister.atlassian.net/browse/RVL-524

[2019-09-23 17:52] mberg opened #457 "Correct % refusals and locked logic RVL-523"
The % refusals and locked for individual villages looks good but its wrongly aggregated for Oshana and Oshakati.

https://smartregister.atlassian.net/browse/RVL-523

I don't have enough visibility of the data to understand what is happening here wrong but if we can please check it.

[2019-09-23 18:23] pld commented on #447
We can keep this simpler for first implementation:
- 2nd bullet doesn't need to get done
- 3rd bullet doesn't need to get done
- 4th bullet doesn't need to get done

In the mock-up you should remove the following columns:
- location (these are not assigned to teams)
- supervisor, we don't need this now
- number of team members, we don't need this now

[2019-09-23 18:58] mberg commented on #448
Yes this is a key aspect.  The API endpoints are there for this.

Once the organization has been created, we need to create providers (users).  These providers can then be assigned to an organization (team) which is what this page is supposed to support.

We don't need location or supervisor.

[2019-09-24 05:55] p-netm commented on #448
Creating issues for : creating and Assigning new Team Members

[2019-09-24 05:57] p-netm commented on #447
ok

[2019-09-24 08:30] moshthepitt commented on #448
@mberg thanks, we have a way forward for this and will update you when we have something to show.

[2019-09-24 08:31] moshthepitt commented on #447
@pld thanks.  I think your comments essentially mean that the organization listing page that we have right now works.  @p-netm  will work to clean up the PR for this work.

[2019-09-24 08:32] moshthepitt commented on #411
@mberg @rowo thanks for the input.  Things are now clearer.  We'll ping you when we have something to showcase.

[2019-09-24 09:14] p-netm opened #458 "Team-Assignment - Creating a Pracitioner"
Preliminary work towards assigning practitioners to a team requires a page to actually create the practitioner.

Task:
- Adding a form and a page to create practitioners

Blocker:
- Need an userId from openMRS , so as to link the the practitioner to an openMRS user.
 Will probably need a proxy on the opensrp server that helps get this data from openMRS.

[2019-09-24 15:03] pld commented on #447
cool, removing the blocked label

[2019-09-26 11:40] moshthepitt opened #460 "Zambia IRS bugs"
# Main Issues

The main problem is that not all structures are showing up / flowing into the web UI. This is resulting in two big issues (directly below) that inform all of the specific bugs (detailed further below):

- [x] Missing structure data:
  - [x] Table View: Yellow structures (enum but not visited) and field-added structures not included in any of the counts
  - [x] Map View: Not able to

[2019-09-26 13:18] moshthepitt commented on #460
Client has not been able to load Katete Boma > KTT_51b

[2019-09-30 09:58] moshthepitt opened #464 "Add a way to define plan configs/settings"
We need a way to add settings or configurations to plans.  The intention is to be able to specify different reporting requirements (.e.g what IRS indicators to use) and other things per plan.

How do we do this?

[2019-09-30 16:41] moshthepitt opened #466 "Remove Historical FI Code"
We no longer need the `HistoricalFocusInvestigation` component and its associated code.  We should remove it.

[2019-10-01 00:30] cKellyDesign opened #467 "Use ProgressBar Component from onaio package"
Currently we are [using a local ProgressBar component in the IRS Map page](https://github.com/onaio/reveal-frontend/blob/irs-reporting-table/src/containers/pages/IRS/Map/index.tsx#L25), which should be replaced by the `ProgressIndicators` package being introduced by onaio/js-tools#95.

- [ ] Install package ([@onaio/progress-indicators](https://github.com/onaio/js-tools/tree/master/packages/Progre

[2019-10-01 00:55] cKellyDesign opened #468 "Dynamically generate custom Typings from settings"
Currently our custom IRS Type definitions are being statically included in the `Generic[X]` reducers, and should instead be dynamically generated from a static settings during compilation.

### Suggested Implementation
- [ ] Define settings schema and add to `configs/settings.ts`
- [ ] Export custom interfaces and add to `store/ducs/generic/helpers.ts`

@moshthepitt @p-netm - thoughts on this?

[2019-10-01 01:11] cKellyDesign commented on #464
@moshthepitt Let's start by defining all the variables in the PlanDefinition which can be modified to define different permutations of a Plan. Filtering rows from the data dictionary sheet and listing them out in this ticket would be really helpful!

cc @mberg @craigappl