[2019-10-01 01:15] cKellyDesign commented on #400
@mberg @moshthepitt were we ever able to get the Number of Rooms CSV uploaded into Superset? (wondering if this is still blocked)

[2019-10-01 01:25] cKellyDesign commented on #457
![Capture](https://user-images.githubusercontent.com/4141527/65927726-b52e4080-e3af-11e9-847b-b1ed81844cfd.JPG)

@moshthepitt this sounds like a data aggregation issue with the slice query, looks like it's still happening in production and it's hard to say if it's happening on staging (b/c of lack of data)

[2019-10-01 01:27] cKellyDesign commented on #399
@moshthepitt are we getting the number of rooms from the custom Jurisdiction superset slices? if not then seems like we still need to upload a to superset, or just serve it as CSV from a google sheets? (to join with data from custom Jurisdiction superset slices)

[2019-10-01 01:29] cKellyDesign commented on #458
@p-netm what is the status of this blocker?

[2019-10-01 01:31] cKellyDesign commented on #449
@mberg @craigappl we still need to generate tilesets (which match the location tree in OpenSRP) for the Zambia IRS Maps. Please provide the shapefiles or geojson for the entire Zambia location tree to unblock this ticket.

[2019-10-01 01:32] cKellyDesign commented on #434
@moshthepitt is this topic adequately covered in other tickets / conversations? Is there more to scope that doesn't already have tickets?

[2019-10-01 01:38] cKellyDesign commented on #398
This was deployed with `v1.1.20-rc-1`

[2019-10-01 01:38] #398 closed

[2019-10-01 07:43] moshthepitt opened #469 "Move type definitions out of settings.ts"
We need to move all the type definitions out of settings.ts and into something like types.ts.  This is based on the conversation here https://github.com/onaio/reveal-frontend/pull/459#discussion_r329840979

[2019-10-01 08:42] moshthepitt opened #470 "IRS Reporting map breaks when there is no data in Superset"
To replicate, try to load:

Namibia IRS Test Plan > Namibia > Oshana > Oshakati > Hanover

[2019-10-01 08:44] moshthepitt opened #471 "Make IRS reporting configs more configurable"
We need a way to define the following settings variables in a way that can work for both Namibia and Zambia on the same branch.  Perhaps we can do this the same way we did it for IRS table columns?

- sidebarIndicatorRowsIRS
- sidebarLegendStopsIRS

[2019-10-01 09:10] moshthepitt commented on #471
Namibia IRS legend stops: https://github.com/onaio/reveal-frontend/blob/008a4db46a9de15ae172742e2e8a699053dc29d4/src/configs/settings.ts#L966

[2019-10-01 09:10] moshthepitt commented on #471
Namibia IRS indicator rows: https://github.com/onaio/reveal-frontend/blob/008a4db46a9de15ae172742e2e8a699053dc29d4/src/configs/settings.ts#L920

[2019-10-01 09:57] moshthepitt opened #472 "IRS Map sidebar improvements"
- [x] For Namibia, Spray Coverage should be listed above Found Coverage
- [x] For Zambia, Spray Coverage should be listed above Found Coverage
- [ ] For Zambia, the not sprayed reasons and duplicate reasons should be listed similar to how it was done in mSpray e.g. https://macepa.mspray.onalabs.org/reactive/irs/chw/3106/3122 (click on target area stats top right)

[2019-10-01 12:43] cKellyDesign commented on #472
Do we have this data already coming in from the Superset slices? Also, this sounds like it will be another type of `IndicatorRow`.

[2019-10-01 12:45] moshthepitt commented on #472
Not yet, will have it soon

[2019-10-01 12:49] cKellyDesign commented on #472
@rowo @OluwatobiMayowa - could we get a simple mockup incorporating a type of metric-list type of row in the sidebar:
![64307252-8022ff80-cf63-11e9-9947-50016ba25164](https://user-images.githubusercontent.com/4141527/65963224-2b15c480-e40f-11e9-98b4-b7da9be9a473.png)

To show the data from the `Not Sprayed Reasons` row:
<img width="344" alt="Screen Shot 2019-10-01 at 5 38 04 AM" src="https://user-

[2019-10-01 13:17] cKellyDesign commented on #471
Good call, we should set this up the same way as the `IRSTableColumns` coupled with env vars: https://github.com/onaio/reveal-frontend/blob/irs-reporting-table/src/containers/pages/IRS/JurisdictionsReport/helpers.ts#L279

[2019-10-01 13:42] cKellyDesign commented on #455
@moshthepitt @mberg do we have this rooms per households data yet?

[2019-10-01 13:45] cKellyDesign commented on #446
@p-netm whichever is easier at this point, probably exact?

@rowo @OluwatobiMayowa - thoughts?

[2019-10-01 13:46] cKellyDesign commented on #428
This is done / covered by other tickets.

[2019-10-01 13:46] #428 closed

[2019-10-01 13:48] cKellyDesign commented on #252
Let's not do this, if anything the amount of helpers in this module should be reduced as much as possible.

[2019-10-01 13:48] #252 closed

[2019-10-01 13:50] #416 closed

[2019-10-01 14:28] moshthepitt opened #474 "RVL-532: IRS Column headers"
### Description

In the tables, the column header "Refusals" should be center aligned to the 2 headers under it on first visit and mop-ups. Just so its clear that those 2 columns belong to "Refusals"

Same for the header "Locked".

Link for context: https://smartregister.atlassian.net/browse/RVL-532

[2019-10-01 16:22] #369 closed

[2019-10-01 18:34] DavisRayM commented on #469
Is this issue unassigned? I’d like to work on it

[2019-10-01 18:54] moshthepitt commented on #469
@DavisRayM please go ahead and assign it to yourself

[2019-10-01 20:28] #179 closed

[2019-10-01 20:28] #192 closed

[2019-10-01 20:28] #381 closed

[2019-10-01 20:28] #382 closed

[2019-10-01 20:28] #388 closed

[2019-10-01 21:34] rowo commented on #472
@cKellyDesign is this just a two column table (in the second image) replacing the indicator boxes in the Refusals section (in the first image)?

[2019-10-01 21:42] rowo commented on #446
I agree on whichever is easier, especially for team search.

[2019-10-01 22:07] cKellyDesign commented on #472
@rowo in addition I think

[2019-10-02 00:59] rowo commented on #472
@cKellyDesign Like so?
![Group 3](https://user-images.githubusercontent.com/1584163/66010760-52f83d00-e48e-11e9-8c80-fc46d5274840.png)

[2019-10-02 02:55] OluwatobiMayowa commented on #446
Seconded @rowo @cKellyDesign

[2019-10-02 11:17] moshthepitt commented on #472
@cKellyDesign fixed some of the items in the todo list here in #478

[2019-10-02 13:30] #466 closed

[2019-10-02 13:38] moshthepitt commented on #460
Jira ticket https://smartregister.atlassian.net/browse/RVL-545

[2019-10-02 13:53] cKellyDesign opened #480 "Render jurisdiction hierarchy breadcrumbs in IRS Map"
We need to carry over the breadcrumbs from the IRS Report table into the IRS Map page,=.

<img width="863" alt="Screen Shot 2019-10-02 at 4 50 24 PM" src="https://user-images.githubusercontent.com/4141527/66050066-5963d480-e4e1-11e9-9a9e-052cad711d9f.png">

[2019-10-02 13:56] cKellyDesign opened #481 "Add link from IRS focus area label to IRS Map"
We need to keep the map icon and wrap the adjacent label (the jurisdiction name) in a link to navigate to the Map just like the icon.

[2019-10-02 13:58] #470 closed

[2019-10-02 14:11] #471 closed

[2019-10-02 15:06] moshthepitt opened #482 "Namibia target coverage bug on map"
![bugz](https://user-images.githubusercontent.com/372073/66056091-41bb3900-e53f-11e9-8432-4f00d72c1a87.png)

[2019-10-02 15:08] moshthepitt commented on #482
The progress bar is also not colored like it should be

[2019-10-02 15:11] cKellyDesign commented on #482
@moshthepitt in the screenshot it looks like the denominator is zero for the first row so, it's unclear what the value actually should be

[2019-10-02 15:14] moshthepitt commented on #482
@cKellyDesign I think the thing is looking for a wrong value hence getting zero

[2019-10-02 15:20] cKellyDesign commented on #482
This is the endpoint being called and you're right, `structurestargeted` is not one of the properties: https://superset.reveal-stage.smartregister.org/superset/slice_json/554?form_data={"adhoc_filters":[{"clause":"WHERE","expressionType":"SIMPLE","comparator":"9f9210ef-9ad3-4cb6-953e-2c9466febeac","operator":"==","subject":"jurisdiction_id"},{"clause":"WHERE","expressionType":"SIMPLE","comparator"

[2019-10-02 15:23] moshthepitt commented on #482
oh goodness, it should be `target_2019`

[2019-10-02 17:39] cKellyDesign commented on #472
@rowo like so, thanks boss

[2019-10-02 17:40] cKellyDesign commented on #446
@p-netm is there anything else blocking this issue?

[2019-10-02 19:02] cKellyDesign commented on #480
This was actually pre-empted by #459

<img width="1201" alt="Screen Shot 2019-10-02 at 11 55 21 AM" src="https://user-images.githubusercontent.com/4141527/66073738-84afe900-e50c-11e9-8402-4c88c3cdb2e1.png">

[2019-10-02 19:02] #480 closed

[2019-10-02 19:12] craigappl opened #485 "Can not view Focus Investigation Plans in the web UI"
We are unable to view focus investigation plans in the web UI due to javascript consul errors that seem to be null pointers:

![image](https://user-images.githubusercontent.com/6067053/66074327-813a5300-e548-11e9-83f6-29ed38ff96aa.png)

[2019-10-02 19:13] craigappl opened #486 "The "Complete" button does not work"
We are not able to complete a plan in the web UI. The team has requested that we support this.

[2019-10-02 19:24] craigappl opened #488 "RVL-91 - Change BCC Plan Label in Form and Nifi"
The BCC Goal and Activity needs to be changed so that it shows differently in the Web UI. We need to make this change in the plan generation web form and possibly in the automatic plan generation in BIOPHICS.

Whatever is displayed in the card view on the right side of the web UI needs to say "BCC Activities Complete" I can't login right now to see what is currently displayed, but I think it is th

[2019-10-02 20:11] #482 closed

[2019-10-02 20:14] #474 closed

[2019-10-02 20:14] #481 closed

[2019-10-03 07:19] p-netm commented on #446
@cKellyDesign No, not at the moment, thatnks for clearing that up for me.

[2019-10-03 09:08] #127 closed

[2019-10-03 12:26] moshthepitt opened #491 "IRS reporting table view breaks when there is no data from Superset"
As in the site completely breaks with no recourse apart from a refresh.  We should handle this more gracefully.  Currently happening in Zambia production.

[2019-10-03 13:03] cKellyDesign commented on #486
@craigappl are you referring to IRS or FI plans?

[2019-10-03 13:05] cKellyDesign commented on #485
@moshthepitt do you think this is similar to #491 where it's getting no-data from Superset slices?

[2019-10-03 13:07] moshthepitt commented on #485
@cKellyDesign yes I think this has the same root cause

[2019-10-03 13:13] cKellyDesign commented on #491
My suspicion is that our actionCreators that we're calling should be wrapped in a conditional to only save results to stores when there are results to save.

https://github.com/onaio/reveal-frontend/blob/master/src/containers/pages/IRS/JurisdictionsReport/index.tsx#L83

[2019-10-03 13:25] moshthepitt commented on #491
@cKellyDesign I think we should do that regardless, but I feel that it is not the core problem - whether something goes into the Redux store or not shouldn't matter - ama?

[2019-10-03 13:26] cKellyDesign commented on #455
@rowo @OluwatobiMayowa could we get a tooltip mockup for this context? The current implementation is based on the Gisida tooltips and were never really designed, this could be a good opportunity to work in some polish!

[2019-10-03 13:52] #408 closed

[2019-10-03 14:26] moshthepitt commented on #486
@craigappl can you provide more information please?

[2019-10-03 15:36] moshthepitt commented on #491
![ummm](https://user-images.githubusercontent.com/372073/66141674-bc9e5580-e60c-11e9-899c-b9c922ffcf3d.png)

So Zambia is currently doing this

[2019-10-03 15:37] moshthepitt commented on #491
@cKellyDesign ^^

[2019-10-03 15:46] cKellyDesign commented on #491
@moshthepitt Is there a level 0 Jurisdiction for `Zambia`?

[2019-10-03 15:52] moshthepitt commented on #491
yes there is

[2019-10-03 15:53] moshthepitt commented on #491
right now Zambia loads actually (coz we got some data synced) @cKellyDesign

[2019-10-03 16:02] cKellyDesign commented on #491
@moshthepitt looks like it's working now in production
<img width="1186" alt="Screen Shot 2019-10-03 at 9 01 43 AM" src="https://user-images.githubusercontent.com/4141527/66143764-8b963480-e5bc-11e9-93a6-4ac2e21bb34f.png">

[2019-10-03 16:04] moshthepitt commented on #491
yeah we got data in.  The screenshot above yours happens when there is no data for jurisdictions

[2019-10-03 16:04] moshthepitt commented on #491
@cKellyDesign also, currently the map page is not showing on my end in Zambia

[2019-10-03 16:14] cKellyDesign commented on #491
@moshthepitt Seems there are no Jurisdicitons in the superset slice with this planId: https://superset.reveal-zm.smartregister.org/superset/slice_json/160?form_data={%22adhoc_filters%22:[{%22clause%22:%22WHERE%22,%22expressionType%22:%22SIMPLE%22,%22comparator%22:%229f1e0cfa-5313-49ff-af2c-f7dbf4fbdb9d%22,%22operator%22:%22==%22,%22subject%22:%22plan_id%22}],%22row_limit%22:1}

[2019-10-03 16:16] moshthepitt commented on #491
@cKellyDesign this is 100% Superset behaving badly, the unfiltered slice https://superset.reveal-zm.smartregister.org/superset/slice_json/160 has all the jurisdictions with that plan id :(

[2019-10-03 16:20] cKellyDesign commented on #491
@moshthepitt yeah actually I just realized, it's passing when in the table, seems the only reason this is failing is because the map is not calling it with the sorting parameter which is being used in the Table.

**Passing**
https://superset.reveal-zm.smartregister.org/superset/slice_json/160?form_data={%22order_by_cols%22:[%22[\%22jurisdiction_depth\%22,+true]%22],%22adhoc_filters%22:[{%22clause%

[2019-10-03 16:22] moshthepitt commented on #491
@cKellyDesign I believe it is caused by weird caching behaviour in Superset where that particular query was cached with no results

[2019-10-03 16:23] cKellyDesign commented on #491
ah yeah i was also wondering about the caching, how long does the cache persist?

[2019-10-03 16:23] moshthepitt commented on #491
1200 sec right now

[2019-10-03 17:43] moshthepitt opened #494 "Where should the IRS card on home page link to?"
![reveal hom irs link](https://user-images.githubusercontent.com/372073/66150712-69350300-e61e-11e9-9083-b54a06468c2b.png)

[2019-10-03 18:41] cKellyDesign commented on #400
Closing this issue because we're getting this data from the Superset Plan-Jurisdiction slices.

[2019-10-03 18:41] #400 closed

[2019-10-03 18:43] cKellyDesign commented on #399
Closing this issue because it will be addressed by #464

[2019-10-03 18:43] #399 closed

[2019-10-03 18:45] cKellyDesign commented on #464
- [ ] Specify / Configure Form Field Ordering (#370)

[2019-10-03 18:45] cKellyDesign commented on #370
Closing this issue because it will be addressed by #464

[2019-10-03 18:45] #370 closed

[2019-10-03 18:51] cKellyDesign commented on #343
Closing this issue as the initial discussion was had and subsequent work will be tracked in individual tickets.

[2019-10-03 18:51] #343 closed

[2019-10-03 18:51] cKellyDesign commented on #340
Yup!

[2019-10-03 18:51] #340 closed

[2019-10-03 18:52] #339 closed

[2019-10-03 18:53] cKellyDesign commented on #322
Closing this issue, snapshot reduction can be tracked in individual tickets.

[2019-10-03 18:53] #322 closed

[2019-10-03 18:55] cKellyDesign commented on #308
Closing this as it will be addressed in #300

[2019-10-03 18:55] #308 closed

[2019-10-03 18:58] cKellyDesign commented on #288
Closing this as it seems to be a non-issue.

[2019-10-03 18:58] #288 closed

[2019-10-03 19:04] cKellyDesign commented on #286
Latest update on this is that we can accomplish this by using the `findByIdWithChildren` to "find" the level 0 jurisdiction by ID and all of it's children. This endpoint allows us to pull more than 1000 jurisdictions at a time so the requests may get large, but no larger than from Superset.

**Blocker**: Zambia does not have a level 0 jurisdiction in OpenSRP

[2019-10-03 19:05] cKellyDesign commented on #277
Closing this as it is currently happening, we only download geojson of administrative jurisdictions if no tilesets are provided.

[2019-10-03 19:05] #277 closed

[2019-10-03 19:06] cKellyDesign commented on #262
Closing this as it will be addressed by #300

[2019-10-03 19:06] #262 closed

[2019-10-03 19:08] cKellyDesign commented on #250
@moshthepitt @p-netm is this still an issue?

[2019-10-03 19:08] cKellyDesign commented on #249
@moshthepitt @p-netm is this still an issue?

[2019-10-03 19:09] cKellyDesign commented on #248
@moshthepitt @p-netm is this still an issue?

[2019-10-03 19:11] cKellyDesign commented on #243
Closing this issue because we are currently re-addressing how to structure customizable and configurable helpers and handlers.

[2019-10-03 19:11] #243 closed

[2019-10-03 19:12] cKellyDesign commented on #233
Closing this because let's stick with Moment unless/until we decide against this later.

[2019-10-03 19:12] #233 closed

[2019-10-03 19:13] cKellyDesign commented on #223
@moshthepitt @githengi is this still a requirement of the Webapp?

[2019-10-03 19:14] cKellyDesign commented on #204
@p-netm @moshthepitt what PR is linked to this ticket?

[2019-10-03 19:16] cKellyDesign commented on #197
- [ ] FI Map Page
- [ ] FI Details Page
- [x] IRS Planning Jurisdiction Selection Page
- [x] IRS Reporting Map View page

[2019-10-03 19:17] cKellyDesign commented on #186
This can simply be accomplished by `fetch`ing `https://reveal-[X].smartregister.org/opensrp/logout.do` from the browser when clicking log out.

[2019-10-03 19:18] cKellyDesign commented on #182
Closing this, it's happened organically. Re-open if you disagree.

[2019-10-03 19:18] #182 closed

[2019-10-03 19:19] cKellyDesign commented on #177
Closing this for now, re-open if client re-requests this feature.

[2019-10-03 19:19] #177 closed

[2019-10-03 19:20] cKellyDesign commented on #176
Closing this for now, re-open if client re-requests this feature.

[2019-10-03 19:20] #176 closed

[2019-10-03 19:20] cKellyDesign commented on #152
Unable to reproduce, closing.

[2019-10-03 19:20] #152 closed

[2019-10-03 19:21] cKellyDesign commented on #148
Closing this as it seems to be a non-issue.

[2019-10-03 19:21] #148 closed

[2019-10-03 19:23] cKellyDesign commented on #100
Closing this, the component has been improved and there are additional tickets describing more specific work-items.

[2019-10-03 19:23] #100 closed

[2019-10-03 19:24] cKellyDesign commented on #34
Closing this as we are currently handling the different hierarchies agnostically.

[2019-10-03 19:24] #34 closed

[2019-10-03 19:25] cKellyDesign commented on #5
This ticket is very out-dated, closing now.

[2019-10-03 19:25] #5 closed

[2019-10-03 23:51] cKellyDesign commented on #494
@mberg @rowo Can we get circle back to what we show on the landing page of the site? To Kelvin's point above it's not clear from the current design where the IRS link will go, and it seems like different clients will want different things.

cc @moshthepitt @OluwatobiMayowa

[2019-10-04 06:49] moshthepitt commented on #248
Yes still an issue.

[2019-10-04 06:49] moshthepitt commented on #249
Yes still an issue.

[2019-10-04 06:49] moshthepitt commented on #250
Yes still an issue.

[2019-10-04 08:12] githengi commented on #223
This can be dropped for now

[2019-10-04 08:27] #223 closed

[2019-10-04 13:34] rowo commented on #494
Originally, when it was organized by intervention (like DiSARM), it would've gone to an important priority view for the respective intervention. With the navigation change (forget what issue that was where I asked about it) and all of the new stuff that's changed, we'll need to talk through nav and workflow again.

[2019-10-04 14:25] cKellyDesign opened #495 "IRS Reporting Feedback Changes"
This ticket tracks feedback and small tasks for the IRS Reporting modules.

- [ ] Change NA and ZM threshold color `GREY: #a9a9a9`
- [ ] In Map legend, change `Not Eligible` to `Visited Not Eligible`
- [ ] In Map legend, add grey for `Not Eligible`

[2019-10-04 16:09] cKellyDesign commented on #495
this one is deceptively tricky, because the way we set up the configs, the legend text is coupled with the text that drives the layer styling (which is the actual business status of the task for that structure)

[2019-10-04 16:42] cKellyDesign commented on #411
I think @p-netm's approach can be applied to the popup where we are selecting Teams via the [AsynSelect component](https://github.com/JedWatson/react-select) we're already using throughout the site. With a bit of styling it can probably match the mockups pretty easily.

[2019-10-04 16:49] cKellyDesign commented on #411
@moshthepitt @p-netm @pld - we probably don't want to trigger anything **actual** assignment until the user is good and ready to submit the assignments (to avoid triggering unnecessary flows / task generating / task updating / etc - Correct me if this isn't a concern)

@rowo @OluwatobiMayowa ☝️ Given this assumption, should we have `Save Assignments as Draft` and `Finalize and Assign` buttons whic

[2019-10-04 16:54] cKellyDesign commented on #411
@githengi @Rkareko @pld - How do we save these `organization-to-planJurisdiction` assignments?

- [ ] What endpoint do we use?
- [ ] What data/schema do we include in the payload?
- [ ] Once created, can we just `PUT` instead of `POST` to update `organization-to-planJurisdiction` assignments?

[2019-10-04 17:04] cKellyDesign commented on #411
Another question for @rowo and @OluwatobiMayowa: Where does this workflow start and end? In the mockups the flow [starts immediately after finalizing a draft plan](https://marvelapp.com/b2iaahb/screen/53843108) and [doesn't really have an end](https://marvelapp.com/b2iaahb/screen/53843113).

- [ ] How can a client get to this flow for an existing Finalized plan? (where do we put the button?)
- [ ]

[2019-10-04 17:33] pld commented on #411
In this case what's the difference btwn Draft and Finalize? Can we combine those states?

[2019-10-04 17:44] cKellyDesign commented on #411
@pld Great question, I don't know the various backend dependencies or triggers around switching a Plan status from `draft` to `status`. Oh, one thing would be the fact that we are assigning teams to `plan-definition` entities which, definitionally, don't exist until a plan exists with jurisdictions.

@p-netm @githengi @moshthepitt - are we able to get plan-jurisdiction entities directly from OpenS

[2019-10-04 18:10] githengi commented on #411
This is currently supported @cKellyDesign

[2019-10-04 18:19] cKellyDesign commented on #411
@githengi great thanks! when/how are plan-jurisdiction entities created in opensrp?

[2019-10-04 18:36] moshthepitt commented on #411
@cKellyDesign sorry I don't have anything else to add apart from "lets avoid using Superset at all costs for this".

plan-jurisdictions can be inferred from the jurisdictions field in plab objects

[2019-10-04 18:37] moshthepitt commented on #411
I do not think assigning teams does trigger any flows/events/other things/etc @Wambere correct me here if I am wrong.

[2019-10-04 18:55] cKellyDesign commented on #411
Cool yeah we can infer to render the page correctly, ultimately we will need to know whether to `POST` or `PUT` the api call, so we'll need to know by that point if the plan-jurisdiction exists or not.

Excellent, then we can assign in Draft or Finalized sate, seems like doing it in Draft makes more sense and we can assign teams to plan-jurisdictions in chunks when the user clicks `Save as Draft`

[2019-10-04 20:49] pld commented on #411
[code]

This expects an array of objects, e.g. for a single assignment:

[code]

I've heard that it should be able to take multiple objects in that array, but the last time I tried that (Wednesday late night) it only succeeded when the array had a single object, as above.

`POST` works, I have not tried `PUT` if this becomes blocking, you should test and see, would also be good to know if `DELETE`

[2019-10-04 20:52] #409 closed

[2019-10-04 20:52] #410 closed

[2019-10-05 06:07] githengi commented on #411
@cKellyDesign please check this documentation as a starting point.

You use a POST to https://reveal-[ENV].smartregister.org/opensrp/rest/organization/assignLocationsAndPlans with a list of assignment objects as @pld has described above.

Currently PUT or DELETE are not supported.

However POST allows for updates if the organization, plan and jurisdiction combination exists and has not expired, ot

[2019-10-06 09:14] moshthepitt opened #498 "Fix spray coverage for rooms description"
![rooms](https://user-images.githubusercontent.com/372073/66266818-cacdbb00-e832-11e9-9d4e-8809db1dfe27.png)

[2019-10-07 14:01] cKellyDesign opened #501 "Set IRS Reporting Map to Full Page Width"
As per requested by @mberg at https://onaio.slack.com/archives/CBSU8L2SC/p1570456351058900

[2019-10-07 14:59] cKellyDesign commented on #501
It looks like it will actually be easier to make the whole site full-width by simply removing the nested `Container` in `App.tsx` to allow all pages to have a fluid layout.

<img width="1402" alt="Screen Shot 2019-10-07 at 7 52 40 AM" src="https://user-images.githubusercontent.com/4141527/66323177-3d44a680-e8d8-11e9-8fd9-2f14f0edf788.png">
<img width="1409" alt="Screen Shot 2019-10-07 at 7 35 10 A

[2019-10-07 15:19] moshthepitt opened #504 "Ensure both points and polygons are rendered for IRS reporting maps"
Will fix https://github.com/onaio/canopy/issues/473

[2019-10-07 15:23] moshthepitt commented on #504
Going to try this approach https://stackoverflow.com/questions/36923916/render-a-featurecollection-from-a-geojson-file-with-multiple-types-in-map-gl

[2019-10-07 15:33] cKellyDesign commented on #504
Beautiful, if we do that we don't need the if-else blocks, we can just create the layers every time, and FCs with only one type will just not show anything for the other source-type.

[2019-10-07 16:04] cKellyDesign commented on #411
Ok then when creating these assignments we'll set the `toDate` to match the plan's end-date.

@githengi @pld - is it possible to get a list of organizations by `plan` and `jurisdiction` parameters? Currently [it doesn't look like it](https://github.com/OpenSRP/opensrp-server-web/blob/master/src/main/java/org/opensrp/web/rest/OrganizationResource.java#L50-L58), or are we able to filter by params li

[2019-10-07 16:12] pld commented on #411
Not that I'm aware of, I see a properties filter parameter in the `LocationsResource`, not sure if that's helpful or if it allows the relevant filtering.

If not let's parse the all orgs returned JSON for now and work with Sam to add an appropriate ticket on OpenSRP server for more performant querying.

[2019-10-07 17:15] #504 closed

[2019-10-07 18:16] cKellyDesign commented on #411
Issue created at OpenSRP/opensrp-server-web#148 to get Assignments by planId so that we can render existing Assignments when loading draft plans.

[2019-10-07 18:17] cKellyDesign commented on #411
Removing `blocked` label for now, currently doing work on the UI and the local Store and will worry about `GET`ing assignments from OpenSRP a little later.

[2019-10-08 02:18] cKellyDesign commented on #411
@githengi @pld when `POST`ing to the endpoint with the following payload:
[code]

Should `jurisdiction` always be an Operation/Focus/Spray Area or should we also be generating assignment objects for Administrative Jurisdictions?

[2019-10-08 02:22] pld commented on #411
Good question, I unfortunately don't know the answer to that, @mberg may also have knowledge on this

[2019-10-08 08:33] githengi commented on #411
@cKellyDesign for now it has to be Operation/Focus/Spray Area, In future was can support assignment at higher levels

[2019-10-08 12:37] cKellyDesign commented on #411
@mberg suggested keeping it simple for now and simply requiring the user to drill down to the Spray Areas and assigning one at a time.

[2019-10-08 15:17] moshthepitt opened #508 "Namibia IRS issues"
- [x] Refusals and locked
    - [x] need to be percentages (right now they are raw numbers)
    - [x] need to be aggregated correctly
- [ ] Dashboard village list
    - [ ] number of target structures not uploaded for all villages
    - [ ] list alphabetically villages
- [ ] Login credentials for users (more user-friendly user name and password)

[2019-10-08 15:21] cKellyDesign commented on #508
Looks like mostly data work in superset with a bit of FE work in the IRS Reporting Tables(/Map?)

[2019-10-08 15:23] moshthepitt commented on #508
@cKellyDesign if we can get the sorting in the DB we might node to touch the FE code :)

[2019-10-09 08:20] #469 closed

[2019-10-09 23:04] cKellyDesign opened #513 "Assign Teams to FI Plans"
Focus investigations should include a multi-select dropdown to select organizations to be assigned to the single plan-jurisdiction.

* ~~Render (Async?)Select component in New (FI) Plan Form~~
* ~~Render (Async?)Select component in Update (FI) Plan Form~~
* ~~[POST deprecated Assignments to OpenSRP to retire them](https://github.com/onaio/reveal-frontend/issues/411#issuecomment-538620498)~~
* ~~[P

[2019-10-10 13:44] cKellyDesign commented on #411
@pld @githengi I'm successfully `GET`ing from the `assignedLocationsAndPlans` endpoint, but it seems I can no longer `POST` to this endpoint. ([the resource](https://github.com/OpenSRP/opensrp-server-web/blob/master/src/main/java/org/opensrp/web/rest/OrganizationResource.java#L152))

[2019-10-10 16:44] githengi commented on #411
The Post endpoint should be assignLocationsAndPlans

On Thu, Oct 10, 2019, 4:44 PM Conor Kelly <notifications@github.com> wrote:

[2019-10-10 17:30] cKellyDesign commented on #411
@githengi @pld @Rkareko - it looks like when `GET`ing the assignments they are not including the `organization` identifiers.

POST'd payload:
[code]
GET Results in:
[code]

[2019-10-10 17:33] pld commented on #411
Yeah that's correct you query with the org ID

[2019-10-10 17:34] cKellyDesign commented on #411
@pld This is querying with the plan Id.

[2019-10-10 17:38] pld commented on #411
Oh I see, I'd guess the template for the return value was never updated

[2019-10-11 12:52] cKellyDesign opened #515 "Allow active plans to be edited in the UI"
We should be able to see and click on Active plans in the IRS Planning list view.

[2019-10-11 13:02] moshthepitt commented on #515
- Does this need to be for every plan?
- Should we just trust that things can and change in a plan, and it should be okay to edit it whenever?
- Does it apply to all plan fields, or are there some tha should not be editable?

[2019-10-11 13:09] cKellyDesign commented on #515
@mberg @craigappl @pld @githengi - please consider Mosh's questions above ☝️

[2019-10-11 13:11] cKellyDesign commented on #515
For now I'm making changes which should only effect IRS plan Jurisdiction selection (and eventually assignment).

[2019-10-11 13:12] moshthepitt commented on #515
For context, we intentionally disabled [editing many fields](https://github.com/onaio/reveal-frontend/blob/master/src/containers/forms/PlanForm/index.tsx#L884) on plans.  Looks like we need to review this.

[2019-10-11 13:14] moshthepitt commented on #515
But is it absolutely agreed upon that we should do this, or is what is happening in Zambia a rare thing?  I guess I am just worried that freely editing plans probably has a lot of consequences - though we are doing it clunkily anyway right now.

[2019-10-11 14:30] cKellyDesign opened #517 "Add more tests for TeamAssignment popover"
Currently the TeamAssignmentPopover has only a shallow tests and needs more substantial unit tests, however when mounting in jest the Component throws an error complaining it can't find its `target` in the DOM.

[code]

[2019-10-11 15:06] p-netm opened #518 "Review changes requested for the already merged teams Assignment prs"
This is more of an epic Issue:
The main task involves reviewing Team Assignment Prs that are already merged with changes requested.
- [ ] #463

[2019-10-11 21:35] cKellyDesign commented on #449
at some point in my processing, it looks like the ids got truncated...starting them over again.
<img width="1038" alt="Screen Shot 2019-10-11 at 2 32 17 PM" src="https://user-images.githubusercontent.com/4141527/66686442-5630bd00-ec34-11e9-8ee4-8b221884dfa2.png">

[2019-10-13 15:53] mberg opened #520 "Task and structure sync optmization"
Currently locations like MTD require 70MB of data to downloads the plan and associates structures and tasks.

Task sync in particular seems to take the longest.

We should look to see if we can optimize the bandwidth of these downloads.

**Structures**
For structures - since most structures are poly's they are only 4 points so there isn't too much we need to simplify the geojson.  We could look at

[2019-10-14 07:41] p-netm opened #521 "Remove todo in practitioners List View"
Add workflow for searching through the practitioners listing page and then fix this test https://github.com/onaio/reveal-frontend/blob/08c404684548cdc6de6b04cae05b8bc86f314950/src/containers/pages/PractitionerViews/PractitionerListView/tests/index.test.tsx#L105

[2019-10-14 11:33] p-netm opened #522 "Test serviceHooks"
Add tests for api calling fnctions in the service hooks file inside TeamAssignment associated folders i.e. OrganizationViews and PractitionerViews

[2019-10-14 11:44] p-netm commented on #447
closed by #462

[2019-10-14 11:44] #447 closed

[2019-10-14 22:30] moshthepitt opened #524 "Add IRS tests that use Namibia IRS configs"
We dont have any tests for IRS reporting that use Namibia configs.  We should add these.

[2019-10-14 22:34] moshthepitt opened #525 "IRS indicator cleanup"
- Cleanup indicatorThresholdsNA: https://github.com/onaio/reveal-frontend/blob/master/src/configs/settings.ts#L724 - should be renamed or reconfigured to work with other countries
- indicators.tsx https://github.com/onaio/reveal-frontend/blob/master/src/helpers/indicators.tsx - clean up these functions and add tests; configId usage should be investigated

[2019-10-15 08:46] p-netm opened #526 "TeamAssignment - Add Tests for Practitioner Form"
- [ ] add tests  to the practitioner form component
- [ ] add tests for practitionerform.userIdSelect component

[2019-10-15 12:14] cKellyDesign opened #527 "Use Proxies to define default values"
[Brought up in this PR](https://github.com/onaio/reveal-frontend/pull/503#discussion_r333813492), we should look into defining default object values (like reducer state and component props) using [Proxies](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy).

[2019-10-15 12:28] moshthepitt commented on #411
fixed by #503

[2019-10-15 12:28] #411 closed

[2019-10-15 15:31] #448 closed

[2019-10-16 03:20] cKellyDesign opened #529 "Bulk Assign Organizations to parent Jurisdictions"
Currently the webapp only allows assigning teams to a single operational area Jurisdiction, which needs to be build upon to support batch assignments to plan-jurisdictions.

**Suggested Implementation:**
1. For non-administrative jurisdictions (spray areas), functionality stays the same
2. For administrative jurisdictions, add Assign Button with label: `[N] teams assigned to [X] spray areas`
    a

[2019-10-16 08:31] moshthepitt opened #531 "MACEPA IRS dashboard is broken"
![5d3cc6bf-c9d1-4874-b455-bbc4c5a465e7](https://user-images.githubusercontent.com/372073/66901945-6a940180-f008-11e9-8011-8d3dceca1f38.png)

[2019-10-16 08:35] moshthepitt opened #532 "Area NYM 91b Zambia IRS reporting is broken"
Only yellow structures on map:

![638c6070-94cf-4b75-8549-e150b54d48ed](https://user-images.githubusercontent.com/372073/66902193-e68e4980-f008-11e9-91bf-352cf876e6c0.png)

But numbers in table:

![e5ceb570-50dc-47b2-858d-43c45d16f488](https://user-images.githubusercontent.com/372073/66902204-ebeb9400-f008-11e9-9982-b4200dbfc436.png)

[2019-10-16 08:35] moshthepitt commented on #532
Atlassian issue: https://smartregister.atlassian.net/browse/RVL-582

[2019-10-16 09:26] moshthepitt commented on #526
@p-netm could we add a description to this issue?

[2019-10-16 10:25] moshthepitt commented on #527
Nice one

[2019-10-16 10:27] moshthepitt commented on #488
@craigappl could you add details to this please, now that you can log in?

[2019-10-16 10:40] moshthepitt opened #533 "IRS reporting table is broken when there are no jurisdictions"
When either one of the slices in `REACT_APP_SUPERSET_IRS_REPORTING_JURISDICTIONS_DATA_SLICES` dont return data, the IRS reporting table gets broken.

![broken irs table](https://user-images.githubusercontent.com/372073/66912057-7d173680-f01a-11e9-924e-6ea0b82ea7fc.png)

[2019-10-16 10:41] moshthepitt commented on #531
This is one of the issues: https://github.com/onaio/reveal-frontend/issues/533

[2019-10-16 10:49] moshthepitt commented on #531
Need to investigate why the `zambia_irs_jurisdictions` DB view is not populated for MACEPA

[2019-10-16 10:51] moshthepitt opened #534 "IRS Map page breaks when there are no structures"
The IRS map breaks badly when there are no structures.  For an example, see any of the focus areas under the Macepa plan here: https://web.reveal-zm.smartregister.org

[code]

[2019-10-16 13:01] pld commented on #488
@Wambere can you please post a link to the relevant process group for these NiFi flows

[2019-10-16 13:15] moshthepitt commented on #532
So the problem here is caused by the fact that the web app does not geo queries when requesting for structures from Superset.  See below:

[code]

Vs

[code]

When you do a geo-query this focus area has 72 additional structures.

[2019-10-16 13:22] moshthepitt commented on #532
There are various ways to solve this:

1. Change the database somehow such that all structures point to a `jurisdiction id` that is the same as the geographic region in which the structure is located
2. Change the web app to make a geo-query against Superset.  Not sure how performant we can get this to be - and maybe we should be doing it anyway.

[2019-10-16 13:48] p-netm opened #535 "Suppport pagination on requests to Practitioner endpoint"
Specifically for this function
https://github.com/onaio/reveal-frontend/blob/5f015ba0750e07d371646298a84884e613c5d29e/src/containers/pages/OrganizationViews/AssignPractitioners/index.tsx#L96
the implementation of getting all options for the select component used to assign practitioners to organizations, naively assumes that we have all practitioner records that could be ever assigned at the time o

[2019-10-16 13:54] Wambere commented on #488
This is the plan generation flow: https://nifi.reveal-stage.smartregister.org/nifi/?processGroupId=016b1018-4d92-1951-13f0-9e8c775ed64f&componentIds=016b1025-4d92-1951-16a9-ea177aac0486

There is 4 different replaceText processors, all of which have text from https://smartregister.atlassian.net/wiki/spaces/REV/pages/1143242833/Automatic+Plan+and+Task+Generation#AutomaticPlanandTaskGeneration-NifiB

[2019-10-16 14:02] p-netm opened #536 "Investigate type errors on the onChageHandler for react-select select component"
[code]
While this looks like it should work
it fails to transpiile with errors:

Property 'removedValue' does not exist on type 'ActionMeta';
Property `option` does not exist on type `ActionMeta`;

[2019-10-16 14:13] moshthepitt commented on #532
This is the filter that we would need to do to make the geo query from the web app via Superset

[code]

* there are many ways to do this query, but the above is what works via Superset

Running an explain analyze gives us this:

[code]

I think it is too costly a query to make.  Is it possible to optimize it further?

[2019-10-16 15:28] pld commented on #532
This makes sense to me, that is a very expensive query.

Do you have a sense of how long the query will take if we chose the 1st option?

Is the LOE for the 1st option low enough that it's not worthwhile to implement the 2nd option now, while working on the 1st option?

[2019-10-16 15:31] moshthepitt commented on #532
@pld the query in option 1 would quite fast at ~13ms

[code]

I research and implementation may take a few hours - so lets say half a day.

[2019-10-16 15:42] moshthepitt commented on #532
Thanks @pld

[2019-10-16 22:48] cKellyDesign opened #537 "IRS Plan-Jurisdiction Assignment Cleanup"
There are some bugs which need to be addressed with the UI involved with assigning organizations to plan-jurisdictions for IRS plans.

- [ ] **Popover and Dropdown should not go below the page**
![scroll](https://user-images.githubusercontent.com/4141527/66964713-44805880-f02c-11e9-8b87-082cc93e63b9.png)

- [x] **Page title should not have prepending comma**
![Screenshot from 2019-10-16 17-59-15](

[2019-10-16 23:09] cKellyDesign opened #538 "MDA Plan Scoping"
This ticket tracks the scoping conversation around the webapp's responsibility for MDA plans ([confluence ticket](https://smartregister.atlassian.net/wiki/spaces/REV/pages/1213530119/Mass+Drug+Administration))

### Reporting
- [x] R1. Derek has provided [this sheet of dashboard definitions](https://docs.google.com/spreadsheets/d/17DEdIOMuxI-MO3aGBUJBntBgi1VqHgqRUzvKGZ__PUA/edit?usp=sharing)
- [x]

[2019-10-16 23:13] pld commented on #538
is there a timeline for these pieces and for the whole thing? please tag me when input for specific pieces is need, I'm going to unassign myself

[2019-10-16 23:21] cKellyDesign commented on #538
[Referencing confluence](https://smartregister.atlassian.net/wiki/spaces/REV/pages/1213530119/Mass+Drug+Administration#Minimum-Viable-Product):

Q1: Seem like the answer is yes

[2019-10-16 23:45] cKellyDesign commented on #538
[Referencing the googlesheet](https://docs.google.com/spreadsheets/d/17DEdIOMuxI-MO3aGBUJBntBgi1VqHgqRUzvKGZ__PUA/edit?usp=sharing):

R2:  Reporting Drilldown tables will require both Administrative level columns (Province, District, Catchment) AND Operation Areas.

@moshthepitt does the spreadsheet provide enough clarity to you in terms of how to set up the Superset slices for both Jurisdiction l

[2019-10-17 08:42] moshthepitt commented on #531
Fixed by https://github.com/onaio/canopy/pull/411/commits/05c40b993145477c74441fcb9d7044d6add212e5 which also closes this issue.  The problem was that the materialized view failed to refresh due to a conflict on the unique index on jurisdiction id.

However, https://github.com/onaio/reveal-frontend/issues/533 is still necessary to fully deal with this kind of breaking in the UI.

[2019-10-17 08:43] #531 closed

[2019-10-17 10:43] anniecmartin commented on #532
I defer to you all for the technical solution, just want to comment to ensure that "jurisdiction id that is the same as the geographic region in which the structure is located" means that in the database we are running a geoquery based on the structure's location, and using that query to set the jurisdiction and NOT just taking the location id that is associated through user login and selection.

[2019-10-17 10:51] moshthepitt commented on #534
[code]

[2019-10-17 10:52] moshthepitt commented on #534
It seems the geojson is not valid

[code]

http://geojsonlint.com/ complains with `Line 1: Polygons and MultiPolygons should follow the right-hand rule`.

[2019-10-17 10:54] moshthepitt commented on #534
Found a Stackoverflow question that talks about [Polygons and MultiPolygons should follow the right-hand rule](https://gis.stackexchange.com/questions/259944/polygons-and-multipolygons-should-follow-the-right-hand-rule)

[2019-10-17 11:29] moshthepitt commented on #534
Turns out that there is a site that can fix the right hand rule: https://mapster.me/right-hand-rule-geojson-fixer/

[2019-10-17 11:30] moshthepitt commented on #534
However, even after fixing the right hand rule problem, this geojson just will not load.

[2019-10-17 11:34] moshthepitt commented on #534
Tried to load it into mapbox directly but still suffer the same problem.   See attached.  You'll need to use a valid Mapbox API key.

[test.zip](https://github.com/onaio/reveal-frontend/files/3738972/test.zip)

[2019-10-17 11:34] moshthepitt commented on #534
The error from Mapbox is

[code]

[2019-10-17 11:35] moshthepitt commented on #534
However, the geojson DOES INDEED load in QGIS.  (?#$%,  right?)

[2019-10-17 11:37] moshthepitt commented on #534
Based on the above, I am concluding that this GeoJSON is invalid in some way that manifests as an invalid value for longitude.

@cKellyDesign @KipSigei - what are your thoughts?

[2019-10-17 12:06] KipSigei commented on #534
@moshthepitt yeah I don't think that GeoJSON is a valid feature collection.

Should be something like

[code]

[2019-10-17 12:08] KipSigei commented on #534
Also the coordinates seem abit off

[2019-10-17 12:12] moshthepitt commented on #534
@cKellyDesign I think for us to close this issue we need to find a way for the web app to NOT crash and burn when it gets invalid geojson.

[2019-10-17 12:17] moshthepitt commented on #534
https://github.com/mapbox/geojsonhint

[2019-10-17 14:21] moshthepitt commented on #538
@cKellyDesign yeah it looks like the spreadsheet has all we need

[2019-10-18 13:36] craigappl opened #541 "RVL-563 - Structures don't seem to be syncing from tablet to web"
We have an issue that needs to be investigated in Namibia Production:

Village: Oshipumbu (Reveal Id: a54ac0de-6187-45f3-92df-e98a740cd6eb)
Hierarchy: Namibia>Oshana>Oshakati>Oshipumbu

It looks like there are a number of added locations where updates aren't properly being synced from the OpenSRP server to the data warehouse. The below screenshot shows the view in the android client on the left an

[2019-10-18 13:42] mberg opened #542 "Renaming of nav items"
Let's rename to the following

Planning -> Plan
Assigning -> Assign
Reporting -> Monitor
Admin
-- Teams
-- Practitioners

[2019-10-18 14:23] #515 closed

[2019-10-18 14:23] #542 closed

[2019-10-18 14:33] mberg opened #543 "Show jurisdiction names in plans"
<img width="797" alt="Screen Shot 2019-10-18 at 10 31 59 AM" src="https://user-images.githubusercontent.com/57921/67103180-ab1f8680-f192-11e9-8d77-85507ec3eb5e.png">

Not very useful unless you have a photographic memory.

Can we change these to show the jurisdiction name?  Since there could be duplicate names we could also do

Name (UID)

[2019-10-18 14:37] cKellyDesign commented on #543
Closing this because it is a duplicate of #417

[2019-10-18 14:37] #543 closed

[2019-10-18 17:09] moshthepitt commented on #541
Will do.  But its probably things that have not synced from OpenSRP to Canopy.  This will help: https://github.com/OpenSRP/opensrp-server-web/pull/146

[2019-10-19 18:14] cKellyDesign opened #544 "Update FI circle scaling style to match IRS"
In the IRS reporting maps we discovered that scaling the circle radii on an exponential scale (rather than a linear one) looks much more natural and needs to be applied to focus investigation maps.

[2019-10-20 01:43] mberg opened #545 "Client doesn't display multiple plans properly"
In the example below, two plans are created for an organization.  Both locations show up but only under a single plan.

The expected behavior is that two plans show up and only one location under each plan.

I haven't tested to see if tasks are correctly assigned to the right plan.  This should probably be given high priority as a result.

[{
    "organizationId": "441378cb-fb3f-43f6-a9eb-55ac9501

[2019-10-20 12:11] githengi commented on #545
Transferred to https://github.com/OpenSRP/opensrp-client-reveal/issues/518

[2019-10-20 12:11] #545 closed

[2019-10-21 16:12] mberg commented on #541
Seeing same issue in Zambia

[2019-10-21 16:13] mberg commented on #541
We have to make this work rock solid

[2019-10-21 16:37] cKellyDesign commented on #513
Just spoke with @mberg who had a great point that we can simply load the FI plans in the same Assign Plans table and the same Map/DrilldownTable page.

- [ ] Render list with all plan types
- [ ] Add column with plan type
- [ ] Reduce header link to `Assign` with no drill-down nav
- [ ] Test Test Test

[2019-10-21 17:41] cKellyDesign opened #547 "Add Plans Reducer getter for all Plans"
Currently all the getter methods in the Plans reducer require a parameter for Intervention Type and default to `FI`, and we simply need a way to return all plans without filtering by type. Reasoning behind this is so we don't need to update pages which show all plans every time we add a new Plan type.

[2019-10-22 09:07] moshthepitt commented on #520
@mberg I think this was meant for the Reveal mobile app.  Will close it.  Please reopen if I am wrong.

[2019-10-22 09:07] #520 closed

[2019-10-22 13:32] #513 closed

[2019-10-22 18:47] #544 closed

[2019-10-23 08:00] moshthepitt commented on #532
Confirmed as closed by the client.

[2019-10-23 08:00] #532 closed

[2019-10-23 08:03] moshthepitt commented on #532
Confirmed as closed by the client.

[2019-10-23 09:34] tikitakas commented on #547
Can i just refactor the selector to return all plans by default instead of using a specific intervention type as the default value?

[2019-10-23 12:40] moshthepitt opened #549 "Inconsistent plan attributes"
It seems that there may be inconsistent values or value types for plans. e.g. Case-triggered Vs Case Triggered.

We should standardise everything to use what `PlanForm` uses.

[2019-10-23 18:37] moshthepitt opened #550 "Dont render NULL jurisdiction in FI Plan"
![NULL jurisdictions](https://user-images.githubusercontent.com/372073/67423643-4d010200-f5dd-11e9-90a6-8beab17d5d02.png)

[2019-10-23 18:43] moshthepitt opened #552 "Reduce size of InterventionPlan/IRS snapshot test"
This snapshot test is too large: `src/containers/pages/InterventionPlan/IRS/tests/__snapshots__/IRS.test.tsx.snap`

[2019-10-24 07:37] p-netm opened #554 "Refactor setLoading usage"
currently, some components use a setState call to track if the component should load. i.e
[code]
Where `loading` is dependent on the presence of records inside `someArayProp`.

__Problem__:

Possibility for a memory leak resulting from setting state on an unmounted component
__how__:
if say there is an asynchronous call to get `someArrayProp` data with a callback that sets loading to false, when t

[2019-10-24 07:49] moshthepitt commented on #549
Fixed by #551

[2019-10-24 07:49] #549 closed

[2019-10-24 08:04] #460 closed

[2019-10-24 11:39] moshthepitt commented on #432
Fixed by #513 and #476

[2019-10-24 11:39] #432 closed

[2019-10-24 11:56] moshthepitt opened #555 "Ensure Task Action Code consistency"
In the settings module, we have:

[code]

These may be different from the same thing that is defined with the PlanForm.  We need to build on the work started in #511 and change these values in the constants module to work with the values used by the PlanForm (found here https://github.com/onaio/reveal-frontend/blob/master/src/configs/settings.ts#L139).

[2019-10-24 12:19] #458 closed

[2019-10-24 14:56] #547 closed

[2019-10-24 16:01] moshthepitt opened #556 "Issues on assign page"
![assignment](https://user-images.githubusercontent.com/372073/67503504-6911ab80-f690-11e9-89f2-bc8f7ab9c616.png)

- [x] The page says `IRS` when it should not
- [x] The breadcrumbs dont let you go back
- [x] The <title> tag on this page says `IRS: ,A1 - Ban Huai Haeng OA - 2019-10-22`

[2019-10-25 08:21] moshthepitt opened #557 "Zambia assign page broken"
When you click into a plan to do assignment, the page breaks and we get this in the console

[code]

[2019-10-25 15:38] #557 closed

[2019-10-26 11:25] moshthepitt opened #560 "Fix subjectCodableConcept of caseConfirmation"
This line: https://github.com/onaio/reveal-frontend/blob/master/src/configs/settings.ts#L384 should be "Operational_Area" instead of "Case_Confirmation". This is also a problem in the data dictionary, which I just fixed.

Context: https://onaio.slack.com/archives/CBSU8L2SC/p1572021578395900

[2019-10-27 09:29] moshthepitt opened #563 "Fix goal typing"
- The goals reducer module type definition needs to be made more consistent with the type definitions for goals in settings/PlanForm
- Fix type warnings here https://github.com/onaio/reveal-frontend/blob/master/src/helpers/indicators.tsx#L82

[2019-10-27 10:03] #555 closed

[2019-10-27 10:04] #560 closed

[2019-10-28 07:50] cKellyDesign opened #565 "Allow only one Practitioner per OpenSRP user"
To do this we can simply filter the dropdown in the New Practitioner form to only show OpenMRS usernames which are not mapped to a OpenSRP practitioner.

<img width="664" alt="Screen Shot 2019-10-28 at 10 26 56 AM" src="https://user-images.githubusercontent.com/4141527/67660775-a1efa000-f970-11e9-8706-7c1d33671722.png">

[2019-10-28 07:58] cKellyDesign opened #566 "Render list of practitioners in dropdown, not OpenMRS users"
Currently when assigning Practitioners to Teams we are rendering a dropdown of Practitioners but showing their OpenMRS usernames. Let's instead render the Practitioner names to make it a more coherent experience from creating Practitioners to assigning them to Teams.

<img width="934" alt="Screen Shot 2019-10-28 at 10 54 51 AM" src="https://user-images.githubusercontent.com/4141527/67661259-c8faa1

[2019-10-28 14:04] #498 closed

[2019-10-28 14:04] #563 closed

[2019-10-29 01:55] mberg opened #571 "missing openmrs IDs"
The following have missing OpenMRS's which need to be added

KPB_5 - fcdab5e6-f5ac-4d2c-93ca-79dc9be23008

MWA_44 | 82210b38-c546-482a-bf40-999250f14bbd
MWA_277 | f48c14d4-b776-45d9-9be7-f777cbefd00e
MWA_327 | 122204b1-9705-4159-b600-935915ae2d30
MWA_171 | d03d6fc4-f863-4348-a0a9-063f1c883cca
MWA_1917 | b491363b-2452-44ad-b146-74e6a794992f
MWA_1926 | 7f8bc4a5-710c-4c8a-b293-05c4ff29a9b1
MWA_1925 |

[2019-10-29 08:25] moshthepitt opened #572 "Improve clarity on select box in focus investigation single page"
![image](https://user-images.githubusercontent.com/372073/67749625-966aaa80-fa3e-11e9-9fa9-bfded558e2d3.png)

The select box in the focus investigation map page should be more descriptive.  Perhaps say "Other plans in this area"

[2019-10-29 08:25] moshthepitt commented on #572
Context: https://dsme.slack.com/archives/CJJ5P39TM/p1572332870079200

[2019-10-29 10:40] cKellyDesign commented on #572
@moshthepitt why are we doing this? https://github.com/onaio/reveal-frontend/blob/master/src/components/SelectPlan/index.tsx#L14-L20

[2019-10-29 11:51] moshthepitt commented on #572
@cKellyDesign I think when we made that component we couldnt get it to navigate to that URL on just simply clicking so we had to add that hack

[2019-10-29 12:56] #572 closed

[2019-10-29 14:10] cKellyDesign commented on #442
@OluwatobiMayowa the Drilldown tables are looking great across the board:

<img width="1125" alt="Screen Shot 2019-10-29 at 5 03 24 PM" src="https://user-images.githubusercontent.com/4141527/67774607-b9ad4e00-fa6e-11e9-8726-19793c4288d3.png">

If we can update the ListView table styling to match that would be really helpful for the consistency of the UI:

<img width="1117" alt="Screen Shot 2019-10

[2019-10-30 05:58] cKellyDesign commented on #565
https://github.com/onaio/reveal-frontend/pull/569

[2019-10-30 07:48] moshthepitt commented on #566
Closed by https://github.com/onaio/reveal-frontend/pull/568

[2019-10-30 07:48] #566 closed

[2019-10-30 10:29] #556 closed

[2019-10-30 13:52] moshthepitt commented on #508
Sample data for EFIDILOMULUNGA

[code]

[2019-10-30 14:00] #565 closed

[2019-10-30 19:46] moshthepitt opened #577 "Assign Page breadcrumbs behaving badly"
Weird bug when you click on the breadcrumb link

![Oo](https://user-images.githubusercontent.com/372073/67893070-f492ad00-fb66-11e9-93c3-b4391ebe7b35.png)

[2019-10-30 19:52] moshthepitt opened #578 "Investigate if filters on FI map page work ok"
This list seems odd to me

![Focus Investigation  A1 Akros_1 2019-09-05   Reveal Stage](https://user-images.githubusercontent.com/372073/67893557-d1b4c880-fb67-11e9-970d-f7c24484b5c5.png)

[2019-10-30 19:53] moshthepitt commented on #578
When you go to the focus area page things are different:

![Focus Investigations in Akros_1   Reveal Stage](https://user-images.githubusercontent.com/372073/67893680-18a2be00-fb68-11e9-822c-3fef5394288f.png)

[2019-10-30 19:54] cKellyDesign commented on #577
@moshthepitt what are the repro steps? What are you clicking to get this?

[2019-10-30 19:57] cKellyDesign commented on #578
Not sure how the dropdown could be duplicating the same plan like this, will debug.

[2019-10-30 20:04] moshthepitt commented on #577
@cKellyDesign  Clicking repeatedly on `Tak` in the breadcrumbs - but noticed it on this plan only so far.

[2019-10-30 20:14] moshthepitt opened #579 "Possible FI Focus Area fixes"
![fi area](https://user-images.githubusercontent.com/372073/67895155-070ee580-fb6b-11e9-85a0-7382aca7c965.png)

[2019-10-31 06:01] cKellyDesign commented on #577
According to [the PlanDefinition for this plan](https://reveal-stage.smartregister.org/opensrp/rest/plans/68a8dbba-2986-58cb-9994-ef22285c094c) there is only a single jurisdiction in the plan, [which is `Tak` itself](https://reveal-stage.smartregister.org/opensrp/rest/location/5e37d232-d471-4ac1-b8a6-f5215a8aa117?is_jurisdiction=true&return_geometry=false) (which is invalid). I suspect this plan w

[2019-10-31 06:29] cKellyDesign commented on #578
@moshthepitt after some digging it appears the issue here is the fact that the PlanDefinitions rendering in the dropdown were saved with the FI Reason `Case-triggered` while the focus area page is filtering plans for `Case Triggered`.

<img width="1086" alt="Screen Shot 2019-10-31 at 9 18 56 AM" src="https://user-images.githubusercontent.com/4141527/67923928-4f0c2780-fbc0-11e9-8275-73fb5ef7600e.pn

[2019-10-31 06:46] moshthepitt commented on #578
@cKellyDesign nice, thanks.  We can bring this to the attention of @craigappl, @ukanga  and @Wambere - so that they can investigate and clean the plans - and then close this issue.

[2019-10-31 06:47] cKellyDesign commented on #579
@mberg do you know if this page is supposed to show `draft` plans?

[2019-10-31 06:47] moshthepitt commented on #578
@cKellyDesign on second though should the select box do the same filtering as the focus area?

[2019-10-31 06:55] cKellyDesign commented on #578
@moshthepitt I guess it could, it would just mean using `getPlansArray` twice, concatenating both lists, and sorting them by `plan_date`. This would at least make things consistent until the data is cleaned up.

[2019-10-31 07:58] cKellyDesign commented on #579
@moshthepitt @p-netm what does the search field in this screenshot actually do? If it's not actually doing anything then we should just remove it at this point?

[2019-10-31 08:03] moshthepitt commented on #579
I think it should not, because:

1. there are no meaningful reports for draft plans
2. I think it is something left over from back when we didn't have the manage plans page and needed to show all plans here
3. the other filters e.g. in the select box leave out draft plans

[2019-10-31 08:05] cKellyDesign commented on #579
This is an excellent point, I'm going to remove them.

[2019-10-31 08:27] cKellyDesign opened #581 "Implement search functionality in the FI reporting pages"
The mockups call for search field to filter plans in the Focus Investigation pages.

[2019-10-31 09:17] moshthepitt commented on #578
Fixed by https://github.com/onaio/reveal-frontend/pull/580

[2019-10-31 09:17] #578 closed

[2019-10-31 09:17] moshthepitt commented on #579
Fixed by https://github.com/onaio/reveal-frontend/pull/580

[2019-10-31 09:17] #579 closed

[2019-10-31 12:37] p-netm opened #582 "BUG: Cannot remove selected practitioner from select in assignPractitioner"
In the assign Practitioner view shown below:
![newIssue](https://user-images.githubusercontent.com/28119869/67947059-cdce8800-fbf3-11e9-9481-6fda7ac584d9.png)

One cannot remove the option that they select first. i.e. the practitioner record `Lusaka` shown above cannot be removed from the select by actions that  should remove it e.g. clicking backspace or clicking on the `x` on the option itself.

[2019-11-06 07:05] moshthepitt opened #584 "Exclude current plan from FI dropdown?"
![fi](https://user-images.githubusercontent.com/372073/68275474-d18f5e00-007c-11ea-8aea-5cfbedb6a27f.png)

[2019-11-07 12:10] moshthepitt opened #585 "Add "Not in spray area" to IRS reports in Zambia"
In Zambia any points that are not geographically located within a spray area (level 4 jurisdictions) are assigned a jurisdiction_id of the parent i.e. they are assigned to a level 3 jurisdiction.

We therefore need to:

- [ ] write a query that gets the l3 jurisdictions and aggregates all the points assigned directly to them.  This will be very similar to https://github.com/onaio/canopy/pull/411/f

[2019-11-07 12:11] moshthepitt commented on #585
Starting work on this.  Will update progress here.

[2019-11-08 13:19] oluwatobim commented on #442
Hi @cKellyDesign Seems like the second screenshot is not using ReactTable, is that right? And if so, would there be any special reason for that?

[2019-11-10 21:35] gstuder-ona commented on #585
Started looking from this assumption - there are some structures (22) that are assigned a level-3 jurisdiction in Zambia, but *all* of them are actually inside a level-4 jurisdiction (and so mapped there by our structure_geo_jurisdiction view).  I think this means if we follow the logic above, that there are actually zero structures currently to report as "other".

After doing another pass of the

[2019-11-10 21:40] gstuder-ona commented on #585
re:"this will be very similar to"

Technically, I'd love to avoid duplicating the entire IRS reporting view stack - I think it's possible if instead we wire in "virtual" jurisdictions at all levels to catch all the structures not in a leaf jurisdiction.  Then we just need to map jurisdictions through the views like we do already for geo-assigned jurisdictions.

WIP, but any feedback welcome.

[2019-11-11 09:55] moshthepitt commented on #585
The intention is to eventually have an additional row in the IRS reporting tables in the web app similar to the last row here: https://macepa.mspray.onalabs.org/477

Ideally we'd have this row in every hierarchy of jurisdictions if there are spray events not in any of the jurisdictions e.g. if district A has 3 child jurisdictions: X, Y and Z but we have spray data that we believe is in district A

[2019-11-11 09:58] moshthepitt commented on #585
@gstuder-ona this exactly.  We want this "virtual" jurisdictions that we can just conveniently add as a superset slice or slices here https://github.com/onaio/reveal-frontend/blob/master/src/configs/env.ts#L70 - with the theory that if they have the same structure as "real" jurisdictions then the `JurisdictionReport` component will seamlessly work with them upto and including drilling down and up.

[2019-11-11 10:07] gstuder-ona commented on #585
Not sure we even need to add a new slice for it, honestly - I think we just need to create a zambia_jurisdictions_materialized_view which extends jurisdictions_materialized_view with catch-all jurisdictions for every non-leaf (<4) jurisdiction level (did this as a test).  Then the structure_geo_jurisdictions uses that, and the rest of the IRS reporting basically is unchanged - we'll just get an ex

[2019-11-11 12:13] gstuder-ona commented on #585
Just talked with @ukanga - we're going with a full, all-levels geo-query and not trusting OpenSRP at all.  It'll be expensive, but ideally we can push all this up to OpenSRP later.

[2019-11-11 19:37] craigappl opened #586 "I18N for Reveal Web"
We need to begin the process of scoping internationalization for the Reveal Web App. The scoping document will live on confluence: https://smartregister.atlassian.net/wiki/spaces/REV/pages/1229127681/Web+UI+Internationalization

What's involved (Please add bullets)
- Translate plan creation form so that input on targets and goals can support multiple languages
- Translate all UI elements in the we

[2019-11-12 13:58] cKellyDesign commented on #586
@craigappl I've added bullets for how we will implement this in the page linked above.

- [ ] Install https://github.com/i18next/react-i18next in the WebApp
- [ ] Audit the rest of Webapp codebase to make sure all strings are contained in our constants file
- [ ] Update our constants file to translate all strings in the WebApp
- [ ] Add an environment variable to set the language of the WebApp whe

[2019-11-12 17:41] cKellyDesign opened #587 "Add Growl Notifications for Team Assignment"
We need to add a few alerts to the Team Assignment pages:

- [x] Render a Reactstrap `Alert` component below the dropdown in the `Assign Practitioners` view when a user adds and removes Practitioners from a Team, display a simple growl notification indicating: `[Practitioner] was [added/removed] from [Organization]`
- [x] Provide enough space between dropdown and the `Add Practitioners` button so

[2019-11-12 17:46] cKellyDesign opened #588 "Prompt user from leaving team assignment with unsaved changes"
When a user has made changes in the `Assign Practitioners` view, they should be prompted with an alert to save or discard their changes.

- [x] Add an alert with message: `Unsaved Changes: please Save or Discard changes made [team name]
- [x] Add a `Discard Changes` button which resets the practitioner list and dropdown and does not navigate away from the page

[2019-11-12 18:40] cKellyDesign opened #589 "New Practitioner Form page fixes"
- [x] Sort the usernames drop-down alphabetically
- [x] Capitalize the `n` in `New Practitioner` breadcrumb and page title

<img width="879" alt="Screen Shot 2019-11-12 at 10 39 52 AM" src="https://user-images.githubusercontent.com/4141527/68699892-cb93f400-0538-11ea-8223-370c1a17c17d.png">

[2019-11-12 21:42] cKellyDesign opened #590 "Check if jurisdiction is virtual in map link conditional"
Currently the logic determining whether or not to render a Map icon link in the IRS Report drilldown table is whether or not the Jurisdiction is childless. In the location tree, all virtual jurisdictions are childless (b/c they don't have spray areas) but should not load in the map.

- [x] Add `is_virtual_jurisdiction` to Jurisdiction reducer/typings
- [x] Disable the map icon for virtual jurisdic

[2019-11-12 22:04] cKellyDesign commented on #590
This `accessor` function should return a normal `<span />` without the map icon if `j.is_virtual === true`: https://github.com/onaio/reveal-frontend/blob/master/src/containers/pages/InterventionPlan/IRS/plan/index.tsx#L1891-L1899

[2019-11-13 06:17] gstuder-ona commented on #590
To make this easier to dev, I've added these to staging:
zambia_irs_jurisdictions_with_virtual: https://superset.reveal-stage.smartregister.org/superset/explore/?form_data=%7B%22slice_id%22%3A%20562%7D (slice 562)
zambia_focus_area_irs_with_virtual: https://superset.reveal-stage.smartregister.org/superset/explore/?form_data=%7B%22slice_id%22%3A%20563%7D (slice 563)

You should be able to use them

[2019-11-13 06:18] gstuder-ona commented on #590
Not sure if this is SOP, but for compatibility, it would be awesome if the frontend didn't always require the "is_virtual_jurisdiction" field and just defaults it to "false" - that way it'll be a lot easier to coordinate rolling out the new slices to production.

[2019-11-13 13:00] p-netm commented on #587
@cKellyDesign
1. would it be simpler implementation-wise to have the alerts float above say the top-right corner of the screen
https://codesandbox.io/s/vibrant-leftpad-bro79

[2019-11-13 16:30] cKellyDesign commented on #587
@p-netm make it so!

[2019-11-13 16:32] cKellyDesign commented on #589
@p-netm one more request from the client on this one:

- [ ] Force Practitioner names to be Unique (so when they are listed the user is able to tell which is which) and show indication that the name is already in use

[2019-11-13 18:56] p-netm commented on #589
@cKellyDesign would like to bring a few things to your attention before proceeding with this.
1. the changes to how the users are displayed in the assign page introduced in #568 removes ambiguity as to which practitioner is being picked. There is a case where we have 2 practitioners `Loko Doe` that are mapped to the same openMRS user,.. however this scenario is from a time when there were no const

[2019-11-13 21:03] cKellyDesign commented on #590
@gstuder-ona I think [this single change](https://github.com/onaio/reveal-frontend/pull/592/commits/3d0f1ec02ef9fc5b1e06765aab20511f828e103a#diff-54e3d3f62215c4c5c9995ba2f144899bR19) will do the trick, it's a little tricky to test even now in staging cause the data looks a bit weird, (looks like there are virtual spray areas which are children of spray areas), but it looks like it will be solid.

[2019-11-13 23:47] craigappl opened #593 "ZM Production - Discrepancies with CSV export vs dashboards"
Akros has requested a data export so they can perform the final reports for VectorLink. The team is comparing the CSV export against the Zambia dashboards and the numbers are not matching. Here's what we are experiencing (in order of importance)

- [ ] We trust the Zambia dashboard. The CSV should match the dashboard
- [ ] The total number of sprayed locations does not match the export
Zambia dash

[2019-11-13 23:50] craigappl opened #594 "Zm production - Find a way to pass in parameters to CSV export for Akros"
Akros downloads exports using the dashboard https://superset.reveal-zm.smartregister.org/superset/dashboard/5/

We would like to make this dashboard so that we can modify the URL based on filters that are added in a filter box.

[2019-11-14 09:21] p-netm opened #595 "Deleted data still shows up on UI"
_Reproducing_:
- create practitioner on UI,
- delete practitioner using postman or whichever tool
- back on the UI, perform any action that leads to new practitioners being fetched and rendered
- the deleted practitioner is still in store and thus shows up on the ui.

This bug happens due to how fetched response data is fetched from the api, ie. we are currently appending new fetched data to alrea

[2019-11-14 13:33] cKellyDesign commented on #589
@p-netm
1. Yeah there are duplicates in the server which we've explained to the client is a result of activity from before this fix was put in, and agree that we need to clean the staging server
2. Good point, I'm not sure why we have user.usernames which are different than practitioner.name

@craigappl @mberg any input on number 2?

[2019-11-14 15:21] gstuder-ona commented on #593
@craigappl - one strange property of the csv export -

"WHERE zambia_irs_structures.business_status NOT IN ('Not Visited');" - this doesn't really line up with any of the other reporting logic the web views use.  It seems more in line with the intended use to just do a full structure dump, whatever the business status, so that all the metrics could be compared and re-computed if desired.  Right no

[2019-11-14 15:41] #590 closed

[2019-11-14 18:46] craigappl commented on #593
@gstuder-ona , The idea is to get an exact list of events in this export that match what's presented in the table counts in the Web UI dashboards. I don't know the underlying logic, nor have access to the queries. Ultimately, if the dashboard says 23,415 structures were sprayed for that province, the CSV export should have 23,415 rows of events (unless events are missing)

[2019-11-14 18:49] gstuder-ona commented on #593
@craigappl oh, the export is structures, but each structure has a "latest" event attached, basically, which is how all the stats get configured.  It's not so much a match/not match issue as the current export is a seemingly arbitrary *subset*.  Doesn't seem necessary, as the subset isn't all that interesting afaik.

But this is more a side question, I actually don't think the count discrepancy com

[2019-11-14 19:11] gstuder-ona commented on #593
So finally got some view updates - the core issue I believe is that views are updating on an arbitrary schedule, which can lead to (temporary) inconsistency in counts between the export and the web view.  Eventually the two will converge, but while data is incoming there can be mismatches - the issue isn't an inconsistent calculation.  Note that, for example, the current Luapula sprayed count is 2

[2019-11-14 19:12] gstuder-ona commented on #593
@craigappl the best fix here I believe should be to better-order and time our view refreshes - it's unavoidable to have transient inconsistency in the way that we're doing this computation.  I'll mark the ticket for review when I change the NiFi flows.

[2019-11-14 22:15] gstuder-ona commented on #593
whoops didn't mean to close.

[2019-11-14 22:22] cKellyDesign commented on #595
@p-netm are we dispatching any action to remove the practitioner from the store? If not then it seems like we should have an action/-creator capable of removing an array of practitioners from the practitioner store when we DELETE (or PUT in the case of making inactive) the practitioner in OpenSRP.

[2019-11-15 13:19] p-netm commented on #595
Nope, we do have a removeAction but its majorly used in testing, currently we add whatever data we get to whatever data that is in the store, a decision that was intentional and implemented in #314 to solve the issue #289
Maybe we can add a flag to the action creators that tell the reducer if we want an action of type `fetchsomething` should overwrite the current records or append to them.

[2019-11-15 14:05] cKellyDesign commented on #595
@p-netm not sure about passing a flag in, unless it would change the action.type so it doesn't fall into [this case condition](https://github.com/onaio/reveal-frontend/blob/master/src/store/ducks/opensrp/practitioners/index.ts#L156-L167). As long as it's `PRACTITIONER_ROLES_FETCHED` it seems like it will be difficult to do any removing (unless we refactor and move that logic into the action creato

[2019-11-15 14:26] cKellyDesign commented on #538
It looks like we already have an MDA plan in the staging environment which loads in the `Manage Plans` list as MDA and loads in the `Update Plan` view as FI. The assign and monitoring pages are both filtering by plan type which is why we don't see them there. I'm going to start by adding `MDA` as an intervention type so we can at least start seeing them in the Assign page.

[2019-11-15 14:57] p-netm commented on #595
i was thinking of sth like
[code]

Or add another action type, so that  we can have one that appends data and another that overwrites data, this would remove the need for a flag, then for the single pages we can fetch data with the action type that adds and for other pages like listing pages we can use the action type that overwrites.

I agree

I think this a tad harder, since i believe solution w

[2019-11-15 15:00] gstuder-ona commented on #593
The fix for this is in-place, but it is currently blocked by onaio/canopy#591

[2019-11-15 20:04] cKellyDesign commented on #538
**On R5 / WebUI Technical Implementation:**

* Reuse/replicate IRS Reporting tables/maps (M/L)
* Set up Superset slices for the jurisdictions and operational areas (L)
* Define table columns and indicator configs in helpers (S)
* Add `MDA Reporting` nav item (XS)

[2019-11-15 20:10] cKellyDesign commented on #538
**On P3 / WebUI Technical Implementation:**

* Add Plan type (`MDA`) to New/Update Plan forms (XS)
* Add MDA activities to Plan Definition and New/Update Plan forms (M)
* Configure MDA specific constraints (S)

[2019-11-15 20:12] cKellyDesign commented on #538
On A3 / WebUI Technical Implementation:

* Add MDA plans to the Assign Plans list view (S)

[2019-11-18 14:52] p-netm opened #600 "There are alot of red warnings in the Practitioner & Organization tests"
Investigate warnings arising from Team Assignment tests. particular once of interest
[code]
the goal is to have a formal description as to why this error is occurring and define possible solutions.

[2019-11-18 15:55] cKellyDesign commented on #595
@p-netm Cool I like your first implementation, I think the boolean isn't actually business logic and it fits here very elegantly, it lets whatever is dispatching the action be responsible for determining which data was deleted. Let's set the default value of `overwrite` to `false` and spread `action.practitionersById` and let it be so!

[2019-11-18 18:52] #582 closed

[2019-11-18 20:50] #522 closed

[2019-11-19 14:15] cKellyDesign commented on #589
@p-netm i'm assuming on number 2 it's just a matter of business logic agreed upon with the client and don't think this should be a blocker

[2019-11-19 15:18] gstuder-ona commented on #593
Fix is in place, under review by Akros

[2019-11-19 15:19] gstuder-ona commented on #585
Fix is in place, under review by Akros

[2019-11-19 18:52] cKellyDesign commented on #535
Closed with #509 (@p-netm correct me if I'm wrong)

[2019-11-19 18:57] cKellyDesign commented on #541
@gstuder-ona @craigappl @mberg - was this issue addressed in the data reset on friday?

[2019-11-19 18:58] cKellyDesign commented on #541
nvm - checked the [jira ticket](https://smartregister.atlassian.net/browse/RVL-563) so closing

[2019-11-19 18:58] #541 closed

[2019-11-19 19:00] cKellyDesign commented on #533
Closing this for now, re-open if we start seeing this again

[2019-11-19 19:00] #533 closed

[2019-11-19 19:01] cKellyDesign commented on #550
@p-netm @moshthepitt - is this still happening?

[2019-11-19 19:05] cKellyDesign commented on #442
@oluwatobim I believe it was the developers choice to use [a different share component](https://github.com/onaio/js-tools/tree/master/packages/ElementMap), but I believe we can add more classes to the resulting table / rows to make it easier to style.

[2019-11-19 19:06] cKellyDesign commented on #457
This is done https://smartregister.atlassian.net/browse/RVL-523

[2019-11-19 19:06] #457 closed

[2019-11-19 19:26] cKellyDesign opened #603 "RVL-164: mSpray Operational performance/efficiency dashboards"
[Jira Ticket](https://smartregister.atlassian.net/projects/RVL/issues/RVL-164)
**Client Description**

**High Level Implementation**
- [ ] 1. Configure the ELTs similarly to the existing reporting dashboards ([indicator scoping](https://docs.google.com/spreadsheets/d/1nE-iqh11U22a8kpMAKXZ_UgdpMYy7jQY1UcHgQ85Tis/edit#gid=737768298))
- [ ] 2. Include indicator drill-down tables similar to the report

[2019-11-19 19:49] cKellyDesign commented on #603
@craigappl @ukanga @mberg - Flagging an issue with number 2 above: from the indicator and table spreadsheets the Coverage dashboards seem like they will fit into our current location based drill-down hierarchy, but I'm not sure about the hierarchies described in for the Performance dashboards. Is it supposed to be like this?
[code]
If so then we will need to add parent IDs to each of the entities

[2019-11-20 14:20] cKellyDesign opened #605 "Improve FI Plan Form activity goal label clarity"
Currently, the label for activity goals is `Quantity` and needs to render as `Percent` when goals use a percentage to calculate the activity goal target value.

<img width="829" alt="Screen Shot 2019-11-20 at 6 07 30 AM" src="https://user-images.githubusercontent.com/4141527/69246529-bd0f9300-0b5d-11ea-92e6-3a2dbdd94e1b.png">

[2019-11-20 14:55] p-netm opened #607 "Test for helper/hooks"
- [ ] Add tests for `useConfirmOnBrowserUnLoad` hook
- [x] Also investigate use of any for synthetic windows events

[2019-11-20 15:09] p-netm commented on #535
@cKellyDesign this is not closed, we still don't have a way to query all practitoiners from the server.

[2019-11-20 15:24] oluwatobim commented on #442
@cKellyDesign The table design has now been updated to match the React Table.

[2019-11-21 01:25] craigappl opened #608 "Unable to configure Reveal-stage for Thursday Demo"
I am not able to successfully configure reveal stage's team assignment to be able to download it for the reference-app v2.6.2.

## Target Outcome
1) Annie can login on Thursday morning to the users listed below in the reference app v2.6.2.
2) Five plans are available (1 IRS, 1 MDA and 3 Case Triggered as defined below)
3) (stretch) Annie can create plans in the Web UI and have things auto populate

[2019-11-21 09:47] #595 closed

[2019-11-21 13:56] cKellyDesign opened #609 "Add tests for router prompts in team assignment"
Currently we are using alert prompts to notify the user they are navigating away from unsaved changes and we need a way to add tests to this functionality.

[2019-11-21 14:13] p-netm commented on #607
Duplicate issue

[2019-11-21 14:13] #607 closed

[2019-11-21 14:36] craigappl commented on #608
We fixed this today. The problem was with spaces in the names of the lowest level operational area.

[2019-11-21 14:36] #608 closed

[2019-11-21 18:59] #588 closed

[2019-11-21 19:07] #526 closed

[2019-11-21 19:51] #587 closed

[2019-11-21 19:55] #589 closed

[2019-11-21 20:07] cKellyDesign commented on #589
_Re-opening this ticket to track the third task._

Current blockers described by @p-netm in #591:
* [No way to ensure we have ALL practitioners in the local store](https://github.com/onaio/reveal-frontend/pull/591#issuecomment-557109798)
* [No way to filter the OpenSRP API request by practitioner name](https://github.com/onaio/reveal-frontend/pull/591#issuecomment-556069901)

[2019-11-21 20:15] #186 closed

[2019-11-21 20:47] cKellyDesign opened #611 "Add ref app Zambia configuration"
The IRS Jurisdiction Selection and Team Assignment pages both determine their top level location by name, thus changing `Zambia` to `ra Zambia` requires its own configuration.

[2019-11-22 08:07] p-netm commented on #586
@cKellyDesign Should we add an audit for concatenated strings, i for one am guilty of having done that  e.g [here](https://github.com/onaio/reveal-frontend/blob/3c3b9406e26d434a1453243c71d3aa2257c4660f/src/containers/pages/FocusInvestigation/map/planCompletion/index.tsx#L117)

[2019-11-22 12:27] cKellyDesign commented on #586
@p-netm good point, we should collect these in a central place (maybe not constants) and translate them as sentences instead of individual words. May need to use some simple builder functions which pass in the the dynamic parts into the sentence using the `<Trans />` tags [like this example](https://github.com/i18next/react-i18next#what-will-my-code-look-like).

[2019-11-22 16:23] gstuder-ona opened #613 "Web-UI view showing last-refresh times of materialized view / other data"
It'd be possible to generate an up-to-date database-level summary (and corresponding slice) of last-updated times of different named views by wrapping the update commands in some stored procedure magic.  These could then be visualized in a simple admin/monitoring UI page, which would let us and our clients see at-a-glance how fresh their data was.

The steps would be 1) wrap our custom view refres

[2019-11-25 07:54] moshthepitt commented on #186
@FrankApiyo while this works, I think it is not the right way to do this.

A better or more right way to do it would be to extend the [logout component](https://github.com/onaio/js-tools/blob/master/packages/gatekeeper/src/components/logout.tsx) that comes with the gatekeeper package.  One way to do this is to make it take an additional prop that represents the logout URL and then call it.  One be

[2019-11-25 08:01] FrankApiyo commented on #186
This makes sense... I think it should be done. The gatekeeper package should be able to handle all oath2 transactions made by any app that uses it and that includes logout.

Also There could be an enhancement that I just learned that we could add to the logout process where a callback URL is passed to the callback endpoint which it should then redirect to after logout(this ideally should  be our l

[2019-11-25 08:04] moshthepitt commented on #186
@FrankApiyo sounds exciting!  Please create the issues :)

[2019-11-25 08:33] moshthepitt commented on #603
@cKellyDesign I had written a little spec of this from the data point of view: https://github.com/onaio/canopy/issues/555

[2019-11-25 13:38] #605 closed

[2019-11-26 08:51] moshthepitt commented on #613
@gstuder-ona what are your thoughts on a hackier, but simpler alternatively: add a timestamp column to the records of the view that is populated using something like `NOW()`;

### pros

- really simple
- wbe app does not need to make another trip to Superset to get this info

### cons

- hacky :)
- we have an extra, identical, field for all records in the view.  (Although I note that views don't h

[2019-11-26 09:04] moshthepitt commented on #611
@cKellyDesign this seems really fragile to me.  Is there something we can do to make it less fragile?  Maybe use geographic level or something else?

[2019-11-26 09:06] moshthepitt commented on #593
@gstuder-ona @craigappl can we close this now?

[2019-11-26 09:17] gstuder-ona commented on #613
@moshthepitt I would totally go that way, but from my internetting it seems like that would basically disable the ability to partially (CONCURRENT) refresh the views.

[2019-11-26 09:19] p-netm opened #616 "Mark Plan as complete errors out"
issue first raised [here](https://smartregister.atlassian.net/browse/RVL-699)

Clicking confirm on the plan's mark as complete initiates a PUT fetch api call to `rest/plans` that errors out with `500` status.

[2019-11-26 09:31] p-netm commented on #616
The error seems to be caused by a malformed payload in the `PUT` request.

[2019-11-26 15:56] #616 closed

[2019-11-26 17:07] gstuder-ona commented on #613
@moshthepitt for the record, I consider an SP wrapper to be a hacky solution as well :-), it's just lighter-touch for the views themselves.  Honestly it's pretty annoying that postgres doesn't provide this out of the box - though this seems close?:

https://www.postgresql.org/docs/9.4/pgstatstatements.html

Nice part about our own SP is that it would also let us potentially specify what we conside

[2019-11-26 19:45] gstuder-ona commented on #593
This is superseded by onaio/canopy#611.

[2019-11-26 19:45] #593 closed

[2019-11-27 08:22] FrankApiyo opened #619 "Update to the new version of `@onaio/gatekeeper` and remove the logout functionality from the header"
Gatekeeper now supports optional logging out from the auth server as of version `0.0.16` we should remove the **logout from auth server** functionality from the `Header` component and user the one made available by gatekeeper.

CC: @moshthepitt

[2019-11-27 15:25] moshthepitt commented on #613
@gstuder-ona I vote for `pgstatstatements`

[code]

^^ I think using queries such as the above I can whip up a quick view/table that the web app can use.

Makes sense?

[2019-11-27 15:28] moshthepitt commented on #613
My bad, the above is not the right query.

[2019-11-27 15:43] moshthepitt commented on #613
Looks like we need to do some AWS configuration before we have access to this.

According to this https://forums.aws.amazon.com/thread.jspa?messageID=548468, we need to edit our AWS parameter group (I think the one named default.postgres10), and change this:

- track_activity_query_size = 2048 (increase maximum length before which queries are truncated)
- pg_stat_statements.track = ALL (track all

[2019-11-27 15:55] moshthepitt commented on #613
More from here https://onaio.slack.com/archives/C0482AJP6/p1574869490071200 :

[2019-11-27 16:48] gstuder-ona commented on #613
@moshthepitt great, thanks for being less lazy than me.  This will just be generally helpful.

[2019-11-29 08:36] moshthepitt commented on #486
Fixed by #618

[2019-11-29 08:36] #486 closed

[2019-12-02 17:57] craigappl opened #622 "Add Number validation to Plan Form where there should be numbers"
This isn't critical, but may impact the internationalization work in the web UI. We should add validation on the fields that expect numbers in the Add/Edit plan form (0123456789) All other values in that field should cause validation errors.

[2019-12-03 08:04] #619 closed

[2019-12-09 08:15] moshthepitt commented on #156
#### Steps to implement a minimal backend server to handle authentication/authorization

- Set up a tiny express.js backend server
- Switch to doing the OAuth 2 authentication/authorization on the server side using the [authorization code OAth2 flow](https://oauth.net/2/grant-types/authorization-code/)
- Store the OAth2 credentials on the server side
- Implement server side Redux store - https://r

[2019-12-09 13:07] cKellyDesign commented on #156
@moshthepitt Looks solid!

[2019-12-09 16:50] cKellyDesign commented on #156
@moshthepitt how are we doing AuthZ for non-OpenSRP resources? Webapp views? (Auth'ing more than OpenSRP resources may be outside the scope of this ticket)

[2019-12-10 08:05] moshthepitt commented on #156
@cKellyDesign the plan is for nothing else to change for now: just how we get the OAuth credentials.  Everything else will come in a future PR.

[2019-12-10 16:28] cKellyDesign commented on #586
- [ ] Gatekeeper components (login process)
- [ ] Add/Edit Plan form priority dropdown (pending translation)
- [ ] Add/Edit Plan Activity Goal Units
- [ ] Plan Status in tables throughout the site
- [ ] FI Plans Table Headers
- [ ] Focus Investigation Manage page Routine and blue button "Add Focus Investigation"
- [ ] Table in the bottom of the Focus Investigation Manage Page describing A1, A2, et

[2019-12-16 08:55] p-netm commented on #554
update: Seems like a better solution would be to use the Abort Controller api to abort the fetch requests.
- Probably modify the the openSRP-service to include an additional param that takes in an abort controller signal. pass this signal to each fetch request.
- on `componentWillunmount` or `cleanup function in React.FC` call abort on the controller, handle the error accordingly, - the `DomExcept

[2019-12-16 08:59] moshthepitt commented on #554
@p-netm sounds good, I am good with you going ahead with this

[2019-12-16 18:31] cKellyDesign commented on #586
@moshthepitt thoughts on Gatekeeper display strings?

[2019-12-16 19:01] moshthepitt commented on #586
@cKellyDesign I think we have two options:

1. Override the components and functions used by Gatekeeper to supply our own
2. Make the Gatekeeper strings configurable (as props/function params).  This would mean a new version of Gatekeeper

Option 2 might be cleaner and easier

[2019-12-17 08:50] moshthepitt opened #627 "Investigate indicator calculations for FI indicators on map page"
It seems that allthe FI indicators are done as `no. of tasks completed / total no. of tasks` .

For at least some (maybe all) of the indicators, we need to factor in the task business status when calculating the indicator.  See this issue for complaints from the client: [https://smartregister.atlassian.net/browse/RVL-700](https://smartregister.atlassian.net/browse/RVL-700)

The slice data received

[2019-12-17 08:54] moshthepitt commented on #627
@craigappl @samkanga I am not seeing the "Tested" business status that is being mentioned here: https://smartregister.atlassian.net/browse/RVL-700

Do you have any insight for that?

Also, can we define clearly in this issue how the various FI indicators are supposed to be calculated?  This document is not clear for me: https://smartregister.atlassian.net/wiki/spaces/REV/pages/1150877703/Web+UI+Go

[2019-12-17 12:18] moshthepitt commented on #627
This is the data dictionary: https://docs.google.com/spreadsheets/d/1kGPgyF0eJdag19FFL1Oog2gdphdPtKobY4EQ0gMgtgw/edit#gid=282831159

[2019-12-17 13:04] samkanga commented on #627
Hi @moshthepitt check out this additional dictionary and see if this is helpful: https://docs.google.com/spreadsheets/d/1tK1cWvLrgHJ2TKEtlHwCXV6bv2ZH2ONVTgk28uooYpw/edit#gid=1834208304

[2019-12-17 13:09] moshthepitt commented on #627
@samkanga @craigappl thanks, this is much clearer.  What does `location.properties.type` mean in that doc?

[2019-12-17 14:56] cKellyDesign commented on #627
@moshthepitt @p-netm what are the implementation steps for this? What needs to be done on the front end vs what needs to be done in the ETL?

[2019-12-17 14:59] moshthepitt commented on #627
@cKellyDesign @samkanga  I think we need to:

1. Get clarification on how each of the FI indicators is supposed be calculated (there are seven indicators one for each activity)
2. We may need to modify the `targets_materialized_view` to include any missing data from the above step
3. Once we have the materialized view where we want it, we need to change the web app to use it

[2019-12-18 01:35] craigappl commented on #627
location.properties.type is defined when a user saves a register location form by dropping a point OR when they save the IRS spray form. The value can be one of the following:

"Residential Structure", "Larval Breeding Site", "Mosquito Collection Point", "Potential Area of Transmission"

https://docs.google.com/spreadsheets/d/1kGPgyF0eJdag19FFL1Oog2gdphdPtKobY4EQ0gMgtgw/edit#gid=0&range=E21

[2020-01-02 23:26] craigappl opened #630 "Digital Globe BaseURL switch"
Digital Globe changed their baseURL on the 31st of December and we need to update it from  earthwatch.digitalglobe.com to access.maxar.com

[2020-01-03 21:43] #630 closed

[2020-01-08 19:52] craigappl opened #632 "Jan 7th Thai web UI translation feedback"
We received this feedback from the Thai team regarding translations on the web UI. Please review this and update as needed.

[https://drive.google.com/open?id=1YoL4eibw5LLTLAwsXDelXPPTOII6b9C_](https://drive.google.com/open?id=1YoL4eibw5LLTLAwsXDelXPPTOII6b9C_)

[2020-01-08 21:10] cKellyDesign commented on #632
### Next Steps
- [ ] Triage [attached powerpoint](https://drive.google.com/open?id=1YoL4eibw5LLTLAwsXDelXPPTOII6b9C_)
- [ ] Update [Translations Sheet](https://docs.google.com/spreadsheets/d/1ONHpPpuPxNW9_-vP8gTTcrVHTbKTT3WaN-cfdySeMCs/edit?ts=5e0d6060#gid=0)
- [ ] Update [TH i18n File](https://github.com/onaio/reveal-frontend/blob/586-internationalization/src/configs/strings/th.json)

[2020-01-09 07:52] moshthepitt commented on #632
@craigappl I think this feedback format is really hard to work with because the person implementing has to do a lot to find the string to change.  I think @cKellyDesign  will do this for now but in the future, if possible, it would be nice to get the feedback in a better format from our partners.

[2020-01-09 18:58] cKellyDesign commented on #632
Agreed, luckily the red text in the powerpoint is selectable! 😅

Ideally, the feedback is provided in the translations sheet, if a user copies the incorrect translation from the browser they should be able to search the sheet and replace it. Double ideally, they will leave a comment denoting the update, but if not we can still peek at the sheet version history to see what was updated.

- Pg 2 - Th

[2020-01-10 17:11] cKellyDesign opened #634 "Generalize and decouple LinkAsButton defaultProps.text"
Currently the default text for the general `LinkAsButton` component is specific to adding focus investigation plans and should be generalized.

- [x] Change defaultProps.text to `Link` (and update the component's snapshot)
- [x] Specify `text` prop in references using the default props (so their snapshots don't break)
- [x] Add ticket for migrating the LinkAsButton to a `js-tools` package ([ticket

[2020-01-24 05:46] allthesignals commented on #118
How did this turn out for you? Curious because we struggle with mapbox-gl testing approaches too!

[2020-01-24 08:08] moshthepitt commented on #118
@allthesignals we haven't really gotten to it, so far we have just tested "around it", like here:

- https://github.com/onaio/reveal-frontend/blob/fd1c112ce4ad2b469cd94261603b01c1e6f536b3/src/components/GisidaWrapper/tests/index.test.tsx
- https://github.com/onaio/reveal-frontend/blob/bf456afbc901e0e6881f0fbe9110995acff1361e/src/helpers/handlers/tests/handlers.test.tsx

[2020-01-24 09:43] moshthepitt opened #635 "A cookie was set without the `SameSite` attribute."
[code]

[2020-01-24 09:46] moshthepitt opened #636 "Run yarn upgrade"
Browserslist: caniuse-lite is outdated. Please run next command `yarn upgrade`

[2020-01-24 10:03] moshthepitt opened #637 "FI map breaks in Thailand production"
Reveal web version: 0.3.0

The map view in the monitor page does not load for Family Registration and Bednet Indicators (it loads for the other indicators)

![image (5)](https://user-images.githubusercontent.com/372073/73060786-aeb95c80-3ea9-11ea-9d4f-105e0a9fe82b.png)

[2020-01-24 10:04] moshthepitt commented on #637
You can reproduce by trying to load this plan: `A1 Thailand test site BVBD 2 2020-01-09 RK release 3.1.2 การสอบสวน` on Thailand production

[2020-01-24 10:04] moshthepitt commented on #637
It seems to work fine locally (but tested in English)

[2020-01-24 11:40] moshthepitt commented on #637
@cKellyDesign note from Pierre:

(he means reload the map when you click on a goal)

[2020-01-24 12:14] moshthepitt opened #638 "Refactor FI maps"
The FI map page is older code and may not be as elegant as, for instance, the IRS map pages.

We need to:

- [ ] Rewrite to be better

- [ ] Add more tests

Context: https://onaio.slack.com/archives/C0482AJP6/p1579863718032900

[2020-01-24 12:16] moshthepitt opened #639 "Add tests for each translated language"
We need to write tests that run against each language that we support

Context: https://onaio.slack.com/archives/C0482AJP6/p1579863718032900

[2020-01-24 14:00] moshthepitt opened #640 "Add typestrict"
Add [TypeStrict](https://github.com/krzkaczor/TypeStrict) to this repo.

### Why?

TypeStrict helps you to squash bugs before shipping them!

[2020-01-24 18:47] cKellyDesign commented on #637
@moshthepitt @craigappl Ok so there are a few things going on and a few things that are going to be very very difficult (if not impossible) to test in staging.

#### A. GA is forcing our components to re-mount
Our current implementation seems to be forcing our container components to unmount and remount, forcing every component on the page to unmount and remount. Ideally this should amount only to

[2020-01-27 07:08] moshthepitt commented on #637
@cKellyDesign good sleuthing - thank you!

For this if we can do it like we did it for IRS maps, it would be super cool.  This should fix C above.

Lets get an issue up for this.

[2020-01-27 15:20] cKellyDesign commented on #637
@moshthepitt do you mean how the IRS container builds the layers and hands those to the GisidaWrapper? Agreed we should, it would mean pushing the FI business logic out of the wrapper and into the FI container. It might be easier to do refactor this all at once rather than doing it piecemeal.

[2020-01-27 15:28] cKellyDesign opened #641 "Stop un-mounting containers when GA Tracking"
Our current implementation react-ga's page tracking follows suggested practices, but is forcing our container components (and all of their children components) to unmount and remount every time the URL changes.

### Implementation Options
A. Tweak [current implementation](https://github.com/onaio/reveal-frontend/blob/master/src/components/page/WithGATracker/index.tsx#L51-L89) to avoid unmounting c

[2020-01-27 18:24] moshthepitt commented on #637
Yes that's exactly what I meant :-)

[2020-01-27 18:28] cKellyDesign commented on #637
Great! I'm going to add some filtering and a layer here which can be shifted with the rest as a part fo the greater refactor effort (I think there's a ticket for the greater effort).

[2020-01-29 14:55] cKellyDesign opened #645 "FI Map Sidebar Translations"
As a user I should see all strings being translated in the Goal Indicators in the FI Map sidebar.

### The Bug
Currently some indicators are still displaying strings directly from the data fetched from Superset.
![image (1)](https://user-images.githubusercontent.com/4141527/73366343-aaeb5880-4262-11ea-8374-75351ca470ba.png)

### The Underlying Issues
- [ ] A) Missing the `REACTIVE_INVESTIGATION` t

[2020-01-31 08:47] moshthepitt opened #646 "RVL-734 Change Colour Gradient Range for Dashboards"
New color gradients should be:

- Grey: 0%
- Red: 0 to 70%
- Yellow: 70 to 80%
- Light Green: 80 to 85%
- Green: >85%

Current values: https://github.com/onaio/reveal-frontend/blob/master/src/configs/settings.ts#L848

This change should only affect Namibia.

More info: https://smartregister.atlassian.net/browse/RVL-734

[2020-01-31 08:54] moshthepitt commented on #646
Change shade of green for Namibia to #4C9A2A

[2020-01-31 09:00] moshthepitt opened #647 "RVL-838 - Show Index Case details on Manage Plans screen for reactive intervention"
This new information needs to be shown on Manage Plans page for FI plans:

### Change to be made:

1. Show Case Number and sdd a collapsible section labelled “Case Details” under “Case Number” with fields  (need to confirm if all of these fields pulling from BIOPHICS into Reveal)
    - Case Information
        - Case Classification
        - Date of Diagnosis
        - Species
        - Notificati

[2020-01-31 09:11] moshthepitt commented on #647
@craigappl @samkanga I have some concerns about this issue:

1. The information that needs to be displayed for a plan does not seem to "conceptually" belong on the manage plans page.
    - The intention of "manage plans" is to perform CRUD oparions on plans and not reports for plans per se.
    - I feel that this information should be made available elsewhere in the web UI and perhaps a link can b

[2020-01-31 09:21] moshthepitt opened #648 "Redirect to home page after logging in"
- Instead of showing the "welcome back...." message, redirect to home page
- maybe show the welcome back message as a growl notification

More info: https://smartregister.atlassian.net/browse/RVL-342

[2020-01-31 09:30] moshthepitt commented on #40
Closed by #615

[2020-01-31 09:30] #40 closed

[2020-01-31 09:54] moshthepitt commented on #594
This is not a Reveal web issue.

[2020-01-31 09:54] #594 closed

[2020-01-31 09:55] moshthepitt commented on #586
@cKellyDesign should we close this and create issues for the pending items?

[2020-01-31 09:56] moshthepitt commented on #571
Not a Reveal web issue

[2020-01-31 09:56] #571 closed

[2020-01-31 10:03] moshthepitt commented on #11
Closing this as we have no information on what we need to do.

[2020-01-31 10:03] #11 closed

[2020-01-31 11:08] moshthepitt commented on #632
@cKellyDesign can we now close this?

[2020-01-31 11:13] moshthepitt commented on #300
@p-netm @cKellyDesign  can we now close this?

[2020-01-31 11:36] moshthepitt opened #649 "RVL407 - Create a direct link from “add plan page” to the focus investigation page"
Create a direct link from “add plan page” to the focus investigation page.

Focus investigation page is currently accessible via the following path:

Monitor > Focus investigations > focus area columns, click little blue arrow > open link for that focus area.

More info: https://smartregister.atlassian.net/browse/RVL-407

[2020-01-31 11:57] moshthepitt opened #650 "Move forms directory to components directory"
The forms currently reside in the `containers` directory, but they really belong in the `components` directory.

[2020-01-31 17:22] moshthepitt commented on #649
![Create New Plan   Reveal](https://user-images.githubusercontent.com/372073/73559954-24539880-4467-11ea-825d-9c599b6d1a34.png)

@craigappl we have a slight complication here.

I have gotten to a point where we can get the jurisdiction id that was selected.  But sadly it turns out that the focus investigation page that we want to link to uses plan ids and not jurisdiction ids.

We would need to re

[2020-02-01 17:44] moshthepitt opened #653 "ConnectedAPICallback not working correctly"
[code]

If you try to access a URL such as `https://web.reveal-stage.smartregister.org/plans/update/bc78591f-df79-45a7-99e4-c1fbeda629e2`, pathToRedirectTo should be `plans/update/bc78591f-df79-45a7-99e4-c1fbeda629e2` but the code above produces something like `plans/update/:id`

[2020-02-01 17:44] moshthepitt commented on #653
@p-netm please let us also move

[code]

to a component with tests, etc

[2020-02-03 07:48] p-netm commented on #653
I think this bug is in the connected private route. will also check from there.

[2020-02-03 12:47] moshthepitt opened #656 "Refactor ActiveFocusInvestigation"
In support of #651, we need to refactor the `ActiveFocusInvestigation` component to work with jurisdictions.  i.e. this component should take a jurisdiction id and render that jurisdiction's FI activities.

[2020-02-05 10:35] moshthepitt opened #658 "Improve test coverage"
Our once high test coverage has fallen to 71.86%.  We need to lift this back up to >= 80% by the end of Q1.

These are the most untested parts of our codebase currently:

### Easy Pickings
1. - [x] `src/components/NotFound/index.tsx` ==> 0%
2. - [x] `src/components/formatting/ResponseAdherence.tsx` ==> 0%
3. - [x] `src/components/formatting/OneThreeSevenAdherence.tsx` ==> 0% (might be ok to just r

[2020-02-05 10:36] moshthepitt opened #659 "Add test coverage report"
- [x] Add test coverage report from automated tests
- [x] Auto-fail PRs that lower the test coverage

[2020-02-05 10:46] RayceeM commented on #658
I can pick up these:
`src/containers/forms/OrganizationForm/index.tsx ==> 40.63%`
 `src/containers/forms/JurisdictionSelect/index.tsx ==> 43.75%`
 `src/containers/forms/PlanForm/tests/fixtures.ts ==> 52% `

[2020-02-05 13:40] cKellyDesign commented on #658
I can see about this one:
4.  `src/containers/pages/InterventionPlan/IRS/plan/index.tsx` ==> 6.21%

[2020-02-05 16:15] p-netm opened #660 "Assign plans page keeps on loading"
Initially reported [here](https://onaio.slack.com/archives/CBSU8L2SC/p1580787349010600) .

this page just spins when trying to view an assigned team or assign a team.
reveal-stage
plan name: RA MDA Campaign
Note that the plan end date has passed, but I don't think this should matter

![image](https://user-images.githubusercontent.com/28119869/73859822-b5ea4e00-484b-11ea-990f-015829470bbb.png)

[2020-02-05 16:50] ciremusyoka commented on #658
8.  `src/helpers/hooks.tsx ==> 57.14%`
9. `src/store/ducks/plans.ts ==> 57.33%`
10. ` src/containers/forms/AssignTeamTableCell/index.tsx ==> 59.38%`

[2020-02-06 07:44] moshthepitt opened #661 "Increase test coverage for OrganizationForm"
Increase test coverage to be >= 85% for:

`src/containers/forms/OrganizationForm/index.tsx ==> 40.63%`

Part of #658

[2020-02-06 07:44] moshthepitt opened #662 "Increase test coverage for JurisdictionSelect"
Increase test coverage to be >= 85% for:

`src/containers/forms/JurisdictionSelect/index.tsx ==> 43.75%`

Part of #658

[2020-02-06 07:45] moshthepitt opened #663 "Increase test coverage for PlanForm fixtures"
Increase test coverage to be >= 85% for:

`src/containers/forms/PlanForm/tests/fixtures.ts ==> 52%`

Part of #658

[2020-02-06 07:46] moshthepitt opened #664 "Increase test coverage for IRS Plan"
Increase test coverage to be >= 85% for:

`src/containers/pages/InterventionPlan/IRS/plan/index.tsx ==> 6.21%`

Part of #658

[2020-02-06 07:48] moshthepitt opened #665 "Increase test coverage for AssignTeamTableCell"
Increase test coverage to be >= 85% for:

`src/containers/forms/AssignTeamTableCell/index.tsx ==> 59.38%`

Part of #658

[2020-02-06 07:49] moshthepitt opened #666 "Increase test coverage for plans redux module"
Increase test coverage to be >= 85% for:

`src/store/ducks/plans.ts ==> 57.33%`

Part of #658

[2020-02-06 07:49] moshthepitt opened #667 "Increase test coverage for helpers/hooks"
Increase test coverage to be >= 85% for:

`src/helpers/hooks.tsx ==> 57.14%`

Part of #658

[2020-02-06 08:10] p-netm commented on #658
Picked: 12, CH 2, CH 3

12. `src/containers/forms/OrganizationSelect/index.tsx ==> 67.65%`

CH2. `src/serviceWorker.ts ==> 0%`
CH3.  `src/configs/types.ts ==> 0%`

[2020-02-06 08:25] DavisRayM commented on #658
I can pick up:

1. `src/components/NotFound/index.tsx`
2.  `src/components/formatting/ResponseAdherence.tsx`

[2020-02-06 09:29] DavisRayM commented on #658
I can also try CH 1 `src/index.tsx`

[2020-02-06 09:51] kelvin-muchiri commented on #622
@craigappl Are there any specific fields. Also, seems like there is a problem with the validation message for quantity too. Is it a problem?
![Screenshot from 2020-02-06 12-38-12](https://user-images.githubusercontent.com/19818819/73925631-68b7bc00-48df-11ea-9dad-c6e1c1b47198.png)

[2020-02-06 10:00] kelvin-muchiri commented on #658
Will do

4. `src/components/DrillDownTableLinkedCell/index.tsx `

11: `src/containers/pages/IRS/JurisdictionsReport/helpers.ts `

13: `src/containers/pages/InterventionPlan/IRS/index.tsx `

[2020-02-06 10:06] moshthepitt opened #669 "Increase test coverage for InterventionPlan/IRS/index.tsx"
Increase test coverage to be >= 85% for:

`src/containers/pages/InterventionPlan/IRS/index.tsx`

Part of #658

[2020-02-06 10:06] moshthepitt opened #670 "Increase test coverage for JurisdictionsReport"
Increase test coverage to be >= 85% for:

`src/containers/pages/IRS/JurisdictionsReport/helpers.ts`

Part of #658

[2020-02-06 10:06] moshthepitt opened #671 "Increase test coverage for src/index.tsx"
Increase test coverage to be >= 85% for:

`src/index.tsx`

Part of #658

[2020-02-06 10:07] moshthepitt opened #672 "Increase test coverage for DrillDownTableLinkedCell"
Increase test coverage to be >= 85% for:

`src/components/DrillDownTableLinkedCell/index.tsx`

Part of #658

[2020-02-06 10:18] DavisRayM commented on #671
@moshthepitt I'm not quite sure how to go about testing this file exactly. I've tried creating a sample on how it would look like based on its functionality [here](https://github.com/onaio/reveal-frontend/commit/4b32f71968606665a3659f21758321fe036bec89). Please have a look.

[2020-02-06 10:24] moshthepitt commented on #671
@DavisRayM added some comments here https://github.com/onaio/reveal-frontend/commit/4b32f71968606665a3659f21758321fe036bec89

[2020-02-06 13:23] p-netm opened #676 "Test Logout"
testing logout functionality added in #675

[2020-02-06 14:23] #586 closed

[2020-02-07 08:28] p-netm commented on #653
@moshthepitt I believe we can close this. [since](https://github.com/onaio/js-tools/pull/125)

[2020-02-07 08:30] moshthepitt commented on #653
Fixed by https://github.com/onaio/js-tools/pull/125

[2020-02-07 08:30] #653 closed

[2020-02-07 12:59] #584 closed

[2020-02-07 15:43] #671 closed

[2020-02-07 16:36] cKellyDesign opened #680 "Add TH translations for new display strings"
New display strings need translations:

- [ ] `Welcome Back`
- [ ] `Green`
- [ ] `Light Green`
- [ ] `Yellow`
- [ ] `Red`
- [ ] `Grey`

[2020-02-07 16:47] cKellyDesign commented on #632
Yeah closing this b/c this feedback is done, more/newer feedback is/can be tracked in newer tickets.

[2020-02-07 16:47] #632 closed

[2020-02-07 17:40] #143 closed

[2020-02-07 17:41] cKellyDesign commented on #244
Replaced by #664

[2020-02-07 17:41] #244 closed

[2020-02-07 17:51] #300 closed

[2020-02-07 17:54] cKellyDesign commented on #627
@moshthepitt what's the status of this?

[2020-02-07 17:56] cKellyDesign commented on #585
Seems like this is done, closing.

[2020-02-07 17:56] #585 closed

[2020-02-07 17:56] moshthepitt commented on #627
@samkanga @craigappl am I right to say that the client is still scoping for this?

[2020-02-07 17:58] cKellyDesign commented on #603
@moshthepitt seems like this can be closed, ama?

[2020-02-07 17:58] #603 closed

[2020-02-07 18:00] cKellyDesign commented on #538
@moshthepitt can this be closed or is this ongoing / in the roadmap?

[2020-02-07 18:03] moshthepitt commented on #538
Let's close it.  Not sure that it is actually "ongoing".  We can always reopen later if need be.

cc: @craigappl @mberg

[2020-02-07 18:03] #538 closed

[2020-02-07 18:15] cKellyDesign commented on #534
Closing this issue because geojson validation is in place in the repo, updating Gisida to include built-in geojson validation will come with a greater effort to update the Gisida and Gisida React packages.

[2020-02-07 18:15] #534 closed

[2020-02-07 18:20] moshthepitt commented on #634
@ciremusyoka once we have an issue on js-tools created, we can close this.

cc: @cKellyDesign

[2020-02-07 19:14] cKellyDesign commented on #634
Ticket created at https://github.com/onaio/js-tools/issues/128

[2020-02-07 19:14] #634 closed

[2020-02-07 19:15] cKellyDesign commented on #577
I'm not sure if this is still happening, if not then let's close it.

[2020-02-07 19:19] cKellyDesign commented on #468
Closing this issue because we moved all the Typings to a `types.ts` file

[2020-02-07 19:19] #468 closed

[2020-02-07 19:20] #495 closed

[2020-02-07 19:20] cKellyDesign commented on #494
If IRS is not enabled then that card shouldn't render.

[2020-02-07 19:21] cKellyDesign commented on #491
@moshthepitt is this still an issue?

[2020-02-08 10:43] p-netm commented on #648
@moshthepitt closing this. fixed in by #675

[2020-02-08 10:43] #648 closed

[2020-02-10 13:43] moshthepitt commented on #491
Not sure.  Lets close for now.

[2020-02-10 13:43] #491 closed

[2020-02-10 13:44] moshthepitt commented on #577
Closing this until we see it again

[2020-02-10 13:44] #577 closed

[2020-02-10 14:24] moshthepitt opened #681 "Fix type definitions in JurisdictionsReport/index.tsx"
We should not have function params that are of type `any`

[2020-02-10 14:56] moshthepitt opened #682 "Use OpenSRP service from OpenSRP web"
Use https://github.com/OpenSRP/opensrp-web/tree/master/packages/opensrp-server-service instead of the OpenSRP service class defined in this repo.

[2020-02-10 16:24] #640 closed

[2020-02-10 16:39] cKellyDesign commented on #682
@moshthepitt - Should the service be moved to `js-tools`? Or do you think it's appropriate to pull from OpenSRP Web repo because it's an OpenSRP-to-web utility?

[2020-02-10 16:47] moshthepitt commented on #682
@cKellyDesign the intention is for the OpenSRP web packages to be published independently to npm under an "opensrp" (as opposed to ona) user.  So it is the same thing, but for OpenSRP specific things.

[2020-02-10 18:41] cKellyDesign commented on #664
@moshthepitt @p-netm @kelvin-muchiri - for the [IRS Jurisdiction Selection/Assignment](https://github.com/onaio/reveal-frontend/blob/master/src/containers/pages/InterventionPlan/IRS/plan/index.tsx) we are using quite a few API calls via the [OpenSRP service](https://github.com/onaio/reveal-frontend/blob/master/src/services/opensrp/index.ts) ([1](https://github.com/onaio/reveal-frontend/blob/master

[2020-02-10 20:34] cKellyDesign commented on #682
Perfect!

[2020-02-12 04:21] craigappl opened #685 "IRS Plan page just spins on reveal-stage"
The IRS plan page just spins on the Reveal-stage UI:

https://web.reveal-stage.smartregister.org/intervention/irs

![image](https://user-images.githubusercontent.com/6067053/74302637-34714f00-4d68-11ea-9046-895c32c4f66c.png)

[2020-02-12 09:00] moshthepitt commented on #664
@cKellyDesign I think we have run into similar problems before when testing a component that does more than one fetch.  We ended up mocking the service instead of fetch e.g. [here](https://github.com/onaio/reveal-frontend/blob/master/src/containers/pages/FocusInvestigation/single/tests/index.test.tsx#L179).  Maybe you can try that? i.e. mock OpenSRP service and SupersetFetch

[2020-02-12 13:33] cKellyDesign commented on #664
Aaah ok that should help, thanks @moshthepitt

[2020-02-12 13:57] p-netm opened #687 "Login page is still accessible to an authenticated user"
__Currently__:
An authenticated user could route to the login page successfully

__Ideally__:
A user should only be able to route to the login page if they are not logged in.

__scenarios__:
- an already logged in user; types the 'login' url in the address bar
- a user logs in from tab `a`; logs out from tab  `a`, thus the page on tab `a` is the login page. opens a new tab `b`, and successfully lo

[2020-02-12 14:01] p-netm opened #688 "Redirect User to a route after logging them in"
__Current behaviour__:
if a user session does not exist and say they try visiting `/teams`. the app directs them to the authentication page, after which, if they are successfully authenticated they are then redirected to the home page

__expected behavior__:
if a user session does not exist and say they try visiting `/teams`. the app directs them to the authentication page, after which, if they ar

[2020-02-13 07:31] moshthepitt commented on #622
@craigappl I am going to close it as I think we have all the validations in place.

[2020-02-13 07:31] #622 closed

[2020-02-13 07:39] moshthepitt commented on #518
@p-netm closing this until we get actual feedback

[2020-02-13 07:39] #518 closed

[2020-02-13 07:41] moshthepitt commented on #488
@craigappl @samkanga  does this still need to be done?

[2020-02-13 07:45] moshthepitt commented on #550
Closing this - I havent seen this happening recently

[2020-02-13 12:29] #672 closed

[2020-02-13 12:47] craigappl commented on #660
Continuing the conversation, I created a new Focus Investigation plan in the Lusaka area and the team assignment works. https://web.reveal-stage.smartregister.org/assign/75c3dac4-82d0-5a9e-8925-a59dbe1fd6ef
![image](https://user-images.githubusercontent.com/6067053/74436751-ffecb880-4e77-11ea-8737-ce61b8300f98.png)

[2020-02-13 12:50] craigappl commented on #660
When I try to assign the plan to the operational area ra_ksh_2, it doesn't work. It just keeps spinning.
I think the problem has to do with the operational area hierarchy of the ra_zambia. Have a look at the plan https://web.reveal-stage.smartregister.org/plans/update/f34f590f-b498-506b-8a12-c6f01b538822 A1 ra_ksh_2 2020-02-13
https://web.reveal-stage.smartregister.org/assign/f34f590f-b498-506b-8a

[2020-02-14 11:42] moshthepitt opened #691 "Re-evaluate usage of Gisida"
With the coming of Gisdia 2.0 (or Gisida-views), and the uncertainty surrounding Gisida 1.0, we need to re-evaluate Reveal's usage of Gisida 1.0 and whether we need to take any action to ensure that the Reveal project is not affected negatively by the uncertainties surrounding Gisida.

### Things to consider

1. What do we do if Gisida 1.0 is deprecated?
2. Can Reveal's needs be met with Gisida 2.

[2020-02-14 15:55] cKellyDesign commented on #691
The concept of Gisida Views (G2.0) is more of a product/service than a library like Gisida 1.x (G1.x).

Seems like we have three options:
1. Continue with G1.x even though it's deprecated
2. Expose (and use) the Map components/functionalities from G2.0 (maybe like OpenSRP Web)
3. Use [`react-mapbox-gl`](https://uber.github.io/react-map-gl/) to make new maps for Reveal

Currently no. However, it's

[2020-02-17 06:45] moshthepitt commented on #691
@cKellyDesign I strongly believe that the Gisida team needs to do this.  In fact, I think our front-end dev approach from last year (at least) has been about making as much of our code re-usable as possible, and Gisida should continue with this tradition.

cc: @kahummer @ciremusyoka @kelvin-muchiri

[2020-02-17 06:46] moshthepitt commented on #691
From a strictly Reveal point of view, this would not be the right thing to do.

@p-netm @cKellyDesign Reveal needs to decide between these two:

or

[2020-02-17 06:49] moshthepitt commented on #691
There is some more context about this discussion here: https://onaio.slack.com/archives/C6HQ1E8H0/p1581680595018000

[2020-02-17 12:28] p-netm opened #694 "RVL-880 Map does not load on refreshing page"
map view in SiingleActiveFI loads fine on the first load, however when you either
- refresh the page or
- copy the url and paste in a new tab and load it

the map does not render, it just keeps on loading

more info: https://smartregister.atlassian.net/browse/RVL-880

[2020-02-18 07:52] moshthepitt opened #697 "RVL-878 - Selected plan should persist after refreshing 'Update Plan' page"
When a user refreshes the Update Plan page for an existing plan (e.g. pressing control-R) the page reloads with no information. Note that the urls are the same , and that if the plan is saved, it overwrites the original plan

To reproduce:

1. Navigate to  Manage Plans
2. Click on a Plan
3. Click control-R when on the Update Plan page

As reported here https://smartregister.atlassian.net/browse/RV

[2020-02-18 08:39] moshthepitt commented on #550
![Current Focus Investigations   Reveal Stage](https://user-images.githubusercontent.com/372073/74718474-5b85c000-5243-11ea-9ecb-48b4f3bfb010.png)

^^ seems it is still happening.

[2020-02-18 09:07] moshthepitt opened #699 "Use Reselect"
We should adopt [Reselect](https://github.com/reduxjs/reselect) for [these reasons](https://github.com/reduxjs/reselect) i.e. a summary:

- Selectors can compute derived data, allowing Redux to store the minimal possible state.
- Selectors are efficient. A selector is not recomputed unless one of its arguments changes.
- Selectors are composable. They can be used as input to other selectors.

This

[2020-02-18 12:58] #517 closed

[2020-02-18 14:35] moshthepitt opened #702 "Replace getPlanRecordsArray"
Following #699, we now need to fully replace `getPlanRecordsArray` with `plansArraySelector`.

[2020-02-18 14:49] kelvin-muchiri commented on #694
@p-netm @moshthepitt @cKellyDesign The issues mentioned above is as a result of a user being logged out when you refresh the page or copy the URL in a new tab. Seems more like an authentication/session problem than the map itself.

[2020-02-18 14:51] moshthepitt commented on #694
@kelvin-muchiri sorry there is additional context that may be missing.  This is to be tested against the #624 branch or http://web.reveal-stage.smartregister.org/ where we have session persistence.

@p-netm can help with set up if needed.

[2020-02-19 06:47] moshthepitt opened #705 "Add flow diagram for the tiny backend server"
This comes from [here](https://github.com/onaio/reveal-frontend/pull/624#issuecomment-583019650).

This diagram and a little README should go into the server directory.

[2020-02-19 13:12] ciremusyoka commented on #697
@moshthepitt  can we use session storage to persist the selected plans?

[2020-02-19 13:15] moshthepitt commented on #697
@ciremusyoka I think we can do that later.

But right now there is probably a bug that makes it not work as expected.

How should it work?  When you visit such a URL - https://web.reveal-stage.smartregister.org/plans/update/24259e0e-a6bd-5972-a256-c8ace20457df it should be able to always populate the Redux store with what it needs, in the process doing any API fetches that it needs.

[2020-02-19 15:49] p-netm commented on #676
closed by #690

[2020-02-19 15:49] #676 closed

[2020-02-19 18:49] cKellyDesign commented on #705
@moshthepitt @p-netm  Please mention this ticket in the PR so it's linked 🙏

[2020-02-19 19:00] cKellyDesign commented on #697
@ciremusyoka @moshthepitt - To me this seems like a bit extra.

In my opinion, if a user refreshes the page with unsaved changes we should:

1. Throw an alert/growl warning (should also happen when navigating away with unsaved changes)

2. If the user choses to allow the refresh, the page should refresh rendering the plan data that is currently saved on the server

@craigappl does this seem like a

[2020-02-20 06:37] #552 closed

[2020-02-20 09:52] moshthepitt commented on #697
@cKellyDesign that sounds like a good plan.  But I think it should go into a different issue - it may be possible to make a Formik helper that does this generically for all our forms.

[2020-02-20 12:07] p-netm opened #711 "Development cycle after oauth change"
Problem statement:
The need to build every time you change the code.

**Why is this a problem**:
- increased development cycle expecially in cases where a developer might want to view the effect of a code changes on localhost.
- the build optimizes a lot of stuff and makes debugging a dreadful experience

**Silver lining**:
- will probably ensure tests to be top-notch -

I mean to ask its somethin

[2020-02-20 12:10] moshthepitt commented on #711
@p-netm this is indeed a huge problem, I agree.

Do you think that there are workarounds (before we get a better solution) though?  For instance, if you are working only on the front end and on a part that does not interact with the server, you can work like we used to work before we had a server/backend, no?

[2020-02-20 12:22] samkanga opened #712 "Plans on Reveal-Stage not visible under Onademo Account"
- [ ] The following two plans (FI: **A1 ra_ksh_2 2020-02-13** and IRS: **IRS 2020-01-31 Ona IRS** **Demo**) that are assigned to the account onademo, cannot be viewed under the monitor section. This is within reveal-stage.

[2020-02-20 12:43] moshthepitt commented on #712
Moved to https://github.com/onaio/canopy/issues/819

[2020-02-20 12:43] #712 closed

[2020-02-20 13:06] p-netm commented on #711
effort required for this, would be
- modify the authorizationGrantType prop for the login components.
- modify the callback component.

yeah i think this reasonable, it won't be such a hustle for people already accustomed to the code.

[2020-02-20 13:11] p-netm commented on #711
I had tried to run the server on a different port  ot the react app. This would require tuning a few variables and modifying the redirect uri on the fly in the browser. This _does not work anymore_, the cookies is not sent back to the server. this is probably due to some `sameSite` policy, but am not quite sure.

[2020-02-20 13:57] moshthepitt commented on #711
Cool, I am marking this as high priority, due end of Q1.  We need a better workflow.  Ideas on how we can improve this are welcome.

[2020-02-20 14:11] p-netm commented on #660
What i know:
- we are missing an ADM0 configuration `ra zambia`, this has been added in this unmerged branch #611
@moshthepitt @cKellyDesign Advise.

[2020-02-20 14:55] cKellyDesign commented on #660
@p-netm if things work on that unmerged branch, please merge it. Otherwise we'll have to figure out how to add the configuration properly.

[2020-02-20 15:03] cKellyDesign commented on #711
On average how long is it taking to rebuild?

Also, something to keep in the equation is the time we are saving when previously we had to re-login every time our code changed.

[2020-02-20 15:05] moshthepitt commented on #711
About 30 seconds.

[2020-02-20 15:21] moshthepitt opened #714 "Fix CSS for IRS Reports When No Data is Shown"
![no data IRS](https://user-images.githubusercontent.com/372073/74948629-9fc4bc00-540d-11ea-878a-5d4d21eb3d66.png)

The image above shows that this table indicates that there are "No rows found", but our CSS is messed up.  We should fix this.

[2020-02-20 15:51] ciremusyoka opened #716 "Logout working only on one tab when multiple tabs are open"
**Currently**
When an authenticated user opens two tabs and logs out from one tab, the user can still navigate to different routes and access data on the other tab.

**Ideally**
If a user opens two tabs, logs out from one tab and tries to navigate to a different route on the other tab, the user should be redirected to login page.

**scenario**
- User opens tab `a` and tab `b` when authenticated.
-

[2020-02-20 16:07] cKellyDesign commented on #716
Great description @ciremusyoka 👏

This feels like a security risk, big time. Seems like logout should end the OpenSRP server so the other tabs cannot successfully request data.

[2020-02-20 16:16] cKellyDesign commented on #697
@moshthepitt - then should we close this issue?

[2020-02-20 16:38] ciremusyoka commented on #716
@cKellyDesign when i observe the store it is being cleared on all tabs on logout but the `store session` gets updated when one routes from another tab other than the tab one logged out from. Any ideas why the store is being updated?

[2020-02-20 16:43] cKellyDesign commented on #716
Nope! @p-netm @moshthepitt?

[2020-02-21 07:30] moshthepitt commented on #697
@cKellyDesign it will be closed by https://github.com/onaio/reveal-frontend/pull/710

[2020-02-21 07:35] p-netm opened #717 "Express server should redirect user back to login if they do not authorize"
**Current Behaviour:**

If a user denies the client(the express server) permission to access their resources on the opensrp authorization server. Then the user is stuck on a page with the error `{"message":"The resource owner or authorization server denied the request.","status":"error"}`

**Expected Behaviour:**
the user should be redirected to the login page

**Probable solution**
I guess this w

[2020-02-21 09:15] p-netm commented on #716
@ciremusyoka @cKellyDesign
I have thought about this for a while and this is what i think happens:
- open tab `a` and log in
- open tab `b` and maybe visit `/teams`
- Initially the state in tab `b` has nothing in it, its a clean slate , but rendering `/teams` requires going through the callback url which repopulates the state with authentication details, so its all good at this point
- when you lo

[2020-02-21 09:36] p-netm commented on #660
@cKellyDesign The #611 has WIP tag, while i know that it adds what is missing, i do not know if it addresses the problem exhaustively or maybe enough. I think it would be better if either @cKellyDesign or @moshthepitt were to review and merge it.

[2020-02-21 14:12] cKellyDesign commented on #716
@p-netm in your scenario in the last step, what happens if the user does not refresh tab `b`, and instead navigates directly to say `/plans/list`? Since it still has its session and a valid token for OpenSRP server, will the page successfully query the server for a list of plans or will the request be denied?

[2020-02-21 14:56] p-netm commented on #716
@cKellyDesign
Yes, the user would be redirected to the login page,
 if you went directly to `plans/list` the tab starts with no state in store , so since `plans/list` is covered by the connected-private-route and later gatekeeper's callback,

[2020-02-21 15:00] moshthepitt commented on #697
Closed by #710

[2020-02-21 15:00] #697 closed

[2020-02-21 15:02] cKellyDesign commented on #716
Cool thanks @p-netm

[2020-02-21 15:05] #609 closed

[2020-02-21 15:44] p-netm commented on #716
@cKellyDesign @moshthepitt @ciremusyoka I might have been wrong about the state not syncing across tabs, we've looked at it with erick and seems [this](https://github.com/onaio/reveal-frontend/issues/716#issuecomment-589173762) is actually what is happening

[2020-02-21 16:09] ciremusyoka opened #718 "Move the user authentication check when accessing login route from express to react."
On navigation to login route while logged in you are redirected to home but the redirect happens in `Express`. The redirect should happen in react app.

[2020-02-21 16:15] moshthepitt commented on #687
Fixed by #715

[2020-02-21 16:15] #687 closed

[2020-02-21 16:16] moshthepitt commented on #699
Fixed by #703

[2020-02-21 16:16] #699 closed

[2020-02-21 16:37] moshthepitt commented on #705
Closed by #709

[2020-02-21 16:37] #705 closed

[2020-02-21 16:38] moshthepitt commented on #694
Fixed by #708

[2020-02-21 16:38] #694 closed

[2020-02-21 16:39] cKellyDesign commented on #718
@ciremusyoka should this be closed after #715 was merged?

[2020-02-21 16:39] #670 closed

[2020-02-21 16:41] moshthepitt commented on #718
@cKellyDesign this is an issue to look for a different possibly better fix than the one in #715

[2020-02-24 07:29] p-netm opened #719 "Increase test coverage for the organization select component"
- Add tests for `src/containers/forms/OrganizationSelect/index.tsx`

partof #658

[2020-02-24 07:31] p-netm opened #720 "Investigate and Add tests for serviceWorker"
part of #658
- Investigate what tests for servicewoker entail and add them

[2020-02-24 07:32] p-netm opened #721 "Investigate and add tests for config/typings"
- investigate and add tests for `src/configs/types.ts`

[2020-02-24 07:43] p-netm opened #722 "Test the server"
currently server test coverage stands at 0% => we need to add tests for the same.

[2020-02-25 19:47] craigappl commented on #647
@moshthepitt (FYI @samkanga )

These case event details are created in the BIOPHICS system when a plan is generated. We have Nifi processes that autogenerate the plan and post an event to the reveal server. At this time, we auto-generate "active" plans at this time and they want this feature to auto-generate "draft" plans. The customer needs to view these case details so they can make a decision o

[2020-02-26 11:06] #667 closed

[2020-02-26 11:19] moshthepitt commented on #641
This issue's successful resolution must be accompanied by https://github.com/onaio/js-tools/issues/113

[2020-02-28 13:21] kelvin-muchiri commented on #659
@moshthepitt @cKellyDesign @p-netm When we talk of lowering test coverage, what is the limit? The test coverage at the moment is lower than 100%, so what is the limit that each PR should meet at the moment?

[2020-02-28 13:39] kelvin-muchiri commented on #659
Can we use the current figures as the threshold?
[code]

[2020-02-28 16:22] #650 closed

[2020-02-28 21:57] #714 closed

[2020-03-02 07:38] p-netm commented on #659
I feel like we should aim for a 100% coverage, but i am comfortable with anything above 85%. **This is a personal opinion backed only by gut feeling**.

[2020-03-02 08:07] p-netm commented on #659
1. https://martinfowler.com/bliki/TestCoverage.html

[2020-03-02 09:24] p-netm commented on #646
We got updated values for the color ranges, The new ones are clearer on what the upper and lower bounds of the thresholds should be.

[code]

[2020-03-03 11:43] p-netm commented on #647
@samkanga @craigappl cc @moshthepitt
Need some help knowing how do the above fields map to the event object we get from opensrp?.
I have prefilled some with what i could deduce, but i might be wrong.

**Case Information**
Case Classification : `event.detail.case_classification`
Date of Diagnosis: `event.eventDate`
Species: `event.details.species`
Notification Date: `???`
Investigation Date: `event

[2020-03-03 14:48] craigappl commented on #647
@Wambere has done a lot of work on generating these events. Can you sit with her to map these out?

[2020-03-03 16:27] moshthepitt opened #729 "Enhance displayError"
[displayError](https://github.com/onaio/reveal-frontend/blob/acdc40f222c9a3bf281c5f2e90ffe180ba34f853/src/helpers/errors.ts#L9) should:

- [ ] Log errors to somewhere accessible by devs
- [ ] Show the user a user-friendly error i.e. not necessarily the Error object message as received

[2020-03-03 16:55] moshthepitt commented on #659
The Reveal Q1 goal and expectation from the client is at least 80% (this is be end of March 2020).

Right now we are lower than that.  I suggest that we use the current figures as the threshold, and adjust upwards after every milestone.

[2020-03-03 16:55] moshthepitt commented on #659
@cKellyDesign @p-netm @kelvin-muchiri @ciremusyoka ^^

[2020-03-03 17:04] cKellyDesign commented on #659
@moshthepitt - I agree with this approach assuming we hit (at least) 80% by end of March

[2020-03-04 04:07] samkanga opened #730 "Plans removed from Team still show on android client after sync"
- [ ] On the team assignment feature in reveal-stage, when a team is removed from a plan assignment, the plan still shows for a user who belongs to the team even after syncing. The ideal should be that when a team is removed from a plan, all users on the plan should not be able to see the plan on the android client.

[2020-03-04 08:40] #730 closed

[2020-03-04 11:59] moshthepitt commented on #730
Moved to https://github.com/OpenSRP/opensrp-client-reveal/issues/651

[2020-03-04 14:51] Wambere commented on #647
The mapping is below

| Item | Source |
| ----- | --------- |
| Case Classification | event.details.case_classification |
| Species | event.details.species |
| Investigation Date | event.details.investigtion_date |
| House Number | event.details.house_number |
| Patient Name | event.details.first_name |
| Surname | event.details.surname |
| Age | event.details.age |
| Notification Date | event.det

[2020-03-05 10:00] kelvin-muchiri commented on #641
@moshthepitt @cKellyDesign I don't seem to understand or know how to produce this. I tried but seem to find no problem. What steps should I use?

[2020-03-05 10:20] ciremusyoka commented on #702
@moshthepitt  The plans filter for `plansArraySelector` is done on `plansById`  while for `getPlanRecordsArray` is done on `planRecordsById`. There is a significant difference between [plansById](https://github.com/onaio/reveal-frontend/blob/8108f5f4d843c925ec2e934afb8a82d11efbeb4f/src/store/ducks/plans.ts#L70-L77) and [planRecordsById](https://github.com/onaio/reveal-frontend/blob/8108f5f4d843c92

[2020-03-05 11:59] moshthepitt commented on #702
@ciremusyoka looks like it can work.  Go ahead and complete it and lets see what the PR looks like.

[2020-03-05 14:00] #646 closed

[2020-03-05 14:15] #659 closed

[2020-03-05 14:45] cKellyDesign commented on #641
@kelvin-muchiri do you have `GA_CODE` included in your `env` variables?

### Reproduction Steps
1. run locally with GA enabled
2. go to `Focus Investigation` > [any FI Plan] (at this point the map is mounted and loaded)
3. click a metric in the sidebar to update the url (seeing the map re-initialize indicates re-mounting)

[2020-03-06 15:54] moshthepitt opened #735 "Make it possible to run the frontend without a backend"
Let us make it possible to run the frontend code without the requirement of having a backend server.

[2020-03-06 18:16] p-netm opened #736 "Inestigate best place to place typings"
context: [here](https://github.com/onaio/reveal-frontend/pull/732#discussion_r389042600)

[2020-03-06 18:17] #647 closed

[2020-03-06 19:09] p-netm opened #738 "Add server tests to CI process"

[2020-03-06 20:24] moshthepitt commented on #638
Fixed in #728

[2020-03-06 20:24] #638 closed

[2020-03-06 20:24] moshthepitt commented on #688
Fixed in #734

[2020-03-06 20:24] #688 closed

[2020-03-07 09:05] moshthepitt commented on #735
@p-netm reassigned this one to @ciremusyoka coz your plate is going to be full :)

[2020-03-09 07:39] p-netm commented on #722
closed by #734

[2020-03-09 07:39] #722 closed

[2020-03-09 08:10] moshthepitt commented on #449
@cKellyDesign can we close this?

[2020-03-09 08:32] moshthepitt commented on #702
Fixed in #733

[2020-03-09 08:32] #702 closed

[2020-03-09 08:42] samkanga commented on #627
@moshthepitt making follow-up with client on the ticket and I will revert here with more information.

[2020-03-09 09:45] moshthepitt commented on #656
Fixed in #692

[2020-03-09 09:45] #656 closed

[2020-03-09 13:03] #449 closed

[2020-03-10 09:06] moshthepitt commented on #729
This issue should be done as part of https://github.com/onaio/js-tools/issues/131

[2020-03-10 16:07] moshthepitt opened #739 "Use @onaio/utils"
Use [@onaio/utils](https://github.com/onaio/js-tools/tree/master/packages/utils)

Remove the following

- [x] Remove FlexObject
- [x] Remove UpdateType
- [x] Remove percentage

Replace them with equivalent utils from @onaio/utils.

[2020-03-11 17:21] moshthepitt commented on #649
Fixed by #651

[2020-03-11 17:26] #649 closed

[2020-03-12 08:52] samkanga opened #741 "Data Submitted on Reveal-stage Plans not Showing on Dashboards"
- [ ] Data submitted against plans on reveal-stage are not showing on the dashboard. A check by @craigappl showed that it looked like there's a table that is missing on stage, which is the reason dashboards aren't working. It's called "temp.zambia_irs_jurisdictions". @moshthepitt would you have additional information on this?

[2020-03-12 09:03] moshthepitt commented on #741
@samkanga @craigappl

1. Reveal stage is configured to work with Namibia-style IRS tables, which is why something like `public.namibia_irs_jurisdictions` exists while the equivalent Zambia table does not.  Please do note that the web UI can currently only work with one IRS configuration at a time.
2. There is no `temp` schema on the Reveal stage database.  We only have `public` as seen here https:

[2020-03-12 12:18] ciremusyoka commented on #627
@samkanga  any additional information on this?

[2020-03-12 13:42] #117 closed

[2020-03-12 13:42] #156 closed

[2020-03-12 18:51] p-netm opened #742 "Move server out of reveal FE"
- This is a continuation of work that's taking place here #735. the next steps; steps that would close this issue is to consider the server as a repo in itself.

The 2 schools of thought around this:
- to create a new repo for the server. This would make deployment and setting up CI/CD eaiser. For the latter it would really not be that significant of a factor. The cons for this would be one more m

[2020-03-12 20:08] moshthepitt commented on #742
@p-netm We need to also consider:

1. that this is not a "Reveal server".  This is potentially a server that can be used by any other frontend project that we have - first and foremost being OpenSRP web.
2. Speaking of OpenSRP web, it may help to think of Reveal as belonging in the ["clients" directory](https://github.com/OpenSRP/opensrp-web/tree/master/clients) of OpenSRP web, and so to me it doe

[2020-03-13 02:22] cKellyDesign commented on #742
Agreed. I wonder how might we modularize this tiny backend setup in way that we decouple its logics for utility (aka - a server that authenticates react apps, let's say "gatekeeper-server") from the client (aka - the auth'ing OpenSRP specifically, say "opensrp-auth")?

If we could, this `opensrp-auth` would definitely be hosted in OpenSRP Web packages, while such a gatekeeper-server seems like it

[2020-03-13 07:40] p-netm commented on #742
This is quite a great idea. I like it. We should eventually support this useCase.

[2020-03-13 07:42] moshthepitt commented on #742
Nice, I like this.  I think we are some way towards that - the server right now does not do anything too Reveal-specific and can be generally adapted to support OAuth for any other frontend project.

Still, I recommend we move it to its own repo and then take stock on what more we can do.

[2020-03-13 07:44] p-netm commented on #742
ok. Lets move it

[2020-03-13 12:59] cKellyDesign commented on #742
Yeah I can see this going through a few more iterations over time and maturing a bit before ending up like something like this. 😄

[2020-03-13 19:59] p-netm commented on #717
closed in #734

[2020-03-13 19:59] #717 closed

[2020-03-16 07:04] samkanga opened #747 "Request to Move Superset Charts"
- [ ] Akros has requested us to move the charts on Reporting lag and Reporting time that address the the ask on tickets RVL-221 and RVL-222, from reveal-zm to reveal-stage. This is to facilitate people outside of Akros to view and test.

[2020-03-16 07:51] kahummer commented on #407
@moshthepitt @craigappl The current single FI view seems not to have the search box
![Screenshot from 2020-03-16 10-46-13](https://user-images.githubusercontent.com/16018123/76734331-ce675580-6773-11ea-9a88-19ce0eee1e7f.png).

[2020-03-16 07:53] moshthepitt commented on #407
@kahama94 I removed it in #728

[2020-03-16 07:57] moshthepitt commented on #407
I suggest you leave it removed, we had kind of agreed to remove all the search boxes that do not work for now. @kahummer

[2020-03-16 08:11] kahummer commented on #488
@craigappl @moshthepitt are we talking about these views?
![Screenshot from 2020-03-16 11-08-40](https://user-images.githubusercontent.com/16018123/76735739-a0cfdb80-6776-11ea-80e3-f086be3d30a4.png)
![Screenshot from 2020-03-16 11-10-18](https://user-images.githubusercontent.com/16018123/76735820-cfe64d00-6776-11ea-8cae-14b743b4d1ab.png)

[2020-03-16 08:25] moshthepitt commented on #488
@craigappl mentioned that we need to wait to get more feedback https://onaio.slack.com/archives/CBSU8L2SC/p1583741756094900

[2020-03-16 08:40] kahummer opened #748 "Establish areas we may use proxy object and implement"
A Proxy object wraps another object and intercepts operations, like reading/writing properties and others, optionally handling them on its own, or transparently allowing the object to handle them. The issue aims to establish areas we may use proxies and implement the same

[2020-03-16 12:47] #550 closed

[2020-03-16 12:50] moshthepitt commented on #682
@ciremusyoka The OpenSRP server service package was published last week: https://github.com/OpenSRP/opensrp-web/tree/master/packages/opensrp-server-service

[2020-03-16 15:40] kahummer commented on #739
@moshthepitt am experiencing a type issue when updating percentage
[code]

[2020-03-16 16:04] moshthepitt commented on #739
@kahummer could you share the problematic code - would like to see it?

Additionally, please create a js-tools issue that you'll then work on as part of closing this one

[2020-03-16 17:00] kahummer commented on #739
src/helpers/indicators.tsx
![Screenshot from 2020-03-16 19-58-25](https://user-images.githubusercontent.com/16018123/76781989-a520e680-67c0-11ea-930c-74f88d582338.png)

[2020-03-16 18:28] moshthepitt commented on #739
@kahummer I think you should look closer at what, exactly, the `percentage` function from @onaio/utils returns (it is not a string) and the [Result type](https://github.com/onaio/js-tools/blob/master/packages/utils/src/types.ts#L48). (read the blog post in the docstring).

[2020-03-18 17:19] craigappl opened #751 "RVL-908 Reveal Thailand translation feedback for 0.4.0 release"
This issue provides translation feedback on the 0.4.0 release to Thailand Production.

The string isn't translated on the login page. I think it's fine to keep the word "OpenSRP" as is in the button.
![image](https://user-images.githubusercontent.com/6067053/76977023-01cfee80-68f2-11ea-9966-a41cdd9ccaed.png)

This page is not translated
![image](https://user-images.githubusercontent.com/6067053/76

[2020-03-18 17:24] moshthepitt commented on #751
@craigappl I think that the pages on the OpenSRP server need to be handled there. i.e. these two:

This:

![image](https://user-images.githubusercontent.com/6067053/76977061-0ac0c000-68f2-11ea-81c4-51e76a7848fd.png)

And this:

![image](https://user-images.githubusercontent.com/6067053/76977157-2e840600-68f2-11ea-926b-1b34f8ef435b.png)

cc: @Rkareko @githengi

[2020-03-18 17:25] moshthepitt commented on #751
@p-netm I also think that the word "complete" in the little green label is also not translated.

[2020-03-19 02:19] craigappl opened #752 "Reveal Stage: Unable to assign MDA plans"
I just keep getting a spinner each time I try to assign MDA Plan 1 and MDA Plan 2.

https://web.reveal-stage.smartregister.org/assign/0b917315-f7e5-41e0-8571-8579a6998be2
![image](https://user-images.githubusercontent.com/6067053/77025014-42108a80-694d-11ea-996c-22aacec1ce4e.png)

https://web.reveal-stage.smartregister.org/assign/6cec8ae0-8aa6-410f-8d0d-532a5e5fffb5
![image](https://user-images.gi

[2020-03-19 08:35] #681 closed

[2020-03-19 12:47] moshthepitt commented on #472
@p-netm what is blocking this one?

[2020-03-19 12:47] moshthepitt commented on #611
@cKellyDesign can you help unblock this one if possible, please?

[2020-03-19 13:01] p-netm commented on #472
@moshthepitt just remembered the issue for this one, seems like we don't have data from reveal staging for `zambia_focus_areas` slice. I think the data that would be displayed is got from that slice.

[2020-03-19 13:03] moshthepitt commented on #472
@p-netm is it possible to work with fixtures made from data coming from the Zambia server?

[2020-03-19 14:17] cKellyDesign commented on #611
Slack Convo: https://onaio.slack.com/archives/GUSEVD5CZ/p1584622097016900

[2020-03-19 16:41] #527 closed

[2020-03-19 16:46] moshthepitt commented on #752
@craigappl we don't have any "official" support for MDA plans in the web UI.  It is true that they may appear in various pages, but the web app has no awareness of MDA plans as a distinct type of plan in the same way that it does for FI and IRS.

Until we do the work to scope that (all the way to what a plan form for MDA needs to look like, to team assignment, to reporting), we will probably have

[2020-03-19 17:06] craigappl commented on #752
Ok, no problem, I'll raise an issue in Jira for Akros to prioritize. Let's close this issue.

[2020-03-19 17:06] #752 closed

[2020-03-19 18:23] craigappl commented on #488
@kahummer and @moshthepitt , the screenshot is what we need to deliver. Please make sure that the underlying plan template is changed, not just the string, so that the Plan which is submitted to the OpenSRP server has the right text.

[2020-03-19 18:23] craigappl commented on #488
We do not need to make changes in the Nifi script because all plan strings have been translated to Thai on the production server.

[2020-03-20 06:58] moshthepitt commented on #488
@craigappl sorry it is not crystal clear to me.  Do you mean the screenshot that @kahummer shared?  On that screenshot, what needs to be changed?

[2020-03-20 09:30] p-netm opened #755 "RVL-944 - Web logging out bug"
Noticed primarily on web thailand. Sometimes logging out freezes and before redirecting to https://web.reveal-th.smartregister.org/undefined.

[2020-03-20 13:13] cKellyDesign opened #756 "Convert App component to a Functional component"
Currently the App component is a class based component and ideally should be a functional component using effects and no render function.

[2020-03-20 13:46] #660 closed

[2020-03-20 13:46] #611 closed

[2020-03-20 15:22] moshthepitt commented on #417
Finally closed by #443

[2020-03-20 15:22] #417 closed

[2020-03-20 17:20] #407 closed

[2020-03-20 17:52] moshthepitt opened #757 "In update plan page dont link to FI reports for non FI plans"
![Update Plan  IRS 2019-09-06 ACM Test   Reveal Stage](https://user-images.githubusercontent.com/372073/77191859-aa49a280-6aec-11ea-9d8f-a0e577ffb376.png)

[2020-03-20 18:27] moshthepitt commented on #735
@ciremusyoka https://github.com/facebook/jest/issues/2582#issuecomment-346886018

[2020-03-24 14:55] moshthepitt opened #760 "RVL-347: Focus Investigation Status field should be renamed to "Focus Classification""
**Acceptance Criteria**

- Log into Reaveal-Web and go to Plans > manage Plans > Add Plan
- Section titled Focus Investigation Status should have been renamed to Focus Classification.

More info: https://smartregister.atlassian.net/browse/RVL-347

[2020-03-24 16:41] p-netm opened #762 "IRS page keeps on loading"
steps to reproduce:
- login
- click on IRS

Page just loads.

There is this error on the console:
[code]

[2020-03-24 16:42] moshthepitt commented on #762
@p-netm can you also get a stack trace from local dev's unminified code?

[2020-03-25 07:22] kelvin-muchiri opened #763 "Test blocks with jest spyon lead to test failure if they appear above other tests."
In `/src/containers/pages/FocusInvestigation/map/active/tests/index.test.tsx`

move the last test block (the one with @todo comment) to the top and run the tests again. They will fail

[2020-03-25 11:14] p-netm opened #764 "Pending Thai Translations"
Documentation of undone work for Thai translations
- `Add Focus Investigation` Button text.:
   might need clarification: on whether we are changing the text of this button to `Add plan` for all translations(meaning  in staging too), or is this change only suppoed to be in thai. link to translation [sheet](https://docs.google.com/spreadsheets/d/1ONHpPpuPxNW9_-vP8gTTcrVHTbKTT3WaN-cfdySeMCs/edit#gid

[2020-03-25 17:28] #760 closed

[2020-03-26 21:08] craigappl opened #768 "Reveal Thailand Production session 500 error"
We're getting the following error code when trying to login to the thailand production environment through the web UI:

[code]

### Triaging the problem
1 Starting with just the google analytics cookies on web.reveal-th
![image](https://user-images.githubusercontent.com/6067053/77685431-adafb480-6f58-11ea-8fef-489dc986605a.png)

2 Click OpenSRP button which redirects to https://reveal-th.smartregi

[2020-03-27 10:20] moshthepitt commented on #764
![สร้างแผนปฏิบัติงานใหม่   Reveal](https://user-images.githubusercontent.com/372073/77746226-ac9c8700-702d-11ea-82ae-7fadbd704cf6.png)

[2020-03-27 10:58] #665 closed

[2020-03-27 12:06] ciremusyoka commented on #666
@moshthepitt currently this component has a test coverage of `100%`

[2020-03-27 12:09] moshthepitt commented on #666
Thanks, closing this.

[2020-03-27 12:09] #666 closed

[2020-03-27 17:26] p-netm opened #770 "Test Reaveal-th login using a cooking jar"
related to #768 .
and using this link: https://stackoverflow.com/a/19937138

[2020-03-27 18:57] #735 closed

[2020-03-27 19:12] #757 closed

[2020-03-28 14:29] samkanga opened #771 "RVL-603 - WebUI Monitor Screen: Map should always show index case and Family Registration indicators should be selected by default"
https://smartregister.atlassian.net/browse/RVL-603

**Expected behavior/acceptance criteria:**

When I load the map view for a plan:

- [x] The ‘Case Confirmation' indicator should be not clickable on/off and the index case should be always visible. [#866](https://github.com/onaio/reveal-frontend/issues/866)
- [ ] Historic index cases for last three years should show [#867](https://github.com/onai

[2020-03-28 14:36] samkanga opened #772 "RVL-760 Enable WebUI Search for Plans in Plan and Monitor screens"
Enable search for the Plan entity in the Plan and Monitor screens as follows:

- [x] Plans > Manage Plans
- [x] Monitor > Focused Investigations
- [x] Monitor > IRS Reporting

**Acceptance Criteria:**

1. Allow a user to enter text within the search box
2. The results returned should filter results based on text entered within the search box

[2020-03-30 07:04] #641 closed

[2020-03-30 08:10] p-netm commented on #768
**Problem statement**

Express server does not add `AWSLAB` load balancer cookie to any requests it does to the Identity server.

The `AWSLAB` session stickiness cookies are stored on the browser, any service call to opensrp from the browser has this cookies as part of the requests. However calls from the express server do not have access the browser saved cookies that are stored on the browser in

[2020-03-30 08:13] p-netm commented on #768
@moshthepitt

[2020-03-30 08:18] ukanga commented on #768
I don't think we need two OpenSRP servers at this time. We can take down one server and this is less of an issue as we wait for a long term fix be applied to the OpenSRP server codebase. This includes but is not limited to upgrade of Spring Framework that is ongoing.

[2020-03-30 11:37] p-netm commented on #768
Probably missing some vision here, but my thinking at the moment is that no matter what changes are done to the opensrp server; as long as the Identity server is running on more than a single instance that is behind a load-balancer that uses cookies, we will continue having this problem.

The 2 ways about this is I can try and fix this from the reveal fronted app, or reduce the number the identity

[2020-03-30 12:59] Naima-Bashir commented on #762
Current update on this. The page still takes too long. @p-netm What is the expected load time?

[2020-03-30 13:03] p-netm commented on #768
-

My planned next steps is to move the functionality to get the token to the web app. in as follows:
- the callback url will be served by the frontend app.
- after getting token, post the data to express server(define route for this)

[2020-03-31 06:03] samkanga opened #774 "Edit the percentages on the IRS Reporting Color Codes"
Edit the percentage ranges on the IRS Reporting color codes. Presently it appears as follows:
![image](https://user-images.githubusercontent.com/5908630/77992162-30a48680-732e-11ea-8b6d-ed6ab197682e.png)

They should read:
- [ ] Grey < 20%
- [ ] Red  20% - <75%
- [ ] Yellow 75% - < 90%
- [ ] Green 90% -  100%

This is to avoid the overlap of the figures

[2020-03-31 07:24] samkanga opened #775 "RVL-841 - Change in Nifi: The label for Measure for BCC should say "BCC Activities Complete" when we autogen plans"
https://smartregister.atlassian.net/browse/RVL-841
**Desired Change**

- [ ] The label that is sent through Nifi to BIOPHICS for FI Plans need to be updated from “**Measure for BCC**” to "**BCC Activities Complete**"

This ticket is the change to be made in Nifi so that the label matches in BIOPHICS and the WebUI. The change on the WebUI has been submitted as a separate ticket.

[2020-03-31 07:34] samkanga opened #776 "RVL-806 Logout of OAuth when you hit logout button in WebUI"
https://smartregister.atlassian.net/browse/RVL-806
Signing out of the WebUI does not sign the user out of OpenSRP  OAuth session, and the user can log back in without re-entering their password

**Current behaviour**

1. Click the user name in top right corner of the WebUI and Click Sign out
2.
![image](https://user-images.githubusercontent.com/5908630/77999010-aa427180-733a-11ea-854a-5882c048a410

[2020-03-31 07:59] ukanga commented on #768
The long term fix on the OpenSRP server would be that both servers access the same cache/store when checking for the code. It will not be cookie-based, or at least I don't think it will be cookie-based. We do need to create these issues on the OpenSRP server repository if we have not done so.

However, if there is a way to change the process flow on the front end, feel free to pursue that path.

[2020-03-31 08:44] samkanga opened #777 "Monitor Dashboards on Reveal Web Loads with Grayed out Structures"
Access to completed FI plans under Reveal Web > Monitor > Focus Investigation> Select plan

- [x] Loads a map with grayed structures. The map loads on the android client with tasks on it. See sample below:
![image](https://user-images.githubusercontent.com/5908630/78005241-f34af380-7343-11ea-85f3-548de16bd940.png)

- [x] Clicking on any of the indicators e.g. Family Registration, results into a sp

[2020-03-31 09:27] moshthepitt commented on #488
Superseded by https://github.com/onaio/reveal-frontend/issues/775

[2020-03-31 09:27] #488 closed

[2020-03-31 09:30] moshthepitt commented on #774
@samkanga what is the change that is actually required?  What is the acceptance criteria?

To me it looks like you just want the text to change to include `<`?

[2020-03-31 09:32] moshthepitt commented on #772
@samkanga what is the priority for this?  (Medium, Low or High)

[2020-03-31 09:36] moshthepitt commented on #771
@samkanga I think it may be better to break this into smaller issues as some of them are more feasible and/or quicker to accomplish.  In any case, my comments are:

This needs to better defined.  A design mockup is preferred.

Where should they show?  Where are we getting the data for them from?  This is very very vague right now.

To avoid ambiguity, can we get more details on this, including a m

[2020-03-31 09:48] samkanga commented on #772
@moshthepitt this is high priority. Its part of planned demo by Akros to WHO. They are required to send the presentation deck today and needed this information.

[2020-03-31 09:53] samkanga commented on #772
@moshthepitt this is for scheduling in the next milestone.

[2020-03-31 09:56] samkanga commented on #774
@moshthepitt that is correct.

[2020-03-31 14:03] samkanga commented on #777
@moshthepitt and @kahummer just learnt that the color coding on the structures is gray by default when the map loads. The color coding occurs when the indicators on the right are clicked.

[2020-03-31 14:12] kahummer commented on #777
@samkanga  That then means the
The second issue is the one to be fixed ?

[2020-03-31 14:19] samkanga commented on #777
Yes @kahummer

[2020-04-01 09:42] p-netm opened #781 "Types for initial state broken in master"
build is failing for quite a few store/ducks module for the type annotations of the initialstate.

[2020-04-01 09:43] moshthepitt commented on #781
what caused this? could you share a stacktrace?

[2020-04-01 13:18] cKellyDesign commented on #781
@p-netm please update this ticket with the results of your sleuthing to shed some light as to why tests are breaking on master. 🙏

[2020-04-01 13:42] kahummer commented on #777
@samkanga I think we should close this

[2020-04-01 13:48] moshthepitt commented on #777
@kahummer is there not an open PR for this?  If yes then we can't close it until the PR is closed.  No?

[2020-04-02 06:46] samkanga commented on #771
@moshthepitt I will work on breaking down the ticket and aim to get some mock-ups.

[2020-04-02 08:16] p-netm commented on #781
Sample stacktrace from `goals`.

[code]

[2020-04-02 09:08] moshthepitt commented on #781
@p-netm Thanks.  What change led to this to start happening?

[2020-04-02 11:33] p-netm commented on #781
At the moment I don't know, I can time travel through the commits, but I fear it might be a lot of work.

[2020-04-02 11:42] moshthepitt commented on #781
Yeah don't do that

[2020-04-02 12:37] p-netm opened #782 "Session expires while users is logged in(This is not gracefully handled)"
once the session expires while a user is logged in, opensrp service calls begin failing.
However this is a hypothesis albeit one that is very likely.
The tasks for this:
-  confirm the hypothesis
- enhance code to gracefully handle the issue.

[2020-04-02 15:06] Naima-Bashir commented on #757
Retested this. Works as expected.

[2020-04-02 15:19] cKellyDesign commented on #781
@p-netm do we have a clear fix?

[2020-04-02 18:40] p-netm commented on #781
@cKellyDesign This should fix it f0acb2f

[2020-04-03 08:08] moshthepitt opened #785 "IRS Plan Page: Don't Load Jurisdictions From Superset"
The IRS Plan page should not load jurisdictions from Superset.  It should instead use the OpenSRP API.

[2020-04-03 08:13] moshthepitt opened #786 "IRS Plan Page Sometimes Does Not Load"
e.g. https://web.reveal-stage.smartregister.org/intervention/irs/draft/96705af6-f888-5d72-b101-055809938c9e

I think this is because of a failed API call which either errors out or returns nothing.  The IRS Plan page should show a friendly error in such a case instead of spinning forever.

[2020-04-03 08:20] moshthepitt opened #787 "IRS Plan Map Page DrillDown Back Button Issue"
![IRS  IRS_2019-7-5  draft    Reveal](https://user-images.githubusercontent.com/372073/78339217-cb0a0180-759c-11ea-86ab-fe4e726c9917.png)

When you drill down on the map, pressing the browser's back button will take you back to the plan list page.  Whereas the expectation is that it should take you back up the hierarchy.

Possible solutions:

1. Use actual URL routes for each hierarchy level
2. Sh

[2020-04-03 08:20] moshthepitt opened #788 "IRS Plan Map Page Issues"
- [x] IRS Plan-Jurisdiction Assignment Cleanup #537
- [x] Load map progressively #286
- [x] IRS Plan Page: Don't Load Jurisdictions From Superset #785 #404
- [x] Remove deprecated component lifecycle methods or convert to functional component #439
- [x] IRS Plan Page Sometimes Does Not Load #786
- [x] IRS Plan Page Increase test coverage #669
- [x] IRS Assign Page Sometimes Does Not Load
- [x] IRS

[2020-04-03 08:26] #762 closed

[2020-04-03 08:26] #685 closed

[2020-04-03 14:59] #719 closed

[2020-04-03 15:04] #774 closed

[2020-04-03 15:05] moshthepitt commented on #664
Fixed in #789

[2020-04-03 15:05] #664 closed

[2020-04-03 15:08] kelvin-muchiri opened #791 "IRS Plan test snapshots not updating after async calls"
The snapshot tests at `src/containers/pages/InterventionPlan/IRS/plan/tets/index.test.tsx` result in a snapshot of the spinner always even after execution continues to the `render` method.

`await flushPromises` which normally resolves this by making sure jest waits for all asynchronous code to finish before the assertions does not seem to help.

This should be investigated and if resolved, add th

[2020-04-03 15:10] moshthepitt commented on #485
This was fixed in #728

[2020-04-03 15:10] #485 closed

[2020-04-03 16:14] p-netm commented on #781
Delete yarn.lock, run yarn .
this opens another can of worms typewise

[2020-04-06 10:22] kahummer opened #792 "GisidaWrapper to use function based component"
The class based component in gisida makes it hard to test the individual methods of the class. I think in doing so it will be easier to test initMap method and maybe have it as a prop which makes it easy to mock.

[2020-04-06 12:19] #661 closed

[2020-04-07 09:49] moshthepitt commented on #777
It seems that this is no longer an issue.

[2020-04-07 09:49] #777 closed

[2020-04-07 09:53] moshthepitt commented on #711
I think for now #743 addresses this.  You do not have to build the frontend every time you want to see changes.

[2020-04-07 09:53] #711 closed

[2020-04-07 09:57] moshthepitt commented on #741
@samkanga @craigappl closing this as it was fixed.  Please reopen if it is still an issue.

[2020-04-07 09:57] #741 closed

[2020-04-07 10:00] moshthepitt commented on #292
Superseded by #662

[2020-04-07 10:00] #292 closed

[2020-04-07 10:01] moshthepitt commented on #524
These need to be essentially the same as current tests, but that would use settings and fixtures for Namibia-style reports.

[2020-04-07 10:03] moshthepitt commented on #637
It seems that this was fixed in the v0.4.2 release candidates.

[2020-04-07 10:08] moshthepitt commented on #782
@p-netm should we also create this issue on the expres-server repo?

[2020-04-07 10:29] moshthepitt commented on #508
This seems like it is no longer a problem.

[2020-04-07 10:29] #508 closed

[2020-04-07 10:52] moshthepitt commented on #669
Fixed in #789

[2020-04-07 10:52] #669 closed

[2020-04-08 07:10] Naima-Bashir commented on #762
QA tested. It has passed.

[2020-04-08 07:31] moshthepitt commented on #762
Thanks

[2020-04-08 08:31] Naima-Bashir commented on #760
![image](https://user-images.githubusercontent.com/61143692/78762354-6e3b8c00-798c-11ea-8744-160b9a78b0d7.png)
Tested. Passed QA

[2020-04-08 08:43] Naima-Bashir commented on #774
![image](https://user-images.githubusercontent.com/61143692/78763662-1d2c9780-798e-11ea-862c-e89eee047d4e.png)
Passed QA.

[2020-04-08 08:49] Naima-Bashir commented on #777
![image](https://user-images.githubusercontent.com/61143692/78764283-00dd2a80-798f-11ea-8ac8-f0ceb4b5b548.png)
Yes this is no longer an issue. Tested; it has passed QA.

[2020-04-08 08:57] Naima-Bashir opened #796 "RVL-943 - Focus Notifications do not disappear when another section is clicked."
STEPS:
1. Login to the system and click on focus investigation:  https://web.reveal-stage.smartregister.org/focus-investigation/
2. Click on one of the cases eg Blood screening.
3. Click on the colored points on the maps and observe the status update. It should say complete, not visited etc.
4. After that, click on another case eg. Bednet disctribution.
5. Observe whether the previous status pop u

[2020-04-08 15:45] #738 closed

[2020-04-08 15:45] #742 closed

[2020-04-09 11:54] #756 closed

[2020-04-09 15:17] #781 closed

[2020-04-14 11:31] p-netm commented on #336
@moshthepitt
React-version is now 16.13.1, it includes an async act which is hopefully what we require to address this test errors.

[2020-04-14 11:44] p-netm opened #798 "UI/UX Differentiating between errored response and empty response"
The logic of several pages is to show the loader based on the presence of some data that is supposed to be rendered on the respective page. This is not clear on whether any async operations to fetch the data were erred or we just got an empty response. I suppose it would lead for better UX if we could inform the user in cases where the web app completed the data fetching operations successfully bu

[2020-04-14 11:57] moshthepitt commented on #336
Thank you @p-netm.  Could you pick up one of the smaller tests that has this and see if you can resolve the issue in that test?

[2020-04-14 12:05] #721 closed

[2020-04-14 13:51] Naima-Bashir opened #799 "[ANDROID] The filter functionality does not clear after the clear button is clicked"
STEPS:

1. Login to the app
2. Click on the filter functionality
3. Select a filter eg  Task type: Mosquito Collection
4. Observe if the map has been filtered.
5. Next clear the filter and observe if it still loading the previous results.
EXPECTED RESULTS: After it been cleared, the map should load the default sections
ACTUAL RESULTS: The map still shows the filtered sections only. See image below

[2020-04-14 13:57] Naima-Bashir opened #800 "[WEB] Assigning a plan to a team gives an internal server error"
STEPS:
1.Log into the web app
2. Go to assign tab
3. Select a plan eg IRS 2019-11-05 Ona Company Retreat Demo.
4. Click on the location and find the Assign teams section.
5.Assign a team eg OnaTest
6. Click save and observe what error you get.
EXPECTED RESULTS: One should successfully assign a team.
ACTUAL RESULTS: This error keeps on showing. See image below.
![image](https://user-images.githubus

[2020-04-14 14:31] Naima-Bashir commented on #800
note: this happens on certain assignments.
I tested on IRS 2019-11-05 Ona Company Retreat Demo to  OnaTest and I get the error.
When I tried on Test_IRS 2020-03-30 to Onatest, it works

[2020-04-14 14:35] Naima-Bashir opened #801 "[WEB] RVL-945 - Change the success pop up notification color from red to green"
STEPS:
1.Log into the web app
2. Go to assign tab
3. Select a plan eg Test_IRS 2020-03-30.
4. Click on the location and find the Assign teams section.
5.Assign a team eg OnaTest
6. Click save and observe what error you get.
EXPECTED RESULTS: Success 200 should be green not red
ACTUAL RESULTS: error is red. Very confusing.

[2020-04-15 13:15] moshthepitt commented on #768
Closing this because we chose to go with this option:

[2020-04-15 13:15] #768 closed

[2020-04-15 14:36] kahummer commented on #776
@moshthepitt @p-netm
To close this issue we need to logout the user from our reveal and opensrp (this is working well without the backend server using the connectedlogout component.
When using the backend server we have to load the connectedlogout component and move execution to the express server to destroy sessions and clear cookies. Running both of these
[code]
Loads the connected logout and fa

[2020-04-15 15:08] #739 closed

[2020-04-15 15:22] moshthepitt commented on #776
@kahummer I think right now it roughly works like so:

1. Click logout
2. It sends you to express which clears its session
3. It brings you back to the frontend (I forget which specific component)

Can we not make it such that at step 3 it does a call to OpenSRP's logout URL?

cc: @p-netm

[2020-04-15 15:50] p-netm commented on #776
@moshthepitt @kahummer my thoughts.

So I believe step3 would be either; within the logoutUrl `express/logout` of express server or within the loginUrl `express/login` of express. Note that `express/logout` redirects to `redirect/login`. I think the question would then be if its possible to GET `opensrp/logout.do` in a way that we still retain controll of where to redirect to after.

essentially t

[2020-04-15 15:53] p-netm commented on #776
IMO, I think this is sounds like the best option so far.

[2020-04-15 16:00] cKellyDesign commented on #776
IMO, I think this is currently the most feasible and may eventually inspire something that gets added to js-tools.

[2020-04-15 16:13] cKellyDesign commented on #776
It seems like if the server is meant for managing auth and sessions, it could make sense to make the request to `opensrp/logout.do` (by whatever method/protocol) on behalf of the frontend, and let the frontend execute business logic to handle what happens after ending the session (in this case, navigating to the login screen) via some simple callback function that gets passed to js-tools.

Maybe t

[2020-04-16 08:40] moshthepitt commented on #776
This makes sense, although ultimately I think `opensrp/logout.do` must be called from the frontend for you to be successfully logged out.

[2020-04-16 12:19] craigappl commented on #581
@moshthepitt , is this a duplicate of #772 ?

[2020-04-16 12:20] armageddon commented on #772
RVL-760

[2020-04-16 12:24] armageddon commented on #775
RVL-841 @craigappl

[2020-04-16 12:27] armageddon commented on #751
@craigappl

RVL-908

[2020-04-16 12:31] moshthepitt commented on #581
Yes it is @craigappl, thanks.

[2020-04-16 12:31] #581 closed

[2020-04-16 16:02] cKellyDesign commented on #776
@moshthepitt - oh interesting, why is that?

[2020-04-16 16:04] moshthepitt commented on #776
I think that the express server does not share the same session/context as the frontend when hitting the OpenSRP server.  Thus I suspect hitting `opensrp/logout.do` from express might not log you out.  But we should test this.

[2020-04-16 16:06] cKellyDesign commented on #772
@kelvin-muchiri is this issue in progress? If so could you be sure to update its column on the `Reveal Canopy Work` Project? 🙏

[2020-04-16 16:14] cKellyDesign commented on #776
That makes a lot of sense, we can test it but yeah it seems like it would be much easier to simply let the FE make that call for itself. 😄

[2020-04-17 08:37] moshthepitt opened #806 "Standard way to fetch from URL"
I have noticed that we have different ways, and probably differing views on how to deal with components that fetch data from some URL, and then display it.

In dealing with such components, we need to consider:

1. That we need to show some indication that we are loading data.  But we should only show this when the fetch is underway
2. That we can get an error from the fetch call
3. That it is pos

[2020-04-17 08:37] moshthepitt commented on #806
@p-netm @RayceeM for some reason Github will not let me assign you here.

[2020-04-17 08:57] p-netm commented on #806
yeah, it makes sense that we should standardize this. I like it. The only concerns i might raise are:

For some of the components we have factored out the data loading functions to utils files, which I think is nice(for Reveal-fe). I am not sure how the pattern for using setLoading in these functions would look like. I guess the easiest would be to pass an optional stateSetter function to the data

[2020-04-17 09:08] moshthepitt commented on #806
@p-netm  How would you fix it in the example component above?

[2020-04-17 09:09] p-netm commented on #806
I also believe we would need to do something like `setLoading(props.data)` and then in the final block `setLoading(false) if loading `

[2020-04-17 09:11] moshthepitt commented on #806
@p-netm maybe it would be best to write up a quick demo component that does this in a comment here?

[2020-04-17 09:14] p-netm commented on #806
ok.

[2020-04-17 11:16] p-netm commented on #806
[code]

[2020-04-17 11:59] p-netm commented on #755
@moshthepitt I have not found a definitive way to reproduce this
The NGINX logs do have some /entries of /undefined within the dates 15th and 16th for reveal-th and several of them in staging for the date 15th April.
What I can tell is that they are preceded by a request to oauth/state where the referrer was `https://web.reveal-th.smartregister.org/fe/oauth/callback/opensrp?next=%2Flogout`. Other

[2020-04-17 12:56] Naima-Bashir commented on #799
Not replicable at the moment. Filter works as expected. Closing this for now.

[2020-04-17 12:56] #799 closed

[2020-04-17 13:02] #720 closed

[2020-04-17 14:23] kahummer opened #808 "Investigate why setInterval callback is not being called"
When testing the Logout component. I am not able to go into set interval callback making it hard to assert that we are going to express server. I tried using ```jest.faketimers``` which asserts setinterval is called and also tried ```jest.advanceTimersByTime``` but still couldn't get into the callback.

[2020-04-17 14:49] #776 closed

[2020-04-20 08:44] p-netm commented on #806
@moshthepitt
What are your thoughts on https://www.npmjs.com/package/react-async

[2020-04-20 09:13] moshthepitt commented on #806
@p-netm sounds fantastic.  We should try and use it and see.

[2020-04-20 18:06] cKellyDesign commented on #806
Good find @p-netm, this looks cool and seems like it can offer us a lot!
* [`useFetch`](https://docs.react-async.com/getting-started/usage#with-usefetch) could be used in our existing services, not sure the best way to surface the `state` properties to the component calling the services though
* [`useAsync`](https://docs.react-async.com/getting-started/usage#as-a-hook) feels like it would be appro

[2020-04-21 01:40] craigappl opened #810 "RVL-131 See historical Index Cases on the web UI"
The target is to deliver this by the end of the next sprint:
https://smartregister.atlassian.net/browse/RVL-131

[2020-04-21 01:51] craigappl opened #811 "RVL-781 Fix the Thailand Sticky Sessions on the Load Balancer"
https://smartregister.atlassian.net/browse/RVL-781 Fix the Thailand Sticky Sessions on the Load Balancer

This is blocking the deployment to Namibia and Thailand

[2020-04-21 01:51] craigappl opened #812 "Session permanence to Namibia Production"
We need to deploy the permanent Web UI sessions to Namibia production once the Thailand server is fixed

[2020-04-21 01:52] craigappl opened #813 "Deploy Session permanence to Zambia production"
We need to deploy the session permanence features to Zambia production once Thailand is unblocked.

[2020-04-21 01:54] craigappl opened #814 "Complete Nifi Monitoring"
We need to add monitoring to all Nifi production environments so that we can improve the alert process

[2020-04-21 01:55] craigappl opened #815 "Implement Automated Alert to Canopy team"
We need to implement an automated alert system to the Canopy team in the event an issue is raised in the new Nifi Monitoring process. This alert system needs to be pushed to team members mobile phones in the event there is a critical failure

[2020-04-21 01:57] craigappl opened #816 "Update BIOPHICS entities not available in data warehouse"
Update Nifi Flows to include entities that are not currently available in the data warehouse. Janette is already assigned this, I just wanted to track it in an issue.

[2020-04-21 01:58] craigappl opened #817 "RVL-890 - Web UI Review from Thailand"
@moshthepitt or @cKellyDesign , please complete this issue. We need to implement the changes recommended in the Web Ui Review from Thailand.

[2020-04-21 08:23] moshthepitt commented on #811
@craigappl the fix for this is probably going to happen here: https://github.com/opensrp/opensrp-server-web/

[2020-04-21 08:25] #811 closed

[2020-04-21 08:26] moshthepitt commented on #810
@craigappl just wanted to note here that scoping is still needed.

[2020-04-21 08:27] moshthepitt commented on #812
Blocked by https://github.com/OpenSRP/opensrp-server-web/issues/292

[2020-04-21 08:27] moshthepitt commented on #813
Blocked by https://github.com/OpenSRP/opensrp-server-web/issues/292

[2020-04-21 08:37] p-netm commented on #785
@moshthepitt @cKellyDesign There is a function like `getAncestorJurisdictionIds` which loops over the spray areas assigned to a plan and finds their level 0 ancestor location.

Now I believe replacing this particular piece of functionality with OpenSRP would like so:
- get spray areas from plan : `this.props.plan.plan_jurisdiction_ids`
- for each of these spray areas recursively make calls in the

[2020-04-21 08:38] moshthepitt commented on #817
More: https://smartregister.atlassian.net/browse/RVL-890

[2020-04-21 08:50] moshthepitt commented on #817
@p-netm as noted in my last comment [here](https://smartregister.atlassian.net/browse/RVL-890), please note that we will be doing the search client side, while simultaneously sending an API request to the server with the search/filter parameters

[2020-04-21 08:52] moshthepitt commented on #785
Yes this is a valid assumption to make, and clearly state in the code via comments.  We do not expect one IRS plan to have more than one level 0 root parent jurisdictions.

[2020-04-21 08:52] moshthepitt commented on #785
@p-netm @cKellyDesign ^^

[2020-04-21 08:58] p-netm commented on #785
Cool, Thanks.

[2020-04-21 09:01] #751 closed

[2020-04-21 14:07] Naima-Bashir opened #819 "[WEB] The country drop down menu shows cities and countries"
1. Login to the website
2. Click on the IRS section
3. Scroll down to the bottom
4. Click on the create new plan at the bottom
5. On the create new plan page, click on the country and scroll down to the drop down.
6. Observe whether the list shown is countries only.

EXPECTED RESULTS: There should be 2 separate sections for countries and cities
ACTUAL RESULTS:At the moment; the countries and citie

[2020-04-21 14:59] Naima-Bashir opened #820 "The Conditional formatting rules percentage table shows double"
Login to the system
Select the IRS reporting
Select one of the IRS plans
Observe the Conditional formatting rules percentage table.
Observe if it shows double data. It should not show two sets of data.

![image](https://user-images.githubusercontent.com/61143692/79881159-8a621300-83f9-11ea-8cfb-03d52c2b80d1.png)

[2020-04-21 15:54] Naima-Bashir opened #821 "There are two login buttons"
1. Go to the web UI: https://web.reveal-stage.smartregister.org/fe/login
2. Observe that there are two logins; the OPEN SRP one and the one near the header.

Question: do we need both?
The login button doesn't work so perhaps we can remove it? Let me know
![image](https://user-images.githubusercontent.com/61143692/79886371-6efb0600-8401-11ea-8676-d367358e1c96.png)

[2020-04-22 07:47] moshthepitt commented on #775
@kahummer it seems that we need to change this https://github.com/onaio/reveal-frontend/blob/23e7da6ae63f71c7e4add2d62010a281756a5e87/src/configs/lang.ts#L291 to say "BCC Activities Complete" instead of "Number of BCC Activities Completed"

[2020-04-22 09:56] kelvin-muchiri opened #823 "Enhance SearchForm to use Formik"
Change form component `SearchForm` in `src/components/forms/Search/index.tsx` to use [formik form](https://jaredpalmer.com/formik/)

[2020-04-22 11:04] kelvin-muchiri opened #824 "Loading indicator renders for empty lists"
The loading indicator for some views such as `src/containers/pages/FocusInvestigation/active/index.tsx` displays the loading indicator for an empty list. The loading indicator should however only render when making a call to the API. An empty list should be indicated by an appropriate message instead.

Part of #806

[2020-04-22 11:36] #820 closed

[2020-04-22 13:45] #772 closed

[2020-04-23 13:43] Naima-Bashir commented on #764
@p-netm @moshthepitt the IRS title; should it also be translated like the rest?

![image](https://user-images.githubusercontent.com/61143692/80103963-857a9c00-857e-11ea-8b64-53d83516ff83.png)

[2020-04-23 13:49] Naima-Bashir commented on #764
@p-netm @moshthepitt this section is still showing english words
![image](https://user-images.githubusercontent.com/61143692/80106313-60882800-8582-11ea-8223-404eb93f93f7.png)
http://localhost:3000/focus-investigation/map/ee7fa30d-9fe7-5b9c-9f18-a0d066726e3b

[2020-04-23 13:51] Naima-Bashir commented on #764
![image](https://user-images.githubusercontent.com/61143692/80106524-a513c380-8582-11ea-94bf-1cbc2c773a67.png)
@p-netm this is also still there
http://localhost:3000/plans/new   : shouldn't this be in TH as well?

[2020-04-23 13:53] Naima-Bashir commented on #764
![image](https://user-images.githubusercontent.com/61143692/80106765-eefca980-8582-11ea-8edd-15b897b7a493.png)
more english sections

[2020-04-23 18:43] Naima-Bashir opened #827 "Adding a new team gives a 401 error"
STEPS:

1. Login to the system: https://web.reveal-stage.smartregister.org/teams/new
2. Click on the teams section
3. Click on add new team
4. Add the name of your team
5. Make the team active
6. Click on save and observe if it saves or not.

![image](https://user-images.githubusercontent.com/61143692/80137040-4b73bf00-85ab-11ea-9264-a0c1cf5bb57f.png)

[2020-04-24 06:51] p-netm commented on #827
@Naima This could be related to #782. when you get the 401 error try logging out and logging in again and retry

[2020-04-24 06:51] #827 closed

[2020-04-24 10:39] Naima-Bashir opened #828 "The country drop down menu should collapse after one selects a location(Create New IRS Plan)"
STEPS:

1. Log into the system
2. Go to the IRS section
3. Click on the Create New IRS Plan button
4. Select a location.
5. Observe if the drop down menu collapses after one selects a location

EXPECTED RESULT: The country drop down menu should collapse after one selects a location
ACTUAL RESULT: The drop down menu does not collapse.

![image](https://user-images.githubusercontent.com/61143692/802

[2020-04-24 10:53] Naima-Bashir opened #829 "Filling the Plan Title only accepts IRS 2020-04-24 (Create New IRS Plan)"
STEPS:

1. Log into the system
2. Go to the IRS section
3. Click on the Create New IRS Plan button
4. Click on the Plan Title section
5.Try and fill in the Plan tiltle and observe if your text is filled.

EXPECTED RESULTS: The selected words should be filled in the edit form section
ACTUAL RESULTS: A different text is filled when I select one. Eg I wanted to select Test Naima 24th April but then I

[2020-04-29 12:38] armageddon commented on #771
@samkanga any progress on this please?

[2020-05-04 08:23] kelvin-muchiri commented on #800
@p-netm @Naima-Bashir Tested this and seems the error was fixed.

[2020-05-04 08:42] p-netm commented on #800
@kelvin-muchiri Thanks. Lets close this then. @Naima-Bashir please free to reopen this if QA is not satisfied.

[2020-05-04 08:42] #800 closed

[2020-05-05 19:06] cKellyDesign opened #832 "Add MDA Point Distribution Plan Type to PlanForm"
Based on the [MDA Plan Definition](https://docs.google.com/spreadsheets/d/1kGPgyF0eJdag19FFL1Oog2gdphdPtKobY4EQ0gMgtgw/edit#gid=1805975071), in the Create New Plan Form:

- [ ] Add `MDA Point Distribution` to Intervention Type dropdown
- [ ] Add distribution points as a bottom level location hierarchy to be selected in the current Async Jurisdiction Select Component
- [ ] Add a dropdown to select

[2020-05-05 20:58] cKellyDesign commented on #832
This issue is a duplicate of https://github.com/OpenSRP/opensrp-client-reveal/issues/677

[2020-05-05 20:58] #832 closed

[2020-05-05 21:17] craigappl opened #833 "Onboard the Terraframe Team to stand up and develop the web UI for Nigeria"
This request came in from Akros. They would like our team to teach the Terraframe developer how to stand up a staging environment of the canopy solution and OpenSRP web UI so that they can develop reports for an implementation. They have requested support to begin 11 May for a minimum of a week.

[2020-05-06 12:29] craigappl opened #836 "Release Reveal 0.4.2 to Thailand Production"
Our target is to get 0.4.2 released to production on Monday 11 May 2020.

This may require us to cut an official release away from release candidates.

[2020-05-06 14:49] cKellyDesign commented on #810
The scoping in the Jira ticket seems pretty clear to me:

- [ ] `GET` all index case points for an operational area from OpenSRP endpoint
- [ ] Render relative index cases points as cross-hairs on the map
- [ ] Render a tool tip upon click of the index case point, include: Case number, Case Classification, and Date of Diagnosis
- [ ] Historical index case crosshairs should be white
- [ ] Active in

[2020-05-06 14:54] cKellyDesign commented on #755
Any idea what is actually `undefined` here? Like can we nail down which variable should be populating this string?

[2020-05-06 17:44] kahummer commented on #792
The tests should include popup interactions too

[2020-05-06 18:04] #796 closed

[2020-05-07 05:21] samkanga opened #837 "RVL-249 - Importing data on coverage targets - System admin"
**Requirements:**
Some countries do not have coverage targets defined by the enumerated structure count as the denominator. In these cases, e.g. Namibia, coverage targets need to be imported into Reveal before the plan is made active.

The coverage targets would be at an operational unit level and could be stored in the OpenSRP settings field against each operational area.

A coverage file for the

[2020-05-07 05:51] samkanga opened #838 "RVL-157- CSV import for risk files"
**Description**
I would like to be able to upload risk files that have a risk measure associated with various levels of the organization hierarchy. These risk values should then display in the WebUI.

- These data are not needed in the Android client or the OpenSRP server and can be stored in an ‘operational' non-volatile area of the data warehouse.
- There should be an ‘Upload risk file’ button o

[2020-05-07 06:00] samkanga opened #839 "RVL-946 - Clicking focus area in the breadcrumb on monitor plans throws an error"
**Description**
Step to reproduce:
1. Navigate to a plan from the monitor page
2. Click on the Focus Area link in the breadcrumb
3. An error occurs on the redirect
4. Other items in the breadcrumb trail do not have an issue - just Focus Area.

See the image below
![image](https://user-images.githubusercontent.com/5908630/81259594-f28f3680-9040-11ea-8050-1c339e9fdadb.png)

Below is the error genera

[2020-05-07 06:13] samkanga opened #840 "RVL-952 - WebUI should allow filtering of plans by user"
**Description**
In Thailand it is imperative that users of the WebUI can filter plans by user. This will be implemented using a drop down/auto complete control where the user can select a username from a list. Ideally, the filter should have a way for the user to easily click a 'me' button . This will become important as Thailand adds all staff as 'users' of the WebUI. It is expected that role bas

[2020-05-07 06:27] samkanga opened #841 "RVL-938 - Active plans should not be editable"
**Description**
Once a plan has been set to ‘Active’, it should not be editable as changes will not reflect in either the data warehouse or the mobile devices while they are operating in offline mode. Changes could lead to inconsistencies between the various platforms and should be restricted to just change of status from ‘Active’ to ‘Complete'

**Acceptance Criteria:**
Once a plan has been set to

[2020-05-07 06:29] samkanga opened #842 "RVL-939 - Completed plans should not be editable"
**Description**
Once a plan has been set to ‘Complete’ no further changes should be allowed to the plan, including changing the status of the plan

**Acceptance Criteria:**
Completed plans cannot be edited, and the status cannot be changed.

[2020-05-07 12:36] craigappl opened #843 "RVL-936 Change logo on Reveal and Superset Thailand"
We need to change the logo to the Thailand instance of the web UI. The logo placement is in the issue. Please work with Pedro if you need a higher fidelity image from the BVBD.

https://smartregister.atlassian.net/browse/RVL-936

[2020-05-07 13:20] craigappl opened #844 "RVL-714 Add a version to Reveal Web UI homepage screen"
We need to add the Web UI version number to the homepage so users know which version of the web UI they're using. This could be a footer,

https://smartregister.atlassian.net/browse/RVL-714

[2020-05-07 17:00] #662 closed

[2020-05-07 18:02] #775 closed

[2020-05-07 22:04] #663 closed

[2020-05-08 15:46] #682 closed

[2020-05-08 17:08] p-netm opened #847 "web ui Thailand Feedback"
Track remaining work of towards having the web app look as in the below mockups.
![All Plans](https://user-images.githubusercontent.com/28119869/81429670-cec61080-9166-11ea-98b0-b7a7a4c2db8f.png)

- hiding columns filter ie. the customize columns button
- a filter where you can filter plans by user #840
- move DrillDownTable to onaio/js-tools

==> Nice to have:
- DrillDown can have a drill up out

[2020-05-11 10:56] Naima-Bashir opened #848 "There's a large search icon on the FI page, IRS plans page and Manage plans page"
Login to the system
Go to the FI page: https://web.reveal-stage.smartregister.org/focus-investigation
There's a There's a large search icon on the FI page
![image](https://user-images.githubusercontent.com/61143692/81554124-e849a100-938e-11ea-8152-27c1b464de0d.png)
![image](https://user-images.githubusercontent.com/61143692/81556559-3496e000-9393-11ea-9c00-e58babb9f010.png)

[2020-05-11 11:24] Naima-Bashir commented on #848
![image](https://user-images.githubusercontent.com/61143692/81556499-103b0380-9393-11ea-8fa2-3d0839ecaf8a.png)
On the Manage plans as well

[2020-05-11 11:34] moshthepitt commented on #810
These will come from Superset

[2020-05-11 11:53] Naima-Bashir opened #849 "Clicking on the breadcrumbs to go back one step gives an error"
1. Login to the system
2. Go to FI map section https://web.reveal-stage.smartregister.org/focus-investigation/map/1905a952-8509-5a93-9d0e-dad76b19dcea
3. Click on the previous breadcrumb eg Akros_1  and observe if it takes you to the expected page.
4. RESULTS: There is an error.
5. Note that clicking on Mtendere or Lusaka works. Akros_1 gives an error

![image](https://user-images.githubuserconten

[2020-05-11 11:56] Naima-Bashir commented on #849
Closing this one since @samkanga raised a similar one 4 days ago
https://github.com/onaio/reveal-frontend/issues/839

[2020-05-11 11:56] #849 closed

[2020-05-11 12:05] p-netm commented on #848
I have made a small change as a temporary fix for this, a permanent fix will be included in the next deployment.

[2020-05-11 12:09] moshthepitt commented on #848
@p-netm could you provide details on what constitutes the small temp fix?

[2020-05-11 12:12] p-netm commented on #848
@moshthepitt I have removed the icon, I will be adding it back with updated styles in the coming deployment

[2020-05-11 12:43] Naima-Bashir opened #851 "The display rows search section has a fixed 1. One cannot delete it and search for pages 19+"
1. Login to the system
2. Go to manage plans.
3. In the search page section: click on the search and try to search for 20+
4. EXPECTED RESULTS: One should be able to search for all 58 pages.
5. ACTUAL RESULTS: One cannot remove the number 1 and therefore can't search for 19+

![image](https://user-images.githubusercontent.com/61143692/81562551-b68c0680-939d-11ea-91a7-83e0355bcafe.png)

[2020-05-11 14:12] moshthepitt commented on #810
@p-netm so to get "Historical Index Cases" you will be pulling case confirmations in the same jurisdiction where the plan is marked as complete.

[2020-05-11 16:33] Naima-Bashir opened #853 "One cannot create new plans"
Login to the system
Click on manage plans
Click on add new plan
Try to select a focus area from the options.
RESULTS: There are no options to select from
![image](https://user-images.githubusercontent.com/61143692/81586471-3c1fae80-93be-11ea-9fff-ba3ad6b78fea.png)

[2020-05-12 06:59] p-netm commented on #810
@moshthepitt

ok, so I will make a `get` to superset `targets_materialized_view` filter the records by `plan.jurisdiction_id` and action_code=`Case Confirmation` for all plans that are marked as complete?

using Thailand superset:
- I believe this data would come from `public.targets_materialized_view`
- Assuming 1 is true, how do I filter the data for only complete plans, what column should I use

[2020-05-12 07:43] moshthepitt commented on #810
@p-netm putting this from our slack conversation as documentation:

- Lets use `task_structures_materialized_view`.  Filter by `plan.jurisdiction_id`, `action_code=Case Confirmation` and `task_business_status=Complete`
- One potential problem is that from that view we cannot tell if a plan is completed or not.  We'll keep that in mind as we work.

[2020-05-13 13:28] moshthepitt commented on #658
All issues on this epic are now closed.

[2020-05-13 13:28] #658 closed

[2020-05-13 15:04] moshthepitt commented on #844
https://stackoverflow.com/a/50822003

[2020-05-18 09:04] samkanga opened #859 "RVL-954 Data is not populating on stage dashboards when submitted on mobile client"
Reveal web 0.4.2 Stage
Reveal Mobile 3.4.2
Plan: IRS 2020-04-24 Reuben test
OA: Akros_2

- I logged in to the mobile client and and captured data on the mobile client using the plan and operation area specified above.
- Data was captured between the 4th and 12th of May, for different statuses. Sprayed, Not sprayed, not eligible etc.

![image](https://user-images.githubusercontent.com/5908630/82194

[2020-05-19 11:21] #839 closed

[2020-05-20 21:05] craigappl opened #863 "Add the Server Settings UI feature to Reveal Web UI"
The WHO PreGates Grant just released a feature the makes server settings configurable through a web UI. We need to integrate this into the Reveal Web UI so that server settings are configurable.

We need someone to evaluate the current state of the feature, compare it against the Reveal data model and identify how much work it will take.

[2020-05-20 21:06] mberg commented on #863
What is this? I’m confused

On Wed, May 20, 2020 at 5:05 PM Craig Appl <notifications@github.com> wrote:

[2020-05-20 21:07] craigappl opened #864 "Add a Web UI for uploading configurable forms"
This is a placeholder issue that needs final scoping before we can work on it. Our intention is to try to get the Configurable Forms web UI built in Reveal and OpenSRP Web in a single work effort.

[2020-05-21 09:37] armageddon commented on #771
@samkanga any feedback please ?

[2020-05-21 11:53] samkanga commented on #771
@armageddon this is yet to be picked for development

[2020-05-21 13:06] #841 closed

[2020-05-21 13:06] #842 closed

[2020-05-21 13:53] #844 closed

[2020-05-25 05:51] samkanga opened #865 "RVL-643 - Hide from Web UI all functionality that does not work - Thailand"
For the Thailand implementation, hide from Web UI, functionality that does not work, i.e:

1. Ability to create IRS plans
3. Reactive plan creation through Web UI

**Acceptance Criteria:**

1. Ability to create IRS plans  on Thailand implementation removed. Go to Plans > Manage Plans > Add Plan > Intervention Type
3.  “Case Triggered” option under “Focus Investigation Reason” when creating new pla

[2020-05-25 06:34] samkanga opened #866 "The ‘Case Confirmation' indicator should be not clickable"
- [x] The ‘Case Confirmation' indicator should be not clickable on/off and the index case should be always visible on the map and should be differentiated (text should be bold green) from the other indicators. See screenshot below:
![image](https://user-images.githubusercontent.com/5908630/82787594-6b7af480-9e6f-11ea-81fb-65bbfaa13e83.png)

**Acceptance criteria**

1. Go to Monitor > Focus Investi

[2020-05-25 06:44] samkanga opened #867 "Historic index cases for last three years should show"
- [x]  Historic index cases for last three years in the selected area should always show.

**Acceptance criteria**

1. Go to Monitor > Focus Investigation > Select Plan
2. Historic index cases for the selected area should always show

[2020-05-25 06:46] samkanga opened #868 "Family Registration’ indicators should be selected by default"
- [ ] The ‘Family Registration’ indicators should be selected by default when the page loads to show all structures in the focus area). See Screenshot below:

![image](https://user-images.githubusercontent.com/5908630/82787326-d841bf00-9e6e-11ea-8c28-af97046696e4.png)

**Acceptance criteria**

1. Go to Monitor > Focus Investigation > Select Plan
2. Family Registration indicator text should be in g

[2020-05-25 08:18] samkanga opened #869 "RVL-526 - Restrict planning to only plan types available for the region"
The planning menu at the top of the WebUI has drop down options of 'manage plans' and 'irs'.

Manage plans takes you to a list of all plans for IRS and FI. From here you can create a new plan for IRS or FI

IRS takes you to a list of draft IRS plans (cannot see active or retired plans). You can create a new plan here for IRS or FI.

There needs to be distinct purpose for each option in this drop d

[2020-05-26 06:25] p-netm commented on #853
@Naima-Bashir closing this because its a symptom of an existing issue #782. Essentially we do not have a graceful way to deal with expiration of session token, The web app continues trying to use the expired token that results in failed GET requests that results in the above issue.

Please feel free to reopen this if there is anything that needs re-considering